﻿@using DAS.Utility;
@using DAS.Utility.Helper;
@model DAS.Application.Models.ViewModels.DasKTNN.NotificationConfig;
@{
    Layout = null;
    var title = Model.Action == 1 ? " Chỉnh sửa" : Model.Action == 0 ? " Thêm mới" : "Chi tiết";
    bool isUpdate = Model.Action > 0 ? true : false;
    var data = ViewBag.NotificationConfig as Dictionary<int, string>;
    var lstGroupPermission = data.Select(x => new SelectListItem
    {
        Text = x.Value,
        Value = x.Key.ToString(),
        Selected = x.Key == Model.ID
    }).ToList();

    void RenderCheckbox(string id, string name, bool isCheck, bool isDisabled = false)
    {
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="checkboxes custom-control-input" name="@(name)" id="@(id)" data-id="1" value="1" @(isCheck ? "checked" : string.Empty) @(isDisabled ? "disabled" : "")>
            <label class="custom-control-label" for="@(id)"></label>
            <span class="text-danger field-validation-valid" data-valmsg-for="@(name)" data-valmsg-replace="true"></span>
        </div>
    }
}

<div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered" role="document">
    <div class="modal-content">
        <form role="form" asp-action="" class="onUpdateInputState bv-form validateForm" id="frmCreateConfigMessage">
            <div class="modal-header d-flex align-items-center">
                <h5 class="modal-title font-weight-bold font-s-16 text-white" id="planCreateModalTitle"><i class="fas fa-plus-circle"></i> @title thông báo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="w-h-32 icon-exit-white ml-auto" aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label required">Nhóm quyền</label>
                    <div class="col-sm-10">
                        @Html.CusDropdownListSelect2("IDNotification", "IDNotification", "-- Chọn nhóm quyền --", lstGroupPermission, new { @class = "select2 w-100", @data_placeholder = "-- Chọn nhóm quyền --" }, isReadonly: Model.Action > 0)
                        <span asp-validation-for="IDNotification" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label input-required" asp-for="@Model.DescriptionForNotification">Nội dung:</label>
                    <div class="col-sm-10">
                        <textarea name="DescriptionForNotification" class="form-control" @(Model.Action == 2 ? "disabled" : "") rows="5" placeholder="Nội dung">@Model.DescriptionForNotification</textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" asp-for="ActiveEmail">Gửi email</label>
                    <div class="col-sm-8">
                        @{
                            RenderCheckbox("ActiveEmail", "ActiveEmail", Model.ActiveEmail > 0, Model.Action == 2);
                        }
                    </div>
                </div>
            </div>
            @if (Model.Action == 2)
            {
                <div class="modal-footer">
                    <input type="hidden" value="@Model.ID" id="ID" name="ID" />
                    <button type="button" class="btn bg-color-gray-6 d-flex align-items-center" data-dismiss="modal">
                        <span class="font-s-14 text-color-body font-weight-500">Đóng</span>
                    </button>
                </div>
            }
            else
            {
                <div class="modal-footer">
                    <input type="hidden" value="@Model.ID" id="ID" name="ID" />
                    <button data-url="@Model.Url" class="btn bg-color-primary d-flex align-items-center quickSubmit">
                        <span class="text-white font-s-14">Lưu</span>
                    </button>
                    <button type="button" class="btn bg-color-gray-6 d-flex align-items-center" data-dismiss="modal">
                        <span class="font-s-14 text-color-body font-weight-500">Đóng</span>
                    </button>
                </div>
            }
        </form>
    </div>
</div>
