﻿@using DAS.Application.Models.ViewModels;
@model DAS.Application.Models.ViewModels.DasKTNN.VMNotificationConfig
@{
    int stt = Model.NotificationConfigs.PageSize * (Model.NotificationConfigs.PageIndex - 1);
    var pageSizes = new[] { 10, 20, 30, 50, 100 };
}

<style>
    input[type=checkbox] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        -webkit-tap-highlight-color: transparent;
        cursor: pointer;
    }

        input[type=checkbox]:focus {
            outline: 0;
        }

    .toggle {
        height: 32px;
        width: 52px;
        border-radius: 16px;
        display: inline-block;
        position: relative;
        margin: 0;
        border: 2px solid #EFF5F5;
        background: linear-gradient(180deg, #CDFCF6 0%, #CDFCF6 100%);
        transition: all 0.2s ease;
    }

        .toggle:after {
            content: "";
            position: absolute;
            top: 2px;
            left: 2px;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background: white;
            box-shadow: 0 1px 2px rgba(44, 44, 44, 0.2);
            transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
        }
        /*border-color: #DC3535;*/
        .toggle:checked {
            background: linear-gradient(180deg, #54B435 0%, #54B435 100%);
        }

            .toggle:checked:after {
                transform: translatex(20px);
            }
</style>

<div class="table-responsive">
    <table class="table table-borderless table-space table-hover dataTable dtr-inline useTreegrid table-bid-custom" role="grid" data-tree="3">
        <thead class="thead-light">
            <tr class="elevation-1">
                <th class="pb-2 col-min">STT</th>
                <th class="text-center col-min">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="group-checkable custom-control-input" id="checkall" value="">
                        <label class="custom-control-label" for="checkall"></label>
                    </div>
                </th>
                <th class="pb-2 m-w-200-px">Tên nhóm quyền</th>
                <th class="pb-2 m-w-200-px">Nội dung</th>
                <th class="pb-2 col-min text-center">Trạng thái thông báo</th>
                <th class="pb-2 m-w-100-px text-center">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.NotificationConfigs)
            {
                stt++;
                var updateLink = "/NotificationConfig/CreateOrEdit?Action=1&ID=" + item.ID;
                var changeLink = "/NotificationConfig/EnableNotification";
                var deleteLink = "/NotificationConfig/Delete?ID=" + item.ID;
                var detailLink = "/NotificationConfig/Detail?Action=2&ID=" + item.ID;
                <tr>
                    <td class="text-center">@stt</td>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="checkboxes custom-control-input" id="role-@item.ID" data-id="@item.ID" value="@item.ID">
                            <label class="custom-control-label" for="role-@item.ID"></label>
                        </div>
                    </td>
                    <td>@item.Name</td>
                    <td>@item.DescriptionForNotification</td>
                    <td style="display: flex;justify-content: center;">
                        <input type="checkbox" name="checked" class="toggle ChangeValueCheckbox" data-id="@item.ID" data-url="@changeLink" @(item.ActiveNotification == 1 ? "checked" : "")>
                    </td>
                    <td class="text-center">
                        <a title="Chi tiết" class="quickUpdate" href="@detailLink" data-target="#mdCUNotification" data-toggle="tooltip" data-original-title="Chi tiết">
                            <i class="fas fa-fw fa-eye"></i>
                        </a>
                        <a title="Sửa" class="quickUpdate" href="@updateLink" data-target="#mdCUNotification" data-toggle="tooltip" data-original-title="Sửa">
                            <i class="fas fa-fw fa-edit"></i>
                        </a>
                        <a title="Xoá" data-comfirm-message="Xoá cấu hình: Bạn có chắc chắn muốn xoá cấu hình thông báo này?" class="quickDelete" href="@deleteLink" data-id="@item.ID"
                       data-toggle="tooltip" data-original-title="Xóa">
                            <i class="fas fa-fw fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@await Html.PartialAsync("_PagingFooter", Model.NotificationConfigs, new ViewDataDictionary(this.ViewData) { { "TargetForm", "frmNotificationConfig" } })