﻿@{
    ViewData["PageHeaderContent"] = "Profile";
    Layout = "";
    int stt = 0;// Model.VMProfiles.PageSize * (Model.VMProfiles.PageIndex - 1);
    var pageSizes = new[] { 10, 20, 30, 50, 100 };

    var date = new DateTime(2020, 1, 1);

    var names = new[] { "Tài liệu phân tích thiết kế", "Tài liệu thiết kế database", "Tài liệu danh sách testcase", "Video kickoff dự án", "Tài liệu nghiệm thu dự án" };
    var trichyeus = new[] { "Tài liệu định nghĩa yêu cầu phần mềm", "Tài liệu định nghĩa database", "Tài liệu test nghiệm thu hệ thống", "", "Tài liệu mô tả quá trình nghiệm thu dự án" };
}

<div class="table-responsive">
    <table id="data_table" class="table table-bordered table-striped data_table" role="grid">
        <thead>
            <tr>
                <th class="text-center col-min">STT</th>
                <th class="text-center col-min ">

                </th>
                <th>Tên tài liệu</th>
                <th>Trích yếu nội dung </th>
                <th>Cơ quan/Đơn vị</th>
                <th class="col-min" data-column-id="commands" data-formatter="commands" data-sortable="false">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 1; i <= 5; i++)
            {
                date = date.AddMonths(1);
                <tr>
                    <td class="text-center">@(i)</td>
                    <td class="" style="padding-right: 15px">
                        <i class="fas fa-fw fa-file-alt fa-2x text-warning"></i>
                    </td>

                    <td>
                        @names[i - 1]
                    </td>
                    <td>
                        @trichyeus[i-1]
                    </td>
                    <td>
                        Phòng IT
                    </td>

                    <td class="text-center">
                        <a title="Xem chi tiết" class="btn btn-sm btn-outline-secondary btn-hover-success" href="/SendArchive/Document?id=@i" 
                           data-toggle="tooltip" data-original-title="Xem chi tiết">
                            <i class="fas fa-fw fa-info"></i>
                        </a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<div class="card-footer">
    <div class="row">
        <div class="col-sm-12 col-md-4">
            @*@if (Model.VMProfiles.TotalFilter == 0)
                {
                    <span>@DAS.Application.Constants.MessageConst.MSG_NOT_FOUND</span>
                }
                else
                {*@
            <span>Tổng số có: <b class="text-red">5</b> bản ghi</span>
            @*}*@
        </div>
        <div class="col-sm-12 col-md-8">
            @*@if (Model.VMProfiles.TotalFilter > Model.VMProfiles.PageSize)
                {
                    <nav class="d-flex justify-content-end" aria-label="Pagination">
                        <div class="form-group d-flex align-items-center mr-4">
                            <span>Hiển thị:&nbsp;&nbsp;</span>
                            <select id="drdPageSize" class="select2 onChangePageSize" data-form="#frmProfile">
                                @foreach (var pageSize in pageSizes)
                                {
                                    if (pageSize == Model.VMProfiles.PageSize)
                                    {
                                        <option value="@pageSize" selected>@pageSize</option>
                                    }
                                    else
                                    {
                                        <option value="@pageSize">@pageSize</option>
                                    }
                                }
                            </select>
                            <span>&nbsp;&nbsp;bản ghi/trang.</span>
                        </div>
                        <ul class="pagination pagination-md justify-content-end mb-0">
                            <li class="page-item @(!Model.VMProfiles.HasPreviousPage ? "disabled" : "")">
                                <a href="#" class="page-link onSetPageIndex"
                                   data-page="@(!Model.VMProfiles.HasPreviousPage ? "" : (Model.VMProfiles.PageIndex - 1).ToString())"
                                   data-page-size="@Model.VMProfiles.PageSize" aria-label="Previous"
                                   data-form="#frmProfile">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            @{
                                int distance = 1;
                                int min = Model.VMProfiles.PageIndex - distance;
                                int max = Model.VMProfiles.PageIndex + distance;
                                if (min == 0)
                                {
                                    min = 1;
                                    if (max < Model.VMProfiles.TotalPages) { max++; }

                                }
                                if (max > Model.VMProfiles.TotalPages)
                                {
                                    max = Model.VMProfiles.TotalPages;
                                    if (min > 1) { min--; }

                                }
                            }
                            @for (int i = min; i <= max; i++)
                            {
                                <li class="page-item @(Model.VMProfiles.PageIndex == i ? "active" : "")">
                                    <a href="#" class="page-link onSetPageIndex" data-page="@i" data-page-size="@Model.VMProfiles.PageSize"
                                       data-form="#frmProfile">
                                        @i
                                        @if (Model.VMProfiles.PageIndex == i)
                                        {
                                            <span class="sr-only">(current)</span>
                                        }
                                    </a>
                                </li>
                            }
                            <li class="page-item @(!Model.VMProfiles.HasNextPage ? "disabled" : "")">
                                <a href="#" class="page-link onSetPageIndex"
                                   data-page="@(!Model.VMProfiles.HasNextPage ? "" : (Model.VMProfiles.PageIndex + 1).ToString())"
                                   data-page-size="@Model.VMProfiles.PageSize" data-form="#frmProfile"
                                   aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                }*@
        </div>
    </div>
</div>
