﻿@using DAS.Utility.Helper;
@{
    ViewData["Title"] = "Duyệt và gửi nộp lưu";
    var breadcrum = new Dictionary<string, string>();
    breadcrum.Add("/SendArchive", "Duyệt và gửi nộp lưu");
    ViewData["Breadcrumb"] = breadcrum;
    ViewData["PageHeaderContent"] = "Profile";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">DANH SÁCH HỒ SƠ TÀI LIỆU CẦN NỘP LƯU</h3>
            </div>
            <div class="card-body">
                <form asp-action="SearchByCondition" id="frmProfile" role="form" method="post" class="quickSearch" data-target="#divProfiles">
                    <div class="row ">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="text" value="" name="Keyword" class="form-control" placeholder="Nhập tên tài liệu">
                            </div>
                        </div>

                        <div class="col-2">
                            <button type="submit" class="btn btn-default"><i class="fa fa-fw fa-search"></i><span>Tìm kiếm</span></button>
                        </div>
                    </div>
                </form>
                <div id="data_table_wrapper" class="dataTables_wrapper">
                    <div class="table-control">
                        <div class="row">
                            <div class="col-md-3 col-sm-12 text-left mb-2 mb-md-0">
                                <span class="actMultiTicks hidden">
                                    <a class="btn btn-warning" data-url="/Profile/Browse" tabindex="0">
                                        <span><i class="fas fa-paper-plane mr-2"></i>Bàn giao</span>
                                    </a>
                                    <a class="btn btn-danger quickDeletes" data-url="/DocumentCataloging/Deletes" tabindex="0" data-comfirm-message="Bạn có chắc chắn muốn xoá {n} hồ sơ đã chọn?">
                                        <span><i class="fas fa-trash-alt mr-2"></i>Xoá</span>
                                    </a>
                                </span>
                            </div>
                            <div class="col-md-9 col-sm-12 text-md-right">
                                @*<a class="btn btn-primary" tabindex="0" aria-controls="data_table" onclick="openDialog();">
                                    <span><i class="fas fa-plus mr-2"></i>Thêm mới</span>
                                </a>
                                <a class="btn btn-info" tabindex="0" aria-controls="data_table" onclick="openDialog();">
                                    <span><i class="fas fa-file-excel mr-2"></i>Xuất excel</span>
                                </a>*@
                            </div>
                        </div>
                    </div>
                    <div id="divProfiles">
                        @await Html.PartialAsync("Document_Documents")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
