﻿@using Microsoft.AspNetCore.Mvc.Rendering;
@using DAS.Application.Models.ViewModels;
@using DAS.Utility;
@using DAS.Utility.Helper;
@using DAS.Application.Enums.DasKTNN;
@model VMSoucreInfo
@{
    ViewData["Title"] = "Thông tin nguồn dữ liệu";
    var soucreInfo = Model.soucreInfo ?? new DAS.Domain.Models.DASKTNN.SoucreInfo();

    var title = (soucreInfo.ID > 0 ? "Cập nhật" : "Thêm mới") + " nguồn dữ liệu";
    ViewData["PageHeaderContent"] = title;
    Layout = "";
    var url = soucreInfo.ID > 0 ? "/SoucreInfo/Change" : "/SoucreInfo/Save";
    var enumtypes = Utils.GetDescribes<EnumSoucreInfo.TypeSoucre>();
    var enumstatuss = Utils.GetDescribes<EnumSoucreInfo.TypeStatus>();
    soucreInfo.Type = soucreInfo.Type <= 0 ? 1 : soucreInfo.Type;
    soucreInfo.Status = soucreInfo.Status <= 0 ? 1 : soucreInfo.Status;
    var lstSchema = enumtypes.Select(n => new SelectListItem
            {
                Text = n.Value,
                Value = n.Key.ToString(),
                Selected = soucreInfo.Type.Equals(n.Key)
            }).ToList();
    var lstStatus = enumstatuss.Select(n => new SelectListItem
            {
                Text = n.Value,
                Value = n.Key.ToString(),
                Selected = soucreInfo.Status.Equals(n.Key)
            }).ToList();

    var isSQL = soucreInfo.Type == (int)EnumSoucreInfo.TypeSoucre.SQLServer
                || soucreInfo.Type == (int)EnumSoucreInfo.TypeSoucre.Oracle
                || soucreInfo.Type == (int)EnumSoucreInfo.TypeSoucre.MySQL
                || soucreInfo.Type == (int)EnumSoucreInfo.TypeSoucre.Cassanda;

    var isFile = soucreInfo.Type == (int)EnumSoucreInfo.TypeSoucre.FileCSV
    || soucreInfo.Type == (int)EnumSoucreInfo.TypeSoucre.FileXML;
}
<div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered" role="document">
    <div class="modal-content">
        <form role="form" asp-action="" class="onUpdateInputState bv-form validateForm" id="frmMDIUSchema">
            <div class="modal-header d-flex align-items-center">
                <h5 class="modal-title font-weight-bold font-s-16 text-white" id="planCreateModalTitle">@title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="w-h-32 icon-exit-white ml-auto" aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label input-required">Mã nguồn <span class="text-red">*</span></label>
                    <div class="col-sm-8">
                        @Html.CustTexBox("Code", "Code", soucreInfo.Code, "Mã nguồn", "Mã nguồn", true)
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label input-required">Tên nguồn <span class="text-red">*</span></label>
                    <div class="col-sm-8">
                        @Html.CustTexBox("Name", "Name", soucreInfo.Name, "Tên nguồn", "Tên nguồn", true)
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label input-required">Loại nguồn <span class="text-red">*</span></label>
                    <div class="col-sm-8">
                        @Html.CusDropdownListSelect2("Type", "Type", null, lstSchema, new { @class = "select2 w-100 select_soucreinfo", @data_placeholder = "--Chọn loại nguồn--" }, "Loại nguồn", true, true)
                    </div>
                </div>

                <div class="divFile @(isFile ? "":"hidden")">
                    <div class="form-group row ">
                        <label class="col-sm-4 col-form-label input-required">Tên file <span class="text-red">*</span></label>
                        <div class="col-sm-8">
                            @Html.CustTexBox("FileName", "FileName", soucreInfo.FileName, "Tên file", "Tên file", false)
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label input-required">Đường dẫn file <span class="text-red">*</span></label>
                        <div class="col-sm-8">
                            @Html.CustTexBox("FileLocation", "FileLocation", soucreInfo.FileLocation, "Đường dẫn file", "Đường dẫn file", false)
                        </div>
                    </div>
                </div>
                <div class="divCSDLApi @(soucreInfo.Type==(int)EnumSoucreInfo.TypeSoucre.API || isSQL? "":"hidden")">
                    <div class="divCSDL @(isSQL ? "":"hidden")">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label input-required">IP <span class="text-red">*</span></label>
                            <div class="col-sm-8">
                                @Html.CustTexBox("IP", "IP", soucreInfo.IP, "IP", "IP", false)
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label input-required">DatabaseName <span class="text-red">*</span></label>
                            <div class="col-sm-8">
                                @Html.CustTexBox("DatabaseName", "DatabaseName", soucreInfo.DatabaseName, "DatabaseName", "DatabaseName", false)
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label input-required">Port <span class="text-red">*</span></label>
                            <div class="col-sm-8">
                                @Html.CustTexBoxNumber("Port", "Port", soucreInfo.Port, "Port", "Port", false)
                            </div>
                        </div>
                    </div>
                    <div class="divApi @(soucreInfo.Type==(int)EnumSoucreInfo.TypeSoucre.API ? "":"hidden")">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label input-required">Url <span class="text-red">*</span></label>
                            <div class="col-sm-8">
                                @Html.CustTexBox("Url", "Url", soucreInfo.Url, "Url", "Url", false)
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label input-required">TokenUrl <span class="text-red">*</span></label>
                            <div class="col-sm-8">
                                @Html.CustTexBox("TokenUrl", "TokenUrl", soucreInfo.TokenUrl, "Token Url", "Token Url", false)
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label input-required">Username <span class="text-red">*</span></label>
                        <div class="col-sm-8">
                            @Html.CustTexBox("Username", "Username", soucreInfo.Username, "Username", "Username", false)
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label input-required">Password <span class="text-red">*</span></label>
                        <div class="col-sm-8">
                            @Html.CustTexBoxPassword("Password", "Password", "", "Password", "Password", soucreInfo.ID > 0 ? false : true)
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label input-required">Mô tả <span class="text-red"></span></label>
                    <div class="col-sm-8">
                        @Html.CusTextArea("Describe", "Describe", soucreInfo.Describe, "Mô tả", "Mô tả", false)
                    </div>
                </div>
                <div class="form-group row divCSDL @(isSQL ? "":"hidden")">
                    <label class="col-sm-4 col-form-label input-required">Chuỗi kết nối CSDL <span class="text-red"></span></label>
                    <div class="col-sm-8">
                        @Html.CustTexBox("DBConnection", "DBConnection", soucreInfo.DBConnection, "Chuỗi kết nối CSDL", "Chuỗi kết nối CSDL",  isReadOnly:true)
                    </div>
                </div>
                <div class="form-group row ">
                    <label class="col-sm-4 col-form-label input-required">Trạng thái <span class="text-red">*</span></label>
                    <div class="col-sm-8">
                        @Html.CusDropdownListSelect2("Status", "Status", null, lstStatus, new { @class = "select2 w-100", @data_placeholder = "--Chọn trạng thái--" }, "Trạng thái", true, false)
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <input type="hidden" value="@soucreInfo.ID" name="ID" />
              
                <button type="button" class="btn bg-color-gray-6 d-flex align-items-center" data-dismiss="modal">
                    <span class="font-s-14 text-color-body font-weight-500">Đóng</span>
                </button>
            </div>
        </form>
    </div>
</div>
