﻿@using DAS.Application.Enums.DasKTNN;
@using DAS.Application.Models.ViewModels;
@using DAS.Domain.Models.DASKTNN;
@model DAS.Application.Models.ViewModels.PaginatedList<SoucreInfo>
@using DAS.Utility.Helper
@using DAS.Utility;
@{
    var title = "Danh sách mã nguồn";
    ViewData["Title"] = title;
    ViewBag.Breadcrumb = new List<string> { "Danh sách nguồn dữ liệu", "Quản lý danh mục" };
    ViewData["PageHeaderContent"] = "CategoryType";
    Layout = "~/Views/Shared/_LayoutCus.cshtml";

    var lstTypes = Utils.GetDescribes<EnumSoucreInfo.TypeSoucre>().Select(n => new SelectListItem
            {
                Text = n.Value,
                Value = n.Key.ToString(),
                Selected = n.Key == ViewBag.Type
            }).ToList();

}
<div class="container pt-30">
    <div class="box-wrap-cs mb-15 dataTables_wrapper">
        <form asp-action="SearchByCondition" id="frmSoucreInfo" role="form" method="post" class="quickSearch" data-target="#divSoucreInfos">
            <div class="row row-ip">
                <div class="col-md-6 align-items-center d-flex col-ip-12">
                    <p class="is-header-table-search"><span>@ViewData["Title"]</span></p>
                </div>
                <div class="col-md-6 col-ip-12">
                    <div class="input-group input-group-sm mb-3">
                        <div class="form-group mb-0 mr-5 w-200">
                            @Html.CusDropdownListSelect2("", "Type", "--Tất cả các nguồn--", lstTypes, new { @class = "select2 w-200", @data_placeholder = "--Chọn loại--" }, isReadonly: false)
                        </div>
                        <input type="search" name="Keyword" value="@ViewBag.Keyword" class="form-control" placeholder="Nhập từ tìm kiếm">
                        <button type="submit" class="btn btn-sm btn-primary ml-5">Tìm kiếm</button>

                        <a class="btn-icon-search quickDeletes ml-28 text-danger actMultiTicks hidden" data-url="/SoucreInfo/Deletes" tabindex="0" data-comfirm-message="Xoá nhiều nguồn dữ liệu:Bạn có muốn xoá {n} nguồn dữ liệu đã chọn?" title="Xóa">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                        <a class="btn-icon-search quickUpdate ml-5 text-success" tabindex="0" href="/SoucreInfo/Create?Type=@(ViewBag.Type)" data-target="#mdIUSoucreInfo" aria-controls="data_table" title="Thêm mới">
                            <i class="fas fa-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </form>
        <div class="card card-danger card-outline card-outline-tabs rounded-0 border-0 elevation-0 bg-transparent mt-15">
            <div class="card-body p-0">
                <div id="divSoucreInfos">
                    @await Html.PartialAsync("Index_SoucreInfos", Model)
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <div class="modal fade" id="mdIUSoucreInfo" aria-labelledby="planEditModalTitle" aria-hidden="true"></div>
}
