﻿@using DAS.Application.Models.ViewModels.DasKTNN
@using DAS.Domain.Models.DASKTNN
@using Microsoft.AspNetCore.Mvc.Rendering;
@using DAS.Utility;
@using DAS.Utility.Helper;
@using DAS.Application.Enums.DasKTNN;

@model VMColumnTableGroup
@{
    var title = (Model.ID > 0 ? "Cập nhật" : "Thêm mới") + " nhóm cột";
    ViewData["Title"] = title;
    ViewData["PageHeaderContent"] = title;
    Layout = "";
    var url = Model.ID > 0 ? "/ColumnTableGroup/Change" : "/ColumnTableGroup/Save";


    var isUpdate = Model.ID > 0;
    var  dlCode= Model.DictCode.Select(n => new SelectListItem
            {
                Text = n.Value,
                Value = n.Key,
                Selected = n.Key == Model.Code
            }).ToList();

}
<div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered" role="document">
    <div class="modal-content">
        <form role="form" asp-action="" class="onUpdateInputState bv-form" id="frmMDIUTable">
            <div class="modal-header d-flex align-items-center">
                <h5 class="modal-title font-weight-bold font-s-16 text-white" id="planCreateModalTitle">@title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="w-h-32 icon-exit-white ml-auto" aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label required" asp-for="Name"></label>
                    <div class="col-sm-9">
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" asp-for="Code"></label>
                    <div class="col-sm-9">
                        @Html.CusDropdownListSelect2("Code", "Code", "Khác", dlCode,
                        new {
                            @class = "select2 w-100",
                            @data_placeholder = "--Chọn loại--",
                            @data_container = "body",
                            @data_width = "150px",
                        })
                        <span asp-validation-for="Code" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button data-url="@url" class="btn bg-color-primary d-flex align-items-center quickSubmit">
                    <span class="text-white font-s-14">Lưu</span>
                </button>
                <button type="button" class="btn bg-color-gray-6 d-flex align-items-center" data-dismiss="modal">
                    <span class="font-s-14 text-color-body font-weight-500">Đóng</span>
                </button>

                <input type="hidden" value="@Model.ID" name="ID" />
                <input type="hidden" value="1" name="IsConfig" />
            </div>
        </form>
    </div>
</div>
