﻿@{
    var title = "Nhóm cột";
    ViewData["Title"] = title;
    var breadcrum = new Dictionary<string, string>();
    breadcrum.Add("/InputInfo", title);

    ViewBag.Breadcrumb = new List<string> { "Danh sách Nhóm cột", "Nhóm cột" };
    ViewData["PageHeaderContent"] = "InputInfo";
    Layout = "~/Views/Shared/_LayoutCus.cshtml";
}
@using DAS.Application.Models.ViewModels.DasKTNN
@using DAS.Domain.Models.DASKTNN
@using Microsoft.AspNetCore.Mvc.Rendering;
@using DAS.Utility;
@using DAS.Utility.Helper;
@using DAS.Application.Enums.DasKTNN;
@model VMIndexColumnTableGroup
@{
    var searchParam = Model.SearchParam;
}
<div class="container pt-30">
    <div class="box-wrap-cs mb-15 dataTables_wrapper">
        <form asp-action="SearchByCondition" id="frmColumnTableGroup" role="form" method="post" class="quickSearch" data-target="#divColumnTableGroups">
            <div class="row row-ip">
                <div class="col-md-4 align-items-center d-flex col-ip-12">
                    <p class="is-header-table-search"><span>@ViewData["Title"]</span></p>
                </div>
                <div class="col-md-8 col-ip-12">
                    <div class="input-group input-group-sm mb-3">
                        <input type="search" name="Keyword" value="@searchParam.Keyword" class="form-control" placeholder="Tìm tên nhóm"> 
                        <button type="submit" class="btn btn-sm btn-primary ml-5">Tìm kiếm</button>
                        
                        <a class="btn-icon-search quickDeletes ml-28 text-danger actMultiTicks hidden" data-url="/ColumnTableGroup/Deletes" tabindex="0" data-comfirm-message="Xoá nhiều bảng dữ liệu:Bạn có muốn xoá {n} bảng dữ liệu đã chọn?" title="Xóa">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                        <a class="btn-icon-search quickUpdate ml-5 text-success" tabindex="0" href="/ColumnTableGroup/Create" data-target="#mdIUColumnTableGroup" aria-controls="data_table" title="Thêm mới">
                            <i class="fas fa-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </form>
        <div class="card card-danger card-outline card-outline-tabs rounded-0 border-0 elevation-0 bg-transparent mt-15">
            <div class="card-body p-0">
                <div id="divColumnTableGroups">
                    @await Html.PartialAsync("Index_ColumnTableGroups", Model)
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <div class="modal fade" id="mdIUColumnTableGroup" aria-labelledby="planEditModalTitle" aria-hidden="true"></div>
    <script src="~/js/controller/ColumnTableGroupController.js" asp-append-version="true"></script>
    <script type="text/javascript">
        InitColumnTableGroup();
    </script>

}


