﻿@using DAS.Application.Enums.DasKTNN;
@using Microsoft.AspNetCore.Html;
@using System.Linq;
@using DAS.Utility.Helper
@using DAS.Application.Enums;
@model IEnumerable<LeftMenuComponentModel>
@using DAS.Infrastructure.ContextAccessors
@using DAS.Web.Attributes;
@using DAS.Utility;
@{
    var acc = ViewBag.UserAcc as IUserPrincipalService;
}
<aside class="main-sidebar sidebar-light-primary elevation-2">
    <a href="@Url.RouteUrl("Welcome")" class="brand-link">
        <img src="~/libBid/dist/img/logo.png" alt="Hệ thống lưu trữ dữ liệu số" class="brand-image img-circle my-0 ml-2" />
        <div class="brand-text text-uppercase text-bold">
            <p class="mb-0 small text-white font-s-13 font-weight-500 mb-3">Hệ thống quản lý CSDL</p>
            <p class="mb-0 text-white font-s-16">Dùng chung</p>
        </div>
    </a>
    <div class="sidebar">
        <nav id="nav-left-menu-bid">
            @{
                RenderMenu(0);
            }
        </nav>
        <nav id="nav-left-menu-bid" style="height: 100px; background-color: #e8f4fb; border-radius: 4px; " class="Infomation" hidden>
            <div class="d-flex align-items-center">
                <div class="d-flex align-items-center flex-grow-1">
                    <div class="symbol symbol-45px mr-10 ml-10">
                        <span>
                            <i class="fa fa-envelope" style="font-size: 20px;"></i>
                        </span>
                    </div>
                    <div class="d-flex flex-column">
                        <a href="#" class="text-gray-900 text-hover-primary fs-6 fw-bold">Email:</a>
                        <span class="text-gray-400 fw-bold" style="font-weight: bold;">hotrophanmem@sav.gov.vn</span>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center">
                <div class="d-flex align-items-center flex-grow-1">
                    <div class="symbol symbol-45px mr-10 ml-10">
                        <span>
                            <i class="fa fa-envelope" style="font-size: 20px;"></i>
                        </span>
                    </div>
                    <div class="d-flex flex-column">
                        <a href="#" class="text-gray-900 text-hover-primary fs-6 fw-bold">Điện thoại:</a>
                        <span class="text-gray-400" style="font-weight: bold;">1900.8666.12</span>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</aside>

@functions {

    void RenderMenu(int? parentId)
    {
        var tables = (List<DAS.Domain.Models.DASKTNN.TableInfo>)ViewData["TableAll"];
        var schema = (List<DAS.Domain.Models.DASKTNN.SchemaInfo>)ViewData["SchemaAll"];
        var groups = (List<DAS.Domain.Models.DASKTNN.GroupInfo>)ViewData["GroupInfoAll"];
        var groupsables = (List<DAS.Domain.Models.DASKTNN.GroupTableInfo>)ViewData["GroupTableInfoAll"] ?? new List<DAS.Domain.Models.DASKTNN.GroupTableInfo>();
        var isDanhMucDungChung = ViewBag.IsDanhMucDungChung;
        var nameMenu = (!string.IsNullOrEmpty(isDanhMucDungChung) && isDanhMucDungChung == "true") ? "Danh mục dùng chung" : "Danh sách bảng dữ liệu";
        var tabletemps = tables.Where(n => n.IsTempTable).ToList();
        tables = tables.Where(n => !n.IsTempTable).ToList();
        var lstMenu = Model.ToList();
        var acc = ViewBag.UserAcc as IUserPrincipalService;
        <ul class="nav nav-pills nav-sidebar flex-column nav-flat nav-legacy" data-widget="treeview" role="menu" data-accordion="true">
            @{
                foreach (var item in schema)
                {
                    var idtablegroups = groupsables.Select(t => t.IDTable).ToList();
                    var tbsches = tables.Where(t => t.IDSchema == item.ID) ?? new List<DAS.Domain.Models.DASKTNN.TableInfo>();
                    var tbschesnotgroup = tbsches;
                    if (idtablegroups != null && idtablegroups.Count > 0)
                    {
                        tbschesnotgroup = tbsches.Where(t => !idtablegroups.Exists(x => x == t.ID)).ToList();
                    }
                    if (lstMenu.Any(n => n.Code == (int)EnumModule.Code.INPUTINFO) || acc.IsSuperUser)
                    {
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon  text-primary fas fa-fw fa-list"></i>
                                <p>@item.Description <i class="right fas fa-angle-down jsIconDown"></i></p>
                            </a>
                            <ul class="nav nav-treeview nav-lv-1">
                                @foreach (var gr in groups)
                                {
                                    var grtable = groupsables.Where(n => n.IDGroup == gr.ID).ToList();
                                    <li class="nav-item nav-item-group ">
                                        <a href="#" class="nav-link">
                                            <i class="fas fa-minus" aria-hidden="true"></i>
                                            <p style="margin-left:10px">@gr.Name <i class="right fas fa-angle-down jsIconDown"></i></p>
                                        </a>
                                        <ul class="nav nav-treeview nav-lv-2">
                                            @foreach (var gtb in grtable)
                                            {
                                                var tb = tbsches.FirstOrDefault(n => n.ID == gtb.IDTable) ?? new DAS.Domain.Models.DASKTNN.TableInfo();
                                                var link = "/" + (tb.ListType == (int)EnumTableInfo.TableListType.Tree ? "InformationLevel" : "inputinfo") + ($"?IDTable={tb.ID}");
                                                if (tb.ID > 0)
                                                {
                                                    <li class="nav-item">
                                                        <a href="@link" class="nav-link" data-menu-active="@(tb.ID == ViewBag.TagActive ? "active" : "" )">
                                                            <div class="d-flex align-items-center">
                                                                <span class="animation-menu"></span>
                                                                <p>@tb.Name</p>
                                                            </div>
                                                        </a>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </li>
                                }
                                @if (Utils.IsNotEmpty(tbschesnotgroup))
                                {
                                    <li class="nav-item nav-item-group ">
                                        <a href="#" class="nav-link">
                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                            <p style="margin-left:10px">@nameMenu <i class="right fas fa-angle-down jsIconDown"></i></p>
                                        </a>
                                        <ul class="nav nav-treeview">
                                            @foreach (var itemTable in tbschesnotgroup)
                                            {
                                                <li class="nav-item">
                                                    <a href="@(itemTable.ListType == (int)DAS.Application.Enums.DasKTNN.EnumTableInfo.TableListType.Tree ? "/InformationLevel?IDTable=" + itemTable.ID : "/inputinfo?IDTable=" + itemTable.ID)" class="nav-link" data-menu-active="@(itemTable.ID == ViewBag.TagActive ? "active" : "" )">
                                                        <div class="d-flex align-items-center">
                                                            <span class="animation-menu"></span>
                                                            <p>@itemTable.Name</p>
                                                        </div>
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                }

                            </ul>
                        </li>
                    }
                }
            }
            @{
                if (isDanhMucDungChung == "true" && !string.IsNullOrEmpty(isDanhMucDungChung) && (lstMenu.Any(n => n.Code == (int)EnumModule.Code.INPUTINFOTEMP || acc.IsSuperUser)))
                {
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon  text-primary fas fa-fw fa-tasks"></i>
                            <p>Danh mục chờ phê duyệt <i class="right fas fa-angle-down jsIconDown"></i></p>
                        </a>
                        <ul class="nav nav-treeview nav-lv-1">
                            @foreach (var item in tabletemps)
                            {
                                <li class="nav-item">
                                    <a href="/InputInfoTemp?IDTable=@item.ID" class="nav-link">
                                        <div class="d-flex align-items-center">
                                            <span class="animation-menu"></span>
                                            <p>@item.Name</p>
                                        </div>
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                }



            }
            @{
                if (lstMenu.Any(n => n.Code == (int)EnumModule.Code.REPORTAPI || n.Code == (int)EnumModule.Code.NKND || n.Code == (int)EnumModule.Code.TABLERECORDSTATS || n.Code == (int)EnumModule.Code.SYSTEMLOGERROL) || acc.IsSuperUser)
                {
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon  text-primary fas fa-fw fa-chart-line"></i>
                            <p>Báo cáo thống kê<i class="right fas fa-angle-down jsIconDown"></i></p>
                        </a>
                        <ul class="nav nav-treeview nav-lv-1">
                            @if (false && (lstMenu.Any(n => n.Code == (int)EnumModule.Code.REPORTAPI) || acc.IsSuperUser))
                            {
                                <li class="nav-item">
                                    <a href="/apireport" class="nav-link">
                                        <div class="d-flex align-items-center">
                                            <span class="animation-menu"></span>
                                            <p>Báo cáo truy cập API</p>
                                        </div>
                                    </a>
                                </li>
                            }
                            @if (lstMenu.Any(n => n.Code == (int)EnumModule.Code.TABLERECORDSTATS) || acc.IsSuperUser)
                            {
                                if (!string.IsNullOrEmpty(isDanhMucDungChung) && isDanhMucDungChung == "true")
                                {
                                    <li class="nav-item">
                                        <a href="/TableInfo/Statistic" class="nav-link">
                                            <div class="d-flex align-items-center">
                                                <span class="animation-menu"></span>
                                                <p>Báo cáo thống kê dữ liệu danh mục</p>
                                            </div>
                                        </a>
                                    </li>
                                }
                                @*@if (isDanhMucDungChung == "false" && !string.IsNullOrEmpty(isDanhMucDungChung))
            {*@
                                @if (!string.IsNullOrEmpty(isDanhMucDungChung) && isDanhMucDungChung == "false")
                                {
                                    <li class="nav-item">
                                        <a href="/TableInfo/CollectStatistic" class="nav-link">
                                            <div class="d-flex align-items-center">
                                                <span class="animation-menu"></span>
                                                <p>Báo cáo thống kê tình hình thu thập dữ liệu theo các nguồn dữ liệu</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/CollectionReport" class="nav-link">
                                            <div class="d-flex align-items-center">
                                                <span class="animation-menu"></span>
                                                <p>Báo cáo thống kê tần suất thu thập dữ liệu theo tháng của các nguồn dữ liệu</p>
                                            </div>
                                        </a>
                                    </li>
                                }
                                //}
                            }
                            @if (lstMenu.Any(n => n.Code == (int)EnumModule.Code.SYSTEMLOGERROL) || acc.IsSuperUser)
                            {
                                <li class="nav-item">
                                    <a href="/SystemLogErrol" class="nav-link">
                                        <div class="d-flex align-items-center">
                                            <span class="animation-menu"></span>
                                            <p>Báo cáo thống kê về lỗi hệ thống</p>
                                        </div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/SystemLog/ChartHistory" class="nav-link">
                                        <div class="d-flex align-items-center">
                                            <span class="animation-menu"></span>
                                            <p>Báo cáo thống kê về lịch sử truy vấn dữ liệu của người dùng</p>
                                        </div>
                                    </a>
                                </li>
                            }
                            @if (lstMenu.Any(n => n.Code == (int)EnumModule.Code.NKND) || acc.IsSuperUser)
                            {
                                <li class="nav-item">
                                    <a href="/UserLog" class="nav-link">
                                        <div class="d-flex align-items-center">
                                            <span class="animation-menu"></span>
                                            <p>Báo cáo thống kê về lịch sử truy cập hệ thống</p>
                                        </div>
                                    </a>
                                </li>
                            }
                            @if (lstMenu.Any(n => n.Code == (int)EnumModule.Code.SHAREDAPPFREQUENCYSTATS) || acc.IsSuperUser)
                            {
                                <li class="nav-item">
                                    <a href="/Statistic/SharedApp" class="nav-link">
                                        <div class="d-flex align-items-center">
                                            <span class="animation-menu"></span>
                                            <p>Báo cáo tần xuất ứng dụng chia sẻ</p>
                                        </div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Statistic/AppByApi" class="nav-link">
                                        <div class="d-flex align-items-center">
                                            <span class="animation-menu"></span>
                                            <p>Báo cáo thống kê ứng dụng</p>
                                        </div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Statistic/SharedAppFrequency" class="nav-link">
                                        <div class="d-flex align-items-center">
                                            <span class="animation-menu"></span>
                                            <p>Báo cáo thống kê ứng dụng sử dụng dữ liệu</p>
                                        </div>
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                }
            }

            @{
                if (isDanhMucDungChung == "false" && !string.IsNullOrEmpty(isDanhMucDungChung) && (lstMenu.Any(n => n.Code == (int)EnumModule.Code.SOUCREINFO) || acc.IsSuperUser))
                {
                    var sourceTypes = Utils.GetDescribes<EnumSoucreInfo.TypeSoucre>();

                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon  text-primary fas fa-fw fa-warehouse"></i>
                            <p> Quản lý nguồn dữ liệu <i class="right fas fa-angle-down jsIconDown"></i></p>
                        </a>
                        <ul class="nav nav-treeview nav-lv-1">
                            @{
                                foreach (var sourceType in sourceTypes)
                                {
                                    <li class="nav-item">
                                        <a href="/SoucreInfo?Type=@(sourceType.Key)" class="nav-link">
                                            <div class="d-flex align-items-center">
                                                <span class="animation-menu"></span>
                                                <p>@sourceType.Value</p>
                                            </div>
                                        </a>
                                    </li>
                                }
                            }
                        </ul>
                    </li>
                }
            }
            @{
                if (lstMenu.Any(n => n.Code == (int)EnumModule.Code.TABLEINFO || n.Code == (int)EnumModule.Code.SOUCREINFO || n.Code == (int)EnumModule.Code.SHAREDAPP) || acc.IsSuperUser)
                {
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon  text-primary fas fa-fw fa-cogs"></i>
                            <p>Quản lý cấu hình <i class="right fas fa-angle-down jsIconDown"></i></p>
                        </a>
                        <ul class="nav nav-treeview nav-lv-1">
                            @if (lstMenu.Any(n => n.Code == (int)EnumModule.Code.TABLEINFO) || acc.IsSuperUser)
                            {
                                <li class="nav-item">
                                    <a href="/TableInfo" class="nav-link">
                                        <div class="d-flex align-items-center">
                                            <span class="animation-menu"></span>
                                            <p>Quản lý bảng dữ liệu</p>
                                        </div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/GroupInfo" class="nav-link">
                                        <div class="d-flex align-items-center">
                                            <span class="animation-menu"></span>
                                            <p>Quản lý nhóm bảng dữ liệu</p>
                                        </div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/TableInfoApiConfig" class="nav-link">
                                        <div class="d-flex align-items-center">
                                            <span class="animation-menu"></span>
                                            <p>Cấu hình chia sẻ dữ liệu</p>
                                        </div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/ColumnTableGroup" class="nav-link">
                                        <div class="d-flex align-items-center">
                                            <span class="animation-menu"></span>
                                            <p>Quản lý nhóm cột</p>
                                        </div>
                                    </a>
                                </li>
                            }
                            @if (lstMenu.Any(n => n.Code == (int)EnumModule.Code.SHAREDAPP) || acc.IsSuperUser)
                            {
                                <li class="nav-item">
                                    <a href="/SharedApp" class="nav-link">
                                        <div class="d-flex align-items-center">
                                            <span class="animation-menu"></span>
                                            <p>Quản lý ứng dụng chia sẻ</p>
                                        </div>
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                }
                if (lstMenu.Any(n => n.Code == (int)EnumModule.Code.SCHEMA) || acc.IsSuperUser)
                {
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon  text-primary fas fa-fw fa-database"></i>
                            <p>Quản lý CSDL <i class="right fas fa-angle-down jsIconDown"></i></p>
                        </a>
                        <ul class="nav nav-treeview nav-lv-1">
                            <li class="nav-item">
                                <a href="/SchemaInfo" class="nav-link">
                                    <div class="d-flex align-items-center">
                                        <span class="animation-menu"></span>
                                        <p>Quản lý CSDL</p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                }

                if (lstMenu.Any(n => n.Code == (int)EnumModule.Code.M20010
                || n.Code == (int)EnumModule.Code.S9023
                || n.Code == (int)EnumModule.Code.NKHT
                || n.Code == (int)EnumModule.Code.CHTS
                || n.Code == (int)EnumModule.Code.QLMENU
                || n.Code == (int)EnumModule.Code.M20020
                || n.Code == (int)EnumModule.Code.S9030
                || n.Code == (int)EnumModule.Code.S9010
                || n.Code == (int)EnumModule.Code.S9020
                || n.Code == (int)EnumModule.Code.M20030) || acc.IsSuperUser)
                {
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon  text-primary fas fa-fw fa-user-cog"></i>
                            <p>Quản trị hệ thống <i class="right fas fa-angle-down jsIconDown"></i></p>
                        </a>
                        <ul class="nav nav-treeview nav-lv-1">
                            @if (lstMenu.Any(n => n.Code == (int)EnumModule.Code.QLMENU) || acc.IsSuperUser)
                            {
                                @*<li class="nav-item">
            <a href="/Module" class="nav-link">
            <div class="d-flex align-items-center">
            <span class="animation-menu"></span>
            <p>Quản lý Menu</p>
            </div>
            </a>
            </li>*@
                            }

                            @if (lstMenu.Any(n => n.Code == (int)EnumModule.Code.S9030) || acc.IsSuperUser)
                            {
                                <li class="nav-item">
                                    <a href="/GroupPermission" class="nav-link">
                                        <div class="d-flex align-items-center">
                                            <span class="animation-menu"></span>
                                            <p>Quản lý nhóm quyền</p>
                                        </div>
                                    </a>
                                </li>
                            }

                            @*@if (lstMenu.Any(n => n.Code == (int)EnumModule.Code.S9030) || acc.IsSuperUser)
            {
            <li class="nav-item">
            <a href="/Role" class="nav-link">
            <div class="d-flex align-items-center">
            <span class="animation-menu"></span>
            <p>Quản lý vai trò</p>
            </div>
            </a>
            </li>
            }*@

                            @if (lstMenu.Any(n => n.Code == (int)EnumModule.Code.M20020) || acc.IsSuperUser)
                            {
                                <li class="nav-item">
                                    <a href="/Agency" class="nav-link">
                                        <div class="d-flex align-items-center">
                                            <span class="animation-menu"></span>
                                            <p>Quản lý đơn vị</p>
                                        </div>
                                    </a>
                                </li>
                            }

                            @if (lstMenu.Any(n => n.Code == (int)EnumModule.Code.M20030) || acc.IsSuperUser)
                            {
                                <li class="nav-item">
                                    <a href="/Position" class="nav-link">
                                        <div class="d-flex align-items-center">
                                            <span class="animation-menu"></span>
                                            <p>Quản lý chức vụ</p>
                                        </div>
                                    </a>
                                </li>
                            }

                            @if (lstMenu.Any(n => n.Code == (int)EnumModule.Code.S9010) || acc.IsSuperUser)
                            {
                                <li class="nav-item">
                                    <a href="/Team" class="nav-link">
                                        <div class="d-flex align-items-center">
                                            <span class="animation-menu"></span>
                                            <p>Quản lý nhóm người dùng</p>
                                        </div>
                                    </a>
                                </li>
                            }

                            @if (lstMenu.Any(n => n.Code == (int)EnumModule.Code.S9020) || acc.IsSuperUser)
                            {
                                <li class="nav-item">
                                    <a href="/User" class="nav-link">
                                        <div class="d-flex align-items-center">
                                            <span class="animation-menu"></span>
                                            <p>Quản lý người dùng</p>
                                        </div>
                                    </a>
                                </li>
                            }

                            @if (lstMenu.Any(n => n.Code == (int)EnumModule.Code.NKHT) || acc.IsSuperUser)
                            {
                                <li class="nav-item">
                                    <a href="/SystemLog" class="nav-link">
                                        <div class="d-flex align-items-center">
                                            <span class="animation-menu"></span>
                                            <p>Nhật ký hệ thống</p>
                                        </div>
                                    </a>
                                </li>
                            }

                            @if (acc.IsSuperUser)
                            {
                                <li class="nav-item">
                                    <a href="/NotificationConfig" class="nav-link">
                                        <div class="d-flex align-items-center">
                                            <span class="animation-menu"></span>
                                            <p>Cấu hình thông báo</p>
                                        </div>
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                }
            }
        </ul>
    }
}