﻿@{
    ViewData["Title"] = "Danh sách mục lục";
    ViewData["PageHeaderContent"] = "ProfileList";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    var storages = (ViewBag.Storages as List<SelectListItem>) ?? new List<SelectListItem>();
}
@using DAS.Application.Models.ViewModels;
@using DAS.Utility.Helper;
@model DAS.Application.Models.ViewModels.PaginatedList<VMProfileList>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header p">
                <h3 class="card-title">Danh sách mục lục </h3>
            </div>
            <div>
                <div class="card-body">
                    <form asp-action="SearchByConditionPagging" id="frmProfileList" role="form" method="post"
                          class="quickSearch" data-target="#divProfileLists">
                        <div class="row">
                            <div class="col-3">
                                <input type="text" value="@ViewBag.Keyword" name="Keyword" class="form-control" placeholder="Nhập tên/mã mục lục">
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    @Html.CusDropdownListSelect2("Storages", "Storages", null, storages, new
                                 {
                                     @class = "select2 w-100",
                                     @data_placeholder = "--Chọn kho--"
                                 }, isMultiple: true)
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group" id="elmBindingProfileTemplates">
                                    @Html.CusDropdownListSelect2("ProfileTemplates", "ProfileTemplates", null, null, new
                                 {
                                     @class = "select2 w-100",
                                     @data_placeholder = "--Chọn phông--"
                                 }, isMultiple: true)
                                </div>
                            </div>
                            <div class="col-2">
                                <button type="submit" class="btn btn-default"><i class="fa fa-fw fa-search"></i><span>Tìm kiếm</span></button>
                            </div>
                        </div>
                    </form>
                    <div id="data_table_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                        <div class="table-control">
                            <div class="row">
                                <div class="col-md-3 col-sm-12 text-left mb-2 mb-md-0"></div>
                                <div class="col-md-9 col-sm-12 text-md-right">
                                    <span class="actMultiTicks hidden">
                                        <a class="btn btn-danger quickDeletes" data-url="/ProfileList/DeleteMulti" data-comfirm-message="Bạn có muốn xóa {n} mục lục"
                                           tabindex="0">
                                            <span><i class="fas fa-trash-alt mr-2"></i>Xoá</span>
                                        </a>
                                    </span>

                                    <a class="btn btn-success quickUpdate" tabindex="0" href="/ProfileList/CreatePopup"
                                       data-target="#mdEditProfileList" aria-controls="data_table">
                                        <i class="fas fa-fw fa-plus"></i><span>Thêm mới</span>
                                    </a>
                                    <a class="btn btn-primary quickExport" tabindex="0" href="#" action="/ProfileList/Export" data-target="#frmProfileList" aria-controls="data_table">
                                        <i class="fas fa-fw fa-file-export"></i><span>Xuất file</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div id="divProfileLists">
                            @await Html.PartialAsync("Index_ProfileList", Model)
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="mdEditProfileList"  aria-labelledby="planEditModalTitle" aria-hidden="true"></div>
<script src="~/js/controller/ProfileListController.js" asp-append-version="true"></script>
<script>
    ProfileListConfig.Init();
</script>