﻿@using DAS.Utility.Helper
@model DAS.Application.Models.ViewModels.VMProfileList
@{
    ViewData["PageHeaderContent"] = "ProfileList";
    Layout = "";
    var text = Model.ID > 0 ? "Chỉnh sửa" : "Thêm mới";
    var url = Model.ID > 0 ? "/ProfileList/Update" : "/ProfileList/Create";
    var storage = (ViewBag.Storage as List<SelectListItem>) ?? new List<SelectListItem>();
    var profileTemplate = (ViewBag.ProfileTemplate as List<SelectListItem>) ?? new List<SelectListItem>();
}

<div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
    <form class="modal-content validateForm bv-form" role="form" asp-action="" id="frmProfileListEdit">
        <div class="modal-header bg-success">
            <h3 class="modal-title" id="planCreateModalTitle">Xem chi tiết mục lục </h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">

            <div class="form-group row">

                <label class="col-sm-4 col-form-label input-required" asp-for="Code"></label>

                <div class="col-sm-8">
                    <input asp-for="Code" class="form-control" readonly />
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
        
                    <label class="col-sm-4 col-form-label input-required" asp-for="Name"></label>
            
                <div class="col-sm-8">
                    <input asp-for="Name" class="form-control" readonly />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label" asp-for="Description"></label>
                <div class="col-sm-8">
                    <textarea asp-for="Description" class="form-control" rows="5" readonly>@Model.Description</textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label input-required" asp-for="IDStorage"></label>
                <div class="col-sm-8">
                    @Html.CusDropdownListSelect2("IDStorage", "IDStorage", "--Chọn kho--"
                   , storage, new { @class = "select2 w-100", @data_placeholder = "--Chọn kho--", @disabled = true })
                    <span asp-validation-for="IDStorage" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label input-required" asp-for="IDProfileTemplate"></label>
                <div class="col-sm-8">
                    <div id="elmBindingIDProfileTemplate">
                        @Html.CusDropdownListSelect2("IDProfileTemplate", "IDProfileTemplate", "--Chọn phông--"
                  , profileTemplate, new { @class = "select2 w-100", @data_placeholder = "--Chọn phông--", @disabled = true })
                    </div>
                    <span asp-validation-for="IDProfileTemplate" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <input type="hidden" asp-for="ID" />
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
                <i class="fas fa-fw fa-times"></i><span>Đóng</span>
            </button>
            <a class="btn btn-outline-info quickUpdate" href="/ProfileList/EditPopup?id=@Model.ID" data-target="#mdEditProfileList">
                <i class="fas fa-fw fa-edit"></i><span>Chỉnh sửa</span>
            </a>           
        </div>
    </form>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        ProfileListConfig.OpenPopup();
    });
</script>
