﻿@using DAS.Application.Models.ViewModels.DasKTNN
@using DAS.Domain.Models.DASKTNN
@using DAS.Utility
@using DAS.Utility.Helper;

@model VMTableInfoStatistic
@{
    ViewData["Title"] = "Báo cáo thống kê dữ liệu danh mục";
}

<div class="container pt-30">
    <div class="box-wrap-cs mb-15 dataTables_wrapper">
        <form asp-action="StatisticSearch" id="frmTableInfo" role="form" method="post" class="quickSearch" data-target="#divTableInfos" data-callback="InitTableInfoStatistic();">
            <div class="row row-ip">
                <div class="col-md-3 align-items-center d-flex col-ip-12">
                    <p class="is-header-table-search"><span>@ViewData["Title"]</span></p>
                </div>
                <div class="col-md-9 col-ip-12">
                    <div class="input-group input-group-sm mb-3">
                        <input type="search" name="Keyword" value="@ViewBag.Keyword" class="form-control" placeholder="Tìm tên bảng dữ liệu">
                        <input type="search" name="DBName" value="@ViewBag.DBName" class="form-control" placeholder="Tìm tên bảng trong CSDL">
                        <button type="submit" class="btn btn-sm btn-primary ml-5">Tìm kiếm</button>

                        <a class="ml-28 quickSprint" data-target="#divTableInfos" title="In màn hình" data-callback="InitTableInfoStatistic();">
                            <i class="bid-icons bid-icon-print"></i>
                        </a>
                        <a class="btn-icon-search quickExport ml-5 text-success" tabindex="0" href="#" action="/TableInfo/StatisticExport" data-target="#frmTableInfo" aria-controls="data_table" title="Xuất file">
                            <i class="bid-icons bid-icon-csv"></i>
                        </a>
                    </div>
                </div>
            </div>
        </form>

        <div class="card-body p-0">

            <div class="card card-danger card-outline card-outline-tabs rounded-0 border-0 elevation-0 bg-transparent mt-15">
                <div id="divTableInfos" class="mt-2">
                    @await Html.PartialAsync("Statistic/Statistic_Table", Model)
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {

    <div class="modal fade" id="mdIUTableInfo" aria-labelledby="planEditModalTitle" aria-hidden="true"></div>

    <script src="~/js/controller/TableInfoController.js" asp-append-version="true"></script>
    <script type="text/javascript">
        InitTableInfoStatistic();
    </script>
}