﻿@using DAS.Application.Models.ViewModels.DasKTNN
@using DAS.Utility
@model VMTableInfoStatistic
@{
    int stt = Model.Tables.PageSize * (Model.Tables.PageIndex - 1);
}

<div class="card card-outline card-success" style="margin-bottom: 15px">
    <div class="card-header">
        <h3 class="card-title" style="font-weight: bold">Biểu đồ thống kê số lượng bản ghi theo bảng dữ liệu</h3>
    </div>
    <div class="card-body">
        <div id="archive_chart_container" class="chart_container" style="padding: 0 1rem 1rem 0; ">
            <canvas id="archive_chart" height="100"></canvas>
        </div>
    </div>

    <input type="hidden" id="tableStatisticData" value="@(Utils.Serialize(Model.ChartData))" />
</div>
<div class="card" hidden id="cardImgChart">
    <div class="card-header">
        <h3 class="card-title" style="font-weight: bold">Thống kê số lượng bản ghi theo bảng dữ liệu</h3>
        <img id="imgChart" src="" alt="Biểu đồ" />
    </div>
</div>
<div class="card card-outline card-success mt-5">
    <div class="card-header">
      <h3 class="card-title" style="font-weight: bold">Bảng thống kê số lượng bản ghi theo bảng dữ liệu</h3>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-borderless table-space table-hover dataTable dtr-inline useTreegrid table-bid-custom" role="grid" data-tree="3">
                <thead class="thead-light">
                    <tr class="elevation-1">
                        <th class="pb-2 col-min">STT</th>
                        <th class="pb-2 m-w-200-px">Tên bảng dữ liệu</th>
                        <th class="pb-2 m-w-200-px">Tên bảng dữ liệu trong SQL</th>
                        <th class="pb-2 m-w-200-px">Số bản ghi</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Tables)
                    {
                        stt++;
                        var tbStatic = Model.TableStatistics.FirstOrNewObj(n => n.ID == item.ID);
                        var recordLink = $"/inputinfo?IDTable={item.ID}";
                        var detailLink = $"/TableInfo/Details?id={item.ID}";
                        var editLink = $"/TableInfo/Edit?id={item.ID}";
                        var cloneLink = $"/TableInfo/IsClone?id={item.ID}";
                        <tr>
                            <td class="text-center">@stt</td>
                            <td>
                                <a title="Xem dữ liệu" class="" href="@recordLink"
                               data-toggle="tooltip" data-original-title="Xem chi tiết">
                                    @item.Name
                                </a>
                            </td>
                            <td>
                                <a title="Xem dữ liệu" class="" href="@recordLink"
                               data-toggle="tooltip" data-original-title="Xem chi tiết">
                                    @item.DbName
                                </a>
                            </td>
                            <td>@tbStatic.RecordCount</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
   <div class="m-2">
        @await Html.PartialAsync("_PagingFooter", Model.Tables, new ViewDataDictionary(this.ViewData) { { "TargetForm", "frmTableInfo" } })
   </div>
</div>