﻿
@using Microsoft.AspNetCore.Mvc.Rendering;
@using DAS.Utility;
@using DAS.Utility.Helper;
@model DAS.Application.Models.ViewModels.DasKTNN.VMAPIReport
@{ 
    int stt = 0;
}
<div class="table-responsive">
    <table class="table table-borderless table-space table-hover dataTable dtr-inline useTreegrid table-bid-custom" role="grid" data-tree="3">
        <thead class="thead-light">
            <tr class="elevation-1">
                <th class="pb-2 col-min">STT</th>
                <th class="pb-2 m-w-200-px">Tên API</th>
                <th class="pb-2 m-w-120-px">Phiên bản API</th>
                <th class="pb-2 m-w-120-px">Nội dung</th>
                <th class="pb-2 m-w-120-px">Tên</th>
                <th class="pb-2 m-w-120-px">Giới hạn truy cập</th>
                <th class="pb-2 m-w-120-px">Trạng thái API</th>
                <th class="pb-2 m-w-120-px">Trạng thái ứng dụng</th>
                <th class="pb-2 m-w-120-px">Lượt truy cập</th>

            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.APIMangeReports)
            {
                stt++;
            <tr>
                <td class="text-center">@stt</td>
                <td>@Html.DisplayFor(modelItem => item.API_NAME)</td>
                <td>@Html.DisplayFor(modelItem => item.API_VERSION)</td>
                <td>@Html.DisplayFor(modelItem => item.CONTEXT)</td>
                <td>@Html.DisplayFor(modelItem => item.NAME)</td>
                <td>@Html.DisplayFor(modelItem => item.APPLICATION_TIER)</td>
                <td>@Html.DisplayFor(modelItem => item.STATUS)</td>
                <td>@Html.DisplayFor(modelItem => item.APPLICATION_STATUS)</td>
                <td>@Html.DisplayFor(modelItem => item.HITCOUNTER)</td>
            </tr>
            }

        </tbody>
    </table>
</div>

