﻿@{
    var title = "Báo cáo truy cập API";
    ViewData["Title"] = title;
    var breadcrum = new Dictionary<string, string>();
    breadcrum.Add("/InputInfo", title);

    ViewBag.Breadcrumb = new List<string> { "Báo cáo", "Báo cáo truy cập api" };
    ViewData["PageHeaderContent"] = "InputInfo";
    Layout = "~/Views/Shared/_LayoutCus.cshtml";
}
@using Microsoft.AspNetCore.Mvc.Rendering;
@using DAS.Utility;
@using DAS.Utility.Helper;
@model DAS.Application.Models.ViewModels.DasKTNN.VMAPIReport
@{
    var lstApi = (Model.APIs).Select(n => new SelectListItem
    {
        Text = n.API_NAME,
        Value = n.API_ID.ToString(),
        Selected = n.API_ID == Model.Param.apiId
    }).ToList();

}
<div class="container pt-30">
    <div class="box-wrap-cs mb-15 dataTables_wrapper">
        <form asp-action="SearchByCondition" id="frmTableInfo" role="form" method="post" class="quickSearch" data-target="#divTableInfos">
            <div class="row row-ip">
                <div class="col-md-3 align-items-center d-flex col-ip-12">
                    <p class="is-header-table-search"><span>@ViewData["Title"]</span></p>
                </div>
                <div class="col-md-9 col-ip-12">
                    <div class="input-group input-group-sm mb-3">
                        <div class="form-group mb-0 mr-5 w-200">
                            @Html.CusDropdownListSelect2("", "apiId", "--Chọn API--", lstApi, new { @class = "select2 w-200", @data_placeholder = "--Chọn api--" }, isReadonly: false)
                        </div>
                        <button type="submit" class="btn btn-sm btn-primary ml-5">Tìm kiếm</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="card card-danger card-outline card-outline-tabs rounded-0 border-0 elevation-0 bg-transparent mt-15">
            <div class="card-body p-0">
                <div id="divTableInfos">
                    @await Html.PartialAsync("Index_APIReport", Model)
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <div class="modal fade" id="mdIUTableInfo" aria-labelledby="planEditModalTitle" aria-hidden="true"></div>
    <script src="~/js/controller/TableInfoController.js" asp-append-version="true"></script>
    <script type="text/javascript">
        InitTableInfo();
    </script>

}


