﻿@using DAS.Utility;
@using DAS.Application.Models.ViewModels

@model DAS.Application.Models.ViewModels.VMIndexCategory
@{
    var gridFields = Model.VMCategoryTypeFields.Where(n => n.IsShowGrid).OrderBy(n => n.Priority);
    var categoryTypeName = (Model.VMCategoryType ?? new VMCategoryType()).Name?.ToLower() ?? "danh mục";
    var pageSizes = new[] { 10, 20, 30, 50, 100 };
    int stt = Model.VMCategorys.PageSize * (Model.VMCategorys.PageIndex - 1);
    var detailLink = string.Empty;
    var isTreeView = Model.VMCategorys.Any(n => n.ParentId > 0);
    var treeIndex = gridFields.ToList().FindIndex(n => n.Code == "Name") + 2;
}
<div class="table-responsive">
    <table id="data_table" class="table table-bordered table-striped data_table @(isTreeView? "useTreegrid": string.Empty)" role="grid" data-tree="@treeIndex">
        <thead>
            <tr>
                <th class="text-center col-min">STT</th>
                <th class="text-center col-min">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="group-checkable custom-control-input" id="checkall" value="">
                        <label class="custom-control-label" for="checkall"></label>
                    </div>
                </th>
                @foreach (var item in gridFields)
                {
                    <th>@item.Name</th>
                }
                <th class="col-min" data-column-id="commands" data-formatter="commands" data-sortable="false">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cate in Model.VMCategorys)
            {
                stt++;
                detailLink = "/Category/Details?id=" + cate.ID;
                var clss = isTreeView ? ("treegrid-" + cate.ID + (cate.ParentId > 0 ? " treegrid-parent-" + cate.ParentId : string.Empty)) : string.Empty;
                <tr class="@clss">
                    <td class="text-center">@stt</td>
                    <td class="text-center">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="checkboxes custom-control-input" id="role-@cate.ID" data-id="@cate.ID" value="@cate.ID">
                            <label class="custom-control-label" for="role-@cate.ID"></label>
                        </div>
                    </td>
                    @foreach (var field in gridFields)
                    {
                        var data = cate.VMCategoryFields.FirstOrNewObj(n => n.IDCategoryTypeField == field.ID);
                        if (field.Code == "Name")
                        {
                            <td>
                                <a href="@detailLink" title="Xem chi tiết" class="quickUpdate" data-target="#mdUpdateCategory" data-toggle="tooltip">
                                    @data.DisplayVal
                                </a>
                            </td>

                        }
                        else
                        {
                            <td>@data.DisplayVal</td>
                        }
                    }
                    <td>
                        <a title="Xem chi tiết" class="btn btn-sm btn-outline-secondary btn-hover-success quickUpdate" href="/Category/Details?id=@cate.ID"
                           data-target="#mdUpdateCategory" data-toggle="tooltip" data-original-title="Xem chi tiết">
                            <i class="fas fa-fw fa-info"></i>
                        </a>
                        <a title="Sửa" class="btn btn-sm btn-outline-secondary btn-hover-info quickUpdate" href="/Category/Edit?id=@cate.ID"
                           data-target="#mdUpdateCategory" data-toggle="tooltip" data-original-title="Sửa">
                            <i class="fas fa-fw fa-edit"></i>
                        </a>
                        <a title="Xoá" data-comfirm-message="Xoá @categoryTypeName:Bạn có chắc chắn muốn xoá @categoryTypeName này?" class="btn btn-sm btn-outline-secondary btn-hover-danger quickDelete" href="/Category/Delete?id=@cate.ID" data-id="@cate.ID"
                           data-toggle="tooltip" data-original-title="Xóa">
                            <i class="fas fa-fw fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="card-footer">
    <div class="row">
        <div class="col-sm-12 col-md-4">
            @if (Model.VMCategorys.TotalFilter == 0)
            {
                <span>Không tìm thấy dữ liệu phù hợp</span>
            }
            else
            {
                <span>Có tổng cộng <span class="text-red">@Model.VMCategorys.TotalFilter</span> bản ghi</span>
            }
        </div>
        @if (!isTreeView)
        {
            <div class="col-sm-12 col-md-8">
                @if (Model.VMCategorys.TotalFilter > Model.VMCategorys.PageSize && Model.VMCategorys.TotalFilter > 0)
                {
                    <nav class="d-flex justify-content-end" aria-label="Pagination">
                        <div class="form-group d-flex align-items-center mr-4">
                            <span>Hiển thị:&nbsp;&nbsp;</span>
                            <select id="drdPageSize" class="select2 onChangePageSize" data-form="#frmCategory">
                                @foreach (var pageSize in pageSizes)
                                {
                                    if (pageSize == Model.VMCategorys.PageSize)
                                    {
                                        <option value="@pageSize" selected>@pageSize</option>
                                    }
                                    else
                                    {
                                        <option value="@pageSize">@pageSize</option>
                                    }
                                }
                            </select>
                            <span>&nbsp;&nbsp;bản ghi/trang.</span>
                        </div>
                        <ul class="pagination pagination-md justify-content-end mb-0">
                            <li class="page-item @(!Model.VMCategorys.HasPreviousPage ? "disabled" : "")">
                                <a href="#" class="page-link onSetPageIndex"
                                   data-page="@(!Model.VMCategorys.HasPreviousPage ? "" : (Model.VMCategorys.PageIndex - 1).ToString())"
                                   data-page-size="@Model.VMCategorys.PageSize" aria-label="Previous"
                                   data-form="#frmCategory">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            @{
                                int distance = 1;
                                int min = Model.VMCategorys.PageIndex - distance;
                                int max = Model.VMCategorys.PageIndex + distance;
                                if (min == 0)
                                {
                                    min = 1;
                                    if (max < Model.VMCategorys.TotalPages) { max++; }

                                }
                                if (max > Model.VMCategorys.TotalPages)
                                {
                                    max = Model.VMCategorys.TotalPages;
                                    if (min > 1) { min--; }

                                }
                            }
                            @for (int i = min; i <= max; i++)
                            {
                                <li class="page-item @(Model.VMCategorys.PageIndex == i ? "active" : "")">
                                    <a href="#" class="page-link onSetPageIndex" data-page="@i" data-page-size="@Model.VMCategorys.PageSize"
                                       data-form="#frmCategory">
                                        @i
                                        @if (Model.VMCategorys.PageIndex == i)
                                        {
                                            <span class="sr-only">(current)</span>
                                        }
                                    </a>
                                </li>
                            }
                            <li class="page-item @(!Model.VMCategorys.HasNextPage ? "disabled" : "")">
                                <a href="#" class="page-link onSetPageIndex"
                                   data-page="@(!Model.VMCategorys.HasNextPage ? "" : (Model.VMCategorys.PageIndex + 1).ToString())"
                                   data-page-size="@Model.VMCategorys.PageSize" data-form="#frmCategory"
                                   aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                }
            </div>
        }
    </div>
</div>
