﻿@using Microsoft.AspNetCore.Mvc.Rendering;
@using DAS.Application.Models.ViewModels;
@using DAS.Utility;
@using DAS.Utility.Helper;
@using DAS.Application.Enums.DasKTNN;
@model VMSharedApp
@{
    ViewData["Title"] = "Thông tin ứng dụng chia sẻ";
    var title = (Model.sharedApp.ID > 0 ? "Cập nhật" : "Thêm mới") + " ứng dụng chia sẻ";
    ViewData["PageHeaderContent"] = title;
    Layout = "";
    var url = Model.sharedApp.ID > 0 ? "/SharedApp/Change" : "/SharedApp/Save";
    Model.sharedApp.AccessTokenExpiryTime = Model.sharedApp.ID > 0 ? Model.sharedApp.AccessTokenExpiryTime : 3600;
    var enumstatuss = Utils.GetDescribes<EnumSoucreInfo.TypeStatus>();
    Model.sharedApp.Status= Model.sharedApp.Status<=0 ? 1: Model.sharedApp.Status;

    var lstStatus = enumstatuss.Select(n => new SelectListItem
    {
        Text = n.Value,
        Value = n.Key.ToString(),
        Selected = Model.sharedApp.Status.Equals(n.Key)
    }).ToList();
}
<div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered" role="document">
    <div class="modal-content">
        <form role="form" asp-action="" class="onUpdateInputState bv-form validateForm" id="frmMDIUSchema">
            <div class="modal-header d-flex align-items-center">
                <h5 class="modal-title font-weight-bold font-s-16 text-white" id="planCreateModalTitle">@title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="w-h-32 icon-exit-white ml-auto" aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label input-required">Mã ứng dụng <span class="text-red">*</span></label>
                    <div class="col-sm-8">
                        @Html.CustTexBox("Code", "Code", Model.sharedApp.Code, "Mã ứng dụng", "Mã ứng dụng", true, isReadOnly: true)
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label input-required">Tên ứng dụng <span class="text-red">*</span></label>
                    <div class="col-sm-8">
                        @Html.CustTexBox("Name", "Name", Model.sharedApp.Name, "Tên ứng dụng", "Tên ứng dụng", true, isReadOnly: true)
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label input-required">Username <span class="text-red">*</span></label>
                    <div class="col-sm-8">
                        @Html.CustTexBox("Username", "Username", Model.sharedApp.Username, "Username", "Username", true, isReadOnly: true)
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label input-required">Password <span class="text-red">*</span></label>
                    <div class="col-sm-8">
                        @Html.CustTexBox("Password", "Password", "", "Password", "Password", Model.sharedApp.ID>0  ? false:true, isReadOnly: true)
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label input-required">Mô tả <span class="text-red"></span></label>
                    <div class="col-sm-8">
                        @Html.CusTextArea("Description", "Description", Model.sharedApp.Description, "Mô tả", "Mô tả", false, isReadonly: true)
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label input-required">Trạng thái <span class="text-red">*</span></label>
                    <div class="col-sm-8">
                        @Html.CusDropdownListSelect2("Status", "Status", null, lstStatus, new { @class = "select2 w-100", @data_placeholder = "--Chọn trạng thái--" }, "Trạng thái", true, true)
                    </div>
                </div>
                <div class="form-group row hidden">
                    <label class="col-sm-4 col-form-label input-required">Access Token Expiry Time(Giây) <span class="text-red">*</span></label>
                    <div class="col-sm-8">
                        @Html.CustTexBoxNumber("AccessTokenExpiryTime", "AccessTokenExpiryTime", Model.sharedApp.AccessTokenExpiryTime.ToString(), "AccessTokenExpiryTime", "AccessTokenExpiryTime", true, isReadOnly:true)
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <input type="hidden" value="@Model.sharedApp.ID" name="ID" />
              
                <button type="button" class="btn bg-color-gray-6 d-flex align-items-center" data-dismiss="modal">
                    <span class="font-s-14 text-color-body font-weight-500">Đóng</span>
                </button>
            </div>
        </form>
    </div>
</div>
