﻿@using DAS.Application.Models.ViewModels;
@using DAS.Domain.Models.DASKTNN;
@model DAS.Application.Models.ViewModels.PaginatedList<SharedApp>
@using DAS.Utility.Helper
@{
    var title = "Danh sách ứng dụng chia sẻ";
    ViewData["Title"] = title;
    ViewBag.Breadcrumb = new List<string> { "Danh sách ứng dụng chia sẻ", "Quản lý danh mục" };
    ViewData["PageHeaderContent"] = "CategoryType";
    Layout = "~/Views/Shared/_LayoutCus.cshtml";
}
<div class="container pt-30">
    <div class="box-wrap-cs mb-15 dataTables_wrapper">
        <form asp-action="SearchByCondition" id="frmSharedApp" role="form" method="post" class="quickSearch" data-target="#divSharedApps">
            <div class="row row-ip">
                <div class="col-md-6 align-items-center d-flex col-ip-12">
                    <p class="is-header-table-search"><span>@ViewData["Title"]</span></p>
                </div>
                <div class="col-md-6 col-ip-12">
                    <div class="input-group input-group-sm mb-3">
                        <input type="search" name="Keyword" value="@ViewBag.Keyword" class="form-control" placeholder="Nhập từ tìm kiếm">
                        <button type="submit" class="btn btn-sm btn-primary ml-5">Tìm kiếm</button>
                        
                        <a class="btn-icon-search quickDeletes ml-28 text-danger actMultiTicks hidden" data-url="/SharedApp/Deletes" tabindex="0" data-comfirm-message="Xoá nhiều nguồn dữ liệu:Bạn có muốn xoá {n} nguồn dữ liệu đã chọn?" title="Xóa">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                        <a class="btn-icon-search quickUpdate ml-5 text-success" tabindex="0" href="/SharedApp/Create" data-target="#mdIUSharedApp" aria-controls="data_table" title="Thêm mới">
                            <i class="fas fa-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </form>
        <div class="card card-danger card-outline card-outline-tabs rounded-0 border-0 elevation-0 bg-transparent mt-15">
            <div class="card-body p-0">
                <div id="divSharedApps">
                    @await Html.PartialAsync("Index_SharedApps", Model)
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <div class="modal fade" id="mdIUSharedApp" aria-labelledby="planEditModalTitle" aria-hidden="true"></div>
}
