﻿@using DAS.Application.Models.ViewModels;
@using DAS.Domain.Models.DASKTNN;
@using DAS.Application.Enums.DasKTNN;
@model DAS.Application.Models.ViewModels.PaginatedList<SharedApp>
@{
    int stt = Model.PageSize * (Model.PageIndex - 1);
    var pageSizes = new[] { 10, 20, 30, 50, 100 };

}

<div class="table-responsive">
    <table class="table table-borderless table-space table-hover dataTable dtr-inline useTreegrid table-bid-custom" role="grid" data-tree="3">
        <thead class="thead-light">
            <tr class="elevation-1">
                <th class="pb-2 col-min">STT</th>
                <th class="text-center col-min">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="group-checkable custom-control-input" id="checkall" value="">
                        <label class="custom-control-label" for="checkall"></label>
                    </div>
                </th>
                <th class="pb-2 m-w-100-px">Mã ứng dụng</th>
                <th class="pb-2 m-w-200-px">Tên ứng dụng</th>
                <th class="pb-2 m-w-100-px">Trạng thái</th>
                <th class="pb-2 col-min text-center">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                stt++;
            <tr>
                <td class="text-center">@stt</td>
                <td>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="checkboxes custom-control-input" id="role-@item.ID" data-id="@item.ID" value="@item.ID">
                        <label class="custom-control-label" for="role-@item.ID"></label>
                    </div>
                </td>
                <td>@Html.DisplayFor(modelItem => item.Code)</td>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>
                    @{
                        if (item.Status == (int)EnumSoucreInfo.TypeStatus.DungHoatDong)
                        {
                            @Html.Raw("Dừng hoạt động")
                        }
                        else
                        {
                            @Html.Raw("Hoạt động")
                        }
                    }
                </td>
                <td class="text-center">
                    <div class="d-flex is-btn-action">
                        <a title="Sửa" class="quickUpdate" href="/SharedApp/Edit?id=@item.ID" data-target="#mdIUSharedApp" data-toggle="tooltip">
                            <i class="fas fa-fw fa-edit"></i>
                        </a>
                        <a title="Xem chi tiết" class="quickUpdate" href="/SharedApp/Detail?id=@item.ID" data-target="#mdIUSharedApp" data-toggle="tooltip">
                            <i class="fas fa-eye"></i>
                        </a>
                        <a title="Xoá" data-comfirm-message="Xoá ứng dụng: Bạn có chắc chắn muốn xoá ứng dụng này?" data-id="@item.ID" data-toggle="tooltip"
                           class="quickDelete" href="/SharedApp/Delete?id=@item.ID">
                            <i class="fas fa-fw fa-trash-alt"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
@await Html.PartialAsync("_PagingFooter", Model, new ViewDataDictionary(this.ViewData) { { "TargetForm", "frmSharedApp" } })
