﻿@using DAS.Utility;
@using DAS.Utility.Helper;
@using DAS.Application.Enums;
@using DAS.Application.Models.ViewModels;
@{
    ViewData["Title"] = "Sao lưu và phục hồi dữ liệu hệ thống";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    List<SelectListItem> lstDB = (ViewBag.lstDB as List<SelectListItem>) ?? new List<SelectListItem>();
}
@model VMStgFile
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Sao lưu và phục hồi dữ liệu hệ thống</h3>
            </div>
            <div class="card-body">
                <form asp-action="" id="frmPlanProfile" role="form" method="post" class="quickSearch" data-target="#divProfiles">
                    <div class="row">
                        <div class="col-md-3">
                            <button type="button" class="backup-button quickSubmit" data-url="/BackupAndRestore/BackupData">Sao lưu dữ liệu</button>
                        </div>
                        <div class="col-md-9">
                            <div class="col-md-9">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Cơ sở dữ liệu: </label>
                                    <div class="col-sm-4">
                                        @Html.CusDropdownListSelect2("ID", "ID", "--Chọn cơ sở dữ liệu--", lstDB, new { @class = "select2 w-100 h-100", @data_placeholder = "Phông", @data_width = "100%" })
                                    </div>
                                    <div class="col-sm-4">
                                        <button type="button" class="btn btn-success quickConfirmRestore" data-url="/BackupAndRestore/RestoreData" tabindex="0" data-comfirm-message="Khôi phục: Bạn có chắc chắn muốn khôi phục dữ liệu?"><span>Khôi phục dữ liệu</span></button>
                                    </div>
                                </div>
                            </div>
                            @*<div id="data_table_wrapper" class="dataTables_wrapper">
                                <div class="table-control">
                                    <div class="row">
                                        <div class="col-md-2 col-sm-2 text-md-right">
                                            <a class="btn btn-success quickSubmit" data-url="/BackupAndRestore/RestoreData" data-target="#CreateNewRecordModal" tabindex="0" aria-controls="data_table" comfirm-message="Khôi phục dữ liệu: Bạn có chắc chắn muốn khôi phục dữ liệu?">
                                                <i class="fas fa-fw fa-plus"></i><span>Phục hồi dữ liệu</span>
                                            </a>
                                            <input type="file" asp-for="File" name="File" id="File" style="display: none" accept=".bak" data-url="/BackupAndRestore/RestoreData" />
                                            <button type="button" class="restore-button" data-url="/BackupAndRestore/RestoreData">Phục hồi dữ liệu</button>
                                        </div>
                                    </div>
                                </div>
                                <div id="divProfiles">
                                    @await Html.PartialAsync("List_Database", Model)
                                </div>
                            </div>*@
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade popup-modal" id="planCreateModal" tabindex="-1" role="dialog" aria-labelledby="planCreateModalTitle" aria-hidden="true"></div>
<script src="~/js/controller/BackupAndRestoreController.js"></script>
<script>
    BackupAndRestoreConfigs.ClickRestoreButton();
    BackupAndRestoreConfigs.RestoreAction();
</script>


