﻿@using Microsoft.AspNetCore.Mvc.Rendering;
@using DAS.Application.Models.ViewModels;
@using DAS.Utility;
@using DAS.Utility.Helper;
@using DAS.Application.Enums.DasKTNN;
@model VMGroupInfo
@{
    ViewData["Title"] = "Thông tin nhóm bảng";
    var title = (Model.groupInfo.ID > 0 ? "Cập nhật" : "Thêm mới") + " nhóm bảng";
    ViewData["PageHeaderContent"] = title;
    Layout = "";
    var url = Model.groupInfo.ID > 0 ? "/GroupInfo/Change" : "/GroupInfo/Save";
    var ids = Utils.IsNotEmpty(Model.groupTables) ? Model.groupTables.Select(n => n.IDTable).ToList() : new List<int>() ;
    var lstSchema = Model.dictableInfos.Select(n => new SelectListItem
    {
        Text = n.Value,
        Value = n.Key.ToString(),
        Selected= ids.Contains(n.Key)
    }).ToList();
}
<div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered" role="document">
    <div class="modal-content">
        <form role="form" asp-action="" class="onUpdateInputState bv-form validateForm" id="frmMDIUSchema">
            <div class="modal-header d-flex align-items-center">
                <h5 class="modal-title font-weight-bold font-s-16 text-white" id="planCreateModalTitle">@title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="w-h-32 icon-exit-white ml-auto" aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label input-required">Tên nhóm <span class="text-red">*</span></label>
                    <div class="col-sm-8">
                        @Html.CustTexBox("Name", "Name", Model.groupInfo.Name, "Tên nhóm", "Tên nhóm", true)
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label input-required">Bảng dữ liệu <span class="text-red">*</span></label>
                    <div class="col-sm-8">
                        @Html.CusDropdownListSelect2("IDTables", "IDTables", null, lstSchema, new { @class = "select2 w-100", @data_placeholder = "--Chọn bảng dữ liệu--" }, "Bảng dữ liệu", true,false,true)
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="hidden" value="@Model.groupInfo.ID" name="ID" />
                <button data-url="@url" class="btn bg-color-primary d-flex align-items-center quickSubmit">
                    <span class="text-white font-s-14">Lưu</span>
                </button>
                <button type="button" class="btn bg-color-gray-6 d-flex align-items-center" data-dismiss="modal">
                    <span class="font-s-14 text-color-body font-weight-500">Đóng</span>
                </button>
            </div>
        </form>
    </div>
</div>
