﻿@using DAS.Application.Models.ViewModels;
@model DAS.Application.Models.ViewModels.PaginatedList<VMRole>
@{
    var pageSizes = new[] { 10, 20, 30, 50, 100 };
}
@if (Model != null && Model.Count() > 0)
{
    <div class="table-responsive">
        <table id="data_table" class="table table-bordered table-striped data_table" role="grid">
            <thead>
                <tr>
                    <th class="text-center col-min">STT</th>
                    <th class="text-center col-min">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="group-checkable custom-control-input" id="checkall" value="">
                            <label class="custom-control-label" for="checkall"></label>
                        </div>
                    </th>
                    <th>Tên vai trò</th>
                    <th>Nhóm quyền</th>
                    <th class="col-min" data-column-id="commands" data-formatter="commands" data-sortable="false">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                @{ int stt = Model.PageSize * (Model.PageIndex - 1);}
                @foreach (var item in Model)
                {
                    stt++;
                    <tr>
                        <td class="text-center">@stt</td>
                        <td class="text-center">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="checkboxes custom-control-input" id="role-@item.ID" data-id="@item.ID" value="@item.ID" data-item-name="@item.Name">
                                <label class="custom-control-label" for="role-@item.ID"></label>
                            </div>
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.GroupPermissionName)</td>
                        <td class="text-center">
                            <div class="d-flex is-btn-action">
                                <a title="Xem chi tiết" class=" quickUpdate" href="/Role/DetailPopup?id=@item.ID"
                                   data-target="#planCreateModal" data-toggle="tooltip" data-original-title="Xem chi tiết">
                                    <i class="fas fa-fw fa-info"></i>
                                </a>
                                <a title="Sửa" class="quickUpdate" href="/Role/EditPopup?id=@item.ID"
                                   data-target="#planCreateModal" data-toggle="tooltip" data-original-title="Sửa">
                                    <i class="fas fa-fw fa-edit"></i>
                                </a>
                                <a title="Xóa" class="quickDelete" data-comfirm-message="Bạn có muốn xóa vai trò: @item.Name" href="/Role/Delete?id=@item.ID"
                                   data-toggle="tooltip" data-original-title="Xóa">
                                    <i class="fas fa-fw fa-trash-alt"></i>
                                </a>
                            </div>
                            
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

}
<div class="card-footer">
    <div class="row">
        <div class="col-4">
            @if (Model == null || Model.TotalFilter == 0)
            {
                <span>@DAS.Application.Constants.MessageConst.MSG_NOT_FOUND</span>
            }
            else
            {
                <span>Có tổng cộng <span class="text-red">@Model.TotalFilter</span> bản ghi</span>
            }
        </div>
        <div class="col-8">
            @if (Model != null && Model.TotalFilter > Model.PageSize)
            {
                //1 trang thì ko phân trang
                <nav class="d-flex justify-content-end" aria-label="Pagination">
                    <div class="form-group d-flex align-items-center mr-4">
                        <span>Hiển thị:&nbsp;&nbsp;</span>
                        <select id="drdPageSize" class="select2 onChangePageSize" data-form="#frmRole">

                            @foreach (var pageSize in pageSizes)
                            {
                                if (pageSize == Model.PageSize)
                                {
                                    <option value="@pageSize" selected>@pageSize</option>
                                }
                                else
                                {
                                    <option value="@pageSize">@pageSize</option>
                                }
                            }
                        </select>
                        <span>&nbsp;&nbsp;bản ghi/trang.</span>
                    </div>
                    <ul class="pagination pagination-md justify-content-end mb-0">
                        <li class="page-item @(!Model.HasPreviousPage ? "disabled" : "")">
                            <a href="#" class="page-link onSetPageIndex" data-page="@(!Model.HasPreviousPage ? "" : (Model.PageIndex - 1).ToString())" data-page-size="@Model.PageSize" aria-label="Previous" data-form="#frmRole">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        @{
                            int distance = 1;
                            int min = Model.PageIndex - distance;
                            int max = Model.PageIndex + distance;
                            if (min == 0)
                            {
                                min = 1;
                                if (max < Model.TotalPages)
                                    max++;
                            }
                            if (max > Model.TotalPages)
                            {
                                max = Model.TotalPages;
                                if (min > 1)
                                    min--;
                            }
                        }
                        @for (int i = min; i <= max; i++)
                        {
                            <li class="page-item @(Model.PageIndex == i ? "active" : "")">
                                <a href="#" class="page-link onSetPageIndex" data-page="@i" data-page-size="@Model.PageSize" data-form="#frmRole">
                                    @i
                                    @if (Model.PageIndex == i)
                                    {
                                        <span class="sr-only">(current)</span>
                                    }
                                </a>
                            </li>
                        }
                        <li class="page-item @(!Model.HasNextPage ? "disabled" : "")">
                            <a href="#" class="page-link onSetPageIndex" data-page="@(!Model.HasNextPage ? "" : (Model.PageIndex + 1).ToString())" data-page-size="@Model.PageSize" data-form="#frmRole" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            }
        </div>
    </div>
</div>
