﻿@using DAS.Domain.Enums;
@using DAS.Utility;
@model DAS.Application.Models.ViewModels.VMRole

<div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
    <form role="form" class="modal-content validateForm bv-form" id="planDetailForm">
        <div class="modal-header d-flex align-items-center">
            <h5 class="modal-title font-weight-bold font-s-16 text-white" id="planCreateModalTitle">Chi tiết vai trò </h5>
            <span class="w-h-32 icon-exit-white ml-auto" data-dismiss="modal" aria-hidden="true"></span>
        </div>
        <div class="modal-body">
            <input asp-for="ID" type="hidden" class="form-control" />
            <div class="form-group row">
                <label class="col-sm-4 col-form-label input-required" asp-for="Name"></label>
                <div class="col-sm-8">
                    <input asp-for="Name" class="form-control" placeholder="Tên vai trò" readonly data-bv-field="Name" required />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" asp-for="Description"></label>
                <div class="col-sm-8">
                    <textarea asp-for="Description" readonly class="form-control" data-bv-notempty="false" placeholder="Mô tả" rows="5"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" asp-for="GroupPermissionName"></label>
                <div class="col-sm-8">
                    <input asp-for="GroupPermissionName" class="form-control" placeholder="Tên nhóm quyền" readonly />
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="/Role/EditPopup?id=@Model.ID" data-target="#planCreateModal" class="btn bg-color-primary d-flex align-items-center quickUpdate">
                <span class="text-white font-s-14">Chỉnh sửa</span>
            </a>
            <button type="button" class="btn bg-color-gray-6 d-flex align-items-center" data-dismiss="modal">
                <span class="font-s-14 text-color-body font-weight-500">Đóng</span>
            </button>
        </div>
    </form>
</div>

