﻿@using DAS.Utility;
@using DAS.Domain.Enums;
@using DAS.Utility.Helper;
@model DAS.Application.Models.ViewModels.VMCreateProfileTemplate
@{
    var agencies = (ViewBag.ListOrgan as List<SelectListItem>) ?? new List<SelectListItem>();
    //var storages = (ViewBag.ListStorage as List<SelectListItem>) ?? new List<SelectListItem>();
    var languages = (ViewBag.ListLanguage as List<SelectListItem>) ?? new List<SelectListItem>();
}

<div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
    <form id="planCreateForm" class="modal-content onUpdateInputState" role="form" asp-action="" autocomplete="off">
        <div class="modal-header bg-success">
            <h3 class="modal-title" id="planCreateModalTitle">Thêm mới phông</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <input asp-for="ID" type="hidden" class="form-control" />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label asp-for="IDOrgan" class="col-sm-4 col-form-label input-required"></label>
                        <div class="col-sm-8">
                            @Html.CusDropdownListSelect2("IDOrgan", "IDOrgan", "--Chọn cơ quan--", agencies, new
                            {
                                @class = "select2 w-100",
                                @data_placeholder = "--Chọn cơ quan--"
                            }, defaultVal: null, isReadonly: true)
                            <span asp-validation-for="IDOrgan" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="FondCode" class="col-sm-4 col-form-label input-required"></label>
                        <div class="col-sm-8">
                            <input asp-for="FondCode" class="form-control" placeholder="Mã phông" type="text" />
                            <span asp-validation-for="FondCode" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="FondName" class="col-sm-4 col-form-label input-required"></label>
                        <div class="col-sm-8">
                            <input asp-for="FondName" class="form-control" placeholder="Tên phông" type="text" />
                            <span asp-validation-for="FondName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="FondHistory" class="col-sm-4 col-form-label"></label>
                        <div class="col-sm-8">
                            <textarea asp-for="FondHistory" class="form-control" placeholder="Lịch sử hình thành phông"></textarea>
                            <span asp-validation-for="FondHistory" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="ArchivesTime" class="col-sm-4 col-form-label"></label>
                        <div class="col-sm-8">
                            <input asp-for="ArchivesTime" class="form-control" placeholder="Thời gian tài liệu" />
                            <span asp-validation-for="ArchivesTime" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="PaperTotal" class="col-sm-4 col-form-label"></label>
                        <div class="col-sm-8">
                            <input asp-for="PaperTotal" type="text" maxlength="10" class="form-control onlynumber" placeholder="Tổng số tài liệu giấy" />
                            <span asp-validation-for="PaperTotal" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="PaperDigital" class="col-sm-4 col-form-label"></label>
                        <div class="col-sm-8">
                            <input asp-for="PaperDigital" type="text" maxlength="10" class="form-control onlynumber" placeholder="Số lượng tài liệu giấy đã số hóa" />
                            <span asp-validation-for="PaperDigital" class="text-danger"></span>
                        </div>
                    </div>                    

                    <div class="form-group row">
                        <label asp-for="Description" class="col-sm-4 col-form-label"></label>
                        <div class="col-sm-8">
                            <textarea asp-for="Description" class="form-control" placeholder="Ghi chú"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <!--./col-->
                <!-- Col -->
                <div class="col-md-6">
                    <div class="form-group row">
                        <label asp-for="KeyGroups" class="col-sm-4 col-form-label"></label>
                        <div class="col-sm-8">
                            <input asp-for="KeyGroups" class="form-control" placeholder="Các nhóm tài liệu chủ yếu" />
                            <span asp-validation-for="KeyGroups" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="OtherTypes" class="col-sm-4 col-form-label"></label>
                        <div class="col-sm-8">
                            <textarea asp-for="OtherTypes" class="form-control" placeholder="Các loại hình tài liệu khác"></textarea>
                            <span asp-validation-for="OtherTypes" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="Language" class="col-sm-4 col-form-label"></label>
                        <div class="col-sm-8">
                            @Html.CusDropdownListSelect2("Language", "Language", "--Chọn ngôn ngữ--", languages, new
                            {
                                @class = "select2 w-100",
                                @data_placeholder = "--Chọn ngôn ngữ--"
                            })
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="LookupTools" class="col-sm-4 col-form-label"></label>
                        <div class="col-sm-8">
                            <input asp-for="LookupTools" class="form-control" placeholder="Công cụ tra cứu" />
                            <span asp-validation-for="LookupTools" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="CopyNumber" class="col-sm-4 col-form-label"></label>
                        <div class="col-sm-8">
                            <input asp-for="CopyNumber" type="text" maxlength="10" class="form-control onlynumber" placeholder="Số lượng trang tài liệu đã lập bản sao bảo hiểm" />
                            <span asp-validation-for="CopyNumber" class="text-danger"></span>
                        </div>
                    </div>

                    @*<div class="form-group row">
                        <label asp-for="IDStorage" class="col-sm-4 col-form-label"></label>
                        <div class="col-sm-8">
                            @Html.CusDropdownListSelect2("IDStorage", "IDStorage", "--Chọn kho--", storages, new
                            {
                                @class = "select2 w-100",
                                @data_placeholder = "--Chọn kho--"
                            }, defaultVal: null)
                            <span asp-validation-for="IDStorage" class="text-danger"></span>
                        </div>
                    </div>*@

                    <div class="form-group row">
                        <label asp-for="Type" class="col-sm-4 col-form-label input-required"></label>
                        <div class="col-sm-8">
                            <div class="input-group col-form-label justify-content-between align-content-center">
                                <div class="custom-control custom-radio form-check-inline">
                                    <input asp-for="Type" class="custom-control-input" type="radio" id="Open" value="@((int)EnumProfileTemplate.Type.Open)" name="Type" checked required />
                                    <label for="Open" class="custom-control-label">@StringUltils.GetEnumDescription(EnumProfileTemplate.Type.Open)</label>
                                </div>
                                <div class="custom-control custom-radio form-check-inline">
                                    <input asp-for="Type" class="custom-control-input" type="radio" id="Close" value="@((int)EnumProfileTemplate.Type.Close)" name="Type" required />
                                    <label for="Close" class="custom-control-label">@StringUltils.GetEnumDescription(EnumProfileTemplate.Type.Close)</label>
                                </div>
                            </div>
                            <span asp-validation-for="Type" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <!--./col-->
            </div>
            <!--./row-->
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
                <i class="fas fa-fw fa-times"></i><span>Đóng</span>
            </button>
            <button data-url="/ProfileTemplate/Create" class="btn btn-outline-primary quickSubmit"> <i class="fas fa-fw fa-save"></i><span>Lưu</span></button>

        </div>
    </form>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        ProfileTemplatesConfig.OpenPopup();
    });
</script>
