﻿@using DAS.Application.Models.ViewModels;
@using DAS.Utility;
@using DAS.Domain.Enums;
@using DAS.Utility.Helper;
@model DAS.Application.Models.ViewModels.PaginatedList<ProfileTemplateExportExcel>
@{
    ViewData["Title"] = "Quản lý phông";
    ViewData["PageHeaderContent"] = "Phông";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    //List<SelectListItem> storages = ViewBag.ListStorage == null ? new List<SelectListItem>() : (List<SelectListItem>)ViewBag.ListStorage;
    List<SelectListItem> types = ViewBag.ListType == null ? new List<SelectListItem>() : (List<SelectListItem>)ViewBag.ListType;
}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Danh sách phông lưu trữ</h3>
            </div>
            <div class="card-body">
                <form method="post" data-target="#ContentAreaTable" id="frmProfileTemplate" asp-action="SearchByCondition" class="quickSearch">
                    <div class="row">
                        <div class="col-3">
                            <input type="text" class="form-control" placeholder="Nhập tên mã/tên phông" title="Nhập tên mã/tên phông" id="Keyword" name="Keyword" value="@ViewBag.Keyword" />
                        </div>
                        @*<div class="col-3">
                            <div class="form-group">
                                @Html.CusDropdownListSelect2("cbbStorage", "cbbStorage", "--Chọn kho--", storages, new
                                {
                                    @class = "select2 w-100",
                                    @data_placeholder = "--Chọn kho--"
                                }, defaultVal: "-1")
                            </div>
                        </div>*@
                        <div class="col-3">
                            <div class="form-group">
                                @Html.CusDropdownListSelect2("Type", "Type", "--Chọn loại phông--", types, new
                                {
                                    @class = "select2 w-100",
                                    @data_placeholder = "--Chọn loại phông--"
                                }, defaultVal: "-1")
                            </div>
                        </div>
                        <div class="col-3">
                            <button type="submit" class="btn btn-default"><i class="fa fa-fw fa-search"></i><span>Tìm kiếm</span></button>
                        </div>
                    </div>
                </form>
                <div id="data_table_wrapper" class="dataTables_wrapper">
                    <div class="table-control">
                        <div class="row">
                            <div class="col-md-3 col-sm-12 text-left mb-2 mb-md-0"></div>
                            <div class="col-md-9 col-sm-12 text-md-right">
                                <span class="actMultiTicks hidden">
                                    <a class="btn btn-danger quickDeletes" data-url="/ProfileTemplate/DeleteMulti" tabindex="0" data-name="{n} phông">
                                        <span><i class="fas fa-trash-alt mr-2"></i>Xoá</span>
                                    </a>
                                </span>
                                <a class="btn btn-success quickUpdate" tabindex="0" href="/ProfileTemplate/CreatePopup" data-target="#planCreateModal" aria-controls="data_table">
                                    <i class="fas fa-fw fa-plus"></i><span>Thêm mới</span>
                                </a>
                                <a class="btn btn-primary quickExport" tabindex="0" href="#" action="/ProfileTemplate/Export" data-target="#frmProfileTemplate" aria-controls="data_table">
                                    <i class="fas fa-fw fa-file-export"></i><span>Xuất file</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="ContentAreaTable">
                        @await Html.PartialAsync("_IndexProfileTemplate", Model)
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal fade popup-modal" id="planCreateModal"  role="dialog" aria-labelledby="planCreateModalTitle" aria-hidden="true"></div>
<script src="~/js/controller/ProfileTemplatesController.js" asp-append-version="true"></script>