﻿@model DAS.Application.Models.ViewModels.VMPosition
@using  DAS.Utility.Helper
@{
    ViewData["PageHeaderContent"] = "Position";
    Layout = "";
    var url = Model.ID > 0 ? "/Position/Edit" : "/Position/Create";
    var positions = (ViewBag.Positions as List<SelectListItem>) ?? new List<SelectListItem>();
}

<div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
    <div class="modal-content">
        <form role="form" asp-action="" class="validateForm bv-form onUpdateInputState" id="frmGroupPermUpdate">
            <div class="modal-header d-flex align-items-center">
                <h5 class="modal-title font-weight-bold font-s-16 text-white" id="planCreateModalTitle">Chi tiết chức vụ </h5>
                <span class="w-h-32 icon-exit-white ml-auto" data-dismiss="modal" aria-hidden="true"></span>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" asp-for="Parent"></label>
                    <div class="col-sm-8">
                        @Html.CusDropdownListSelect2("Parent", "Parent", "--Chọn cấp trên--", positions, new { @disabled = true }, defaultVal: "0")
                        <span asp-validation-for="Parent" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" asp-for="Code"></label>
                    <div class="col-sm-8">
                        <input asp-for="Code" placeholder="Tên chức vụ" readonly class="form-control" data-bv-notempty-message="Mã chức vụ không được trống" data-bv-notempty="true" data-bv-field="Username" />
                        <span asp-validation-for="Code" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" asp-for="Name"></label>
                    <div class="col-sm-8">
                        <input asp-for="Name" placeholder="Mã chức vụ" readonly class="form-control" data-bv-notempty-message="Tên chức vụ không được trống" data-bv-notempty="true" data-bv-field="Username" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" asp-for="Description"></label>
                    <div class="col-sm-8">
                        <textarea asp-for="Description" readonly class="form-control" rows="5" placeholder="Mô tả">@Model.Description</textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="/Position/Edit?id=@Model.ID" data-target="#mdUpdatePosition" class="btn bg-color-primary d-flex align-items-center quickUpdate">
                    <span class="text-white font-s-14">Chỉnh sửa</span>
                </a>
                <button type="button" class="btn bg-color-gray-6 d-flex align-items-center" data-dismiss="modal">
                    <span class="font-s-14 text-color-body font-weight-500">Đóng</span>
                </button>
            </div>
        </form>
    </div>
</div>

