﻿@using DAS.Utility.CustomClass
@using DAS.Utility.Helper
@model DAS.Application.Models.ViewModels.VMPosition
@{
    ViewData["PageHeaderContent"] = "Position";
    Layout = "";
    var text = Model.ID > 0 ? "Chỉnh sửa" : "Thêm mới";
    var url = Model.ID > 0 ? "/Position/Edit" : "/Position/Create";
    var positions = (ViewBag.Positions as List<SelectListItemTree>) ?? new List<SelectListItemTree>();
}
<div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
    <div class="modal-content">
        <form role="form" asp-action="" class="onUpdateInputState bv-form" id="frmGroupPermUpdate">
            <div class="modal-header d-flex align-items-center">
                <h5 class="modal-title font-weight-bold font-s-16 text-white" id="planCreateModalTitle">@text chức vụ </h5>
                <span class="w-h-32 icon-exit-white ml-auto" data-dismiss="modal" aria-hidden="true"></span>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" asp-for="Parent"></label>
                    <div class="col-sm-8">
                        @Html.CusDropdownListSelect2("Parent", "Parent", "--Chọn cấp trên--", positions, new { @class = "select2 w-100", @data_placeholder = "--Chọn cấp trên--" })
                        <span asp-validation-for="Parent" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label input-required" asp-for="Code"></label>
                    <div class="col-sm-8">
                        <input asp-for="Code" class="form-control" />
                        <span asp-validation-for="Code" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label input-required" asp-for="Name"></label>
                    <div class="col-sm-8">
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" asp-for="Description"></label>
                    <div class="col-sm-8">
                        <textarea asp-for="Description" class="form-control" rows="5" placeholder="Mô tả">@Model.Description</textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="hidden" asp-for="ID" />
                <button data-url="@url" class="btn bg-color-primary d-flex align-items-center quickSubmit">
                    <span class="text-white font-s-14">Lưu</span>
                </button>
                <button type="button" class="btn bg-color-gray-6 d-flex align-items-center" data-dismiss="modal">
                    <span class="font-s-14 text-color-body font-weight-500">Đóng</span>
                </button>

            </div>
        </form>
    </div>
</div>

