﻿@using DAS.Application.Enums;
@using DAS.Domain.Enums;
@using DAS.Utility;
@using DAS.Utility.Helper;
@using DAS.Application.Models.ViewModels;
@using DAS.Infrastructure.ContextAccessors;
@model VMIndexDocCatalogingProfile
@{
    var profile = Model.VMUpdateCatalogingProfile ?? new VMUpdateCatalogingProfile();
    int stt = 0;
}
<td colspan="7">
    <div class="jumbotron mb-0" style="">
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <div class="row mb-2">
                    <span class="col-4 text-right">Mã hồ sơ:</span>
                    <span class="col-8 text-bold">@profile.FileCode</span>
                </div>
                <div class="row mb-2">
                    <span class="col-4 text-right">
                        Mã cơ quan lưu trữ lịch sử:
                    </span>
                    <span class="col-8 text-bold">@profile.Identifier</span>
                </div>
                <div class="row mb-2">
                    <span class="col-4 text-right">Phông:</span>
                    <div class="col-8 text-bold">@profile.DictProfileTemplate.GetValueOrDefault(profile.IDProfileTemplate ?? 0)</div>
                </div>
                <div class="row mb-2">
                    <span class="col-4 text-right">Mục lục hoặc năm hình thành hồ sơ:</span>
                    <span class="col-8 text-bold">@profile.FileCatalog</span>
                </div>
                <div class="row mb-2">
                    <span class="col-4 text-right">Số và ký hiệu hồ sơ:</span>
                    <span class="col-8 text-bold">@profile.FileNotation</span>
                </div>
                <div class="row mb-2">
                    <span class="col-4 text-right">Tiêu đề hồ sơ:</span>
                    <span class="col-8 text-bold mb-0">@profile.Title</span>
                </div>
                <div class="row mb-2">
                    <span class="col-4 text-right">Thời hạn bảo quản:</span>
                    <span class="col-8 text-bold">@profile.DictExpiryDate.GetValueOrDefault(profile.IDExpiryDate ?? 0)</span>
                </div>
                <div class="row mb-2">
                    <span class="col-4 text-right">Chế độ sử dụng:</span>
                    <span class="col-8 text-bold">@profile.Rights</span>
                </div>
                <div class="row mb-2">
                    <span class="col-4 text-right">Ngôn ngữ:</span>
                    <div class="col-8 text-bold">@profile.Language</div>
                </div>
                <div class="row mb-2">
                    <span class="col-4 text-right">Phân loại hồ sơ:</span>
                    <div class="col-8 text-bold">@profile.DictProfileCategory.GetValueOrDefault(profile.IDProfileCategory ?? 0)</div>
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="row mb-2">
                    <span class="col-4 text-right">Đơn vị nộp lưu:</span>
                    <span class="col-8 text-bold">@profile.DictAgencies.GetValueOrDefault(profile.IDAgency)</span>
                </div>
                <div class="row mb-2">
                    <span class="col-4 text-right">Thời gian bắt đầu:</span>
                    <span class="col-8 text-bold">@profile.StartDate</span>
                </div>
                <div class="row mb-2">
                    <span class="col-4 text-right">Thời gian kết thúc:</span>
                    <span class="col-8 text-bold mb-0">@profile.EndDate</span>
                </div>
                <div class="row mb-2">
                    <span class="col-4 text-right">Tổng số văn bản trong hồ sơ:</span>
                    <span class="col-8 text-bold">@profile.TotalDoc</span>
                </div>
                <div class="row mb-2">
                    <span class="col-4 text-right">Ký hiệu thông tin:</span>
                    <span class="col-8 text-bold">@profile.InforSign</span>
                </div>
                <div class="row mb-2">
                    <span class="col-4 text-right">Từ khóa:</span>
                    <div class="col-8 text-bold">@profile.Keyword</div>
                </div>
                <div class="row mb-2">
                    <span class="col-4 text-right">Số lượng tờ/Số lượng trang:</span>
                    <span class="col-8 text-bold">@profile.Maintenance / @profile.PageNumber</span>
                </div>
                <div class="row mb-2">
                    <span class="col-4 text-right">Tình trạng vật lý:</span>
                    <span class="col-8 text-bold">@profile.Format</span>
                </div>
                <div class="row mb-2">
                    <span class="col-4 text-right">Chú giải:</span>
                    <span class="col-8 text-bold mb-0">@profile.Description</span>
                </div>
                <div class="row mb-2">
                    <span class="col-4 text-right">Vị trí:</span>
                    <div class="col-8 text-bold">@profile.DictCates.GetValueOrDefault(profile.IDStorage ?? 0)/ @profile.DictCates.GetValueOrDefault(profile.IDShelve ?? 0)/ @profile.DictCates.GetValueOrDefault(profile.IDBox ?? 0)</div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-striped m-0 w-100 bg-white">
                <thead>
                    <tr>
                        <th class="text-center col-min">STT</th>
                        <th>Số, ký hiệu văn bản</th>
                        <th>Ngày tháng năm văn bản</th>
                        <th>Tên loại và trích yếu nội dung văn bản</th>
                        <th>Tác giả văn bản</th>
                        <th>Số tờ/ Số trang</th>
                        <th>Ghi chú</th>
                        <th>Trạng thái</th>
                        <th class="col-min" data-column-id="commands" data-formatter="commands" data-sortable="false">Thao tác</th>
                    </tr>
                </thead>
                @if (Model.vMPlanDocs != null && Model.vMPlanDocs.Count > 0)
                {
                    <tbody>
                        @foreach (var doc in Model.vMPlanDocs)
                        {
                            stt++;
                            <tr>
                                <td class="text-center">@stt</td>
                                @switch (doc.VMDocType.Type)
                                {
                                    case (int)EnumDocType.Type.Doc:
                                        <td><a title="Sửa" href="/Storage/DocView?id=@doc.ID">@doc.dictCodeValue["DocCode"]</a></td>
                                        <td>@doc.dictCodeValue["IssuedDate"]</td>
                                        <td>@doc.dictCodeValue["TypeName"]<br />@doc.dictCodeValue["Subject"]</td>
                                        <td>@doc.dictCodeValue["OrganName"]</td>
                                        <td>@doc.dictCodeValue["DocOrdinal"] / @doc.dictCodeValue["PageAmount"]</td>
                                        <td>@doc.dictCodeValue["Description"]</td>
                                        break;
                                    case (int)EnumDocType.Type.Photo:
                                        <td><a title="Sửa" href="/Storage/DocView?id=@doc.ID">@doc.dictCodeValue["Identifier"]</a></td>
                                        <td>
                                            @doc.dictCodeValue["PhotoTime"]
                                        </td>
                                        <td></td>
                                        <td>@doc.dictCodeValue["Photographer"]</td>
                                        <td></td>
                                        <td>@doc.dictCodeValue["Description"]</td>
                                        break;
                                    case (int)EnumDocType.Type.Video:
                                        <td><a title="Sửa" href="/Storage/DocView?id=@doc.ID">@doc.dictCodeValue["Identifier"]</a></td>
                                        <td>@doc.dictCodeValue["RecordDate"]</td>
                                        <td></td>
                                        <td>@doc.dictCodeValue["Recorder"]</td>
                                        <td></td>
                                        <td>@doc.dictCodeValue["Description"]</td>

                                        break;
                                    default:
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        break;
                                }
                                <td>
                                    @if (doc.Status == (int)EnumDocCollect.Status.Active)
                                    {
                                        <span class="badge badge-btn badge-warning">@StringUltils.GetEnumDescription(EnumDocCollect.Status.Active)</span>
                                    }
                                    else if (doc.Status == (int)EnumDocCollect.Status.Complete)
                                    {
                                        <span class="badge badge-btn badge-info">@StringUltils.GetEnumDescription(EnumDocCollect.Status.Complete)</span>
                                    }
                                </td>
                                <td>
                                    <a title="Xem chi tiết" class="btn btn-sm btn-outline-secondary btn-hover-success" href="/Storage/DocView?id=@doc.ID"
                                       data-toggle="tooltip" data-original-title="Xem chi tiết">
                                        <i class="fas fa-fw fa-info"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                }
            </table>
        </div>
    </div>
</td>
