﻿@using DAS.Utility;
@using DAS.Application.Models.ViewModels;
@model VMIndexProfileAndDoc;
@{
    ViewData["PageHeaderContent"] = "Storage";
    int stt = Model == null || Model.VMPlanDoc == null ? 0 : Model.VMPlanDoc.PageSize * (Model.VMPlanDoc.PageIndex - 1);
    var pageSizes = new[] { 10, 20, 30, 50, 100 };
}
<div class="table-responsive">
    <table class="table table-bordered table-striped data_table" role="grid">
        <thead>
            <tr>
                <th scope="col" class="text-center col-min">STT</th>
                <th class="col-min">Mã hồ sơ</th>
                <th>Tiêu đề hồ sơ</th>
                <th>Kho/ Giá/ Hộp</th>
                <th>Phông</th>
                <th>Tên loại tài liệu</th>
                <th>Trích yếu nội dung</th>
                <th class="col-min" data-column-id="commands" data-formatter="commands" data-sortable="false">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.VMPlanDoc != null && Model.VMPlanDoc.Count > 0)
            {
                @foreach (var item in Model.VMPlanDoc)
                {
                    stt++;
                    var countDoc = Model.TotalDocs.GetValueOrDefault(item.IDProfile);
                    <tr data-id="@item.IDProfile" data-url="/Storage/DocQuickDetailIndex?IDProfile=@item.IDProfile" data-colspan="10" class="quickShowDetail" aria-expanded="false" data-widget="expandable-table">
                        <td class="text-center">@stt</td>
                        <td>
                            @item.FileCode
                        </td>
                        <td>
                            <a href="/Storage/DocDetailIndex?IDProfile=@item.IDProfile">@item.Title</a>
                            @if (countDoc > 0)
                            {
                                <sup class="badge badge-info">@countDoc</sup>
                            }
                            <i class="text-success right fas fa-angle-right"></i>
                        </td>
                        @if (string.IsNullOrEmpty(item.BoxName))
                        {
                            <td></td>
                        }
                        else
                        {
                            <td>@item.StorageName/ @item.ShelveName/ @item.BoxName</td>
                        }
                        <td>@item.ProfileTemplateName</td>
                        @if (item.VMDocType != null && item.VMDocType.Type == 1)
                        {
                            <td>
                                <a title="Xem chi tiết" href="/Storage/DocView?id=@item.ID">
                                    @item.dictCodeValue["TypeName"]
                                </a>
                                @if (item.IDFile > 0)
                                {
                                    <i class="fas fa-fw fa-paperclip"></i>
                                }
                            </td>
                            <td>@item.dictCodeValue["Subject"]</td>
                        }
                        else
                        {
                            <td></td>
                            <td></td>
                        }
                        <td class="text-center">
                            <a title="Xem chi tiết" class="btn btn-sm btn-outline-secondary btn-hover-success" href="/Storage/DocDetailIndex?IDProfile=@item.IDProfile" data-toggle="tooltip">
                                <i class="fas fa-fw fa-info"></i>
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
@if (Model != null && Model.VMPlanDoc != null && Model.VMPlanDoc.Count > 0)
{
    <div class="card-footer">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                @if (Model.VMPlanDoc.TotalFilter == 0)
                {
                    <span>@DAS.Application.Constants.MessageConst.MSG_NOT_FOUND</span>
                }
                else
                {
                    <span>Có tổng cộng <span class="text-red">@Model.VMPlanDoc.TotalFilter</span> bản ghi</span>
                }
            </div>
            <div class="col-sm-12 col-md-8">
                @if (Model.VMPlanDoc.TotalFilter > Model.VMPlanDoc.PageSize)
                {
                    <nav class="d-flex justify-content-end" aria-label="Pagination">
                        <div class="form-group row align-items-center mr-4">
                            <span>Hiển thị:&nbsp;&nbsp;</span>
                            <select id="drdPageSize" class="select2 onChangePageSize" data-form="#frmCollectionManagement">
                                @foreach (var pageSize in pageSizes)
                                {
                                    if (pageSize == Model.VMPlanDoc.PageSize)
                                    {
                                        <option value="@pageSize" selected>@pageSize</option>
                                    }
                                    else
                                    {
                                        <option value="@pageSize">@pageSize</option>
                                    }
                                }
                            </select>
                            <span>&nbsp;&nbsp;bản ghi/trang.</span>
                        </div>
                        <ul class="pagination pagination-md justify-content-end mb-0">
                            <li class="page-item @(!Model.VMPlanDoc.HasPreviousPage ? "disabled" : "")">
                                <a href="#" class="page-link onSetPageIndex"
                                   data-page="@(!Model.VMPlanDoc.HasPreviousPage ? "" : (Model.VMPlanDoc.PageIndex - 1).ToString())"
                                   data-page-size="@Model.VMPlanDoc.PageSize" aria-label="Previous"
                                   data-form="#frmCollectionManagement">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            @{
                                int distance = 1;
                                int min = Model.VMPlanDoc.PageIndex - distance;
                                int max = Model.VMPlanDoc.PageIndex + distance;
                                if (min == 0)
                                {
                                    min = 1;
                                    if (max < Model.VMPlanDoc.TotalPages) { max++; }
                                }
                                if (max > Model.VMPlanDoc.TotalPages)
                                {
                                    max = Model.VMPlanDoc.TotalPages;
                                    if (min > 1) { min--; }
                                }
                            }
                            @for (int i = min; i <= max; i++)
                            {
                                <li class="page-item @(Model.VMPlanDoc.PageIndex == i ? "active" : "")">
                                    <a href="#" class="page-link onSetPageIndex" data-page="@i" data-page-size="@Model.VMPlanDoc.PageSize"
                                       data-form="#frmCollectionManagement">
                                        @i
                                        @if (Model.VMPlanDoc.PageIndex == i)
                                        {
                                            <span class="sr-only">(current)</span>
                                        }
                                    </a>
                                </li>
                            }
                            <li class="page-item @(!Model.VMPlanDoc.HasNextPage ? "disabled" : "")">
                                <a href="#" class="page-link onSetPageIndex"
                                   data-page="@(!Model.VMPlanDoc.HasNextPage ? "" : (Model.VMPlanDoc.PageIndex + 1).ToString())"
                                   data-page-size="@Model.VMPlanDoc.PageSize" data-form="#frmCollectionManagement"
                                   aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                }
            </div>
        </div>
    </div>
}