﻿@using DAS.Application.Enums
@using DAS.Utility;
@using DAS.Utility.Helper;
@using DAS.Application.Models.ViewModels
@using DAS.Infrastructure.ContextAccessors
@model DAS.Application.Models.ViewModels.VMSearchProfileDoc;
@{
    var isDocType = Model.VMDocType.Type == (int)EnumDocType.Type.Doc;
    List<string> listCantEdit = new List<string> { "FileCode", "Identifier", "Organld", "FileCatalog", "FileNotation", "OrganName" };
}
@foreach (var field in Model.VMDocTypeFields)
{
    var data = Model.VMDocFields.FirstOrNewObj(n => n.IDDocTypeField == field.ID);
    var fieldName = "Field" + field.ID;
    <div class="form-group row">
        <label class="col-sm-5 col-form-label text-truncate @(field.IsRequire >0?"input-required":string.Empty)" title="">@field.Name</label>
        <div class="col-sm-7">
            @switch (field.InputType)
            {
                case (int)EnumDocType.InputType.CategoryType:
                case (int)EnumDocType.InputType.Agency:
                case (int)EnumDocType.InputType.ProfileList:
                case (int)EnumDocType.InputType.ProfileTemplate:
                    var codeType = string.Empty;
                    if (field.InputType == (int)EnumDocType.InputType.CategoryType)
                    {
                        codeType = Model.VMDocTypes.FirstOrNewObj(n => n.ID == field.IDCategoryTypeRelated).Code;
                    }
                    if (field.InputType == (int)EnumDocType.InputType.ProfileTemplate)
                    {
                        codeType = EnumCategoryType.Code.DM_Phong.ToString();
                    }
                    else if (field.InputType == (int)EnumDocType.InputType.ProfileList)
                    {
                        codeType = EnumCategoryType.Code.DM_MucLuc.ToString();
                    }
                    @Html.CusDropdownListSelect2("mySelect" + field.ID, fieldName, "--" + field.Name + "--", (int.TryParse(data.Value, out int bien) ? bien > 0 : false) ? new List<SelectListItem> { new SelectListItem { Text = data.Value, Value = data.Value, Selected = true @*Chỉ trả về 1 item đc chọn*@} } : null, new
                    {
                    @class = "form-control select2 onLoadCate onAutoUpdateChildData",
                    @data_code_type = codeType,
                    @data_categorytype_id = field.IDCategoryTypeRelated,
                    @data_selected_id = data.Value,
                    @data_default_text = "--" + field.Name + "--",
                    @data_default_value = "",
                    @data_input_type = field.InputType,
                    @data_source_url = "/Category/GetOptions",
                    @data_placeholder = "--Chọn " + field.Name.ToLower() + "--",
                    @disabled = true,
                    data_code = field.Code
                    }, field.Name, field.IsRequire > 0, false, false, "")
                    break;
                case (int)EnumDocType.InputType.InpTextArea:
                    @Html.CusTextArea("", fieldName, data.Value, field.Name, field.Name, field.IsRequire > 0, new { data_code = field.Code }, 5, 5, true, field.Minlenght, field.Maxlenght)
                    break;
                case (int)EnumDocType.InputType.InpDate:
                    <div class="input-group" data-format="@field.Format" id="search_create-date@(field.ID)" data-target-input="nearest">
                        <div class="input-group-prepend" data-target="#search_create-date@(field.ID)" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                        </div>
                        @Html.CusTextBoxDate("", fieldName, data.Value, field.Name, field.Name, field.IsRequire > 0, new
                        {
                            data_target = "#search_create-date" + field.ID,
                            data_toggle = "datetimepicker",
                            data_code = field.Code
                        }, 0, true)
                    </div>
                    break;
                case (int)EnumDocType.InputType.InpNumber:
                    @Html.CustTexBoxNumber("", fieldName, data.Value, field.Name, field.Name, field.IsRequire > 0, new { data_code = field.Code }, true, field.Minlenght, field.Maxlenght, field.MinValue, field.MaxValue)
                    break;
                case (int)EnumDocType.InputType.InpFloat:
                    @Html.CustTexBoxFloat("", fieldName, data.Value, field.Name, field.Name, field.IsRequire > 0, new { data_code = field.Code }, true, ".", field.Minlenght, field.Maxlenght, field.MinValue, field.MaxValue)
                    break;
                case (int)EnumDocType.InputType.InpMoney:
                    @Html.CusTextBoxMoney("", fieldName, data.Value, field.Name, field.Name, field.IsRequire > 0, new { data_code = field.Code }, true, field.Minlenght, field.Maxlenght, field.MinValue, field.MaxValue)
                    break;
                default:
                    @Html.CustTexBox("", fieldName, data.Value, field.Name, field.Name, field.IsRequire > 0, new { data_code = field.Code }, true, field.Minlenght, field.Maxlenght, field.MinValue, field.MaxValue)
                    break;
            }
        </div>
    </div>
}