﻿@using DAS.Application.Enums
@using DAS.Utility;
@using DAS.Utility.Helper;
@using DAS.Application.Models.ViewModels;
@using DAS.Infrastructure.ContextAccessors;
@inject IUserPrincipalService _userPrincipalService
@model VMIndexDocCatalogingProfile;
@{
    ViewData["Title"] = "Chi tiết hồ sơ";
    ViewData["PageHeaderContent"] = "Doc Detail Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var profile = Model.VMUpdateCatalogingProfile ?? new VMUpdateCatalogingProfile();
    var breadcrum = new Dictionary<string, string>();
    breadcrum.Add("/Storage/IndexSearchProfile", "Tra cứu hồ sơ");
    if (profile.ID > 0)
        breadcrum.Add("#", profile.Title);
    ViewData["Breadcrumb"] = breadcrum;
    var backUrl = "/Storage/IndexSearchProfile";
}
<div class="row">
    <div class="col">
        <div class="card card-success card-outline">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-info-circle"></i>
                    <span>Chi tiết hồ sơ</span>
                </h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 col-lg-6">
                        <div class="row mb-2">
                            <span class="col-4 text-right">Mã hồ sơ:</span>
                            <span class="col-8 text-bold">@profile.FileCode</span>
                        </div>
                        <div class="row mb-2">
                            <span class="col-4 text-right">
                                Mã cơ quan lưu trữ lịch sử:
                            </span>
                            <span class="col-8 text-bold">@profile.Identifier</span>
                        </div>
                        <div class="row mb-2">
                            <span class="col-4 text-right">Phông:</span>
                            <div class="col-8 text-bold">@profile.DictProfileTemplate.GetValueOrDefault(profile.IDProfileTemplate ?? 0)</div>
                        </div>
                        <div class="row mb-2">
                            <span class="col-4 text-right">Mục lục hoặc năm hình thành hồ sơ:</span>
                            <span class="col-8 text-bold">@profile.FileCatalog</span>
                        </div>
                        <div class="row mb-2">
                            <span class="col-4 text-right">Số và ký hiệu hồ sơ:</span>
                            <span class="col-8 text-bold">@profile.FileNotation</span>
                        </div>
                        <div class="row mb-2">
                            <span class="col-4 text-right">Tiêu đề hồ sơ:</span>
                            <span class="col-8 text-bold mb-0">@profile.Title</span>
                        </div>
                        <div class="row mb-2">
                            <span class="col-4 text-right">Thời hạn bảo quản:</span>
                            <span class="col-8 text-bold">@profile.DictExpiryDate.GetValueOrDefault(profile.IDExpiryDate ?? 0)</span>
                        </div>
                        <div class="row mb-2">
                            <span class="col-4 text-right">Chế độ sử dụng:</span>
                            <span class="col-8 text-bold">@profile.Rights</span>
                        </div>
                        <div class="row mb-2">
                            <span class="col-4 text-right">Ngôn ngữ:</span>
                            <div class="col-8 text-bold">@profile.Language</div>
                        </div>
                        <div class="row mb-2">
                            <span class="col-4 text-right">Phân loại hồ sơ:</span>
                            <div class="col-8 text-bold">@profile.DictProfileCategory.GetValueOrDefault(profile.IDProfileCategory ?? 0)</div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <div class="row mb-2">
                            <span class="col-4 text-right">Đơn vị nộp lưu:</span>
                            <span class="col-8 text-bold">@profile.DictAgencies.GetValueOrDefault(profile.IDAgency)</span>
                        </div>
                        <div class="row mb-2">
                            <span class="col-4 text-right">Thời gian bắt đầu:</span>
                            <span class="col-8 text-bold">@profile.StartDate</span>
                        </div>
                        <div class="row mb-2">
                            <span class="col-4 text-right">Thời gian kết thúc:</span>
                            <span class="col-8 text-bold mb-0">@profile.EndDate</span>
                        </div>
                        <div class="row mb-2">
                            <span class="col-4 text-right">Tổng số văn bản trong hồ sơ:</span>
                            <span class="col-8 text-bold">@profile.TotalDoc</span>
                        </div>
                        <div class="row mb-2">
                            <span class="col-4 text-right">Ký hiệu thông tin:</span>
                            <span class="col-8 text-bold">@profile.InforSign</span>
                        </div>
                        <div class="row mb-2">
                            <span class="col-4 text-right">Từ khóa:</span>
                            <div class="col-8 text-bold">@profile.Keyword</div>
                        </div>
                        <div class="row mb-2">
                            <span class="col-4 text-right">Số lượng tờ/Số lượng trang:</span>
                            <span class="col-8 text-bold">@profile.Maintenance / @profile.PageNumber</span>
                        </div>
                        <div class="row mb-2">
                            <span class="col-4 text-right">Tình trạng vật lý:</span>
                            <span class="col-8 text-bold">@profile.Format</span>
                        </div>
                        <div class="row mb-2">
                            <span class="col-4 text-right">Chú giải:</span>
                            <span class="col-8 text-bold mb-0">@profile.Description</span>
                        </div>
                        <div class="row mb-2">
                            <span class="col-4 text-right">Vị trí:</span>
                            <div class="col-8 text-bold">@profile.DictCates.GetValueOrDefault(profile.IDStorage ?? 0)/ @profile.DictCates.GetValueOrDefault(profile.IDShelve ?? 0)/ @profile.DictCates.GetValueOrDefault(profile.IDBox ?? 0)</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <a class="btn btn-secondary" href="@backUrl">
                            <i class="fas fa-angle-left"></i>
                            <span>Quay lại</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Danh sách thành phần hồ sơ</h3>
            </div>
            <div class="card-body">
                <form asp-action="DocListSearch" id="frmPlanDoc" role="form" method="post" class="quickSearch" data-target="#divPlanDocs">
                    <div class="row form-group">
                        <div class="col-4">
                            <input type="text" class="form-control" placeholder="Nhập số, ký hiệu, trích yếu" name="Keyword" value="@Model.SearchProfileCondition.Keyword" />
                        </div>
                        <div class="col-4">
                            <input type="hidden" name="IDProfile" value="@Model.SearchProfileCondition.IDProfile" />
                            <button type="submit" class="btn btn-primary"><i class="fa fa-fw fa-search"></i>Tìm kiếm</button>
                        </div>
                    </div>
                </form>
                <div id="data_table_wrapper" class="dataTables_wrapper">
                    <div class="table-control">
                        <div class="row">
                            <div class="col-sm-12 text-right">
                                <a class="btn btn-primary quickExport" tabindex="0" href="#" action="/Storage/ExportDocs" data-target="#frmPlanDoc" aria-controls="data_table">
                                    <i class="fas fa-fw fa-file-export"></i><span>Xuất file</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="divPlanDocs" class="table-responsive">
                        @await Html.PartialAsync("DocDetailIndex_Docs")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade popup-modal" id="planCreateModal" tabindex="-1" role="dialog" aria-labelledby="planCreateModalTitle" aria-hidden="true"></div>
