﻿@using DAS.Application.Enums
@using DAS.Utility;
@using DAS.Utility.Helper;
@using DAS.Application.Models.ViewModels
@using DAS.Infrastructure.ContextAccessors
@inject IUserPrincipalService _userPrincipalService
@model VMIndexDocCatalogingProfile;
@{
    var pageSizes = new[] { 10, 20, 30, 50, 100 };
    int stt = Model == null || Model.vMPlanDocs == null ? 0 : Model.vMPlanDocs.PageSize * (Model.vMPlanDocs.PageIndex - 1);
}
<table id="data_table" class="table table-bordered table-striped data_table" role="grid">
    <thead>
        <tr>
            <th class="text-center col-min">STT</th>
            <th>Số, ký hiệu văn bản</th>
            <th>Ngày tháng năm văn bản</th>
            <th>Tên loại và trích yếu nội dung văn bản</th>
            <th>Tác giả văn bản</th>
            <th>Số tờ/ Số trang</th>
            <th>Ghi chú</th>
            <th>Trạng thái</th>
            <th class="col-min" data-column-id="commands" data-formatter="commands" data-sortable="false">Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var doc in Model.vMPlanDocs)
        {
            stt++;
            <tr>
                <td class="text-center">@stt</td>
                @switch (doc.VMDocType.Type)
                {
                    case (int)EnumDocType.Type.Doc:
                        <td>
                            <a title="Sửa" href="/Storage/DocView?id=@doc.ID">@doc.dictCodeValue["DocCode"]</a>
                            @if (doc.IDFile > 0)
                            {
                                <i class="fas fa-fw fa-paperclip"></i>
                            }
                        </td>
                        <td>@doc.dictCodeValue["IssuedDate"]</td>
                        <td>@doc.dictCodeValue["TypeName"]<br />@doc.dictCodeValue["Subject"]</td>
                        <td>@doc.dictCodeValue["OrganName"]</td>
                        <td>@doc.dictCodeValue["DocOrdinal"] / @doc.dictCodeValue["PageAmount"]</td>
                        <td>@doc.dictCodeValue["Description"]</td>
                        break;
                    case (int)EnumDocType.Type.Photo:
                        <td>
                            <a title="Sửa" href="/Storage/DocView?id=@doc.ID">@doc.dictCodeValue["Identifier"]</a>
                            @if (doc.IDFile > 0)
                            {
                                <i class="fas fa-fw fa-paperclip"></i>
                            }
                        </td>
                        <td>@doc.dictCodeValue["PhotoTime"]</td>
                        <td></td>
                        <td>@doc.dictCodeValue["Photographer"]</td>
                        <td></td>
                        <td>@doc.dictCodeValue["Description"]</td>

                        break;
                    case (int)EnumDocType.Type.Video:
                        <td>
                            <a title="Sửa" href="/Storage/DocView?id=@doc.ID">@doc.dictCodeValue["Identifier"]</a>
                            @if (doc.IDFile > 0)
                            {
                                <i class="fas fa-fw fa-paperclip"></i>
                            }
                        </td>
                        <td>@doc.dictCodeValue["RecordDate"]</td>
                        <td></td>
                        <td>@doc.dictCodeValue["Recorder"]</td>
                        <td></td>
                        <td>@doc.dictCodeValue["Description"]</td>
                        break;
                    default:
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        break;
                }
                <td>
                    @if (doc.Status == (int)EnumDocCollect.Status.Active)
                    {
                        <span class="badge badge-btn badge-warning">@StringUltils.GetEnumDescription(EnumDocCollect.Status.Active)</span>
                    }
                    else if (doc.Status == (int)EnumDocCollect.Status.Complete)
                    {
                        <span class="badge badge-btn badge-info">@StringUltils.GetEnumDescription(EnumDocCollect.Status.Complete)</span>
                    }
                </td>
                <td>
                    <a title="Xem chi tiết" class="btn btn-sm btn-outline-secondary btn-hover-success" href="/Storage/DocView?id=@doc.ID"
                       data-toggle="tooltip" data-original-title="Xem chi tiết">
                        <i class="fas fa-fw fa-info"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model != null && Model.vMPlanDocs != null)
{
    <div class="card-footer">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                @if (Model.vMPlanDocs.TotalFilter == 0)
                {
                    <span>@DAS.Application.Constants.MessageConst.MSG_NOT_FOUND</span>
                }
                else
                {
                    <span>Có tổng cộng <span class="text-red">@Model.vMPlanDocs.TotalFilter</span> bản ghi</span>
                }
            </div>
            <div class="col-sm-12 col-md-8">
                @if (Model.vMPlanDocs.TotalFilter > Model.vMPlanDocs.PageSize)
                {
                    <nav class="d-flex justify-content-end" aria-label="Pagination">
                        <div class="form-group d-flex align-items-center mr-4">
                            <span>Hiển thị:&nbsp;&nbsp;</span>
                            <select id="drdPageSize" class="select2 onChangePageSize" data-form="#frmPlanDoc">
                                @foreach (var pageSize in pageSizes)
                                {
                                    if (pageSize == Model.vMPlanDocs.PageSize)
                                    {
                                        <option value="@pageSize" selected>@pageSize</option>
                                    }
                                    else
                                    {
                                        <option value="@pageSize">@pageSize</option>
                                    }
                                }
                            </select>
                            <span>&nbsp;&nbsp;bản ghi/trang.</span>
                        </div>
                        <ul class="pagination pagination-md justify-content-end mb-0">
                            <li class="page-item @(!Model.vMPlanDocs.HasPreviousPage ? "disabled" : "")">
                                <a href="#" class="page-link onSetPageIndex"
                                   data-page="@(!Model.vMPlanDocs.HasPreviousPage ? "" : (Model.vMPlanDocs.PageIndex - 1).ToString())"
                                   data-page-size="@Model.vMPlanDocs.PageSize" aria-label="Previous"
                                   data-form="#frmPlanDoc">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            @{
                                int distance = 1;
                                int min = Model.vMPlanDocs.PageIndex - distance;
                                int max = Model.vMPlanDocs.PageIndex + distance;
                                if (min == 0)
                                {
                                    min = 1;
                                    if (max < Model.vMPlanDocs.TotalPages) { max++; }
                                }
                                if (max > Model.vMPlanDocs.TotalPages)
                                {
                                    max = Model.vMPlanDocs.TotalPages;
                                    if (min > 1) { min--; }
                                }
                            }
                            @for (int i = min; i <= max; i++)
                            {
                                <li class="page-item @(Model.vMPlanDocs.PageIndex == i ? "active" : "")">
                                    <a href="#" class="page-link onSetPageIndex" data-page="@i" data-page-size="@Model.vMPlanDocs.PageSize"
                                       data-form="#frmPlanDoc">
                                        @i
                                        @if (Model.vMPlanDocs.PageIndex == i)
                                        {
                                            <span class="sr-only">(current)</span>
                                        }
                                    </a>
                                </li>
                            }
                            <li class="page-item @(!Model.vMPlanDocs.HasNextPage ? "disabled" : "")">
                                <a href="#" class="page-link onSetPageIndex"
                                   data-page="@(!Model.vMPlanDocs.HasNextPage ? "" : (Model.vMPlanDocs.PageIndex + 1).ToString())"
                                   data-page-size="@Model.vMPlanDocs.PageSize" data-form="#frmPlanDoc"
                                   aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                }
            </div>
        </div>
    </div>
}
