﻿@using DAS.Application.Enums
@using DAS.Utility;
@using DAS.Utility.Helper;
@using DAS.Application.Models.ViewModels
@using DAS.Infrastructure.ContextAccessors
@inject IUserPrincipalService _userPrincipalService
@model DAS.Application.Models.ViewModels.VMSearchProfileDoc;
@{
    ViewData["Title"] = "Tra cứu tài liệu";
    ViewData["PageHeaderContent"] = "Storage";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var profile = Model.VMCatalogingProfile ?? new VMCatalogingProfile();
    var breadcrum = new Dictionary<string, string>();
    breadcrum.Add("/Storage/IndexSearchProfile", "Tra cứu hồ sơ");
    if (profile.ID > 0)
        breadcrum.Add("/Storage/DocDetailIndex?IDProfile=" + profile.ID.ToString(), profile.Title);
    breadcrum.Add("#", "Tra cứu tài liệu");
    ViewData["Breadcrumb"] = breadcrum;
    var kbm = Model.VMDocTypes.Select(x =>
    new SelectListItem
    {
        Value = x.ID.ToString(),
        Text = x.Name,
        Selected = Model.IDDocType == x.ID
    });
    var backUrl = "/Storage/DocDetailIndex?IDProfile=" + profile.ID;
}
<div class="row documenting flex-nowrap">
    <div class="col storage--documenting">
        <div class="card card-outline card-success">
            <div class="card-header p-0">
                <ul class="nav nav-tabs" id="sidebarTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="docInfo-tab" data-toggle="pill" href="#docInfo" role="tab" aria-controls="docInfo" aria-selected="true">Thông tin tài liệu</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content" id="sidebarTabContent">
                    <div class="tab-pane fade show active" id="docInfo" role="tabpanel" aria-labelledby="docInfo-tab">
                        <form role="form" asp-action="" class="validateForm bv-form " id="frmDocCataloging">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label text-truncate" title="">Khung biên mục văn bản</label>
                                <div class="col-sm-7">
                                    @Html.CusDropdownListSelect2("IDDocType", "IDDocType", null, kbm, new { @class = "select2 w-100", @data_placeholder = "Khung biên mục", @data_width = "100%", @disabled = Model.ID > 0, })
                                </div>
                            </div>
                            <div id="divDocTypes" data-profile="@Model.IDProfile">
                                @{Model.VMDocTypeFields.ForEach(m => m.IsDetail = true);}
                                @await Html.PartialAsync("DocCataloging_Metadata", Model)
                            </div>
                            <div class="form-group row">
                                <input type="hidden" name="IDFile" value="@Model.IDFile" />
                                <input type="hidden" name="ID" value="@Model.ID" />
                                <input type="hidden" name="IDProfile" value="@Model.IDProfile" />
                                <div class="col-sm-12">
                                    <a class="btn btn-secondary" role="button" href="@backUrl">
                                        <i class="fas fa-fw fa-angle-left"></i><span>Thoát</span>
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col storage--file position-relative">
        <div class="card card-outline card-success">
            <div class="card-header p-0">
                <nav class="navbar navbar-light navbar-white navbar-expand p-0">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link disabled">
                                <span>Chi tiết</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="card-body">
                @await Html.PartialAsync("~/Views/Shared/Blocks/_PdfViewer.cshtml", Model.ID > 0 ? "/CollectionManagement/ViewFile?IDFile=" + FileUltils.EncryptPathFile(Model.VMStgFile?.PhysicalPath, _userPrincipalService.UserId) : string.Empty)
            </div>
        </div>
    </div>
</div>

@section scripts {
    <div class="modal fade" id="mdComfirm" aria-labelledby="comfirmModel" aria-hidden="true"></div>
    <div class="modal fade" id="mdUpload" aria-labelledby="uploadModel" style="display: none;" aria-hidden="true">
        <div class="modal-dialog   modal-dialog-scrollable" role="document">
            <form role="form" asp-action="SaveFile" class="modal-content bv-form " method="post" id="frmGroupPermUpdate" enctype="multipart/form-data">
                <div class="modal-header bg-success">
                    <h3 class="modal-title" id="planCreateModalTitle">Tải file lên</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label input-required">Chọn file</label>
                        <div class="col-sm-8">
                            <input class="" type="file" name="File" id="myFile" />
                            <span class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" value="@Model.ID" name="ID" />
                    <input type="hidden" value="1" name="IsConfig" />
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
                        <i class="fas fa-fw fa-times"></i><span>Đóng</span>
                    </button>
                    <button data-url="/CollectionManagement/SaveFile" class="btn btn-outline-primary quickSubmitFile"><i class="fas fa-fw fa-save"></i><span>Lưu</span></button>
                </div>
            </form>
        </div>
    </div>

    <script src="~/js/controller/CategoryController.js" asp-append-version="true"></script>
    <script src="~/js/controller/AutocompleteController.js" asp-append-version="true"></script>
    <script src="~/js/controller/CollectionManagementController.js" asp-append-version="true"></script>

    <script type="text/javascript">
        InitCategory();
        InitAutocomplete();
        CollectionManagementConfig.Init();
    </script>
}