﻿@using DAS.Application.Enums
@using DAS.Utility;
@using DAS.Utility.Helper;
@using DAS.Application.Models.ViewModels;
@using DAS.Infrastructure.ContextAccessors;
@using DAS.Domain.Enums;
@model VMIndexProfileAndDoc;
@{
    ViewData["Title"] = "Tra cứu hồ sơ";
    var breadcrum = new Dictionary<string, string>();
    breadcrum.Add("/Storage/IndexSearchProfile", "Tra cứu hồ sơ");
    ViewData["Breadcrumb"] = breadcrum;
    ViewData["PageHeaderContent"] = "Storage";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var fonds = (ViewBag.ListProfileTemplate as List<SelectListItem>) ?? new List<SelectListItem>();
}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Tra cứu hồ sơ</h3>
            </div>
            <div class="card-body">
                <form asp-action="SearchByConditionSearchProfile" id="frmCollectionManagement" role="form" method="post" class="quickSearch" data-target="#divSearchProfile">
                    <div class="row form-group">
                        <div class="form-group col-3">
                            <label for="kho" class="col-form-label text-left">Kho: </label>
                            <div>
                                @Html.CusDropdownListSelect2("slStorage", "IDStorage", "--Chọn kho--", null, new
                           {
                               @class = "form-control select2 onLoadCate onAutoUpdateChildData",
                               @data_code_type = EnumCategoryType.Code.DM_Kho.ToString().ToUpper(),
                               @data_selected_id = Model.Condition.IDStorage,
                               @data_default_text = "--Chọn kho--",
                               @data_default_value = "-1",
                               @data_source_url = "/Autocomplete/GetOptions",
                               @data_placeholder = "--Chọn kho--"
                           }, defaultVal: "-1")
                            </div>
                        </div>
                        <div class="form-group col-3">
                            <label for="giake" class="col-form-label text-left">Giá/kệ: </label>
                            <div>
                                @Html.CusDropdownListSelect2("slShelve", "IDShelve", "--Chọn giá/kệ--", null, new
                           {
                               @class = "form-control select2 onLoadCate onAutoUpdateChildData",
                               @data_code_type = EnumCategoryType.Code.DM_Gia.ToString().ToUpper(),
                               @data_selected_id = Model.Condition.IDShelve,
                               @data_default_text = "--Chọn giá/kệ--",
                               @data_default_value = "-1",
                               @data_source_url = "/Autocomplete/GetOptions",
                               @data_placeholder = "--Chọn giá/kệ--"
                           }, defaultVal: "-1")
                            </div>
                        </div>
                        <div class="form-group col-3">
                            <label for="hopcap" class="col-form-label text-left">Hộp/cặp: </label>
                            <div>
                                @Html.CusDropdownListSelect2("slBox", "IDBox", "--Chọn hộp/cặp--", null, new
                           {
                               @class = "form-control select2 onLoadCate onAutoUpdateChildData onAutoSearch",
                               @data_code_type = EnumCategoryType.Code.DM_HopSo.ToString().ToUpper(),
                               @data_selected_id = Model.Condition.IDBox,
                               @data_default_text = "--Chọn hộp/cặp--",
                               @data_default_value = "-1",
                               @data_source_url = "/Autocomplete/GetOptions",
                               @data_placeholder = "--Chọn hộp/cặp--"
                           }, defaultVal: "-1")
                            </div>
                        </div>
                        <div class="form-group col-3">
                            <label class="col-form-label text-left">Phông: </label>
                            <div>
                                @Html.CusDropdownListSelect2("slFond", "IDProfileTemplate", "--Chọn phông--", fonds, new
                           {
                               @class = "form-control select2"
                           }, defaultVal: "-1")
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <input type="text" class="form-control" placeholder="Nhập mã hồ sơ, tiêu đề hồ sơ, tên loại tài liệu, trích yếu nội dung" name="Keyword" value="@ViewBag.Keyword" title="Nhập mã hồ sơ, tiêu đề hồ sơ, tên loại tài liệu, trích yếu nội dung" />
                        </div>
                        <div class="form-group col-4">
                            <button type="submit" class="btn btn-default"><i class="fa fa-fw fa-search"></i><span>Tìm kiếm</span></button>
                        </div>
                    </div>
                </form>
                <div id="data_table_wrapper" class="dataTables_wrapper">
                    <div id="divSearchProfile">
                        @await Html.PartialAsync("_IndexSearchProfile", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/controller/AutocompleteController.js" asp-append-version="true"></script>
<script type="text/javascript">
    InitAutocomplete();
</script>
