﻿@model DAS.Application.Models.ViewModels.VMAccount

<div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered" role="document">
    <div class="modal-content">
        <form role="form" asp-action="" class="bv-form onUpdateInputState" id="planCreateForm">
            <div class="modal-header d-flex align-items-center">
                <h5 class="modal-title font-weight-bold font-s-16 text-white" id="planCreateModalTitle">Đổi mật khẩu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="w-h-32 icon-exit-white ml-auto" aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body modal-body__company font-s-14">
                <input type="hidden" class="form-control" />
                <div class="form-group row">
                    <label asp-for="OldPassword" class="col-sm-4 col-form-label input-required"></label>
                    <div class="col-sm-8">
                        <input asp-for="OldPassword" class="form-control" type="password" placeholder="Mật khẩu hiện tại" />
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Password" class="col-sm-4 col-form-label input-required"></label>
                    <div class="col-sm-8">
                        <input asp-for="Password" class="form-control" type="password" placeholder="Mật khẩu mới" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="ConfirmPassword" class="col-sm-4 col-form-label input-required"></label>
                    <div class="col-sm-8">
                        <input asp-for="ConfirmPassword" class="form-control" type="password" placeholder="Xác nhận mật khẩu mới" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn bg-color-primary d-flex align-items-center quickSubmitChangPwd" data-url="/Account/ChangePasswordAction">
                    <span class="text-white font-s-14">Lưu</span>
                </button>
                <button type="button" class="btn bg-color-gray-6 d-flex align-items-center btn-company-delete" data-dismiss="modal">
                    <span class="font-s-14 text-color-body font-weight-500">Hủy</span>
                </button>
            </div>
        </form>
    </div>
</div>
