﻿@model DAS.Application.Models.ViewModels.VMAccount
@{
    ViewData["Title"] = "Quên mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-4">
    <div class="login-background bg-white">
        <img class="is-new" src="~/img/login/login-2.png" />
    </div>
    <div class="login-info">
        <h1 class="login-logo">
            <a href="/" title="BID Vietnam">
                <img src="/img/login/logo.png" alt="BID Logo" />
            </a>
        </h1>
        <h2 class="login-title">
            <small class="text-primary">Hệ thống lưu trữ và khai thác</small>
            <br />
            <span>Thông tin đấu thầu</span>
        </h2>
    </div>
    <div class="d-flex justify-content-between align-items-center is-footer">
        <div class="is-footer-left">
            <p>Kiểm toán nhà nước</p>
            <p>Địac chỉ: 169 Phan Văn Trị</p>
        </div>
        <div class="is-footer-right">
            <p>Mobile: 1900 86666 12</p>
            <p>Email: abc@gmail.com</p>
        </div>
    </div>
</div>
<div class="col-8">
    <div class="login-background linear-gradient-primary">
        <div class="is-bg-top">
            <img src="~/img/login/Vector-t-1.png" />
            <img src="~/img/login/Vector-t-2.png" />
        </div>
        <div class="is-bg-bottom">
            <img src="~/img/login/Vector-b-1.png" />
            <img src="~/img/login/Vector-b-2.png" />
            <p>Beta ver 1.1</p>
        </div>
    </div>
    <div class="login-form text-center">
        <div class="is-mobile">
            <div class="mt-99 d-flex justify-content-center align-items-center">
                <div class="is-header">
                    <div class="img-logo"></div>
                    <p>Hệ thống quản lý CSDL</p>
                    <p>Dùng chung</p>
                </div>
            </div>
        </div>

        <div class="login-box">
            <div class="card">
                <div class="card-body login-card-body">
                    <h3 class="login-box-msg mt-2">Quên mật khẩu</h3>
                    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @role = "form", @class = "col-md-12" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="input-group">
                            <label class="col-form-label star">Email</label>
                        </div>
                        <div class="input-group mb-10">
                            <input asp-for="AccountName" class="form-control" placeholder="Email" />
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <div class="is-line"></div>
                                    <i class="bid-icons bid-icon-person"></i>
                                </div>
                            </div>
                            <span asp-validation-for="AccountName" class="text-danger font-s-13"></span>
                        </div>
                        <p class="mb-3">
                            <button type="button" class="btn btn-block btn-primary quickSubmitChangPwd">Tạo lại mật khẩu</button>
                        </p>

                        <div class="row mt-99">
                            <div class="col-12 text-right">
                                <div class="text-gray"> Bạn đã có tài khoản? Hãy <span class="ml-5"><a href="Login" class="text-primary-lightest text-underline">Đăng nhập tại đây</a></span></div>
                            </div>
                            <!-- /.col -->
                        </div>

                        <div class="is-mobile">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <p class="mb-0 text-left">Email:</p>
                                    <p class="text-primary">abc@gmail.com</p>
                                </div>
                                <div>
                                    <p class="mb-0 text-left">Điện thoại:</p>
                                    <p class="text-primary">1900 86666 12</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <!-- /.login-card-body -->
            </div>
        </div>
    </div>
</div>
<div class="modal"></div>
@section scripts {
    <script src="~/js/Common.js"></script>
    <script src="~/js/controller/AccountController.js"></script>
    <script type="text/javascript">
        jQuery(function () {
            AccountConfig.OpenPopup();
            CommonJs.FormatPassword();
        })
    </script>
}