@{
    ViewData["Title"] = "Lỗi 500";
    ViewData["PageHeaderContent"] = "ErrorPage";
    Layout = "/Views/Shared/_LayoutCus.cshtml";
    ViewBag.Menu = "none";
}

<!-- Main content - 500 -->
<section class="content pt-30">
    <div class="error-page">
        <h2 class="headline text-danger">500</h2>

        <div class="error-content">
            <h3><i class="fas fa-exclamation-triangle text-purple"></i> Lỗi hệ thống.</h3>

            <p>Chúng tôi sẽ khắc phục sự cố đó ngay lập tức. Vui lòng kiểm tra lại đường dẫn, hoặc <a href="javascript:history.back();">quay lại trang trước</a>.</p>

            <!--<form class="search-form">
                <div class="input-group">
                    <input type="text" name="search" class="form-control" placeholder="Tìm kiếm" />

                    <div class="input-group-append">
                        <button type="submit" name="submit" class="btn btn-danger"><i class="fas fa-search"></i></button>
                    </div>
                </div>-->
            <!-- /.input-group -->
            <!--</form>-->
        </div>
        <!-- /.error-content -->
    </div>
    <!-- /.error-page -->
</section>
<div class="clearfix"></div>
<!-- /.content -->