﻿@using DAS.Domain.Enums;
@using DAS.Utility;
@model DAS.Application.Models.ViewModels.VMEditOrgan

<div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered" role="document">
    <div class="modal-content">
        <form role="form" asp-action="" class="onUpdateInputState bv-form" id="frmMDIUSchema">
            <div class="modal-header d-flex align-items-center">
                <h5 class="modal-title font-weight-bold font-s-16 text-white" id="planCreateModalTitle">Chỉnh sửa cơ quan</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="w-h-32 icon-exit-white ml-auto" aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <input asp-for="ID" type="hidden" class="form-control" />
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label input-required" asp-for="Code"></label>
                    <div class="col-sm-8">
                        <input asp-for="Code" class="form-control" />
                        <span asp-validation-for="Code" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label input-required" asp-for="Name"></label>
                    <div class="col-sm-8">
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" asp-for="Description"></label>
                    <div class="col-sm-8">
                        <textarea asp-for="Description" class="form-control" placeholder="Mô tả" rows="5"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" asp-for="Phone"></label>
                    <div class="col-sm-8">
                        <input asp-for="Phone" class="form-control onlynumber" placeholder="Số điện thoại" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label input-required" asp-for="Email"></label>
                    <div class="col-sm-8">
                        <input asp-for="Email" class="form-control" placeholder="Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" asp-for="Address"></label>
                    <div class="col-sm-8">
                        <input asp-for="Address" class="form-control" placeholder="Địa chỉ" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" asp-for="Fax"></label>
                    <div class="col-sm-8">
                        <input asp-for="Fax" class="form-control onlynumber" placeholder="Fax" />
                        <span asp-validation-for="Fax" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn bg-color-gray-6 d-flex align-items-center" data-dismiss="modal">
                    <span class="font-s-14 text-color-body font-weight-500">Đóng</span>
                </button>
                <button data-url="/Organ/Update" class="btn bg-color-primary d-flex align-items-center quickSubmit">
                    <span class="text-white font-s-14">Lưu</span>
                </button>
                   </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        OrganConfig.OpenPopup();
    });
</script>
