﻿@using DAS.Utility.Helper
@model DAS.Application.Models.ViewModels.VMModule
@{
    ViewData["PageHeaderContent"] = "Module";
    Layout = "";
    var text = Model.ID > 0 ? "Chỉnh sửa" : "Thêm mới";
    var url = Model.ID > 0 ? "/Module/Edit" : "/Module/Create";
    var modules = (ViewBag.Modules as List<SelectListItem>) ?? new List<SelectListItem>();
    //var icons = (ViewBag.Icons as List<SelectListItem>) ?? new List<SelectListItem>();
}
<div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
    <form role="form" asp-action="" class="onUpdateInputState bv-form modal-content" id="frmGroupPermUpdate">
        <div class="modal-header d-flex align-items-center">
            <h5 class="modal-title font-weight-bold font-s-16 text-white" id="planCreateModalTitle">Xem chi tiết Module</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span class="w-h-32 icon-exit-white ml-auto" aria-hidden="true"></span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" asp-for="ParentId"></label>
                <div class="col-sm-8">
                    @Html.CusDropdownListSelect2("ParentId", "ParentId", "--Chọn Menu cha--", modules, new { @class = "select2 w-100", @data_placeholder = "--Chọn cấp trên--", disabled = true })
                    <span asp-validation-for="ParentId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label input-required" asp-for="Name"></label>
                <div class="col-sm-8">
                    <input asp-for="Name" class="form-control" readonly />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row hidden">
                <label class="col-sm-4 col-form-label" asp-for="Url"></label>
                <div class="col-sm-8">
                    <input asp-for="Url" class="form-control" readonly />
                    <span asp-validation-for="Url" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" asp-for="SortOrder"></label>
                <div class="col-sm-8">
                    <input asp-for="SortOrder" class="form-control" readonly />
                    <span asp-validation-for="SortOrder" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row hidden">
                <label class="col-sm-4 col-form-label" asp-for="Icon"></label>
                <div class="col-sm-8">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="far fa-file-alt"></i>
                            </div>
                        </div>
                        <input asp-for="Icon" class="form-control" readonly/>
                        @*@Html.CusDropdownListSelect2("Icon", "Icon", "--Biểu tượng--", icons, new { @class = "select2 w-100 ", @data_placeholder = "--Biểu tượng--" })*@
                        <span asp-validation-for="Icon" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="/Module/Edit?id=@Model.ID" data-target="#mdUpdatePosition" class="btn bg-color-primary d-flex align-items-center quickUpdate">
                <span class="text-white font-s-14">Chỉnh sửa</span>
            </a>
            <button type="button" class="btn bg-color-gray-6 d-flex align-items-center" data-dismiss="modal">
                <span class="font-s-14 text-color-body font-weight-500">Đóng</span>
            </button>
        </div>
    </form>
</div>



