﻿@{
    ViewData["PageHeaderContent"] = "Module";
    Layout = "";
    int stt = Model.PageSize * (Model.PageIndex - 1);
    var pageSizes = new[] { 10, 20, 30, 40, 50 };
}
@using DAS.Application.Models.ViewModels;
@model DAS.Application.Models.ViewModels.PaginatedList<VMModule>

<div class="table-responsive">
    <table id="data_table" class="table table-bordered table-striped data_table useTreegrid" role="grid" data-tree="2" data-initcollapsed="true">
        <thead>
            <tr>
                <th class="text-center col-min">STT</th>
                <th class="text-center col-min">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="group-checkable custom-control-input" id="checkall" value="">
                        <label class="custom-control-label" for="checkall"></label>
                    </div>
                </th>
                <th>Tên Menu</th>
                <th class="hidden">Đường dẫn</th>
                <th class="col-min hidden">Icon</th>
                <th class="col-min text-right">Thứ tự</th>
                <th class="col-min" data-column-id="commands" data-formatter="commands" data-sortable="false">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var clss = "treegrid-" + item.ID + (item.ParentId > 0 ? " treegrid-parent-" + item.ParentId : string.Empty);
                stt++;
                <tr class="@clss">
                    <td class="text-center">@stt</td>
                    <td class="text-center">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="checkboxes custom-control-input" id="role-@item.ID" data-id="@item.ID" value="@item.ID">
                            <label class="custom-control-label" for="role-@item.ID"></label>
                        </div>
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td class="hidden"><a href="@Html.DisplayFor(modelItem => item.Url)">@Html.DisplayFor(modelItem => item.Url)</a></td>
                    <td class="hidden"><i class="fa fa-2x @Html.DisplayFor(modelItem => item.Icon)"></i></td>
                    <td>@Html.DisplayFor(modelItem => item.SortOrder)</td>
                    <td>
                        <div class="d-flex is-btn-action">
                            <a title="Xem chi tiết" class="quickUpdate" href="/Module/Details?id=@item.ID" data-target="#mdUpdateModule"
                               data-toggle="tooltip" data-original-title="Xem chi tiết">
                                <i class="fas fa-fw fa-info"></i>
                            </a>
                            <a title="Sửa" class="quickUpdate" href="/Module/Edit?id=@item.ID" data-target="#mdUpdateModule"
                               data-toggle="tooltip" data-original-title="Sửa">
                                <i class="fas fa-fw fa-edit"></i>
                            </a>
                            <a title="Xoá" data-comfirm-message="Bạn có muốn xoá Menu?" class="quickDelete" href="/Module/Delete?id=@item.ID" data-id="@item.ID"
                               data-toggle="tooltip" data-original-title="Xóa">
                                <i class="fas fa-fw fa-trash-alt"></i>
                            </a>
                        </div>
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="card-footer">
    <div class="row">
        <div class="col-6">
            @if (Model.TotalFilter == 0)
            {
                <span>@DAS.Application.Constants.MessageConst.MSG_NOT_FOUND</span>
            }
            else
            {
                <span>Có tổng cộng <span class="text-red">@Model.TotalFilter</span> bản ghi</span>
            }
        </div>
    </div>
</div>
