﻿@using DAS.Utility;
@using DAS.Domain.Enums;
@using DAS.Application.Models.ViewModels;
@model DAS.Application.Models.ViewModels.PaginatedList<VMUser>

<div class="table-responsive">
    <table class="table table-borderless table-space table-hover dataTable table-bid-custom dtr-inline">
        <thead class="thead-light">
            <tr class="elevation-1">
                <th class="text-center col-min py-2 font-s-14 font-weight-500 text-body-title p-l-r-12">STT</th>
                <th class="text-center col-min">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="group-checkable custom-control-input" id="checkall" value="">
                        <label class="custom-control-label" for="checkall"></label>
                    </div>
                </th>
                <th class="m-w-120-px font-s-14 font-weight-500 text-body-title p-l-r-12">Tên tài khoản</th>
                <th class="m-w-200-px font-s-14 font-weight-500 text-body-title p-l-r-12">Họ và tên</th>
                <th class="m-w-150-px font-s-14 font-weight-500 text-body-title p-l-r-12">Cơ quan</th>
                <th class="m-w-150-px font-s-14 font-weight-500 text-body-title p-l-r-12">Đơn vị</th>
                <th class="m-w-120-px py-2 font-s-14 font-weight-500 text-body-title p-l-r-12">Chức vụ</th>
                <th class="m-w-76-px py-2 font-s-14 font-weight-500 text-body-title p-l-r-12 text-center">Trạng thái</th>
                <th class="m-w-120-px py-2 font-s-14 font-weight-500 text-body-title p-l-r-12">Email</th>
                <th class="m-w-96-px py-2 font-s-14 font-weight-500 text-body-title p-l-r-12">Số điện thoại</th>
                <th class="m-w-76-px py-2 font-s-14 font-weight-500 text-body-title p-l-r-12">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @{
                int stt = Model.PageSize * (Model.PageIndex - 1);
            }
            @foreach (var item in Model)
            {
                stt++;
            <tr>
                <td class="font-s-13 text-color-4545 p-b-t-16 text-center">@stt</td>
                <td class="text-center">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="checkboxes custom-control-input" id="role-@item.ID" data-id="@item.ID" value="@item.ID">
                        <label class="custom-control-label" for="role-@item.ID"></label>
                    </div>
                </td>
                <td class="font-s-13 text-color-4545 p-b-t-16">@Html.DisplayFor(modelItem => item.AccountName)</td>
                <td class="font-s-13 text-color-4545 p-b-t-16">@Html.DisplayFor(modelItem => item.Name)</td>
                <td class="font-s-13 text-color-4545 p-b-t-16">@Html.DisplayFor(modelItem => item.OrganName)</td>
                <td class="font-s-13 text-color-4545 p-b-t-16">@Html.DisplayFor(modelItem => item.AgencyName)</td>
                <td class="font-s-13 text-color-4545 p-b-t-16">@Html.DisplayFor(modelItem => item.PositionName)</td>
                <td class="p-b-t-16 text-center">
                    @if (item.Status == (int)EnumCommon.Status.Active)
                    {
                        <span class="badge badge-btn badge-success">@StringUltils.GetEnumDescription(EnumCommon.Status.Active)</span>
                    }
                    else
                    {
                        <span class="badge badge-btn badge-danger">@StringUltils.GetEnumDescription(EnumCommon.Status.InActive)</span>
                    }
                </td>
                <td class="font-s-13 text-color-4545 p-b-t-16">@Html.DisplayFor(modelItem => item.Email)</td>
                <td class="font-s-13 text-color-4545 p-b-t-16">@Html.DisplayFor(modelItem => item.Phone)</td>
                <td class="font-s-13 p-b-t-16">
                    <div class="d-flex is-btn-action">
                        <a title="Xem chi tiết" class="quickUpdate"
                           href="/User/DetailPopup?id=@item.ID"
                           data-target="#planCreateModal" data-toggle="tooltip">
                            <i class="fas fa-eye"></i>
                        </a>
                        <a title="Sửa" class="quickUpdate" href="/User/EditPopup?id=@item.ID"
                           data-target="#planCreateModal" data-toggle="tooltip">
                            <i class="fas fa-fw fa-edit"></i>
                        </a>
                        <a title="Xóa" class="quickDelete" data-comfirm-message="Bạn có muốn xóa người dùng: @item.Name" href="/User/Delete?id=@item.ID"
                           data-toggle="tooltip" data-original-title="Xóa">
                            <i class="fas fa-fw fa-trash-alt"></i>
                        </a>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
@await Html.PartialAsync("_PagingFooter", Model, new ViewDataDictionary(this.ViewData) { { "TargetForm", "frmUser" } })