﻿@using DAS.Domain.Enums;
@using DAS.Utility;
@using DAS.Utility.Helper;
@using DAS.Application.Models.ViewModels
@model VMTemplate
<div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
    <form role="form" class="modal-content onUpdateInputState" id="planCreateForm">
        <div class="modal-header bg-success">
            <h3 class="modal-title" id="planCreateModalTitle">Chỉnh sửa Template</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12">
                    <input asp-for="ID" type="hidden" class="form-control" />
                    <input asp-for="IDStgFile" type="hidden" class="form-control" />
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label input-required" asp-for="Code">Mã Template:</label>
                        <div class="col-sm-8">
                            <input asp-for="Code" type="text" class="form-control textbox-valid" data-target="#ValidForCode" />
                            <span id="ValidForCode" asp-validation-for="Code" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" asp-for="Name">Tiêu đề Template:</label>
                        <div class="col-sm-8">
                            <input asp-for="Name" type="text" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Mô tả:</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" placeholder="Mô tả" rows="4" asp-for="Description"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Chọn mẫu:</label>
                        <div class="col-sm-8">
                            <input type="file" asp-for="File" name="File" id="File" accept=".docx">
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive divConfigs">
                @*Todo use class*@
                <table id="tbConfigCategoryType" class="table table-bordered table-striped data_table" role="grid">
                    <thead>
                        <tr>
                            <th>Mã tham số</th>
                            <th>Tên tham số</th>
                            <th>Chức năng</th>
                        </tr>
                    </thead>
                    <tbody id="bodyConfigCategoryType">
                        @if (Model != null)
                        {
                            @if (Utils.IsNotEmpty(Model.TemplateParam))
                            {
                                var index = 0;
                                foreach (var item in Model.TemplateParam)
                                {
                                    item.Index = index;

                                    @await Html.PartialAsync("TemplateParam_Configs", item)
                                    index++;
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <div class="left">
                <a class="btn btn-outline-success onAppendTemplate" tabindex="0" href="#" data-target="#bodyConfigCategoryType" data-template="#tempUpdateConfig">
                    <span><i class="fas fa-plus mr-2"></i>Thêm tham số</span>
                </a>
            </div>
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
                <i class="fas fa-fw fa-times"></i><span>Đóng</span>
            </button>
            <button class="btn btn-outline-primary quickSubmitTemplate" data-url="/Template/UpdateTemplate"><i class="fas fa-fw fa-save"></i><span>Lưu</span></button>
        </div>
    </form>
</div>
<script type="text/template" id="tempUpdateConfig">
    @await Html.PartialAsync("TemplateParam_Configs", new VMTemplateParam()
{
    IsDelete = true,
    IsUpdate = true,
})
</script>