﻿@using DAS.Application.Models.ViewModels;
@model PaginatedList<VMTemplate>
@{
    ViewData["Title"] = "Danh sách Template";
    var breadcrum = new Dictionary<string, string>();
    breadcrum.Add("/Template", "Mẫu biên bản");
    ViewData["Breadcrumb"] = breadcrum;
    ViewData["PageHeaderContent"] = "Profile";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">DANH SÁCH TEMPLATE</h3>
            </div>
            <div class="card-body">
                <form asp-action="SearchByCondition" id="frmProfile" role="form" method="post" class="quickSearch" data-target="#divProfiles">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="text" value="" name="Keyword" class="form-control" placeholder="Nhập mã, tên, mô tả">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-default"><i class="fa fa-fw fa-search"></i><span>Tìm kiếm</span></button>
                        </div>
                    </div>
                </form>
                <div id="data_table_wrapper" class="dataTables_wrapper">
                    <div class="table-control">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 text-md-right">
                                <span class="actMultiTicks hidden">
                                    <a class="btn btn-danger quickDeletes" data-url="/Template/DeleteListTemplate" tabindex="0" data-comfirm-message="Bạn có chắc chắn muốn xóa {n} mẫu biên bản đã chọn?">
                                        <span><i class="fas fa-trash-alt mr-2"></i>Xoá</span>
                                    </a>
                                </span>
                                <a class="btn btn-success quickUpdate" href="/Template/CreatePopup" data-target="#CreateNewRecordModal" tabindex="0" aria-controls="data_table">
                                    <i class="fas fa-fw fa-plus"></i><span>Thêm mới</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="divProfiles">
                        @await Html.PartialAsync("Index_Template", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="CreateNewRecordModal" aria-labelledby="comfirmModel" aria-hidden="true"></div>
<script src="~/js/controller/TemplateController.js"></script>
<script src="~/js/controller/CategoryTypeController.js" asp-append-version="true"></script>
<script>
    $(document).ready(function () {
        TemplateConfig.ClickUploadTemplate();
        TemplateConfig.OnLeaveTextbox();
        TemplateConfig.ClickUpdateTemplate();
        TemplateConfig.ClickDownloadTemplate();
        InitCategoryType();
    });
</script>