﻿@using DAS.Utility;
@using DAS.Utility.Helper;
@using DAS.Application.Enums;
@using DAS.Application.Models.ViewModels;
@model PaginatedList<VMTemplate>
@{
    int stt = 0;
    if (Model != null)
    {
        stt = Model.PageSize * (Model.PageIndex - 1);
    }

    var pageSizes = new[] { 10, 20, 30, 50, 100 };

}

<div class="table-responsive">
    <table id="data_table" class="table table-bordered table-striped data_table" role="grid">
        <thead>
            <tr>
                <th class="text-center col-min">STT</th>
                <th class="text-center col-min ">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="group-checkable custom-control-input" id="checkall" value="">
                        <label class="custom-control-label" for="checkall"></label>
                    </div>
                </th>
                <th>Mã biên bản</th>
                <th>Tên biên bản</th>
                <th>Mô tả</th>
                <th class="col-min" data-column-id="commands" data-formatter="commands" data-sortable="false">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count() > 0)
            {
                @foreach (var item in Model)
                {
                    stt++;
                    <tr>
                        <td class="text-center">@stt</td>
                        <td class="text-center">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="checkboxes custom-control-input" id="role-@item.ID" data-id="@item.ID" value="@item.ID">
                                <label class="custom-control-label" for="role-@item.ID"></label>
                            </div>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            <button style="border: none;" class="btn btn-sm btn-outline-secondary btn-hover-success download-template" data-id="@item.ID" data-url="/Template/DownloadTemplate">
                                <a title="Tải xuống" class="btn btn-sm btn-outline-secondary btn-hover-success" href="#" data-target="#" data-toggle="tooltip" data-original-title="Tải xuống">
                                    <i class="fas fa-fw fa-download"></i>
                                </a>
                            </button>
                            <a title="Chỉnh sửa" class="btn btn-sm btn-outline-secondary btn-hover-info quickUpdate" href="/Template/EditPopup?id=@item.ID"
                               data-target="#CreateNewRecordModal" data-toggle="tooltip" data-original-title="Sửa">
                                <i class="fas fa-fw fa-edit"></i>
                            </a>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>
<div class="card-footer">
    <div class="row">
        @if (Model != null)
        {
            <div class="col-sm-12 col-md-4">
                @if (Model.TotalFilter == 0)
                {
                    <span>@DAS.Application.Constants.MessageConst.MSG_NOT_FOUND</span>
                }
                else
                {
                    <span>Có tổng cộng <span class="text-red">@Model.TotalFilter</span> bản ghi</span>
                }
            </div>
            <div class="col-sm-12 col-md-8">
                @if (Model.TotalFilter > Model.PageSize)
                {
                    <nav class="d-flex justify-content-end" aria-label="Pagination">
                        <div class="form-group d-flex align-items-center mr-4">
                            <span>Hiển thị:&nbsp;&nbsp;</span>
                            <select id="drdPageSize" class="select2 onChangePageSize" data-form="#frmProfile">
                                @foreach (var pageSize in pageSizes)
                                {
                                    if (pageSize == Model.PageSize)
                                    {
                                        <option value="@pageSize" selected>@pageSize</option>
                                    }
                                    else
                                    {
                                        <option value="@pageSize">@pageSize</option>
                                    }
                                }
                            </select>
                            <span>&nbsp;&nbsp;bản ghi/trang.</span>
                        </div>
                        <ul class="pagination pagination-md justify-content-end mb-0">
                            <li class="page-item @(!Model.HasPreviousPage ? "disabled" : "")">
                                <a href="#" class="page-link onSetPageIndex"
                                   data-page="@(!Model.HasPreviousPage ? "" : (Model.PageIndex - 1).ToString())"
                                   data-page-size="@Model.PageSize" aria-label="Previous"
                                   data-form="#frmProfile">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            @{
                                int distance = 1;
                                int min = Model.PageIndex - distance;
                                int max = Model.PageIndex + distance;
                                if (min == 0)
                                {
                                    min = 1;
                                    if (max < Model.TotalPages) { max++; }

                                }
                                if (max > Model.TotalPages)
                                {
                                    max = Model.TotalPages;
                                    if (min > 1) { min--; }

                                }
                            }
                            @for (int i = min; i <= max; i++)
                            {
                                <li class="page-item @(Model.PageIndex == i ? "active" : "")">
                                    <a href="#" class="page-link onSetPageIndex" data-page="@i" data-page-size="@Model.PageSize"
                                       data-form="#frmProfile">
                                        @i
                                        @if (Model.PageIndex == i)
                                        {
                                            <span class="sr-only">(current)</span>
                                        }
                                    </a>
                                </li>
                            }
                            <li class="page-item @(!Model.HasNextPage ? "disabled" : "")">
                                <a href="#" class="page-link onSetPageIndex"
                                   data-page="@(!Model.HasNextPage ? "" : (Model.PageIndex + 1).ToString())"
                                   data-page-size="@Model.PageSize" data-form="#frmProfile"
                                   aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                }
            </div>
        }
        else
        {
            <div class="col-sm-12 col-md-4">
                <span>@DAS.Application.Constants.MessageConst.MSG_NOT_FOUND</span>
            </div>
        }
    </div>
</div>
<div class="modal fade" id="CreateNewRecordModal" aria-labelledby="comfirmModel" aria-hidden="true"></div>
