﻿@using DAS.Utility.Helper
@using DAS.Utility
@using DAS.Application.Enums
@using DAS.Application.Models.ViewModels;
@model VMTemplateParam
@{
    var sIndex = Model.Index.HasValue ? Model.Index.ToString() : "n";
    var scbIndex = Model.Index.HasValue ? Model.Index.ToString() : string.Empty;

    var isUpdate = Model.IsUpdate ? string.Empty : "readonly";
    var isDetail = Model.IsDetail ? "readonly" : string.Empty;
}
<tr class="item">
    <td>
        <input type="hidden" class="form-control" name="TemplateParam[@sIndex].ID" value="@Model.ID" />
        <input type="hidden" class="form-control" name="TemplateParam[@sIndex].IDTemplate" value="@Model.IDTemplate" />
        <input type="text" class="form-control" @isDetail placeholder="Mã tham số" name="TemplateParam[@sIndex].Code" value="@Model.Code" />
        <span class="text-danger field-validation-valid" data-valmsg-for="TemplateParam[@sIndex].Code" data-valmsg-replace="true"></span>
    </td>
    <td>
        <input type="text" class="form-control" @isDetail placeholder="Tên" name="TemplateParam[@sIndex].Name" value="@Model.Name" />
        <span class="text-danger field-validation-valid" data-valmsg-for="TemplateParam[@sIndex].Name" data-valmsg-replace="true"></span>
    </td>

    @if (!Model.IsDetail)
    {
        <td>
            @if (Model.IsDelete)
            {
                <a title="Xoá" class="btn btn-sm btn-outline-secondary btn-hover-danger onDeleteItem" data-reindex="1" data-id="">
                    <i class="fas fa-fw fa-trash-alt"></i>
                </a>
            }
        </td>
    }
</tr>
