﻿@model DAS.Application.Models.ViewModels.VMGroupPermision
@{
    ViewData["PageHeaderContent"] = "GroupPermission";
    Layout = "";
    @*var index = 0;*@
    var modules = Model.Permissions.GroupBy(n => n.IDModule).ToDictionary(n => n.Key, n => n.FirstOrDefault().ModuleName);
}
<div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered" role="document">
    <form role="form" asp-action="" class="modal-content validateForm bv-form" id="frmGroupPermUpdate">
        <div class="modal-header d-flex align-items-center">
            <h5 class="modal-title font-weight-bold font-s-16 text-white" id="planCreateModalTitle">Xem chi tiết nhóm quyền </h5>
            <span class="w-h-32 icon-exit-white ml-auto" data-dismiss="modal" aria-hidden="true"></span>
        </div>
        <div class="modal-body">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label input-required" asp-for="Name"></label>
                <div class="col-sm-8">
                    <input asp-for="Name" class="form-control" placeholder="Tên nhóm quyền" readonly data-bv-notempty-message="Tên nhóm quyền không được trống" data-bv-notempty="true" data-bv-field="Name" required />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" asp-for="Description"></label>
                <div class="col-sm-8">
                    <textarea asp-for="Description" readonly class="form-control" rows="5">@Model.Description</textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row form-group--tree">
                <label class="col-sm-4 col-form-label">Quyền trên mô-đun</label>
                <div class="col-sm-8">
                    <ul id="tree1" class="useTree p-0">
                        @await Html.PartialAsync("_ModuleTreeDetail", Model)
                    </ul>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a class="btn bg-color-primary d-flex align-items-center quickUpdate" href="/GroupPermission/Edit?id=@Model.ID" data-target="#mdUpdateGroupPermission">
                <span class="text-white font-s-14">Chỉnh sửa</span>
            </a>
            <button type="button" class="btn bg-color-gray-6 d-flex align-items-center" data-dismiss="modal">
                <span class="font-s-14 text-color-body font-weight-500">Đóng</span>
            </button>
        </div>
    </form>
</div>

