﻿@using DAS.Domain.Enums;
@using DAS.Utility;
@using DAS.Utility.Helper;
@model DAS.Application.Models.ViewModels.VMGroupPermision
@{
    var text = Model.ID > 0 ? "Chỉnh sửa" : "Thêm mới";
    var url = Model.ID > 0 ? "/GroupPermission/Edit" : "/GroupPermission/Create";
    //var basePermissions = (ViewBag.ListBaseGroupPermission as List<SelectListItem>) ?? new List<SelectListItem>();
    var activeChecked = Model.Status == (int)EnumCommon.Status.Active ? "checked" : string.Empty;
    var inactiveChecked = Model.Status != (int)EnumCommon.Status.Active ? "checked" : string.Empty;
}
<div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered" role="document">
    <form class="modal-content bv-form onUpdateInputState" role="form" asp-action="" id="frmGroupPermUpdate">
        <div class="modal-header d-flex align-items-center">
            <h5 class="modal-title font-weight-bold font-s-16 text-white" id="planCreateModalTitle">@text nhóm quyền </h5>
            <span class="w-h-32 icon-exit-white ml-auto" data-dismiss="modal" aria-hidden="true"></span>
        </div>
        <div class="modal-body">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label input-required" asp-for="Name"></label>
                <div class="col-sm-8">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label" asp-for="Description"></label>
                <div class="col-sm-8">
                    <textarea asp-for="Description" class="form-control" rows="5">@Model.Description</textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row form-group--tree">
                <label class="col-sm-4 col-form-label">Quyền trên mô đun</label>
                <div class="col-sm-8">
                    <ul id="tree1" class="useTree p-0">
                        @await Html.PartialAsync("_ModuleTreeNew", Model)
                    </ul>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Trạng thái</label>
                <div class="col-sm-8 mt-2">
                    <div class="custom-control custom-radio form-check-inline" title="Trạng thái">
                        <input class="custom-control-input" type="radio" value="1" id="Status1" name="Status" @activeChecked>
                        <label class="custom-control-label" for="Status1">Hoạt động</label>
                    </div>
                    <div class="custom-control custom-radio form-check-inline" title="Trạng thái">
                        <input class="custom-control-input" type="radio" value="0" id="Status0" name="Status" @inactiveChecked>
                        <label class="custom-control-label" for="Status0">Ngưng hoạt động</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <input type="hidden" asp-for="ID" />
            <button data-url="@url" class="btn bg-color-primary d-flex align-items-center quickSubmit">
                <span class="text-white font-s-14">Lưu</span>
            </button>
            <button type="button" class="btn bg-color-gray-6 d-flex align-items-center" data-dismiss="modal">
                <span class="font-s-14 text-color-body font-weight-500">Đóng</span>
            </button>
        </div>
    </form>
</div>
<script type="text/javascript">
    jQuery(function () { GroupPermisionConfig.Init() })
</script>
