﻿@using DAS.Application.Models.ViewModels;
@using DAS.Utility.Helper
@model DAS.Application.Models.ViewModels.PaginatedList<VMGroupPermision>
@{
    ViewData["Title"] = "Danh sách nhóm quyền";
    ViewData["PageHeaderContent"] = "GroupPermission";
    ViewBag.BreadcrumbMenu = "Quản trị hệ thống";
    ViewBag.Breadcrumb = new List<string> { "Quản lý nhóm quyền" };
    Layout = "~/Views/Shared/_LayoutCus.cshtml";
}

<div class="container pt-30">
    <div class="box-wrap-cs">
        <form asp-action="SearchByCondition" id="frmGroupPermission" role="form" method="post" class="quickSearch" data-target="#divGroupPermissions">
            <div class="row row-ip">
                <div class="col-md-6 align-items-center d-flex col-ip-12">
                    <p class="is-header-table-search"><span>@ViewData["Title"]</span></p>
                </div>
                <div class="col-md-6 col-ip-12">
                    <div class="input-group input-group-sm">
                        @Html.CustTexBoxSearch("", "Keyword", (object)ViewBag.Keyword, "", "Nhập tên nhóm quyền")
                        <button type="submit" class="btn btn-sm btn-primary ml-5">Tìm kiếm</button>
                        
                        <a class="btn-icon-search quickDeletes ml-28 text-danger actMultiTicks hidden" data-url="/GroupPermission/Deletes" title="Xóa"
                           data-comfirm-message="Bạn có chắc chắn muốn xoá {n} nhóm quyền đã chọn?">
                            <i class="fas fa-trash-alt"></i>
                        </a>

                        <a class="btn-icon-search quickUpdate ml-5 text-success"
                           href="/GroupPermission/Create" data-target="#mdUpdateGroupPermission"
                           aria-controls="data_table" title="Thêm mới">
                            <i class="fas fa-plus"></i>
                        </a>

                        <a class="quickExport ml-5" tabindex="0"
                           action="/GroupPermission/Export" data-target="#frmGroupPermission"
                           aria-controls="data_table" title="Xuất excel">
                            <i class="bid-icons bid-icon-csv"></i>
                        </a>
                    </div>
                </div><!-- /.col -->
            </div>
        </form>

        <div class="card card-danger card-outline card-outline-tabs rounded-0 border-0 elevation-0 bg-transparent mt-15 mb-15">
            <div class="card-body p-0">
                <div id="dataTables_wrapper" class="dataTables_wrapper">
                    <div id="divGroupPermissions">
                        @await Html.PartialAsync("Index_GroupPermissions", Model)
                    </div>
                </div>
            </div><!-- /.card -->
        </div><!-- /Card 1 -->
    </div>
</div>

@section scripts {
    <div class="modal fade" id="mdUpdateGroupPermission" aria-labelledby="planEditModalTitle" aria-hidden="true"></div>
    <script src="~/js/controller/GroupPermisionController.js" asp-append-version="true"></script>
}