﻿@using DAS.Application.Models.ViewModels;
@using DAS.Domain.Enums;
@model DAS.Application.Models.ViewModels.PaginatedList<VMGroupPermision>
@{
    ViewData["PageHeaderContent"] = "GroupPermission";
    int stt = Model.PageSize * (Model.PageIndex - 1);
}

<div class="table-responsive">
    <table class="table table-borderless table-space table-hover dataTable table-bid-custom dtr-inline">
        <thead class="thead-light">
            <tr class="elevation-1">
                <th class="text-center col-min py-2 font-s-14 font-weight-500 text-body-title p-l-r-12">STT</th>
                <th class="text-center col-min py-2 font-s-14 font-weight-500 text-body-title p-l-r-12">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="group-checkable custom-control-input" id="checkall" value="">
                        <label class="custom-control-label" for="checkall"></label>
                    </div>
                </th>
                <th class="py-2 font-s-14 font-weight-500 text-body-title p-l-r-12">Tên nhóm quyền</th>
                <th class="py-2 font-s-14 font-weight-500 text-body-title p-l-r-12">Mô tả</th>
                <th class="py-2 font-s-14 font-weight-500 text-body-title p-l-r-12">Trạng thái</th>
                <th class="col-min py-2 font-s-14 font-weight-500 text-body-title p-l-r-12">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                stt++;
                <tr>
                    <td class="font-s-13 text-color-4545 p-b-t-16 text-center">@stt</td>
                    <td class="p-b-t-16">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="checkboxes custom-control-input" id="role-@item.ID" data-id="@item.ID" value="@item.ID">
                            <label class="custom-control-label" for="role-@item.ID"></label>
                        </div>
                    </td>
                    <td class="font-s-13 text-color-4545 p-b-t-16">@Html.DisplayFor(modelItem => item.Name)</td>
                    <td class="font-s-13 text-color-4545 p-b-t-16">@Html.DisplayFor(modelItem => item.Description)</td>
                    <td class="font-s-13 text-color-4545 p-b-t-16">
                        @{
                            if (item.Status == (int)EnumCommon.Status.Active)
                            {
                                <p>Hoạt động</p>
                            }
                            else
                            {
                                <p>Ngưng hoạt động</p>
                            }
                        }

                    </td>
                    <td class="p-b-t-16">
                        <div class="d-flex is-btn-action">
                            <a title="Xem chi tiết" class="quickUpdate" data-toggle="tooltip"
                           href="/GroupPermission/Details?id=@item.ID" data-target="#mdUpdateGroupPermission">
                                <i class="fas fa-eye"></i>
                            </a>
                            @if (item.Name != DAS.Application.Constants.CommonConst.AdminOrgan)
                            {
                                <a title="Sửa" class="quickUpdate" data-toggle="tooltip"
                           href="/GroupPermission/Edit?id=@item.ID" data-target="#mdUpdateGroupPermission">
                                    <i class="fas fa-fw fa-edit"></i>
                                </a>
@*                                <a title="Sao chép" data-comfirm-message="Sao chép nhóm quyền: Đặt tên cho nhóm quyền mới"
                           class="quickComfirm" data-original-title="Sao chép nhóm quyền"
                           href="/GroupPermission/CopyGroupPer?id=@item.ID" data-has-reason="true" data-id="@item.ID" data-toggle="tooltip">
                                    <i class="fas fa-fw fa-copy"></i>
                                </a>*@
                                <a title="Xoá" data-comfirm-message="Bạn có chắc chắn muốn xoá nhóm quyền này?"
                           class="quickDelete"
                           href="/GroupPermission/Delete?id=@item.ID" data-id="@item.ID" data-toggle="tooltip">
                                    <i class="fas fa-fw fa-trash-alt"></i>
                                </a>
                            }

                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@await Html.PartialAsync("_PagingFooter", Model, new ViewDataDictionary(this.ViewData) { { "TargetForm", "frmGroupPermission" } })