﻿@{
    var title = "Bảng dữ liệu";
    ViewData["Title"] = title;
    var breadcrum = new Dictionary<string, string>();
    breadcrum.Add("/ImportData", title);
    ViewBag.Breadcrumb = new List<string> { "Import dữ liệu" };
    ViewData["PageHeaderContent"] = "InputInfo";
    Layout = "";
}
@using DAS.Application.Models.ViewModels.DasKTNN
@using DAS.Domain.Models.DASKTNN
@using Microsoft.AspNetCore.Mvc.Rendering;
@using DAS.Utility;
@using DAS.Utility.Helper;
@using DAS.Application.Enums.DasKTNN;
@using static DAS.Application.Enums.DasKTNN.EnumTableInfo;

@model VMImportData
@{
    var dlHeader = Model.Headers.IsNotEmpty()
                                                                                                                                                                                                       ? Model.Headers.Select(n => new SelectListItem { Value = n.Key.ToString(), Text = n.Value })
                                                                                                                                                                                                       : new List<SelectListItem>();

    var lstSheet = Model.DicSheet.Select(n => new SelectListItem
            {
                Text = n.Value,
                Value = n.Key.ToString(),
                Selected = Model.Sheet.HasValue && n.Key == Model.Sheet
            }).ToList();

    var isQuickImport = Model.IsQuickImport > 0;
    var quickImportHidden = isQuickImport ? "hidden" : string.Empty;

    var hasRefCol = Model.HeaderMappers.Any(n => n.ColumnRefs.IsNotEmpty());
    var tableMapperHidden = hasRefCol || !isQuickImport ? string.Empty : "hidden";
}

@if (Model.IsQuickImport <= 0)
{
    <div class="form-group row ">
        <label class="col-sm-4 col-form-label required" asp-for="Sheet"></label>
        <div class="col-sm-8">
            @Html.CusDropdownListSelect2("", "Sheet", null, lstSheet, new { @class = "select2 w-100 onReloadHeader", @data_placeholder = "--Chọn sheet--" })
        </div>
    </div>
}
else
{
    <div class="form-group row ">
        <label class="col-sm-4 col-form-label required" asp-for="IsUniqueName"></label>
        <div class="col-sm-8">
            <div class="custom-control custom-radio form-check-inline ">
                <input class="custom-control-input" @(Model.IsUniqueName >0 ? "checked" : string.Empty) type="radio" value="1" id="isIsUniqueName1" name="IsUniqueName">
                <label class="custom-control-label" for="isIsUniqueName1">Có</label>
            </div>
            <div class="custom-control custom-radio form-check-inline">
                <input class="custom-control-input" @((Model.IsUniqueName??0) <= 0? "checked" : string.Empty) type="radio" value="0" id="IsUniqueName0" name="IsUniqueName">
                <label class="custom-control-label" for="IsUniqueName0">Không</label>
            </div>
        </div>
    </div>
}


<div class="form-group row @(tableMapperHidden)">
    <table id="tbConfigCategoryType" class="table table-bordered table-striped data_table" role="grid">
        <thead>
            <tr>
                @if (isQuickImport)
                {
                    <th class="hidden">STT</th>
                    <th>Tên trường tham chiếu</th>
                    <th class="hidden">Cột dữ liệu nhập</th>
                    <th class="hidden">Bỏ qua giá trị trùng</th>
                    <th>Trường dữ liệu được tham chiếu </th>
                }
                else
                {
                    <th class="">STT</th>
                    <th>Tên trường</th>
                    <th class="">Cột dữ liệu nhập</th>
                    <th class="">Bỏ qua giá trị trùng</th>
                    <th>Trường dữ liệu được tham chiếu </th>
                }

            </tr>
        </thead>
        <tbody id="bodyConfigCategoryType">
            @if (Model.HeaderMappers.IsNotEmpty())
            {
                var index = 0;
                foreach (var item in Model.HeaderMappers)
                {
                    var columnTableInfo = item.ColumnTableInfo;

                    //Tự chọn cột tham chiếu
                    var defaultColumnRefs = new[] { "ID" };
                    if (columnTableInfo.DataType == (int)ColumnDataType.Parent)
                    {
                        defaultColumnRefs = new[] { CategoryDefaultField.MaDanhMuc.ToString() };
                    }
                    else if (columnTableInfo.DataType == (int)ColumnDataType.TableRef)
                    {
                        defaultColumnRefs = new[] { CategoryDefaultField.TenDanhMuc.ToString() };
                    }

                    else if (columnTableInfo.DataType == (int)ColumnDataType.TableLink)
                    {
                        defaultColumnRefs = new[] { SystemField.ID.ToString() };
                    }

                    var dlColRef = item.ColumnRefs.IsNotEmpty()
                    ? item.ColumnRefs.Select(n => new SelectListItem { Value = n.ID.ToString(), Text = n.Name, Selected = defaultColumnRefs.Contains(n.DbName) })
                    : new List<SelectListItem>();

                    var tableRef = columnTableInfo.IDTableRef > 0
                    ? Model.TableRefs.FirstOrNewObj(n => n.ID == columnTableInfo.IDTableRef)
                    : new TableInfo();

                    var rowHidden = dlColRef.IsNotEmpty() || !isQuickImport ? string.Empty : "hidden";

                    <tr class="@rowHidden">
                        <td class="@quickImportHidden">
                            @(index +1)
                        </td>
                        <td>
                            @columnTableInfo.Name (@columnTableInfo.DbName)
                            <input type="hidden" name="@($"HeaderMappers[{index}].ColumnID")" value="@columnTableInfo.ID" />
                        </td>
                        <td class="@quickImportHidden">
                            @Html.CusDropdownListSelect2(null, $"HeaderMappers[{index}].HeaderIndex", "--Chọn cột--", dlHeader, new
                    {
                    @class = "form-control select2",
                    @data_container = "body",
                    @data_width = "150px",
                    }, isNotEmpty: columnTableInfo.IsRequired, value:item.HeaderIndex.ToString()  )
                        </td>
                        <td class="@quickImportHidden">
                            <div class="custom-control custom-checkbox ">
                                <input type="checkbox" class="checkboxes custom-control-input" name="@($"HeaderMappers[{index}].IsUnique")" id="IsUnique@(index)" data-id="1" value="1" @(item.IsUnique > 0 ? "checked" : string.Empty)>
                                <label class="custom-control-label" for="IsUnique@(index)"></label>

                            </div>
                        </td>
                        <td>
                            <div class="@(item.ColumnRefs.IsNotEmpty() ?"":"hidden")">

                                <span class="">Bảng: @tableRef.Name</span>
                                <div class=" ">
                                    @Html.CusDropdownListSelect2(null, $"HeaderMappers[{index}].IDColumnRef", "--Chọn tham chiếu--", dlColRef, new
                            {
                            @class = "form-control " ,
                            @data_container = "body",
                            @data_width = "150px",
                            }, "Cột tham chiếu", true)
                                    <span class="text-danger field-validation-valid" data-valmsg-for="@($"HeaderMappers[{index}].IDColumnRef")" data-valmsg-replace="true"></span>
                                </div>
                            </div>

                        </td>
                    </tr>
                    index++;
                }
            }
        </tbody>
    </table>
</div>




