﻿@{
    var title = "Import dữ liệu";
    ViewData["Title"] = title;
    var breadcrum = new Dictionary<string, string>();
    breadcrum.Add("/ImportData", title);
    ViewBag.Breadcrumb = new List<string> { "Import dữ liệu" };
    ViewData["PageHeaderContent"] = "InputInfo";
    Layout = "~/Views/Shared/_LayoutCus.cshtml";
    var url = "/ImportData/GetHeader";
    var urlMap = "/ImportData/GetHeader?IsMapCol=1";
    var urlSave = "/ImportData/Import";
}
@using DAS.Application.Models.ViewModels.DasKTNN
@using DAS.Domain.Models.DASKTNN
@using Microsoft.AspNetCore.Mvc.Rendering;
@using DAS.Utility;
@using DAS.Utility.Helper;
@using DAS.Application.Enums.DasKTNN;
@model VMImportData

@{
    var lstTable = Model.Tables.Select(n => new SelectListItem
            {
                Text = $"{n.Name} ({n.DbName})",
                Value = n.ID.ToString(),
                Selected = Model.IDTable.HasValue && n.ID == Model.IDTable
            }).ToList();
}
<div class="container pt-30">
    <div class="box-wrap-cs mb-15 dataTables_wrapper">
        <div class="card card-danger card-outline card-outline-tabs rounded-0 border-0 elevation-0 bg-transparent mt-15">
            <div class="card-body p-0">
                <div class="modal-body">
                    <form role="form" asp-action="Import" enctype="multipart/form-data">

                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label required" asp-for="IDTable"></label>
                            <div class="col-sm-8">
                                @Html.CusDropdownListSelect2("IDTable", "IDTable", "--Chọn bảng--", lstTable, new { @class = "select2 w-100 onReloadHeader", @data_placeholder = "--Chọn bảng--" })
                                <span asp-validation-for="IDTable" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label required" asp-for="HeaderRow"></label>
                            <div class="col-sm-8">
                                <input class="form-control onReloadHeader onChangeHeaderRow" asp-for="HeaderRow" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label required" asp-for="DataRow"></label>
                            <div class="col-sm-8">
                                <input id="txtDataRow" class="form-control" asp-for="DataRow" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label" asp-for="MaxRow"></label>
                            <div class="col-sm-8">
                                <input id="txtDataRow" class="form-control" asp-for="MaxRow" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label required" asp-for="FileImport"></label>
                            <div class="col-sm-8">
                                <input class="onReloadHeader" asp-for="FileImport" />
                            </div>
                        </div>

                        <div id="divHeaderImport">
                        </div>

                        <div class="modal-footer">

                            <a class="btn btn-warning onMapColumn" href="@urlMap" data-target="#divHeaderImport">
                                <i class="fas fa-fw fa-sync-alt"></i> <span>Map trường CSDL</span>
                            </a>

                             <a class="btn btn-info onGetHeader" href="@url" data-target="#divHeaderImport">
                                <i class="fas fa-fw fa-sync-alt"></i> <span> Map trường</span>
                            </a>

                            <a class="btn btn-primary onImportData" href="@urlSave">
                                <i class="fas fa-fw fa-save"></i> <span>Lưu</span>
                            </a>
                        </div>

                    </form>

                </div>
            </div>
        </div>

    </div>
</div>

@section scripts {
    <div class="modal fade" id="mdIUTableInfo" aria-labelledby="planEditModalTitle" aria-hidden="true"></div>
    <script src="~/js/controller/ImportDataController.js" asp-append-version="true"></script>
    <script type="text/javascript">
        InitImportData();
    </script>
}


