﻿@{
    var title = "Đồng bộ dữ liệu";
    ViewData["Title"] = title;
    var breadcrum = new Dictionary<string, string>();
    breadcrum.Add("/ImportData", title);
    ViewBag.Breadcrumb = new List<string> { "Đồng bộ dữ liệu" };
    ViewData["PageHeaderContent"] = "InputInfo";
    Layout = "~/Views/Shared/_LayoutCus.cshtml";
    var url = "/ImportData/SaveSync";
}
@using DAS.Application.Models.ViewModels.DasKTNN
@using DAS.Domain.Models.DASKTNN
@using Microsoft.AspNetCore.Mvc.Rendering;
@using DAS.Utility;
@using DAS.Utility.Helper;
@using DAS.Application.Enums.DasKTNN;
@model VMSyncData

@{
    var lstTable = Model.Tables.Select(n => new SelectListItem
            {
                Text = $"{n.Name} ({n.DbName})",
                Value = n.ID.ToString(),
                Selected = Model.IDTable.HasValue && n.ID == Model.IDTable
            }).ToList();
}
<div class="container pt-30">
    <div class="box-wrap-cs mb-15 dataTables_wrapper">
        <div class="card card-danger card-outline card-outline-tabs rounded-0 border-0 elevation-0 bg-transparent mt-15">
            <div class="card-body p-0">
                <div class="modal-body">
                    <form role="form" asp-action="Import" enctype="multipart/form-data">

                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label required">Bảng cần đồng bộ</label>
                            <div class="col-sm-8">
                                @Html.CusDropdownListSelect2("IDTable", "IDTable", "--Chọn bảng--", lstTable, new { @class = "select2 w-100 onChangeTableSync",
                                @data_placeholder = "--Chọn bảng--" ,
                                @data_url = "/ImportData/Sync" ,
                                @data_target="#divTarget",
                                })
                            </div>
                        </div>

                        <div id="divTarget">
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-primary onSaveSync" href="@url" >
                                <i class="fas fa-fw fa-sync"></i> <span>Đồng bộ</span>
                            </a>
                        </div>

                    </form>

                </div>
            </div>
        </div>

    </div>
</div>

@section scripts {
    <div class="modal fade" id="mdIUTableInfo" aria-labelledby="planEditModalTitle" aria-hidden="true"></div>
    <script src="~/js/controller/ImportDataController.js" asp-append-version="true"></script>
    <script type="text/javascript">
        InitImportData();
    </script>
}


