﻿@{
    Layout = "";

}
@using DAS.Application.Models.ViewModels.DasKTNN
@using DAS.Domain.Models.DASKTNN
@using Microsoft.AspNetCore.Mvc.Rendering;
@using DAS.Utility;
@using DAS.Utility.Helper;
@using DAS.Application.Enums.DasKTNN;
@model VMSyncData

@{
    var lstCol1 = Model.ColumnTableSources.Where(n => n.IDTableRef > 0).Select(n => new SelectListItem
            {
                Text = $"{n.Name} ({n.DbName})",
                Value = n.ID.ToString(),
            }).ToList();

    var lstCol2 = Model.ColumnTableSources.Select(n => new SelectListItem
            {
                Text = $"{n.Name} ({n.DbName})",
                Value = n.ID.ToString(),
            }).ToList();

    var lstTable = Model.Tables.Select(n => new SelectListItem
            {
                Text = $"{n.Name} ({n.DbName})",
                Value = n.ID.ToString(),
            }).ToList();
}


<div class="form-group row">
    <label class="col-sm-4 col-form-label required">Chọn cột cần đồng bộ</label>
    <div class="col-sm-8">
        @Html.CusDropdownListSelect2("IDColumnSync", "IDColumnSync", "--Chọn cột--", lstCol1, new { @class = "select2 w-100 ", @data_placeholder = "--Chọn cột--" })
    </div>
</div>

<div class="form-group row">
    <label class="col-sm-4 col-form-label required">Đồng bộ với bảng</label>
    <div class="col-sm-8">
        @Html.CusDropdownListSelect2("IDTableMap", "IDTableMap", "--Chọn bảng--", lstTable, new { @class = "select2 w-100",
        @data_placeholder = "--Chọn bảng--" ,
        })
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-4 col-form-label required">Đồng bộ qua cột</label>
    <div class="col-sm-8">
        @Html.CusDropdownListSelect2("IDColumnMap", "IDColumnMap", "--Chọn cột--", lstCol2, new { @class = "select2 w-100 ", @data_placeholder = "--Chọn cột--" })
    </div>
</div>

<div class="form-group row">
    <label class="col-sm-4 col-form-label" asp-for="Prefix"></label>
    <div class="col-sm-8">
        <input id="txtPrefix" class="form-control" asp-for="Prefix"  />
    </div>
</div>

