﻿@using Microsoft.AspNetCore.Html;
@using System.Linq;
@model IEnumerable<DAS.Domain.Models.DAS.Module>

@functions {

    void RenderMenu(IEnumerable<DAS.Domain.Models.DAS.Module> menu, Nullable<int> parentID)
    {
        @if (parentID != 0)
        {
            <ul class="nav nav-treeview">
                @foreach (var item in Model.Where(x => x.ParentId.Equals(parentID)).OrderBy(x => x.SortOrder))
                {
                    var countSub = Model.Where(x => x.ParentId.Equals(item.ID)).Count();
                    if (countSub > 0)
                    {
                        <li class="nav-item">
                            <a href="@item.Url" title="@item.Name" class="nav-link">
                                <i class="far @item.Icon nav-icon"></i>
                                <span>@item.Name</span>
                                <i class="right fas fa-angle-right"></i>
                            </a>
                            @{
                                RenderMenu(menu, item.ID);
                            }
                        </li>
                    }
                    else
                    {
                        <li class="nav-item" title="@item.Name">
                            <a href="@item.Url" class="nav-link text-truncate">
                                <i class="far @item.Icon nav-icon"></i>
                                <span>@item.Name</span>
                            </a>
                        </li>
                    }
                }
            </ul>
        }
        else //Root Menu
        {
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">
                @*@foreach (var item in Model.Where(x => x.ParentId.Equals(parentID)).OrderBy(x => x.SortOrder))
                    {
                    var countSub = Model.Where(x => x.ParentId.Equals(item.ID)).Count();
                    if (countSub > 0)
                    {
                    <li class="nav-item">
                    <a href="@item.Url" title="@item.Name" class="nav-link text-uppercase">
                    <i class="far @item.Icon nav-icon"></i>
                    <span>@item.Name</span>
                    <i class="right fas fa-angle-right"></i>
                    </a>
                    @{RenderMenu(menu, item.ID); }
                    </li>

                    }
                    else
                    {
                    <li class="nav-item">
                    <a href="@item.Url" title="@item.Name" class="nav-link text-uppercase">
                    <i class="far @item.Icon nav-icon"></i>
                    <span>@item.Name</span>
                    </a>
                    </li>
                    }
                    }*@
                @{
                    var tables = (List<DAS.Domain.Models.DASKTNN.TableInfo>)ViewData["TableAll"];
                    var schema = (List<DAS.Domain.Models.DASKTNN.SchemaInfo>)ViewData["SchemaAll"];
                    foreach (var item in schema)
                    {
                        var tbsches = tables.Where(t => t.IDSchema == item.ID) ?? new List<DAS.Domain.Models.DASKTNN.TableInfo>();
                        <li class="nav-item">
                            <a href="#" class="nav-link text-uppercase active">
                                <i class="nav-icon far fa-file-alt"></i>
                                <span>@item.Description</span>
                                <i class="right fas fa-angle-left"></i>
                            </a>
                            <ul class="nav nav-treeview">
                                @foreach (var tb in tbsches)
                                {
                                    <li class="nav-item">
                                        <a href="/inputinfo?IDTable=@tb.ID" class="nav-link">
                                            <i class="far fa-file-alt nav-icon"></i>
                                            <span>@tb.Name</span>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                }
                <li class="nav-item">
                    <a href="#" class="nav-link text-uppercase active">
                        <i class="nav-icon far fa-file-alt"></i>
                        <span>Cấu hình cơ sở dữ liệu</span>
                        <i class="right fas fa-angle-left"></i>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/SchemaInfo" class="nav-link">
                                <i class="far fa-file-alt nav-icon"></i>
                                <span>Quản lý CSDL</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/TableInfo" class="nav-link">
                                <i class="far fa-file-alt nav-icon"></i>
                                <span>Quản lý bảng dữ liệu</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-uppercase active">
                        <i class="far fas fa-cogs nav-icon"></i>
                        <span>Quản trị hệ thống</span>
                        <i class="right fas fa-angle-left"></i>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/Team" class="nav-link">
                                <i class="far fa-file-alt nav-icon"></i>
                                <span>Quản lý nhóm người dùng</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/User" class="nav-link">
                                <i class="far fa-file-alt nav-icon"></i>
                                <span>Quản lý người dùng</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/GroupPermission" class="nav-link">
                                <i class="far fa-file-alt nav-icon"></i>
                                <span>Quản lý nhóm quyền</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/OrganConfig" class="nav-link">
                                <i class="far fa-file-alt nav-icon"></i>
                                <span>Cấu hình tham số</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/BackupAndRestore" class="nav-link">
                                <i class="far fa-file-alt nav-icon"></i>
                                <span>Sao lưu</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/SystemLog" class="nav-link">
                                <i class="far fa-file-alt nav-icon"></i>
                                <span>Nhật ký hệ thống</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/UserLog" class="nav-link">
                                <i class="far fa-file-alt nav-icon"></i>
                                <span>Nhật ký người dùng</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        }
    }
}

@{
    var myMenu = Model;
}
<aside class="main-sidebar sidebar-light-success elevation-4">
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            @{
                if (myMenu != null) { RenderMenu(myMenu, 0); }
            }
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
