﻿@{
    ViewData["Title"] = "TestNotification";
    ViewData["PageHeaderContent"] = "Tét";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">TestNotification</h3>
            </div>
            <div class="card-body">
                <div class="container">
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <div class="col-2">User</div>
                        <div class="col-4"><input type="text" id="userInput" /></div>
                    </div>
                    <div class="row">
                        <div class="col-2">Message</div>
                        <div class="col-4"><input type="text" id="messageInput" /></div>
                    </div>
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <div class="col-6">
                            <input type="button" id="sendButton" value="Send Message" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <ul id="messagesList"></ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="~/lib/microsoft-signalr/chart.js"></script>