﻿@{
    var title = "Cấu hình chia sẻ dữ liệu";
    ViewData["Title"] = title;
    var breadcrum = new Dictionary<string, string>();
    breadcrum.Add("/InputInfo", title);

    ViewBag.Breadcrumb = new List<string> { "Danh sách Cấu hình", "Cấu hình chia sẻ dữ liệu" };
    ViewData["PageHeaderContent"] = "InputInfo";
    Layout = "~/Views/Shared/_LayoutCus.cshtml";
}
@using DAS.Application.Models.ViewModels.DasKTNN
@using DAS.Domain.Models.DASKTNN
@using Microsoft.AspNetCore.Mvc.Rendering;
@using DAS.Utility;
@using DAS.Utility.Helper;
@using DAS.Application.Enums.DasKTNN;
@model VMIndexTableInfoApiConfig
@{
    var searchParam = Model.SearchParam;
    var lstTable = Model.TableInfos.Where(x => !x.IsTempTable).Select(n => new SelectListItem
            {
                Text = n.Name,
                Value = n.ID.ToString(),
                Selected = n.ID == searchParam.IDTable
            }).ToList();

}
<div class="container pt-30">
    <div class="box-wrap-cs mb-15 dataTables_wrapper">
        <form asp-action="SearchByCondition" id="frmTableInfoApiConfig" role="form" method="post" class="quickSearch" data-target="#divTableInfoApiConfigs">
            <div class="row row-ip">
                <div class="col-md-5 align-items-center d-flex col-ip-12">
                    <p class="is-header-table-search"><span>@ViewData["Title"]</span></p>
                </div>
                <div class="col-md-7 col-ip-12">
                    <div class="input-group input-group-sm mb-3">

                        <div class="form-group mb-0 mr-5 w-200">
                            @Html.CusDropdownListSelect2("", "IDTable", "--Chọn danh mục gốc--", lstTable, new { @class = "select2 w-200", @data_placeholder = "--Chọn danh mục gốc--" }, isReadonly: false)
                        </div>

                        <input type="search" name="Keyword" value="@searchParam.Keyword" class="form-control" placeholder="Tìm tên cấu hình">
                        <button type="submit" class="btn btn-sm btn-primary ml-5">Tìm kiếm</button>
                        
                        <a class="btn-icon-search quickDeletes ml-28 text-danger actMultiTicks hidden" data-url="/TableInfoApiConfig/Deletes" tabindex="0" data-comfirm-message="Xoá nhiều Cấu hình chia sẻ dữ liệu: Bạn có muốn xoá {n} Cấu hình chia sẻ dữ liệu đã chọn?" title="Xóa">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                        <a class="btn-icon-search quickUpdate ml-5 text-success" tabindex="0" href="/TableInfoApiConfig/Create" data-target="#mdIUTableInfoApiConfig" aria-controls="data_table" title="Thêm mới">
                            <i class="fas fa-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </form>
        <div class="card card-danger card-outline card-outline-tabs rounded-0 border-0 elevation-0 bg-transparent mt-15">
            <div class="card-body p-0">
                <div id="divTableInfoApiConfigs">
                    @await Html.PartialAsync("Index_TableInfoApiConfigs", Model)
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
<div class="modal fade" id="mdIUTableInfoApiConfig" aria-labelledby="planEditModalTitle" aria-hidden="true"></div>
<script src="~/js/controller/TableInfoApiConfigController.js" asp-append-version="true"></script>
<script type="text/javascript">
    InitTableInfoApiConfig();
</script>

}


