﻿@using DAS.Application.Models.ViewModels.DasKTNN
@using DAS.Domain.Enums;
@using DAS.Domain.Models.DASKTNN
@using Microsoft.AspNetCore.Mvc.Rendering;
@using DAS.Utility;
@using DAS.Utility.Helper;
@using DAS.Application.Enums.DasKTNN;
@using static DAS.Application.Enums.DasKTNN.EnumTableInfo;;

@model VMTableInfoApiConfig
@{
    var title = (Model.ID > 0 ? "Cập nhật" : "Thêm mới") + " cấu hình chia sẻ dữ liệu";
    ViewData["Title"] = title;
    ViewData["PageHeaderContent"] = title;
    Layout = "";
    var url = Model.ID > 0 ? "/TableInfoApiConfig/Change" : "/TableInfoApiConfig/Save";

    var lstTable = Model.Tables.Select(n => new SelectListItem
            {
                Text = n.Name,
                Value = n.ID.ToString(),
                Selected = n.ID == Model.IDTable
            }).ToList();

    var lstType = Model.ApiTypes.Select(n => new SelectListItem
            {
                Text = n.Value,
                Value = n.Key.ToString(),
                Selected = n.Key == Model.Type
            }).ToList();

    var isUpdate = Model.ID > 0;

    var isSQLScriptType = Model.Type == (int)TableInfoApiConfigType.RunScriptSQL;
    var hiddenBySQLScriptType = isSQLScriptType ? "hidden" : string.Empty;

    var dataToogle1 = $"{(int)TableInfoApiConfigType.GetTableInfo},{(int)TableInfoApiConfigType.GetTableRecord}";
    var dataToogle2 = $"{(int)TableInfoApiConfigType.RunScriptSQL}";

    var showBySQLScriptType = isSQLScriptType ? string.Empty : "hidden";
}
<div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered" role="document">
    <div class="modal-content">
        <form role="form" asp-action="" class="onUpdateInputState bv-form" id="frmMDIUTable">
            <div class="modal-header d-flex align-items-center">
                <h5 class="modal-title font-weight-bold font-s-16 text-white" id="planCreateModalTitle">@title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="w-h-32 icon-exit-white ml-auto" aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group row toggleTarget @hiddenBySQLScriptType" data-toogle-value="@dataToogle1">
                    <label class="col-sm-3 col-form-label required" asp-for="IDTable"></label>
                    <div class="col-sm-9">
                        @Html.CusDropdownListSelect2("IDTable", "IDTable", null, lstTable,
                        new {
                        @class = "select2 w-100 onSelectChangeForm isHtml ",
                        @data_placeholder = "--Chọn danh mục gốc--",
                        @data_container = "body",
                        @data_width = "150px",
                        @data_target = "#divConfigByTable", @data_url = "/TableInfoApiConfig/GetConfigColumns",
                        @data_addition="#Type,#IDTable,#IDTempTable"
                        }, isReadonly: isUpdate)
                        <span asp-validation-for="IDTable" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label required" asp-for="Type"></label>
                    <div class="col-sm-9">
                        @Html.CusDropdownListSelect2("Type", "Type",  null, lstType,
                        new {
                        @class = "select2 w-100 onSelectChangeForm isHtml onChangeType",
                        @data_placeholder = "--Chọn loại API--",
                        @data_container = "body",
                        @data_width = "150px",
                        @data_toggle_target = ".toggleTarget",
                        @data_target = "#divConfigByTable", @data_url = "/TableInfoApiConfig/GetConfigColumns",
                        @data_addition="#Type,#IDTable,#IDTempTable"
                        }, isReadonly: isUpdate)
                        <span asp-validation-for="Type" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label required" asp-for="Name"></label>
                    <div class="col-sm-9">
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-6 col-form-label" asp-for="StrStartDate"></label>
                            <div class="col-sm-6">
                                <div class="input-group date_input" id="dpStartDate" data-target-input="nearest">
                                    @Html.CusTextBoxDate("", "StrStartDate",  Utils.DateToString(Model.StartDate), "Ngày hiệu lực","Ngày hiệu lực", false,
                                    new { data_target = "#dpStartDate" , data_toggle = "datetimepicker" })
                                    <div class="input-group-prepend" data-target="#dpStartDate" data-toggle="datetimepicker">
                                        <div class="input-group-text">
                                            <span class="icon-calendar"></span>
                                        </div>
                                    </div>
                                </div>
                                <span asp-validation-for="StrStartDate" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label" asp-for="StrEndDate"></label>
                            <div class="col-sm-7">
                                <div class="input-group date_input" id="dpEndDate" data-target-input="nearest">
                                    @Html.CusTextBoxDate("", "StrEndDate",   Utils.DateToString(Model.EndDate), "Ngày hết hiệu lực", "Ngày hết hiệu lực", false,
                                    new { data_target = "#dpEndDate" , data_toggle = "datetimepicker" })
                                    <div class="input-group-prepend" data-target="#dpEndDate" data-toggle="datetimepicker">
                                        <div class="input-group-text">
                                            <span class="icon-calendar"></span>
                                        </div>
                                    </div>
                                </div>
                                <span asp-validation-for="StrEndDate" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row toggleTarget @hiddenBySQLScriptType" data-toogle-value="@dataToogle1">
                    <label class="col-sm-3 col-form-label" asp-for="Description"></label>
                    <div class="col-sm-9">
                        <textarea asp-for="Description" class="form-control" rows="3">@Model.Description</textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row toggleTarget @showBySQLScriptType" data-toogle-value="@dataToogle2">
                    <label class="col-sm-3 col-form-label" asp-for="ScriptSQL"></label>
                    <div class="col-sm-9">
                        <textarea asp-for="ScriptSQL" class="form-control" rows="10">@Model.ScriptSQL</textarea>
                        <span asp-validation-for="ScriptSQL" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Chia sẻ cho ứng dụng</label>
                    <div class="col-sm-9 mt-2">
                        <div class="custom-control custom-checkbox mb-5">
                            <input type="checkbox" class="checkboxes custom-control-input onToggleAllApp" name="IsShareAllApp" id="cbToggleAllApp" data-id="1" value="1" data-target="#slIDSharedApps">
                            <label class="custom-control-label" for="cbToggleAllApp">Chọn tất cả</label>
                        </div>

                        <select class="select2 w-100" name="slIDSharedApps" id="slIDSharedApps" multiple
                                data-allow-clear="true"
                                data-placeholder="Chọn ứng dụng">
                            @{
                                foreach (var item in Model.SharedApps)
                                {
                                    var isChecked = Model.SharedAppConfigs.Any(n => n.IDSharedApp == item.ID);
                                    if (isChecked)
                                    {
                                        <option value="@item.ID" selected>@item.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@item.ID">@item.Name</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" asp-for="Status"></label>
                    <div class="col-sm-9 mt-2">
                        <div class="custom-control custom-radio form-check-inline" title="Trạng thái">
                            <input class="custom-control-input" type="radio" value="1" id="Status1" name="Status" @(Model.Status==(int)EnumCommon.Status.Active?"checked":"")>
                            <label class="custom-control-label" for="Status1">Xuất bản</label>
                        </div>
                        <div class="custom-control custom-radio form-check-inline" title="Trạng thái">
                            <input class="custom-control-input" type="radio" value="0" id="Status0" name="Status" @(Model.Status==(int)EnumCommon.Status.InActive?"checked":"")>
                            <label class="custom-control-label" for="Status0">Dừng xuất bản</label>
                        </div>
                    </div>
                </div>

                <div id="divConfigByTable" class="toggleTarget @hiddenBySQLScriptType" data-toogle-value="@dataToogle1">
                    @{
                        @await Html.PartialAsync("Update_ColumnTable")
                    }
                </div>


            </div>
            <div class="modal-footer">
                <button data-url="@url" class="btn bg-color-primary d-flex align-items-center quickSubmit">
                    <span class="text-white font-s-14">Lưu</span>
                </button>
                <button type="button" class="btn bg-color-gray-6 d-flex align-items-center" data-dismiss="modal">
                    <span class="font-s-14 text-color-body font-weight-500">Đóng</span>
                </button>

                <input type="hidden" value="@Model.ID" name="ID" />
                <input type="hidden" value="@Model.IDSchema" name="IDSchema" />
                <input type="hidden" value="1" name="IsConfig" />
            </div>
        </form>
    </div>
</div>
