﻿@using DAS.Application.Enums.DasKTNN
@using DAS.Application.Models.ViewModels.DasKTNN;
@using DAS.Domain.Enums;
@using DAS.Utility

@model VMIndexTableInfoApiConfig
@{
    int stt = Model.Configs.PageSize * (Model.Configs.PageIndex - 1);
    var pageSizes = new[] { 10, 20, 30, 50, 100 };
}
<div class="table-responsive">
    <table class="table table-borderless table-space table-hover dataTable dtr-inline table-bid-custom td-line-h-1-3">
        <thead class="thead-light">
            <tr class="elevation-1">
                <th class="pb-2 col-min">STT</th>
                <th class="text-center col-min">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="group-checkable custom-control-input" id="checkall" value="">
                        <label class="custom-control-label" for="checkall"></label>
                    </div>
                </th>
                <th class="pb-2 m-w-200-px">Danh mục gốc</th>
                <th class="pb-2 m-w-200-px">Tên cấu hình</th>
                <th class="pb-2">ID</th>
                <th class="pb-2 m-w-200-px">API Url</th>
                <th class="pb-2 m-w-100-px">Phương thức API</th>
                <th class="pb-2 m-w-200-px">Thời gian hiệu lực</th>
                <th class="pb-2 m-w-200-px">ParamJson</th>
                <th class="pb-2 col-min">Trạng thái</th>
                <th class="pb-2 col-min text-center">Thao tác</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.Configs)
            {
                stt++;
                var tableInfo = Model.TableInfos.FirstOrNewObj(n => n.ID == item.IDTable);
                var editLink = $"/TableInfoApiConfig/Edit?id={item.ID}";
                var api = Model.DynamicAPIs.FirstOrNewObj(n => n.Type == item.Type);

                <tr>
                    <td class="text-center">@stt</td>
                    <td class="text-center">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="checkboxes custom-control-input" id="role-@item.ID" data-id="@item.ID" value="@item.ID">
                            <label class="custom-control-label" for="role-@item.ID"></label>
                        </div>
                    </td>
                    <td>
                        @tableInfo.Name<br />
                        <small class="text-muted">@tableInfo.DbName</small>

                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.ID
                    </td>
                    <td>
                        @string.Join('/',api.Url,item.ID )
                    </td>
                    <td>
                        @api.Method
                    </td>
                    <td>
                        @(item.StartDate.HasValue ? Utils.DateToString(item.StartDate) :"--") - @(item.EndDate.HasValue ? Utils.DateToString(item.EndDate) :"--")
                    </td>
                    <td>
                        <div class="useBeautifyJson">
                            @item.ParamJson
                        </div>
                    </td>
                    
                    <td>
                        @(item.Status == (int)EnumCommon.Status.Active ? "Xuất bản" : "Dừng xuất bản")
                    </td>

                    <td class="text-center">
                        <div class="d-flex is-btn-action">
                            <a title="Sửa" class=" quickUpdate" href="@editLink"
                           data-target="#mdIUTableInfoApiConfig" data-toggle="tooltip" data-original-title="Sửa">
                                <i class="fas fa-fw fa-edit"></i>
                            </a>
                            <a title="Xoá" data-comfirm-message="Xoá cấu hình api:Bạn có chắc chắn muốn xoá cấu hình api này?" class=" quickDelete" href="/TableInfoApiConfig/Delete?id=@item.ID" data-id="@item.ID"
                           data-toggle="tooltip" data-original-title="Xóa">
                                <i class="fas fa-fw fa-trash-alt"></i>
                            </a>
                        </div>
                </tr>
            }

        </tbody>
    </table>
</div>

@await Html.PartialAsync("_PagingFooter", Model.Configs, new ViewDataDictionary(this.ViewData) { { "TargetForm", "frmTableInfoApiConfig" } })