﻿@using DAS.Application.Models.ViewModels.DasKTNN
@using DAS.Domain.Models.DASKTNN
@using Microsoft.AspNetCore.Mvc.Rendering;
@using DAS.Utility;
@using DAS.Utility.Helper;
@using DAS.Application.Enums.DasKTNN;

@model VMTableInfoApiConfig
@{
    var columns = Model.Columns ?? new List<ColumnTableInfo>();
    var stt = 0;
    var isUpdate = Model.ID > 0;
}
@{
    var lstTempTable = Model.TempTables.Select(n => new SelectListItem
            {
                Text = n.Name,
                Value = n.ID.ToString(),
                Selected = n.ID == Model.IDTempTable
            }).ToList();

    if (Model.Type == (int)EnumTableInfo.TableInfoApiConfigType.GetTableInfo)
    {
        <div class="form-group row">
            <label class="col-sm-3 col-form-label" asp-for="IDTempTable"></label>
            <div class="col-sm-9">
                @Html.CusDropdownListSelect2("IDTempTable", "IDTempTable", "--Chọn bảng chờ duyệt--", lstTempTable,
        new {
        @class = "select2 w-100",
        @data_placeholder = "--Chọn bảng chờ duyệt--",
        @data_container = "body",
        @data_width = "150px",
        })
                <span asp-validation-for="IDTempTable" class="text-danger"></span>
            </div>
        </div>
    }
    else if (Model.Type == (int)EnumTableInfo.TableInfoApiConfigType.GetTableRecord)
    {
        <div class="form-group row">
            <label class="col-sm-3 col-form-label" asp-for="OrderBy"></label>
            <div class="col-sm-9">
                <input asp-for="OrderBy" class="form-control" />
                <span asp-validation-for="OrderBy" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label" asp-for="Limit"></label>
            <div class="col-sm-9">
                <input asp-for="Limit" class="form-control" />
                <span asp-validation-for="Limit" class="text-danger"></span>
            </div>
        </div>
    }
}


<div class="table-responsive">
    <table class="table useTreegrid" role="grid" data-tree="1">
        <thead class="thead-light">
            <tr class="elevation-1">
                <th class="text-center col-min">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="group-checkable custom-control-input" id="tcheckall" value="">
                        <label class="custom-control-label" for="tcheckall"></label>
                    </div>
                </th>
                <th class="pb-2 m-w-200-px">Tên cột hiển thị</th>
            </tr>
        </thead>

        <tbody>
            @{
                var idColGroups = Model.ColGroups.Select(n => n.ID);

                var colGrousp = Model.ColGroups.ToList();
                colGrousp.Add(new ColumnTableGroup() { Name = "Chưa xác định" });
                foreach (var colGroup in colGrousp)
                {
                    var cols = colGroup.ID == 0
                    ? Model.Columns.Where(n => !idColGroups.Contains(n.IDColumnTableGroup) || n.IDColumnTableGroup == 0)
                    : Model.Columns.Where(n => n.IDColumnTableGroup == colGroup.ID);
                    if (cols.IsNotEmpty())
                    {
                        var clss = $"treegrid-{colGroup.ID}";
                        <tr class="@clss">
                            <td class="text-center">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" name="GroupViewColumn" class="checkboxes custom-control-input onGroupViewColumnChange" id="colGroup-@colGroup.ID" data-id="@colGroup.ID" value="" data-child=".ckp@(colGroup.ID)">
                                    <label class="custom-control-label" for="colGroup-@colGroup.ID"></label>
                                </div>
                            </td>
                            <td class="" colspan="2">
                                <span class="font-weight-bold text-primary">NHÓM CỘT: @colGroup.Name?.ToUpper()</span>
                            </td>

                        </tr>
                        foreach (var column in cols)
                        {
                            stt++;
                            var isCheckd = Model.ArrViewColumn.Contains(column.ID) ? "checked" : string.Empty;
                            clss = $"treegrid-{column.ID}  treegrid-parent-{colGroup.ID}";
                            <tr class="@clss ">
                                <td class="text-center hidden-treegrid-indent hidden-treegrid-expander">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" name="ViewColumn" class="checkboxes custom-control-input ckp@(colGroup.ID)" @isCheckd id="col-@column.ID" data-id="@column.ID" value="@column.ID">
                                        <label class="custom-control-label" for="col-@column.ID"></label>
                                    </div>
                                </td>
                                <td>
                                    @column.Name (@column.DbName)
                                </td>
                            </tr>
                        }
                    }
                }
            }


        </tbody>
    </table>
</div>

@if (Model.Type == (int)EnumTableInfo.TableInfoApiConfigType.GetTableRecord)
{
    <div class="form-group row ">
        <label class="col-sm-3 col-form-label">
            Cấu hình điều kiện
            @if (!Model.IsDetail)
            {
                <a class="btn btn-xs btn-outline-primary onAppendTemplate inline" tabindex="0" href="#" data-target="#bodyConditions" data-template="#tempConditions" title="Thêm cấu hình đường dẫn">
                    <span><i class="fas fa-plus"></i></span>
                </a>
            }
        </label>
        <div class="col-sm-9">
            <table id="tbConfigCategoryType" class="table table-bordered useTreegrid" role="grid" data-tree="0">
                <thead class="thead-light">
                    <tr>
                        <th>Cột dữ liệu</th>
                        <th>Toán từ</th>
                        <th>Giá trị</th>
                        @if (!Model.IsDetail)
                        {
                            <th class="col-min text-center" data-column-id="commands" data-formatter="commands" data-sortable="false">Thao tác</th>
                        }
                    </tr>
                </thead>
                <tbody id="bodyConditions">
                    @{
                        var index = 0;
                        if (Model.Conditions.IsNotEmpty())
                        {
                            foreach (var item in Model.Conditions)
                            {
                                @await Html.PartialAsync("Update_TrConditions", new VMTableInfoApiConfigConditionConfig()
                {
                Index =index,
                IsDetail = Model.IsDetail,
                IsUpdate = Model.IsUpdate,
                Columns = Model.Columns,
                Condition = item,
                CondOperators = Model.CondOperators
                })
                                index++;
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
}
<script type="text/template" id="tempConditions">
    @await Html.PartialAsync("Update_TrConditions", new VMTableInfoApiConfigConditionConfig()
    {
      IsDetail = Model.IsDetail,
      IsUpdate = Model.IsUpdate,
      Columns = Model.Columns,
      CondOperators = Model.CondOperators
    })
</script>