﻿@using DAS.Application.Models.ViewModels.DasKTNN
@using DAS.Domain.Models.DASKTNN
@using Microsoft.AspNetCore.Mvc.Rendering;
@using DAS.Utility;
@using DAS.Utility.Helper;
@using DAS.Application.Enums.DasKTNN;

@model VMTableInfoApiConfigConditionConfig
@{
    var sIndex = Model.Index.HasValue ? Model.Index.ToString() : "n";
    var scbIndex = Model.Index.HasValue ? Model.Index.ToString() : string.Empty;
    var config = Model.Condition;

    var dlColumnRef = Model.Columns.IsNotEmpty()
           ? Model.Columns.OrderBy(n=>n.Name).Select(n => new SelectListItem
                   {
                       Value = n.ID.ToString(),
                       Text = n.Name,
               Selected = config.IDColumn == n.ID
           })
           : new List<SelectListItem>();

    var dlOperator = Model.CondOperators.IsNotEmpty()
           ? Model.CondOperators.Select(n => new SelectListItem
                   {
                       Value = n.Key.ToString(),
                       Text = n.Value,
                       Selected = config.Operator == n.Key
                   })
           : new List<SelectListItem>();

    var isDetail = Model.IsDetail ? "readonly" : string.Empty;
    var isUpdate = Model.IsUpdate ? "readonly" : string.Empty;
    var isReadonly = Model.IsDetail;
}
<tr class="item">
    <td>
        @Html.CusDropdownList(null, $"Conditions[{sIndex}].IDColumn", "--Chọn cột--", dlColumnRef, new
        {
        //@class = "form-control select2",
        @data_container = "body",
        @data_width = "150px",
        }, isReadonly: Model.IsDetail  )
        <span class="text-danger field-validation-valid" data-valmsg-for="Conditions[@sIndex].IDColumn" data-valmsg-replace="true"></span>
    </td>
    <td>
        @Html.CusDropdownList(null, $"Conditions[{sIndex}].Operator", null, dlOperator, new
        {
        //@class = "form-control select2",
        @data_container = "body",
        @data_width = "150px",
        }, isReadonly: Model.IsDetail)
        <span class="text-danger field-validation-valid" data-valmsg-for="Conditions[@sIndex].Operator" data-valmsg-replace="true"></span>

    </td>
    <td>
        <input type="text" class="form-control" @isDetail @isUpdate placeholder="Nhập giá trị" name="Conditions[@sIndex].Value" value="@config.Value" />
        <span class="text-danger field-validation-valid" data-valmsg-for="Conditions[@sIndex].Value" data-valmsg-replace="true"></span>
    </td>

    @if (!Model.IsDetail && !Model.IsUpdate)
    {
        <td>
            <a title="Xoá" class="text-danger onDeleteItem" data-reindex="1" data-id="">
                <i class="fas fa-fw fa-trash-alt"></i>
            </a>
        </td>
    }
</tr>
