﻿@{
    var title = "Danh mục tuỳ biến";
    ViewData["Title"] = title;
    var breadcrum = new Dictionary<string, string>();
    breadcrum.Add("/CategoryType", title);
    ViewData["Breadcrumb"] = breadcrum;
    ViewData["PageHeaderContent"] = "CategoryType";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using DAS.Application.Models.ViewModels;
@model DAS.Application.Models.ViewModels.PaginatedList<VMCategoryType>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Cấu hình danh mục tuỳ biến </h3>
            </div>
            <div class="card-body">
                <form asp-action="SearchByCondition" id="frmCategoryType" role="form" method="post" class="quickSearch" data-target="#divCategoryTypes">
                    <div class="row">
                        <div class="col-4">
                            <input type="text" name="Keyword" value="@ViewBag.Keyword" class="form-control" placeholder="Nhập tên danh mục tuỳ biến">
                        </div>
                        <div class="col-2">
                            <button type="submit" class="btn btn-default"><i class="fa fa-fw fa-search"></i><span>Tìm kiếm</span></button>
                        </div>
                    </div>
                </form>
                <div id="data_table_wrapper" class="dataTables_wrapper">
                    <div class="table-control">
                        <div class="row">
                            <div class="col-md-3 col-sm-12 text-left mb-2 mb-md-0">

                            </div>
                            <div class="col-md-9 col-sm-12 text-md-right">
                                <span class="actMultiTicks hidden">
                                    <a class="btn btn-danger quickDeletes" data-url="/CategoryType/Deletes" tabindex="0" data-comfirm-message="Xoá nhiều danh mục tuỳ biến:Bạn có muốn xoá {n} danh mục tuỳ biến đã chọn?">
                                        <span><i class="fas fa-trash-alt mr-2"></i>Xoá</span>
                                    </a>
                                </span>
                                <a class="btn btn-success quickUpdate" tabindex="0" href="/CategoryType/Create" data-target="#mdUpdateCategoryType" aria-controls="data_table">
                                    <i class="fas fa-fw fa-plus"></i><span>Thêm mới</span>
                                </a>

                            </div>
                        </div>
                    </div>
                    <div id="divCategoryTypes">
                        @await Html.PartialAsync("Index_CategoryTypes", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="mdUpdateCategoryType" aria-labelledby="planEditModalTitle" style="display: none;" aria-hidden="true">

</div>

<script src="~/js/controller/CategoryTypeController.js" asp-append-version="true"></script>
<script type="text/javascript">
    InitCategoryType();
</script>
