﻿@using DAS.Application.Models.ViewModels.DasKTNN
@using DAS.Domain.Models.DASKTNN
@using Microsoft.AspNetCore.Mvc.Rendering;
@using DAS.Utility;
@using DAS.Utility.Helper;
@using DAS.Application.Enums.DasKTNN;

@model VMTableInfo
@{
    var title = $"Chi tiết bảng dữ liệu {Model.Name}";
    ViewData["Title"] = title;
    ViewData["PageHeaderContent"] = title;

    ViewBag.Breadcrumb = new List<string> { "Danh sách Bảng dữ liệu", title };
    Layout = "~/Views/Shared/_LayoutCus.cshtml";
    var url = Model.ID > 0 ? "/TableInfo/UpdateColumn" : "/TableInfo/Create";
    var lstDataType = Model.DictDataType.Select(n => new SelectListItem
            {
                Text = n.Value,
                Value = n.Key.ToString()
            }).ToList();

    var lstSchema = Model.DictSchema.Select(n => new SelectListItem
            {
                Text = n.Value,
                Value = n.Key.ToString(),
                Selected = n.Key == Model.IDSchema
            }).ToList();

    var isUpdate = Model.ID > 0;
    var listTypes = Utils.EnumToDic<EnumTableInfo.TableListType>();
    var schemaName = lstSchema.FirstOrNewObj(n => n.Selected).Text;
    var isReadOnly = Model.IsReadOnly;
}
<div class="row">
    <div class="col-lg-12">
        <div class="container pt-30">
            <div class="box-wrap-cs mb-15">
                <div class="card-header">
                    <h5 class="card-title">THÔNG TIN BẢNG</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Thông tin liên quan đến tên, tiêu đề và mô tả của bảng</p>
                    <div class=" p-v-5">
                        <table class="table table-hover">
                            <tbody>


                                <tr>
                                    <td class="p-l-15">
                                        <label class="wpx-175 text-uppercase">Tên bảng trên CSDL</label>
                                        <span>@Model.DbName</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="p-l-15">
                                        <label class="wpx-175 text-uppercase">Tên bảng</label>
                                        <span>@Model.Name</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="p-l-15">
                                        <label class="wpx-175 text-uppercase">Thuộc CSDL</label>
                                        <span>@schemaName</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="p-l-15">
                                        <label class="wpx-175 text-uppercase">Nhãn hiển thị</label>
                                        <span>@Model.Title</span>
                                    </td>
                                </tr>


                                <tr>
                                    <td class="p-l-15">
                                        <label class="wpx-175 text-uppercase">Mô tả về Bảng</label>
                                        <span>@Model.Description</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="p-l-15">
                                        <label class="wpx-175 text-uppercase">Kiểu hiển thị Bảng</label>
                                        <span>@listTypes.GetValueOrDefault(Model.ListType)</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        @if (!isReadOnly)
                        {
                            <div class="mt-10">
                                <button class="btn btn-sm bg-color-primary d-flex align-items-center quickUpdate" tabindex="0" href="/TableInfo/Edit?id=@(Model.ID)" data-target="#mdUpdateColumnTableInfo">
                                    <span class="text-white font-s-14">  <i class="fas fa-fw fa-edit"></i>Chỉnh sửa bảng</span>
                                </button>
                            </div>
                        }
                    </div>
                </div>

            </div>
        </div>
        <div class="container pt-10">
            <div class="box-wrap-cs mb-15">
                <div class="card-header">
                    <h5 class="card-title">DANH SÁCH CỘT</h5>
                </div>
                <div class="card-body">

                    <p class="card-text">Cột lưu thông tin về từng khoản mục trong danh sách. Các cột sau hiện có sẵn trong danh sách này</p>

                    <table class="table table-hover useTreegrid" role="grid" data-tree="0" cellspacing="0" id="ctl00_ContentPlaceHolderMain_GridView1" style="border-color:WhiteSmoke;border-width:0px;width:100%;border-collapse:collapse;">
                        <thead>
                            <tr>
                                <th class="p-l-15" scope="col">Tiêu đề cột @(isReadOnly ? "" : "(Bấm để sửa)")</th>
                                <th class="p-l-15" scope="col">Kiểu dữ liệu</th>
                                <th class="p-l-15" scope="col">Trường hệ thống</th>
                                <th class="p-l-15 " scope="col">Cho phép rỗng</th>
                                <th class="p-l-15 hidden-xs" scope="col">Tên cột trong CSDL</th>
                                <th class="p-l-15 hidden-xs" scope="col">Mô tả</th>
                                @if (!isReadOnly)
                                {
                                    <th class="p-l-15 wpx-20 " scope="col"></th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var idColGroups = Model.ColGroups.Select(n => n.ID);

                                var colGrousp = Model.ColGroups.ToList();
                                colGrousp.Add(new ColumnTableGroup() { Name = "Chưa xác định" });

                                foreach (var colGroup in colGrousp)
                                {
                                    var cols = colGroup.ID == 0
                                    ? Model.ColumnTables.Where(n => !idColGroups.Contains(n.IDColumnTableGroup ?? 0) || n.IDColumnTableGroup == 0)
                                    : Model.ColumnTables.Where(n => n.IDColumnTableGroup == colGroup.ID);
                                    if (cols.IsNotEmpty())
                                    {
                                        var clss = $"treegrid-{colGroup.ID}";
                                        <tr class="@clss">
                                            <td class="" colspan="6">
                                                <span class="font-weight-bold text-primary">NHÓM CỘT: @colGroup.Name?.ToUpper()</span>
                                            </td>

                                        </tr>
                                        foreach (var column in cols)
                                        {
                                            var dataType = Model.DictDataType.GetValueOrDefault(column.DataType);
                                            var editLink = $"/TableInfo/EditColumn?id={column.ID}";


                                            clss = $"treegrid-{column.ID}  treegrid-parent-{colGroup.ID}";
                                            <tr class="@clss">
                                                <td class="p-l-15 wpx-220">
                                                    <span class="font-weight-bold">
                                                        @if (isReadOnly)
                                                        {
                                                            @column.Name
                                                        }
                                                        else
                                                        {
                                                            <a title="Chỉnh sửa cột" class="quickUpdate" href="@editLink"
                                               data-toggle="tooltip" data-original-title="Chỉnh sửa cột" data-target="#mdUpdateColumnTableInfo">
                                                                @column.Name
                                                            </a>
                                                        }

                                                        @if (column.IsPrimaryKey > 0)
                                                        {
                                                            <i class="fa fa-key text-warning" aria-hidden="true"></i>
                                                        }
                                                    </span>
                                                </td>
                                                <td class="p-l-15 wpx-220">
                                                    @dataType
                                                </td>
                                                <td class="p-l-15 wpx-50">
                                                    <div class="custom-control custom-checkbox ">
                                                        <input type="checkbox" disabled class="checkboxes custom-control-input" id="IsSystem@(column.ID)" data-id="1" value="1" @(column.IsSystem > 0 ? "checked" : string.Empty)>
                                                        <label class="custom-control-label" for="IsSystem@(column.ID)"></label>
                                                    </div>
                                                </td>
                                                <td class="p-l-15 wpx-50">
                                                    <div class="custom-control custom-checkbox ">
                                                        <input type="checkbox" disabled class="checkboxes custom-control-input" id="IsNullable@(column.ID)" data-id="1" value="1" @(column.IsNullable > 0 ? "checked" : string.Empty)>
                                                        <label class="custom-control-label" for="IsNullable@(column.ID)"></label>
                                                    </div>
                                                </td>

                                                <td class="p-l-15 hidden-xs wpx-150">
                                                    <span>@column.DbName</span>
                                                </td>
                                                <td class="p-l-15 hidden-xs">
                                                    <span>@column.Description</span>
                                                </td>
                                                @if (!isReadOnly)
                                                {
                                                    <td>
                                                        <div class="d-flex is-btn-action">
                                                            @if (column.IsDefault == 0)
                                                            {
                                                                <a title="Xoá" data-comfirm-message="Xoá cột dữ liệu:Bạn có chắc chắn muốn xoá cột dữ liệu này?" class="text-danger quickDelete" href="/TableInfo/DeleteColumn?id=@column.ID" data-id="@column.ID"
                                               data-toggle="tooltip" data-original-title="Xóa">
                                                                    <i class="fas fa-fw fa-trash-alt"></i>
                                                                </a>
                                                            }
                                                        </div>
                                                    </td>
                                                }
                                            </tr>
                                        }
                                    }
                                }
                            }
                        </tbody>
                    </table>
                    @if (!isReadOnly)
                    {
                        <div class="mt-10">
                            <button class="btn btn-sm bg-color-primary d-flex align-items-center quickUpdate" tabindex="0" href="/TableInfo/CreateColumn?idTable=@(Model.ID)" data-target="#mdUpdateColumnTableInfo">
                                <span class="text-white font-s-14">  <i class="fas fa-fw fa-plus"></i>Tạo mới cột</span>
                            </button>
                        </div>
                    }
                </div>

            </div>
        </div>

    </div>
</div>

@section scripts {
    <div class="modal fade" id="mdUpdateColumnTableInfo" aria-labelledby="modalTitle" style="display: none;" aria-hidden="true">
    </div>


    <script src="~/js/controller/TableInfoController.js" asp-append-version="true"></script>
    <script type="text/javascript">
        InitTableInfo();
    </script>
}