﻿@{
    var title = "Bảng dữ liệu";
    ViewData["Title"] = title;
    var breadcrum = new Dictionary<string, string>();
    breadcrum.Add("/InputInfo", title);

    ViewBag.Breadcrumb = new List<string> { "Danh sách Bảng dữ liệu", "Quản lý danh mục" };
    ViewData["PageHeaderContent"] = "InputInfo";
    Layout = "~/Views/Shared/_LayoutCus.cshtml";
}
@using DAS.Application.Models.ViewModels.DasKTNN
@using DAS.Domain.Models.DASKTNN
@using Microsoft.AspNetCore.Mvc.Rendering;
@using DAS.Utility;
@using DAS.Utility.Helper;
@using DAS.Application.Enums.DasKTNN;
@model DAS.Application.Models.ViewModels.PaginatedList<VMTableInfo>
@{
    var lstSchema = ((List<SchemaInfo>)ViewBag.LstSchema).Select(n => new SelectListItem
            {
                Text = n.Name,
                Value = n.ID.ToString(),
                Selected = n.ID == ViewBag.IDSchema
            }).ToList();

    var lstGroup = ((List<GroupInfo>)ViewBag.LstGroup).Select(n => new SelectListItem
            {
                Text = n.Name,
                Value = n.ID.ToString(),
                Selected = n.ID == ViewBag.IDGroup
            }).ToList();

    var sourceinfos = ((List<SoucreInfo>)ViewBag.LstSource) ?? new List<SoucreInfo>();
    var sourceTypes = Utils.GetDescribes<EnumSoucreInfo.TypeSoucre>();
    var lstSource = new List<SelectListItem>();
    var isDanhMucDungChung = (bool)ViewBag.IsDanhMucDungChung;

    @if (!isDanhMucDungChung)
    {
        foreach (var sourceType in sourceTypes)
        {
            lstSource.Add(new SelectListItem
                    {
                        Text = sourceType.Value,
                        Value = (sourceType.Key * -1).ToString(),
                        Selected = (sourceType.Key * -1) == ViewBag.IDSource
                    });
            var sourceByTypes = sourceinfos.Where(n => n.Type == sourceType.Key);
            foreach (var item in sourceByTypes)
            {
                lstSource.Add(new SelectListItem
                        {
                            Text = $"&nbsp;&nbsp;&nbsp;&nbsp;{item.Name}",
                            Value = item.ID.ToString(),
                            Selected = item.ID == ViewBag.IDSource
                        });
            }
        }
    }
}
<div class="container pt-30">
    <div class="box-wrap-cs mb-15 dataTables_wrapper">
        <form asp-action="SearchByCondition" id="frmTableInfo" role="form" method="post" class="quickSearch" data-target="#divTableInfos">
            <div class="row row-ip">
                <div class="col-md-3 align-items-center d-flex col-ip-12">
                    <p class="is-header-table-search"><span>@ViewData["Title"]</span></p>
                </div>
                <div class="col-md-9 col-ip-12">
                    <div class="input-group input-group-sm mb-3">

                        @if (!isDanhMucDungChung)
                        {
                            <div class="form-group mb-0 mr-5 w-200">
                                @Html.CusDropdownListSelect2("", "IDSource", "--Chọn nguồn--", lstSource, new { @class = "select2 w-200", @data_placeholder = "--Chọn nguồn--" })
                            </div>
                        }

                        <div class="form-group mb-0 mr-5 w-200">
                            @Html.CusDropdownListSelect2("", "IDGroup", "--Chọn nhóm--", lstGroup, new { @class = "select2 w-200", @data_placeholder = "--Chọn nhóm--" })
                        </div>
                        <div class="form-group mb-0 mr-5 w-200">
                            @Html.CusDropdownListSelect2("", "IDSchema", "--Chọn CSDL--", lstSchema, new { @class = "select2 w-200", @data_placeholder = "--Chọn CSDL--" })
                        </div>

                        <input type="search" name="Keyword" value="@ViewBag.Keyword" class="form-control" placeholder="Tìm tên bảng dữ liệu">
                        <input type="search" name="DBName" value="@ViewBag.DBName" class="form-control" placeholder="Tìm tên bảng trong CSDL">
                        <button type="submit" class="btn btn-sm btn-primary ml-5">Tìm kiếm</button>

                        <a class="btn-icon-search quickDeletes ml-28 text-danger actMultiTicks hidden" data-url="/TableInfo/Deletes" tabindex="0" data-comfirm-message="Xoá nhiều bảng dữ liệu:Bạn có muốn xoá {n} bảng dữ liệu đã chọn?" title="Xóa">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                        <a class="btn-icon-search quickUpdate ml-5 text-success" tabindex="0" href="/TableInfo/Create" data-target="#mdIUTableInfo" aria-controls="data_table" title="Thêm mới">
                            <i class="fas fa-plus"></i>
                        </a>
                        <a class="ml-28 quickSprint" data-target="#divTableInfos" title="Xuất PDF"  >
                            <i class="bid-icons bid-icon-print"></i>
                        </a>
                        <a class="btn-icon-search quickExport ml-5 text-success" tabindex="0" href="#" action="/TableInfo/Export" data-target="#frmTableInfo" aria-controls="data_table" title="Xuất Excel">
                            <i class="bid-icons bid-icon-csv"></i>
                        </a>

                    </div>
                </div>
            </div>
        </form>
        <div class="card card-danger card-outline card-outline-tabs rounded-0 border-0 elevation-0 bg-transparent mt-15">
            <div class="card-body p-0">
                <div id="divTableInfos">
                    @await Html.PartialAsync("Index_TableInfos", Model)
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <div class="modal fade" id="mdIUTableInfo" aria-labelledby="planEditModalTitle" aria-hidden="true"></div>
    <script src="~/js/controller/TableInfoController.js" asp-append-version="true"></script>
    <script type="text/javascript">
        InitTableInfo();
    </script>

}


