﻿
@using DAS.Application.Enums.DasKTNN
@using DAS.Application.Models.ViewModels.DasKTNN;
@using DAS.Utility

@model DAS.Application.Models.ViewModels.PaginatedList<VMTableInfo>
@{
    int stt = Model.PageSize * (Model.PageIndex - 1);
    var pageSizes = new[] { 10, 20, 30, 50, 100 };
    var listTypes = Utils.EnumToDic<EnumTableInfo.TableListType>();
}
<div class="table-responsive">
    <table class="table table-borderless table-space table-hover dataTable dtr-inline useTreegrid table-bid-custom" role="grid" data-tree="3">
        <thead class="thead-light">
            <tr class="elevation-1">
                <th class="pb-2 col-min">STT</th>
                <th class="text-center col-min hiddenOnPrint">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="group-checkable custom-control-input" id="checkall" value="">
                        <label class="custom-control-label" for="checkall"></label>
                    </div>
                </th>
                <th class="pb-2 m-w-200-px">Tên bảng dữ liệu</th>
                <th class="pb-2 m-w-200-px">Tên bảng dữ liệu trong SQL</th>
                <th class="pb-2 m-w-120-px">Nhãn hiển thị</th>
                <th class="pb-2 m-w-120-px">Mô tả</th>
                <th class="pb-2 m-w-100-px">Hiển thị ở menu</th>
                <th class="pb-2 m-w-100-px">Kiểu hiển thị</th>
                <th class="pb-2 col-min text-center hiddenOnPrint">Thao tác</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                stt++;
                var recordLink = $"/inputinfo?IDTable={item.ID}";
                var configLink = $"/TableInfo/ConfigColumn?id={item.ID}";
                var detailLink = $"/TableInfo/Detail?id={item.ID}";
                var editLink = $"/TableInfo/Edit?id={item.ID}";
                var cloneLink = $"/TableInfo/IsClone?id={item.ID}";
                <tr>
                    <td class="text-center">@stt</td>
                    <td class="text-center hiddenOnPrint">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="checkboxes custom-control-input" id="role-@item.ID" data-id="@item.ID" value="@item.ID">
                            <label class="custom-control-label" for="role-@item.ID"></label>
                        </div>
                    </td>
                    <td>
                        <a title="Xem dữ liệu" class="" href="@recordLink"
                       data-toggle="tooltip" data-original-title="Xem chi tiết">
                            @item.Name
                        </a>
                    </td>
                    <td>
                        <a title="Xem dữ liệu" class="" href="@recordLink"
                       data-toggle="tooltip" data-original-title="Xem chi tiết">
                            @item.DbName
                        </a>
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Title)</td>
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                    <td>
                        @(item.IsMenu >0 ?"Hiển thị" :"Ẩn")
                    </td>
                    <td>
                        @listTypes.GetValueOrDefault(item.ListType)
                    </td>
                    <td class="text-center hiddenOnPrint">
                        <div class="d-flex is-btn-action">
                            <a title="Xem chi tiết" class="" href="@detailLink"
                           data-toggle="tooltip" data-original-title="Xem chi tiết">
                                <i class="fas fa-fw fa-eye"></i>
                            </a> 
                            <a title="Cấu hình cột dữ liệu" class="" href="@configLink"
                           data-toggle="tooltip" data-original-title="Cấu hình cột dữ liệu">
                                <i class="fas fa-fw fa-cog"></i>
                            </a>
                            @*    <a title="Danh sách bảng dữ liệu" class="btn btn-sm btn-outline-secondary btn-hover-info" href="/Category/Index/@item.Code"
                        data-toggle="tooltip" data-original-title="Danh sách bảng dữ liệu">
                        <i class="fas fa-fw fa-list"></i>
                        </a>*@
                            <a title="Sửa" class=" quickUpdate" href="@editLink"
                           data-target="#mdIUTableInfo" data-toggle="tooltip" data-original-title="Sửa">
                                <i class="fas fa-fw fa-edit"></i>
                            </a>
                            <a title="Nhân bản" class=" quickUpdate" href="@cloneLink"
                           data-target="#mdIUTableInfo" data-toggle="tooltip" data-original-title="Nhân bản">
                                <i class="fas fa-fw fa-clone"></i>
                            </a>
                            <a title="Xoá" data-comfirm-message="Xoá bảng dữ liệu:Bạn có chắc chắn muốn xoá bảng dữ liệu này?" class=" quickDelete" href="/TableInfo/Delete?id=@item.ID" data-id="@item.ID"
                           data-toggle="tooltip" data-original-title="Xóa">
                                <i class="fas fa-fw fa-trash-alt"></i>
                            </a>
                        </div>
                </tr>
            }

        </tbody>
    </table>
</div>

@await Html.PartialAsync("_PagingFooter", Model, new ViewDataDictionary(this.ViewData) { { "TargetForm", "frmTableInfo" } })