﻿@using DAS.Application.Models.ViewModels.DasKTNN
@using DAS.Domain.Models.DASKTNN
@using Microsoft.AspNetCore.Mvc.Rendering;
@using DAS.Utility;
@using DAS.Utility.Helper;
@using DAS.Application.Enums.DasKTNN;

@model VMColumnTableInfo
@{
    var title = (Model.ID > 0 ? "Cập nhật" : "Thêm mới") + " cột dữ liệu";
    ViewData["Title"] = title;
    ViewData["PageHeaderContent"] = title;
    Layout = "";
    var url = Model.ID > 0 ? "/TableInfo/EditColumn" : "/TableInfo/CreateColumn";

    foreach (var item in Model.DlDataType)
    {
        item.Selected = item.Value == Model.DataType.ToString();
    }

    var isText = Model.DataType == (int)EnumTableInfo.ColumnDataType.String;

    var isNumber = Model.DataType == (int)EnumTableInfo.ColumnDataType.Integer || Model.DataType == (int)EnumTableInfo.ColumnDataType.Decimal;
    var isTableRef = Model.DataType == (int)EnumTableInfo.ColumnDataType.TableRef;
    var isParent = Model.DataType == (int)EnumTableInfo.ColumnDataType.Parent;

    var strNumberDataTypes = string.Join(",", (int)EnumTableInfo.ColumnDataType.Integer, (int)EnumTableInfo.ColumnDataType.Decimal);
    var strTextDataTypes = ((int)EnumTableInfo.ColumnDataType.String).ToString();
    var strTableRefDataTypes = ((int)EnumTableInfo.ColumnDataType.TableRef).ToString();
    var strParentDataTypes = ((int)EnumTableInfo.ColumnDataType.Parent).ToString();

    var isUpdate = Model.ID > 0;
    var isUpdateReadOnly = isUpdate ? "readonly" : string.Empty;
    var isDfFeidlUpdate = Model.IsDefault > 0 ? "readonly" : string.Empty;

    var listTypes = Utils.EnumToDic<EnumTableInfo.TableListType>();

    var dlTableRef = Model.Tables.IsNotEmpty()
    ? Model.Tables.Select(n => new SelectListItem { Value = n.ID.ToString(), Text = n.Name, Selected = Model.IDTableRef == n.ID })
    : new List<SelectListItem>();

    var dlColumnRef = Model.Columns.IsNotEmpty()
    ? Model.Columns.Select(n => new SelectListItem { Value = n.ID.ToString(), Text = n.Name, Selected = Model.IDColRef == n.ID })
    : new List<SelectListItem>();

    var dlColumnTextRef = Model.Columns.IsNotEmpty()
    ? Model.Columns.Select(n => new SelectListItem { Value = n.ID.ToString(), Text = n.Name, Selected = Model.IDColTextRef == n.ID })
    : new List<SelectListItem>();

    void RenderRadio(string id, string name, bool isCheck, bool isDisabled = false)
    {
        <div class="custom-control custom-radio form-check-inline ">
            <input class="custom-control-input" @(isCheck ? "checked" : string.Empty) @(isDisabled ? "disabled" : string.Empty) type="radio" value="1" id="@(id)True" name="@name">
            <label class="custom-control-label" for="@(id)True">Có</label>
        </div>
        <div class="custom-control custom-radio form-check-inline">
            <input class="custom-control-input" @(!isCheck? "checked" : string.Empty) @(isDisabled ? "disabled" : string.Empty) type="radio" value="0" id="@(id)False" name="@name">
            <label class="custom-control-label" for="@(id)False">Không</label>
        </div>
    }

    var isDetail = Model.IsDetail ? "readonly" : string.Empty;
    var isIDField = Model.DbName == EnumTableInfo.SystemField.ID.ToString();// ? "readonly" : string.Empty;
}
<div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered" role="document">
    <div class="modal-content">
        <form role="form" asp-action="" class="onUpdateInputState bv-form" id="frmMDIUTableColumn">
            <div class="modal-header d-flex align-items-center">
                <h5 class="modal-title font-weight-bold font-s-16 text-white" id="planCreateModalTitle">@title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="w-h-32 icon-exit-white ml-auto" aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label required" asp-for="Name"></label>
                    <div class="col-sm-9">
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label required" asp-for="DbName"></label>
                    <div class="col-sm-9">
                        @if (isUpdate)
                        {
                            <input asp-for="DbName" readonly class="form-control" title="@Model.DbName" />
                        }
                        else
                        {
                            <input asp-for="DbName" class="form-control" title="Nhập tiếng việt viết liền không dấu, không bắt đầu bằng số, không chứa ký tự đặc biệt" />
                            <span asp-validation-for="DbName" class="text-danger"></span>
                        }
                    </div>

                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label required" asp-for="DataType"></label>
                    <div class="col-sm-9">
                        @Html.CusDropdownListSelect2("dlDatatype", $"DataType", null, Model.DlDataType, new
                        {
                        @class = " select2 onSwitchDiv",
                        @data_target = ".onHidden", @data_placeholder = "--Chọn kiểu dữ liệu--" }, isReadonly: isUpdate)
                        <span asp-validation-for="DataType" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row @(isText || isNumber ? string.Empty: "hidden") onHidden" data-selected-id="@(string.Join(",",(int)EnumTableInfo.ColumnDataType.Integer ,(int)EnumTableInfo.ColumnDataType.String))">
                    <label class="col-sm-3 col-form-label" asp-for="IsIdentity"></label>
                    <div class="col-sm-9">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="checkboxes custom-control-input onChangeIsIdentity" data-target="#divIdentityPrefix" name="IsIdentity" id="cbIsIdentity" data-id="1" value="1" data-type-target="#dlDatatype" @(Model.IsIdentity > 0 ? "checked" : string.Empty) @((isIDField || Model.IsDefault > 0) ? "disabled" : "")>
                            <label class="custom-control-label" for="cbIsIdentity"></label>
                            <span class="text-danger field-validation-valid" data-valmsg-for="IsIdentity" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group row  @(isText ? string.Empty: "hidden") onHidden @(Model.IsSystem <=0 &&  Model.IsDefault <=0 && Model.ID >0? "" : "hidden")" id="divIdentityPrefix" data-selected-id="@strTextDataTypes">
                    <label class="col-sm-3 col-form-label" asp-for="IdentityPrefix"></label>
                    <div class="col-sm-3">
                        @if (Model.IsSystem > 0 || Model.IsDefault > 0)
                        {
                            <input asp-for="IdentityPrefix" class="form-control" readonly="readonly" />
                        }
                        else
                        {
                            <input asp-for="IdentityPrefix" class="form-control" />
                        }
                        <span asp-validation-for="IdentityPrefix" class="text-danger"></span>
                    </div>

                    <label class="col-sm-3 col-form-label" asp-for="IdentityIndex"></label>
                    <div class="col-sm-3">
                        @if (Model.IsSystem > 0 || Model.IsDefault > 0)
                        {
                            <input asp-for="IdentityIndex" class="form-control" readonly="readonly" />
                        }
                        else
                        {
                            <input asp-for="IdentityIndex" class="form-control" />
                        }
                        <span asp-validation-for="IdentityIndex" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" asp-for="Description"></label>
                    <div class="col-sm-9">
                        <textarea asp-for="Description" class="form-control" rows="3">@Model.Description</textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label required" asp-for="IDColumnTableGroup"></label>
                    <div class="col-sm-9">
                        @Html.CusDropdownListSelect2(null, $"IDColumnTableGroup", "--Nhóm cột--" , Model.DlColGroups, new
                        {
                        @class = " select2",
                        @data_placeholder = "--Nhóm cột--" }, isReadonly: Model.IsDetail)
                        <span asp-validation-for="IDColumnTableGroup" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row @(isTableRef ? string.Empty: "hidden") onHidden" data-selected-id="@strTableRefDataTypes">
                    <label class="col-sm-3 col-form-label">Giá trị tham chiếu</label>
                    <div class="col-sm-3 hidden">
                        @Html.CusDropdownListSelect2(null, $"IDSchemaRef", "--Chọn CSDL--", Model.DlSchemaRef, new
                        {
                        @class = "form-control select2 onSelectChange",
                        @data_container = "body",
                        @data_width = "150px",
                        @data_id = Model.IDTable,
                        @data_target = ".IDTableRef", @data_url = "/TableInfo/GetTableBySchema"
                        }, isReadonly: Model.IsDetail || Model.IsDefault >0)
                        <span class="text-danger field-validation-valid" data-valmsg-for="IDSchemaRef" data-valmsg-replace="true"></span>
                    </div>
                    <div class="col-sm-3">
                        @Html.CusDropdownListSelect2(null, $"IDTableRef", "--Chọn bảng--", dlTableRef, new
                        {
                        @class = "form-control select2 onSelectChange IDTableRef",
                        @data_container = "body",
                        @data_width = "150px",
                        @data_id = Model.IDTable,
                        @data_target = ".IDColRef, .IDColTextRef", @data_url = "/TableInfo/GetColumnByTable",
                        @data_default_text= "--Chọn bảng--"
                        }, isReadonly: Model.IsDetail || Model.IsDefault >0)
                        <span class="text-danger field-validation-valid" data-valmsg-for="IDTableRef" data-valmsg-replace="true"></span>
                    </div>
                    <div class="col-sm-3">
                        @Html.CusDropdownListSelect2(null, $"IDColRef", "--Chọn cột--", dlColumnRef, new
                        {
                        @class = "form-control select2 IDColRef",
                        @data_container = "body",
                        @data_width = "150px",
                        @data_id = Model.IDTable,
                        @data_name = EnumTableInfo.SystemField.ID.ToString(),
                        @data_default_text= "--Chọn cột--"
                        //@data_value_target = (int)EnumTableInfo.InputType.Drd,
                        }, isReadonly: Model.IsDetail || Model.IsDefault >0)
                        <span class="text-danger field-validation-valid" data-valmsg-for="IDColRef" data-valmsg-replace="true"></span>
                    </div>
                    <div class="col-sm-3">
                        @Html.CusDropdownListSelect2(null, $"IDColTextRef", "--Chọn cột hiển thị--", dlColumnTextRef, new
                        {
                        @class = "form-control select2 IDColTextRef",
                        @data_container = "body",
                        @data_width = "150px",
                        @data_id = Model.IDTable,
                        @data_name = $"{EnumTableInfo.DefaultField.Ten},{EnumTableInfo.CategoryDefaultField.TenDanhMuc}",
                        @data_default_text= "--Chọn cột hiển thị--"
                        //@data_value_target = (int)EnumTableInfo.InputType.Drd,
                        }, isReadonly: Model.IsDetail || Model.IsDefault >0)
                        <span class="text-danger field-validation-valid" data-valmsg-for="IDColTextRef" data-valmsg-replace="true"></span>
                    </div>
                </div>

                <div class="form-group row @(isParent ? string.Empty: "hidden") onHidden" data-selected-id="@strParentDataTypes">
                    <label class="col-sm-3 col-form-label">
                        Cấu hình đường dẫn

                        @if (!isUpdate)
                        {
                            <a class="btn btn-xs btn-outline-primary onAppendTemplate inline" tabindex="0" href="#" data-target="#bodyColumnPath" data-template="#tempColumnPath" title="Thêm cấu hình đường dẫn">
                                <span><i class="fas fa-plus"></i></span>
                            </a>
                        }

                    </label>
                    <div class="col-sm-9">
                        <table id="tbConfigCategoryType" class="table table-bordered" role="grid">
                            <thead>
                                <tr>
                                    <th>Cột tham chiếu</th>
                                    <th>Đường dẫn</th>
                                    @if (!Model.IsDetail && !isUpdate)
                                    {
                                        <th class="col-min text-center" data-column-id="commands" data-formatter="commands" data-sortable="false">Thao tác</th>
                                    }
                                </tr>
                            </thead>
                            <tbody id="bodyColumnPath">
                                @if (Model.ColumnPaths.IsNotEmpty())
                                {
                                    var index = 0;
                                    foreach (var item in Model.ColumnPaths)
                                    {
                                        item.Index = index;
                                        item.IsDetail = Model.IsDetail;
                                        item.IsUpdate = isUpdate;
                                        item.Columns = Model.FiendColumns;
                                        @await Html.PartialAsync("Update_TrColumnPath", item)
                                        index++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" asp-for="IsNullable"></label>
                    <div class="col-sm-3 mt-2">
                        @{
                            RenderRadio("isNullable", "IsNullable", Model.IsNullable > 0, Model.IsPrimaryKey > 0);
                        }
                    </div>

                    <label class="col-sm-3 col-form-label" asp-for="IsRequired"></label>
                    <div class="col-sm-3 mt-2">
                        @{
                            RenderRadio("isRequired", "IsRequired", Model.IsRequired > 0, Model.IsPrimaryKey > 0);
                        }
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" asp-for="IsShowOnList"></label>
                    <div class="col-sm-3 mt-2">
                        @{
                            RenderRadio("isShowOnList", "IsShowOnList", Model.IsShowOnList > 0);
                        }
                    </div>
                    <label class="col-sm-3 col-form-label" asp-for="IsSearchable"></label>
                    <div class="col-sm-3 mt-2">
                        @{
                            RenderRadio("isSearchable", "IsSearchable", Model.IsSearchable > 0);
                        }
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" asp-for="IsOrder"></label>
                    <div class="col-sm-3 mt-2">
                        <div class="custom-control custom-radio form-check-inline">
                            <input class="custom-control-input onChangeIsOrder" data-target="#divOrderType" @(Model.IsOrder > 0 ? "checked" : string.Empty) type="radio" value="1" id="rbIsOrder1" name="IsOrder">
                            <label class="custom-control-label" for="rbIsOrder1">Có</label>
                        </div>
                        <div class="custom-control custom-radio form-check-inline">
                            <input class="custom-control-input onChangeIsOrder" data-target="#divOrderType" @(Model.IsOrder <=0 ? "checked" : string.Empty) type="radio" value="0" id="rbIsOrder0" name="IsOrder">
                            <label class="custom-control-label" for="rbIsOrder0">Không</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row @(Model.IsOrder > 0 ?string.Empty: "hidden")" id="divOrderType">
                    <label class="col-sm-3 col-form-label" asp-for="OrderType"></label>
                    <div class="col-sm-3 mt-2">
                        <div class="custom-control custom-radio   ">
                            <input class="custom-control-input" @(Model.OrderType !="DESC" ? "checked" : string.Empty) type="radio" value="ASC" id="rbOrderTypeASC" name="OrderType">
                            <label class="custom-control-label" for="rbOrderTypeASC">ASC</label>
                        </div>
                        <div class="custom-control custom-radio  ">
                            <input class="custom-control-input" @(Model.OrderType =="DESC" ? "checked" : string.Empty) type="radio" value="DESC" id="rbOrderTypeDESC" name="OrderType">
                            <label class="custom-control-label" for="rbOrderTypeDESC">DESC</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row @(isText ? string.Empty: "hidden") onHidden" data-selected-id="@strTextDataTypes">
                    <label class="col-sm-3 col-form-label" asp-for="MinLen"></label>
                    <div class="col-sm-3">
                        <input type="text" @isUpdate class="form-control isNumberInteger isPositiveNumber" maxlength="4" placeholder="Số ký tự tối thiểu" name="MinLen" value="@Model.MinLen" />
                        <span class="text-danger field-validation-valid" data-valmsg-for="MinLen" data-valmsg-replace="true"></span>
                    </div>
                    <label class="col-sm-3 col-form-label" asp-for="MaxLen"></label>
                    <div class="col-sm-3">
                        <input type="text" @isUpdate class="form-control isNumberInteger isPositiveNumber" maxlength="4" placeholder="Số ký tự đa" name="MaxLen" value="@Model.MaxLen" />
                        <span class="text-danger field-validation-valid" data-valmsg-for="MaxLen" data-valmsg-replace="true"></span>
                    </div>
                </div>

                <div class="form-group row @(isNumber   ? string.Empty: "hidden") onHidden" data-selected-id="@strNumberDataTypes">
                    <label class="col-sm-3 col-form-label" asp-for="MinVal"></label>
                    <div class="col-sm-3">
                        <input type="text" @isUpdate class="form-control isNumberInteger" maxlength="18" placeholder="Giá trị tối thiểu" name="MinVal" value="@Model.MinVal" />
                        <span class="text-danger field-validation-valid" data-valmsg-for="MinVal" data-valmsg-replace="true"></span>
                    </div>

                    <label class="col-sm-3 col-form-label" asp-for="MaxVal"></label>
                    <div class="col-sm-3">
                        <input type="text" maxlength="18" @isUpdate class="form-control isNumberInteger" placeholder="Giá trị tối đa" name="MaxVal" value="@Model.MaxVal" />
                        <span class="text-danger field-validation-valid" data-valmsg-for="MaxVal" data-valmsg-replace="true"></span>
                    </div>
                </div>


                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" asp-for="Weight"></label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control isNumberInteger isPositiveNumber" maxlength="8" placeholder="Thứ tự" name="Weight" value="@Model.Weight" data-name="Priority" />
                        <span class="text-danger field-validation-valid" data-valmsg-for="Weight" data-valmsg-replace="true"></span>
                    </div>

                    <label class="col-sm-3 col-form-label" asp-for="DefaultValue"></label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" placeholder="Giá trị mặc định" name="DefaultValue" value="@Model.DefaultValue" />
                        <span class="text-danger field-validation-valid" data-valmsg-for="DefaultValue" data-valmsg-replace="true"></span>
                    </div>
                </div>

                <div class="form-group row @(isText ? string.Empty: "hidden") onHidden" data-selected-id="@strTextDataTypes">
                    <label class="col-sm-3 col-form-label" asp-for="Suggestion"></label>
                    <div class="col-sm-9">
                        <textarea asp-for="Suggestion" class="form-control" rows="5">@Model.Suggestion</textarea>
                        <span asp-validation-for="Suggestion" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                @if (!Model.IsDetail)
                {
                    <button data-url="@url" class="btn bg-color-primary d-flex align-items-center quickSubmit">
                        <span class="text-white font-s-14">Lưu</span>
                    </button>
                }
                <button type="button" class="btn bg-color-gray-6 d-flex align-items-center" data-dismiss="modal">
                    <span class="font-s-14 text-color-body font-weight-500">Đóng</span>
                </button>

                <input type="hidden" value="@Model.IsDefault" name="IsDefault" />
                <input type="hidden" value="@Model.IsSystem" name="IsSystem" />
                <input type="hidden" value="@Model.IsSubColumn" name="IsSubColumn" />
                <input type="hidden" value="@Model.IsPrimaryKey" name="IsPrimaryKey" />
                <input type="hidden" value="@Model.IDTable" name="IDTable" />
                @*<input type="hidden" value="@Model.IdentityPrefix" name="IdentityPrefix" />
                <input type="hidden" value="@Model.IsIdentity" name="IsIdentity" /> *@
                <input type="hidden" value="@Model.ID" name="ID" />
            </div>
        </form>
    </div>
</div>
<script type="text/template" id="tempColumnPath">
    @await Html.PartialAsync("Update_TrColumnPath", new VMColumnPathInfo()
    {
      IsDetail = Model.IsDetail,
      IsUpdate = Model.IsUpdate,
      Columns = Model.FiendColumns
    })
</script>