﻿@using DAS.Application.Models.ViewModels.DasKTNN
@using DAS.Domain.Models.DASKTNN
@using Microsoft.AspNetCore.Mvc.Rendering;
@using DAS.Utility;
@using DAS.Utility.Helper;
@using DAS.Application.Enums.DasKTNN;

@model VMTableInfo
@{
    var title = (Model.ID > 0 ? "Cập nhật" : "Thêm mới") + " bảng dữ liệu";
    ViewData["Title"] = title;
    ViewData["PageHeaderContent"] = title;
    Layout = "";
    var url = Model.ID > 0 ? "/TableInfo/Edit" : "/TableInfo/Create";
    var lstDataType = Model.DictDataType.Select(n => new SelectListItem
            {
                Text = n.Value,
                Value = n.Key.ToString()
            }).ToList();

    var lstSchema = Model.DictSchema.Select(n => new SelectListItem
            {
                Text = n.Value,
                Value = n.Key.ToString(),
                Selected = n.Key == Model.IDSchema
            }).ToList();

    //var lstSource = Model.SourceInfos.Select(n => new SelectListItem
    //        {
    //            Text = n.Name.ToString(),
    //            Value = n.ID.ToString(),
    //            Selected = n.ID == Model.IDSourceInfo
    //        }).ToList();

    var isUpdate = Model.ID > 0;
    var listTypes = Utils.EnumToDic<EnumTableInfo.TableListType>();

    void RenderBoolenRadio(string id, string name, bool isCheck, string strTrue, string strFalse, bool isDisabled = false)
    {
        <div class="custom-control custom-radio form-check-inline" title="@(strTrue)">
            <input class="custom-control-input" @(isCheck ? "checked" : string.Empty) @(isDisabled ? "disabled" : string.Empty) type="radio" value="1" id="@(id)True" name="@name">
            <label class="custom-control-label" for="@(id)True">@strTrue</label>
        </div>
        <div class="custom-control custom-radio form-check-inline" title="@(strFalse)">
            <input class="custom-control-input" @(!isCheck? "checked" : string.Empty) @(isDisabled ? "disabled" : string.Empty) type="radio" value="0" id="@(id)False" name="@name">
            <label class="custom-control-label" for="@(id)False">@strFalse</label>
        </div>
    }

    void RenderCheckbox(string id, string name, bool isCheck, bool isDisabled = false)
    {
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="checkboxes custom-control-input" name="@(name)" id="@(id)" data-id="1" value="1" @(isCheck ? "checked" : string.Empty)>
            <label class="custom-control-label" for="@(id)"></label>
            <span class="text-danger field-validation-valid" data-valmsg-for="@(name)" data-valmsg-replace="true"></span>
        </div>
    }
    var hiddenDmdc = Model.IsDanhMucDungChung ? "hidden" : string.Empty;
}
<div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered" role="document">
    <div class="modal-content">
        <form role="form" asp-action="" class="onUpdateInputState bv-form" id="frmMDIUTable">
            <div class="modal-header d-flex align-items-center">
                <h5 class="modal-title font-weight-bold font-s-16 text-white" id="planCreateModalTitle">@title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="w-h-32 icon-exit-white ml-auto" aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label required" asp-for="IDSchema"></label>
                    <div class="col-sm-8">
                        @Html.CusDropdownListSelect2("IDSchema", "IDSchema", "--Chọn CSDL--", lstSchema, new { @class = "select2 w-100", @data_placeholder = "--Chọn CSDL--" }, isReadonly: isUpdate)
                        <span asp-validation-for="IDSchema" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label required" asp-for="Name"></label>
                    <div class="col-sm-8">
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label required" asp-for="DbName"></label>
                    <div class="col-sm-8">
                        <input asp-for="DbName" class="form-control" title="Nhập tiếng việt viết liền không dấu, không bắt đầu bằng số, không chứa ký tự đặc biệt" />
                        <span asp-validation-for="DbName" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label required" asp-for="Title"></label>
                    <div class="col-sm-8">
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" asp-for="Description"></label>
                    <div class="col-sm-8">
                        <textarea asp-for="Description" class="form-control" rows="5">@Model.Description</textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" asp-for="IsMenu"></label>
                    <div class="col-sm-8 mt-2">
                        @{
                            RenderBoolenRadio("isMenu", "IsMenu", Model.IsMenu > 0, "Hiển thị", "Ẩn");
                        }
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" asp-for="ListType"></label>
                    <div class="col-sm-8 mt-2">
                        @foreach (var listType in listTypes)
                        {
                            <div class="custom-control custom-radio">
                                <input class="custom-control-input" @(Model.ListType == listType.Key ? "checked" : string.Empty) type="radio" value="@listType.Key" id="ListType@(listType.Key)" name="ListType">
                                <label class="custom-control-label" for="ListType@(listType.Key)">@listType.Value</label>
                            </div>
                        }
                    </div>
                </div>
                @if (Model.IsDanhMucDungChung)
                {
                    <input type="hidden" value="0" name="IDSourceInfo" />
                }
                else
                {
                    <div class="form-group row @hiddenDmdc">
                        <label class="col-sm-4 col-form-label" asp-for="IDSourceInfo"></label>
                        <div class="col-sm-8">
                            <select class="form-control select2 w-100 "
                                name="IDSourceInfo"
                                data-live-search="true"
                                data-live-search-placeholder="--Chọn nguồn--">
                                @{

                                    <option>--Chọn nguồn--</option>

                                    var sourceTypes = Utils.GetDescribes<EnumSoucreInfo.TypeSoucre>();
                                    foreach (var sourceType in sourceTypes)
                                    {
                                        <optgroup label="@(sourceType.Value)">
                                            @{
                                                var sourceByTypes = Model.SourceInfos.Where(n => n.Type == sourceType.Key);
                                                foreach (var item in sourceByTypes)
                                                {
                                                    if (Model.IDSourceInfo > 0 && Model.IDSourceInfo == item.ID)
                                                    {
                                                        <option value="@item.ID" selected >@item.Name</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@item.ID">@item.Name</option>
                                                    }
                                                }
                                            }
                                        </optgroup>
                                    }
                                }
                            </select>

                            <span asp-validation-for="IDSourceInfo" class="text-danger"></span>
                        </div>
                    </div>


                }


                <div class="form-group row @hiddenDmdc">
                    <label class="col-sm-4 col-form-label" asp-for="IsRequireApprove"></label>
                    <div class="col-sm-8 mt-2">
                        @{
                            RenderCheckbox("isRequireApprove", "IsRequireApprove", Model.IsRequireApprove > 0);
                        }
                    </div>
                </div>
                <div class="form-group row @hiddenDmdc">
                    <label class="col-sm-4 col-form-label" asp-for="IsTempTable"></label>
                    <div class="col-sm-8 mt-2">
                        @{
                            RenderCheckbox("isTempTable", "IsTempTable", Model.IsTempTable > 0);
                        }
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button data-url="@url" class="btn bg-color-primary d-flex align-items-center quickSubmit">
                    <span class="text-white font-s-14">Lưu</span>
                </button>
                <button type="button" class="btn bg-color-gray-6 d-flex align-items-center" data-dismiss="modal">
                    <span class="font-s-14 text-color-body font-weight-500">Đóng</span>
                </button>

                <input type="hidden" value="@Model.ID" name="ID" />
            </div>
        </form>
    </div>
</div>
