﻿@using DAS.Application.Models.ViewModels.DasKTNN
@using DAS.Domain.Models.DASKTNN
@using Microsoft.AspNetCore.Mvc.Rendering;
@using DAS.Utility;
@using DAS.Utility.Helper;
@using DAS.Application.Enums.DasKTNN;

@model VMTableInfo
@{
    var title = "Nhân bản bảng dữ liệu";
    ViewData["Title"] = title;
    ViewData["PageHeaderContent"] = title;
    Layout = "";
    var url = "/TableInfo/Clone";
}

<div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered" role="document">
    <div class="modal-content">
        <form role="form" asp-action="" class="onUpdateInputState bv-form" id="frmMDIUTable">
            <div class="modal-header d-flex align-items-center">
                <h5 class="modal-title font-weight-bold font-s-16 text-white" id="planCreateModalTitle">@title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="w-h-32 icon-exit-white ml-auto" aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" asp-for="Name"></label>
                    <div class="col-sm-8">
                        <input asp-for="Name" class="form-control" readonly />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" asp-for="DbName"></label>
                    <div class="col-sm-8">
                        <input asp-for="DbName" class="form-control" readonly />
                        <span asp-validation-for="DbName" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label required" asp-for="CloneName"></label>
                    <div class="col-sm-8">
                        <input asp-for="CloneName" class="form-control" />
                        <span asp-validation-for="CloneName" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label required" asp-for="CloneDbName"></label>
                    <div class="col-sm-8">
                        <input asp-for="CloneDbName" class="form-control" />
                        <span asp-validation-for="CloneDbName" class="text-danger"></span>
                    </div>
                </div>


                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">
                        Dữ liệu sao chép
                    </label>
                    <div class="col-sm-8">
                        <div class="custom-control custom-checkbox mb-5">
                            <input type="checkbox" class="checkboxes custom-control-input onIsCloneAllRecord" name="IsCloneAllRecord" id="cbIsCloneAllRecord" data-id="1" value="1" data-target="#cbIDRecords, #txCloneLevel" checked>
                            <label class="custom-control-label" for="cbIsCloneAllRecord">Sao chép toàn bộ dữ liệu</label>
                        </div>

                        <div class="div-input hidden">
                            @Html.CusDropdownListSelect2Ajax("cbIDRecords", "IDRecords", null, new { @data_id_table= Model.ID }, url: "/InputInfo/GetTableRecords", isMultiple:true, placeholder: "Nhánh dữ liệu cần sao chép", isReadonly:true)
                       </div>
                    </div> 
                </div>
                <div class="form-group row div-input hidden">
                    <label class="col-sm-4 col-form-label" asp-for="CloneLevel"></label>
                    <div class="col-sm-8">
                        <input id="txCloneLevel" asp-for="CloneLevel" class="form-control" readonly />
                        <span asp-validation-for="CloneLevel" class="text-danger"></span>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button data-url="@url" class="btn bg-color-primary d-flex align-items-center quickSubmit">
                    <span class="text-white font-s-14">Nhân bản</span>
                </button>
                <button type="button" class="btn bg-color-gray-6 d-flex align-items-center" data-dismiss="modal">
                    <span class="font-s-14 text-color-body font-weight-500">Đóng</span>
                </button>
                <input type="hidden" value="@Model.ID" name="ID" />
            </div>
        </form>
    </div>
</div>
