﻿@using DAS.Utility.Helper
@using DAS.Utility
@using DAS.Application.Enums
@using DAS.Application.Models.ViewModels.DasKTNN;
@using DAS.Application.Enums.DasKTNN;

@model VMColumnTableInfo
@{
    var sIndex = Model.Index.HasValue ? Model.Index.ToString() : "n";
    var scbIndex = Model.Index.HasValue ? Model.Index.ToString() : string.Empty;

    if (Model.DlDataType.IsNotEmpty())
    {
        foreach (var item in Model.DlDataType)
        {
            item.Selected = Model.DataType.ToString() == item.Value;
        }
    }
    if (Model.DlTableInfo.IsNotEmpty())
    {
        foreach (var item in Model.DlTableInfo)
        {
            item.Selected = Model.IDTable.ToString() == item.Value;
        }
    }
    if (Model.DlSchemaRef.IsNotEmpty())
    {
        foreach (var item in Model.DlSchemaRef)
        {
            item.Selected = Model.IDSchemaRef.ToString() == item.Value;
        }
    }

    var dlTableRef = Model.Tables.IsNotEmpty()
    ? Model.Tables.Select(n => new SelectListItem { Value = n.ID.ToString(), Text = n.Name, Selected = Model.IDTableRef == n.ID })
    : new List<SelectListItem>();

    var dlColumnRef = Model.Columns.IsNotEmpty()
    ? Model.Columns.Select(n => new SelectListItem { Value = n.ID.ToString(), Text = n.Name, Selected = Model.IDColRef == n.ID })
    : new List<SelectListItem>();

    var isUpdate = Model.IsDefault == 0 ? string.Empty : "readonly";
    var isDetail = Model.IsDetail ? "readonly" : string.Empty;
    var isDefault = Model.IsDefault > 0 ? "readonly" : string.Empty;

    var isText = Model.DataType == (int)EnumTableInfo.ColumnDataType.String;

    var isNumber = Model.DataType == (int)EnumTableInfo.ColumnDataType.Integer || Model.DataType == (int)EnumTableInfo.ColumnDataType.Decimal;
    var isTableRef = Model.DataType == (int)EnumTableInfo.ColumnDataType.TableRef;

    var strNumberDataTypes = string.Join(",", (int)EnumTableInfo.ColumnDataType.Integer, (int)EnumTableInfo.ColumnDataType.Decimal);
    var strTextDataTypes = ((int)EnumTableInfo.ColumnDataType.String).ToString();
    var strTableRefDataTypes = ((int)EnumTableInfo.ColumnDataType.TableRef).ToString();

    var isReadonly = !Model.IsUpdate || Model.IsDetail || Model.IsDefault > 0;
}
<tr class="item">
    <td>
        <input type="hidden" class="form-control" name="ColumnTables[@sIndex].ID" value="@Model.ID" />
        <input type="text" class="form-control" @isDetail placeholder="Tên cột" name="ColumnTables[@sIndex].Name" value="@Model.Name" />
        <span class="text-danger field-validation-valid" data-valmsg-for="ColumnTables[@sIndex].Name" data-valmsg-replace="true"></span>
    </td>
    <td>
        <input type="text" @isDefault @isDetail class="form-control" placeholder="Tên cột CSDL" name="ColumnTables[@sIndex].DbName"
               title="Nhập tiếng việt viết liền không dấu, không bắt đầu bằng số, không chứa ký tự đặc biệt" value="@Model.DbName" />
        <span class="text-danger field-validation-valid" data-valmsg-for="ColumnTables[@sIndex].DbName" data-valmsg-replace="true"></span>
    </td>

    <td>
        @Html.CusDropdownListSelect2(null, $"ColumnTables[{sIndex}].DataType", null, Model.DlDataType, new
        {
        @class = "form-control select2 onSwitchDiv",
        @data_target = ".onHidden",
        @data_container = "body",
        @data_width = "150px",
        //@data_value_target = (int)EnumTableInfo.InputType.Drd,
        }, isReadonly: Model.IsDetail || Model.IsDefault >0 || Model.ID > 0)
        <span class="text-danger field-validation-valid" data-valmsg-for="ColumnTables[@sIndex].DataType" data-valmsg-replace="true"></span>
    </td>
    <td>
        <input type="text" @isDefault @isDetail class="form-control" placeholder="Mô tả" name="ColumnTables[@sIndex].Description" value="@Model.Description" />
        <span class="text-danger field-validation-valid" data-valmsg-for="ColumnTables[@sIndex].Description" data-valmsg-replace="true"></span>
    </td>
    <td>
        <div class="@(isTableRef ? string.Empty: "hidden") onHidden" data-selected-id="@strTableRefDataTypes">
            @Html.CusDropdownListSelect2(null, $"ColumnTables[{sIndex}].IDSchemaRef", "--Chọn CSDL--", Model.DlSchemaRef, new
            {
            @class = "form-control select2 onSelectChangeRow",
            @data_container = "body",
            @data_width = "150px",
            @data_target = ".IDTableRef", @data_url = "/TableInfo/GetTableBySchema"
            }, isReadonly: Model.IsDetail || Model.IsDefault >0 )
            <span class="text-danger field-validation-valid" data-valmsg-for="ColumnTables[@sIndex].IDSchemaRef" data-valmsg-replace="true"></span>
        </div>
    </td>
    <td>
        <div class="@(isTableRef ? string.Empty: "hidden") onHidden" data-selected-id="@strTableRefDataTypes">
            @Html.CusDropdownListSelect2(null, $"ColumnTables[{sIndex}].IDTableRef", "--Chọn bảng--", dlTableRef, new
            {
            @class = "form-control select2 onSelectChangeRow IDTableRef",
            @data_container = "body",
            @data_width = "150px",
            @data_target = ".IDColRef", @data_url = "/TableInfo/GetColumnByTable",
            @data_default_text= "--Chọn bảng--"
            }, isReadonly: Model.IsDetail || Model.IsDefault >0)
            <span class="text-danger field-validation-valid" data-valmsg-for="ColumnTables[@sIndex].IDTableRef" data-valmsg-replace="true"></span>
        </div>
    </td>
    <td>
        <div class="@(isTableRef ? string.Empty: "hidden") onHidden" data-selected-id="@strTableRefDataTypes">
            @Html.CusDropdownListSelect2(null, $"ColumnTables[{sIndex}].IDColRef", "--Chọn cột--", dlColumnRef, new
            {
            @class = "form-control select2 IDColRef",
            @data_container = "body",
            @data_width = "150px",
            @data_default_text= "--Chọn cột--"
            //@data_value_target = (int)EnumTableInfo.InputType.Drd,
            }, isReadonly: Model.IsDetail || Model.IsDefault >0)
            <span class="text-danger field-validation-valid" data-valmsg-for="ColumnTables[@sIndex].IDColRef" data-valmsg-replace="true"></span>
        </div>
    </td>


    <td>
        <div class="custom-control custom-checkbox @isDetail">
            <input type="checkbox" class="checkboxes custom-control-input" name="ColumnTables[@sIndex].IsNullable" id="IsNullable@(scbIndex)" data-id="1" value="1" @(Model.IsNullable > 0 ? "checked" : string.Empty)>
            <label class="custom-control-label" for="IsNullable@(scbIndex)"></label>
            <span class="text-danger field-validation-valid" data-valmsg-for="ColumnTables[@sIndex].IsNullable" data-valmsg-replace="true"></span>
        </div>
    </td>



    <td>
        <div class="custom-control custom-checkbox @isDetail">
            <input type="checkbox" class="checkboxes custom-control-input" name="ColumnTables[@sIndex].IsRequired" id="IsRequired@(scbIndex)" data-id="1" value="1" @(Model.IsRequired > 0 ? "checked" : string.Empty)>
            <label class="custom-control-label" for="isIsRequiredRquire@(scbIndex)"></label>
            <span class="text-danger field-validation-valid" data-valmsg-for="ColumnTables[@sIndex].IsRequired" data-valmsg-replace="true"></span>
        </div>
    </td>
    <td>
        <div class="custom-control custom-checkbox @isDetail">
            <input type="checkbox" class="checkboxes custom-control-input" name="ColumnTables[@sIndex].IsShowOnList" id="IsShowOnList@(scbIndex)" data-id="1" value="1" @(Model.IsShowOnList > 0 ? "checked" : string.Empty)>
            <label class="custom-control-label" for="IsShowOnList@(scbIndex)"></label>
            <span class="text-danger field-validation-valid" data-valmsg-for="ColumnTables[@sIndex].IsShowOnList" data-valmsg-replace="true"></span>
        </div>
    </td>
    <td>
        <div class="custom-control custom-checkbox @isDetail">
            <input type="checkbox" class="checkboxes custom-control-input" name="ColumnTables[@sIndex].IsSearchable" id="IsSearchable@(scbIndex)" data-id="1" value="1" @(Model.IsSearchable > 0 ? "checked" : string.Empty)>
            <label class="custom-control-label" for="IsSearchable@(scbIndex)"></label>
            <span class="text-danger field-validation-valid" data-valmsg-for="ColumnTables[@sIndex].IsSearchable" data-valmsg-replace="true"></span>
        </div>
    </td>

    <td>
        <div class="custom-control custom-checkbox @isDetail">
            <input type="checkbox" class="checkboxes custom-control-input" name="ColumnTables[@sIndex].IsMultiple" id="IsMultiple@(scbIndex)" data-id="1" value="1" @(Model.IsMultiple > 0 ? "checked" : string.Empty)>
            <label class="custom-control-label" for="IsMultiple@(scbIndex)"></label>
            <span class="text-danger field-validation-valid" data-valmsg-for="ColumnTables[@sIndex].IsMultiple" data-valmsg-replace="true"></span>
        </div>
    </td>

    <td>
        <div class="@(isText ? string.Empty: "hidden") onHidden" data-selected-id="@strTextDataTypes" @isDetail>
            <input type="text" @isUpdate @isDetail class="form-control isNumberInteger isPositiveNumber" maxlength="4" placeholder="Số ký tự tối thiểu" name="ColumnTables[@sIndex].MinLen" value="@Model.MinLen" />
            <span class="text-danger field-validation-valid" data-valmsg-for="ColumnTables[@sIndex].MinLen" data-valmsg-replace="true"></span>
        </div>
    </td>
    <td>
        <div class="@(isText ? string.Empty: "hidden") onHidden" data-selected-id="@strTextDataTypes" @isDetail>
            <input type="text" @isUpdate @isDetail class="form-control isNumberInteger isPositiveNumber" maxlength="4" placeholder="Số ký tự đa" name="ColumnTables[@sIndex].MaxLen" value="@Model.MaxLen" />
            <span class="text-danger field-validation-valid" data-valmsg-for="ColumnTables[@sIndex].MaxLen" data-valmsg-replace="true"></span>
        </div>
    </td>
    <td>
        <div class="@(isNumber   ? string.Empty: "hidden") onHidden" data-selected-id="@strNumberDataTypes" @isDetail>
            <input type="text" @isUpdate @isDetail class="form-control isNumberInteger" maxlength="18" placeholder="Giá trị tối thiểu" name="ColumnTables[@sIndex].MinVal" value="@Model.MinVal" />
            <span class="text-danger field-validation-valid" data-valmsg-for="ColumnTables[@sIndex].MinVal" data-valmsg-replace="true"></span>
        </div>
    </td>
    <td>
        <div class="@(isNumber   ? string.Empty: "hidden") onHidden" data-selected-id="@strNumberDataTypes">
            <input type="text" maxlength="18" @isUpdate @isDetail class="form-control isNumberInteger" placeholder="Giá trị tối đa" name="ColumnTables[@sIndex].MaxVal" value="@Model.MaxVal" />
            <span class="text-danger field-validation-valid" data-valmsg-for="ColumnTables[@sIndex].MaxVal" data-valmsg-replace="true"></span>
        </div>
    </td>
    <td>
        <input type="text" @isDetail class="form-control isNumberInteger isPositiveNumber" maxlength="8" placeholder="Thứ tự" name="ColumnTables[@sIndex].Weight" value="@Model.Weight" data-name="Priority" />
        <span class="text-danger field-validation-valid" data-valmsg-for="ColumnTables[@sIndex].Weight" data-valmsg-replace="true"></span>
    </td>
    <td>
        <input type="text" @isDetail class="form-control" placeholder="Giá trị mặc định" name="ColumnTables[@sIndex].DefaultValue" value="@Model.DefaultValue" />
        <span class="text-danger field-validation-valid" data-valmsg-for="ColumnTables[@sIndex].DefaultValue" data-valmsg-replace="true"></span>
    </td>
    @*    <td>
        <div class="custom-control custom-radio" @isDetail>
        <input class="custom-control-input onChangeIsPrimaryKey" @(Model.IsDetail?"disabled":"") type="radio" value="@scbIndex" id="IsPrimaryKey@(scbIndex)" name="IsPrimaryKey"
        @(Model.IsPrimaryKey > 0 ? "checked" : string.Empty)>
        <label class="custom-control-label" for="IsPrimaryKey@(scbIndex)"></label>
        </div>
        </td>
        <td>
        <div class="custom-control custom-checkbox @isDetail">
        <input type="checkbox" class="checkboxes custom-control-input" name="ColumnTables[@sIndex].IsIdentity" id="IsIdentity@(scbIndex)" data-id="1" value="1" @(Model.IsIdentity > 0 ? "checked" : string.Empty)>
        <label class="custom-control-label" for="IsIdentity@(scbIndex)"></label>
        <span class="text-danger field-validation-valid" data-valmsg-for="ColumnTables[@sIndex].IsIdentity" data-valmsg-replace="true"></span>
        </div>
        </td>*@
    @if (!Model.IsDetail)
    {
        <td>
            @if (Model.IsDelete && Model.IsDefault == 0)
            {
                @*    <a title="Xoá" class="btn btn-sm btn-outline-secondary btn-hover-danger onDeleteItem" data-reindex="1" data-id="">
                    <i class="fas fa-fw fa-trash-alt"></i>
                    </a>*@


            }
        </td>
    }

</tr>
