﻿@using DAS.Utility.Helper
@using DAS.Utility
@using DAS.Application.Enums
@using DAS.Application.Models.ViewModels.DasKTNN;
@using DAS.Application.Enums.DasKTNN;

@model VMColumnPathInfo
@{
    var sIndex = Model.Index.HasValue ? Model.Index.ToString() : "n";
    var scbIndex = Model.Index.HasValue ? Model.Index.ToString() : string.Empty;

    var dlColumnRef = Model.Columns.IsNotEmpty()
           ? Model.Columns.Select(n => new SelectListItem
                   {
                       Value = n.ID.ToString(),
                       Text = n.Name,
                       Selected = Model.IDColumnPath == n.ID
                   })
           : new List<SelectListItem>();

    var isDetail = Model.IsDetail ? "readonly" : string.Empty;
    var isUpdate = Model.IsUpdate ? "readonly" : string.Empty;
    var isReadonly = Model.IsDetail;
}
<tr class="item">
    <td>
        <input type="hidden" class="isPositiveNumber" name="ColumnPaths[@sIndex].ID" value="@Model.ID" />
        <input type="hidden" class="isPositiveNumber" name="ColumnPaths[@sIndex].IDColumnTableInfo" value="@Model.IDColumnTableInfo" />

        @Html.CusDropdownListSelect2(null, $"ColumnPaths[{sIndex}].IDColumnPath", "--Chọn cột--", dlColumnRef, new
        {
        @class = "form-control select2",
        @data_target = ".onHidden",
        @data_container = "body",
        @data_width = "150px",
        }, isReadonly: Model.IsDetail  )
        <span class="text-danger field-validation-valid" data-valmsg-for="ColumnPaths[@sIndex].IDColumnPath" data-valmsg-replace="true"></span>
    </td>
    <td>

        <input type="text" class="form-control" @isDetail @isUpdate placeholder="Nhập tiếng việt viết liền không dấu, không bắt đầu bằng số, không chứa ký tự đặc biệt" name="ColumnPaths[@sIndex].PathName" value="@Model.PathName" />
        <span class="text-danger field-validation-valid" data-valmsg-for="ColumnPaths[@sIndex].PathName" data-valmsg-replace="true"></span>
    </td>

    @if (!Model.IsDetail && !Model.IsUpdate)
    {
        <td>
            <a title="Xoá" class="text-danger onDeleteItem" data-reindex="1" data-id="">
                <i class="fas fa-fw fa-trash-alt"></i>
            </a>
        </td>
    }
</tr>
