﻿@using DAS.Utility.Helper
@using DAS.Utility
@using DAS.Application.Enums
@using DAS.Application.Models.ViewModels.DasKTNN;
@using DAS.Application.Enums.DasKTNN;
@using Microsoft.AspNetCore.Mvc.Rendering;

@model VMTableLink
@{
    var sIndex = Model.Index.HasValue ? Model.Index.ToString() : "n";
    var dlTableRef = Model.Tables.IsNotEmpty()
    ? Model.Tables.Select(n => new SelectListItem { Value = n.ID.ToString(), Text = n.Name, Selected = Model.IDTableRef == n.ID })
    : new List<SelectListItem>();
    var idRecordLink = Model.IDRecordRef.ToString();
}
<tr class="item">
    <td>
        <div>
            @Html.CusDropdownListSelect2(null, $"IDTableRef", "Chọn bảng liên kết", dlTableRef, new
            {
                @class = "form-control select2 IDTableRef",
                @data_container = "body",
                @data_width = "150px",
                @data_target = ".IDRecordRef"
            })
        </div>
    </td>
    <td>
        <div>
            @Html.CusDropdownListSelect2Ajax("", $"IDRecordRef", "Chọn dữ liệu liên kết", new {
                @data_table_ref = ".IDTableRef"
            }, "Chọn dữ liệu liên kết", url: "/InputInfo/GetTableRecords", value: idRecordLink)
        </div>
    </td>
    <td class="text-center">
        <div class="d-flex is-btn-action">
            <a title="Xoá" class="text-danger onDeleteItem" data-reindex="1" data-id="">
                <i class="fas fa-fw fa-trash-alt"></i>
            </a>
        </div>
    </td>
</tr>
