﻿@using DAS.Utility.Helper
@using DAS.Utility
@using DAS.Application.Enums
@using DAS.Application.Models.ViewModels.DasKTNN;
@using DAS.Application.Enums.DasKTNN;
@using Microsoft.AspNetCore.Mvc.Rendering;
@model VMLeftTree

@{
    var pageIndexBackLink = Model.VMLienKetNguoc.PageIndex;
    var isCheckLoad = Model.VMLienKetNguoc.IsLoadView;
    var modelBackLink = Model.VMLienKetNguoc.LienKets;
}

@{
    if (modelBackLink.IsNotEmpty())
    {
        foreach (var item in modelBackLink)
        {
            <tr class="item">
                <td>
                    @item.TableName
                </td>
                <td>
                    @item.MaDanhMuc
                </td>
                <td>
                    @item.TenDanhMuc
                </td>
                <td class="hidden">
                    <input type="hidden" value="@pageIndexBackLink" id="pageIndexBackLink" />
                </td>
            </tr>
        }
        if (isCheckLoad)
        {
            <tr class="item">
                <td>
                    <p id="btnAddRowBackLink" type="button" data-target="#tbBacklink" data-url="/InformationLevel/GetBackLink?IDTable=@Model.InputInfoCondition.IDTable" class="text-primary text-center">Xem thêm</p>
                </td>
            </tr>
        }
    }
}

