﻿@using Microsoft.AspNetCore.Mvc.Rendering;
@using DAS.Application.Models.ViewModels;
@using DAS.Utility;
@using DAS.Utility.Helper;
@using DAS.Application.Models.ViewModels.DasKTNN;
@using DAS.Application.Enums.DasKTNN;
@model VMLeftTree
@{
    Model.TabLefTrees = Model.TabLefTrees ?? new List<TabLefTree>();
    Model.VMLienKetNguoc.LienKets = Model.VMLienKetNguoc.LienKets ?? new List<LienKetNguoc>();
}
<div class="overlay-wrapper">
    <form role="form" asp-action="" class="onUpdateInputState bv-form" id="frmMDIUSchema">
        @{
            if (Model.dataFirst.Rows.Count > 0)
            {
                int idTable = 0;
                var id = "";
                var link = "";
                int i = 0;
                bool isTableLink = false;
                foreach (var item in Model.columnTables)
                {
                    i++;
                    idTable = item.IDTable;
                    id = Model.dataFirst.Rows[0]["ID"].ToString();
                    link = "/InformationLevel/Change?IDTable=" + item.IDTable + "&ID=" + id;
                    <div class="form-group row" @(item.DataType == (int)EnumTableInfo.ColumnDataType.TableLink ? "hidden" : "") style="display: flex;align-items: center;justify-content: center;">
                        <label class="col-sm-4 col-form-label @(item.IsRequired?"required":"") " style="padding:0">@item.Name</label>
                        <div class="col-sm-8">
                            @{
                                var val = Model.dataFirst.Rows[0][item.DbName];
                                switch (item.DataType)
                                {
                                    case (int)EnumTableInfo.ColumnDataType.DateTime:
                                        <div class="input-group date_input" id="dpCreatedAt_@item.ID" data-target-input="nearest">
                                            @Html.CusTextBoxDate("", item.DbName, Utils.DateToString(val == DBNull.Value ? null : (DateTime?)val), item.Name, item.Name, item.IsRequired, new { data_target = "#dpCreatedAt_" + item.ID, data_toggle = "datetimepicker" }, 0)
                                            <div class="input-group-prepend" data-target="#dpCreatedAt_@item.ID" data-toggle="datetimepicker">
                                                <div class="input-group-text">
                                                    <span class="icon-calendar"></span>
                                                </div>
                                            </div>
                                        </div>
                                        break;
                                    case (int)EnumTableInfo.ColumnDataType.Decimal:
                                        @Html.CusTextBoxMoney("", item.DbName, Model.dataFirst.Rows[0][item.DbName], item.Name, item.Name, item.IsRequired, new { })
                                        break;
                                    case (int)EnumTableInfo.ColumnDataType.Integer:
                                        @Html.CustTexBoxNumber("", item.DbName, Model.dataFirst.Rows[0][item.DbName].ToString(), item.Name, item.Name, item.IsRequired, new { })
                                        break;
                                    case (int)EnumTableInfo.ColumnDataType.Boolean:
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="checkboxes custom-control-input" id="role-@item.ID" @((Int16)Model.dataFirst.Rows[0][item.DbName] == 1 ? "checked" : "") name="@item.DbName" value="1">
                                            <label class="custom-control-label" for="role-@item.ID"></label>
                                        </div>
                                        break;
                                    case (int)EnumTableInfo.ColumnDataType.Parent:
                                        var select2ValParent = Model.dataFirst.Rows[0][item.DbName].ToString();

                                        @Html.CusDropdownListSelect2Ajax("", item.DbName, item.Name, new
                                        {
                                        @data_id_table = item.IDTableRef,
                                        @data_id_column = item.ID,
                                        }, url: "/InputInfo/GetTableRecords", value: select2ValParent)
                                        break;
                                    case (int)EnumTableInfo.ColumnDataType.TableRef:
                                        var select2ValRef = Model.dataFirst.Rows[0][item.DbName].ToString();

                                        @Html.CusDropdownListSelect2Ajax("", item.DbName, item.Name, new
                                        {
                                        @data_id_table = item.IDTableRef,
                                        @data_id_column = item.ID,
                                        }, url: "/InputInfo/GetTableRecords", value: select2ValRef)
                                        break;
                                    case (int)EnumTableInfo.ColumnDataType.TableLink:
                                        isTableLink = true;
                                        break;
                                    default:
                                        <input name="@item.DbName" class="form-control" placeholder="@item.Name" value="@Model.dataFirst.Rows[0][item.DbName].ToString()" />
                                        break;
                                }
                            }
                        </div>
                    </div>
                }
                @if (isTableLink)
                {
                    <div class="form-group row mt-20">
                        <label class="col-sm-3 col-form-label">
                            Liên kết bảng
                            <a class="btn btn-xs btn-outline-primary onAppendTemplate inline" tabindex="0" href="#" data-target="#bodyTableLink" data-template="#tempTableLink" title="Thêm liên kết bảng">
                                <span><i class="fas fa-plus"></i></span>
                            </a>
                        </label>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <div class="table-responsive" style="overflow:auto">
                                <table id="tbConfigCategoryType" class="table table-borderless table-space table-hover dataTable dtr-inline useTreegrid table-bid-custom" role="grid">
                                    <thead class="thead-light">
                                        <tr class="elevation-1">
                                            <th>Tên bảng liên kết</th>
                                            <th>Dữ liệu liên kết</th>
                                            <th class="col-min text-center" data-column-id="commands" data-formatter="commands" data-sortable="false">Thao tác</th>
                                        </tr>
                                    </thead>
                                    <tbody id="bodyTableLink">
                                        @if (Model.tableLinks.IsNotEmpty())
                                        {
                                            foreach (var item in Model.tableLinks)
                                            {
                                                item.DlSchemaRef = Model.Schemas;
                                                item.Tables = Model.Tables;
                                                @await Html.PartialAsync("_TablesLink", item)
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                }
                <div class="form-group row" style="justify-content: end; padding-top: 15px; margin-right: 1px;">
                    <input type="hidden" value="@idTable" name="IDTable" />
                    <input type="hidden" value="@id" name="ID" />
                    <button class="btn bg-color-primary d-flex align-items-center quickSubmit mr-2" data-url="@link">
                        <span class="text-white font-s-14">Lưu</span>
                    </button>
                </div>

                @if (Model.VMLienKetNguoc.LienKets.IsNotEmpty())
                {
                    // Liên kết ngược
                    <div class="form-group row mt-20">
                        <label class="col-sm-3 col-form-label">
                            Liên kết ngược
                        </label>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <div class="table-responsive" style="overflow:auto">
                                <table id="tbBacklink" class="table table-borderless table-space table-hover dataTable dtr-inline useTreegrid table-bid-custom" role="grid">
                                    <thead class="thead-light">
                                        <tr class="elevation-1">
                                            <th>Tên bảng</th>
                                            <th>Mã dữ liệu</th>
                                            <th>Tên dữ liệu</th>
                                        </tr>
                                    </thead>
                                    <tbody id="bodyBacklink">
                                        @await Html.PartialAsync("_TablesBackLink", Model)
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    </form>
</div>
<script type="text/template" id="tempTableLink">
    @await Html.PartialAsync("_TablesLink", new VMTableLink()
    {
        IDTable = Model.TableInfo.ID,
        IDSchema = Model.TableInfo.IDSchema,
        DlSchemaRef = Model.Schemas,
        Tables = Model.Tables
    })
</script>

