﻿@using DAS.Utility;
@using DAS.Application.Models.ViewModels.DasKTNN
@model VMLeftTree
@{
    var pageIndex = Model.InputInfoCondition.PageIndex <= 0 ? 1 : Model.InputInfoCondition.PageIndex;
    var level = Model.InputInfoCondition.Level;
    var idParent = Model.InputInfoCondition.IDParent;
    var idTable = Model.InputInfoCondition.IDTable;
}
@{
    if (Utils.IsNotEmpty(Model.TableLeftTrees))
    {
        foreach (var item in Model.TableLeftTrees)
        {
            var detailLink = "/InformationLevel/GetInfoDetail?IDTable=" + item.IDTable + "&IDParent=" + item.ID;
            <tr class="isParent">
                <td data-id2="@item.ID" style="padding-bottom: 4px;">
                    <div class="d-flex">
                        <div class="custom-control custom-checkbox" id="divItem" style="margin-left: @(4 * (item.Level + 3)  + "px")">
                            <a class="text-primary cus-control-label quickDetail" title="Xem chi tiết" href="javascript:;" data-target="#divDetail" action="@detailLink" data-toggle="tooltip">
                                <i class="far fas fa-sitemap nav-icon"></i>&nbsp;&nbsp;@item.TieuDe
                            </a>
                            <input hidden class="custom-control-input" id="@item.ID" data-idtable="@item.IDTable" data-id="@item.ID" value="@item.ID" data-level="@item.Level" data-view="@item.View" data-check="@item.IsChild">
                        </div>
                        <i class="bid-icons bid-icon-square control_expand @(item.IsChild.Equals(0) ? "plus" : "")"></i>
                    </div>
                    <input type="hidden" value="@item.IsChild" class="expand_s" />
                    <input type="hidden" value="@pageIndex" id="pageIndexExpan_@level" />
                </td>
            </tr>
        }
        @if (Model.IsLoadView)
        {
            <tr class="isParent">
                <td style="padding-bottom: 4px;display:flex; justify-content:center; cursor: pointer;">
                    <a id="btnSeeMore" data-pagetarget="#pageIndexExpan_@level" data-target="#tblInformationLevel" data-url="/InformationLevel/GetDataExpand?IDTable=@idTable&Level=@level&IDParent=@idParent" class="text-primary text-center">Xem thêm</a>
                </td>
            </tr>
        }
    }
}
