﻿@using DAS.Utility;
@using DAS.Utility.Helper;
@using DAS.Application.Models.ViewModels.DasKTNN
@model VMLeftTree
@{
    var title = "Cấp dữ liệu";
    ViewData["PageHeaderContent"] = "InformationLevel";
    ViewBag.BreadcrumbMenu = "Danh mục";
    ViewBag.Breadcrumb = new List<string> { "Bảng dữ liệu", title };
    Layout = "~/Views/Shared/_LayoutCus.cshtml";
    var idTable = Utils.IsNotEmpty(Model.InputInfoCondition) ? Model.InputInfoCondition.IDTable : 0;
    var linkViewTable = $"/InputInfo?IDTable={idTable}";
    var isDanhMucDungChung = ViewBag.IsDanhMucDungChung;
}

<div class="container pt-30">
    <div class="row">
        <div class="col-md-5 mb-10">
            <div class="box-wrap-cs mb-15">
                <form id="frmInformationLevelSearch" role="form" method="post" class="quickSearch2" data-target="#divInformationLevel" asp-action="SearchByCondition" data-tra-cuu="true">
                    <div class="row row-ip">
                        <div class="input-group md-form form-sm form-2 pl-0">
                            <input type="hidden" name="IDTable" value="@idTable" />
                            @Html.CustTexBoxSearch("Keyword", "Keyword", "", "", "Nhập từ tìm kiếm")
                            <div class="input-group-append">
                                <button class="input-group-text amber lighten-3" type="submit" id="basic-text1">
                                    <i class="fas fa-search text-grey"
                                       aria-hidden="true"></i>
                                </button>
                                <a class="btn-icon-search text-primary ml-10" @(isDanhMucDungChung == "true" ? "" : "hidden") href="@linkViewTable" tabindex="0" title="Hiển thị dạng bảng">
                                    <i class="fas fa-table"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card card-danger card-outline" style="height: auto;border-radius: 8px !important;">
                <div class="card-body p-0">
                    <div id="divInformationLevel" style="height: auto;">
                        <div class="table-responsive" style="border-radius: 8px 8px 0 0; height: auto">
                            <div class="thead-pseudo" style="background-color: var(--bid-primary); color: #ffffff;">
                                <div class="thead-pseudo__dv">Cấp đơn vị</div>
                            </div>
                            <div style="max-height: 770px;overflow: auto;margin: 0;">
                                @await Html.PartialAsync("Index_InformationLevel", Model)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7 mb-10">
            <div class="box-wrap-cs mb-15" style="height: 72px">
                <form id="frmInformationLevel" role="form" method="post" class="quickSearch mt-10" data-target="#divDetail" asp-action="/InformationLevel?IDTable=@idTable">
                    <div class="row row-ip">
                        <div class="col-md-6 align-items-center d-flex col-ip-12">
                            <p class="is-header-table-search"><span>Cấp dữ liệu</span></p>
                        </div>
                        <div class="col-md-6 col-ip-12">
                            <div class="pull-right input-group-sm mb-3">
                                <input type="hidden" id="Level" name="Level">
                                <input type="hidden" id="View" name="@Model.InputInfoCondition.View">
                                <input type="hidden" id="IDParent" name="IDParent">
                                <input type="hidden" id="IdNoteExpandStatus" name="IdNoteExpandStatus">
                                <a class="btn-icon-search text-success quickDetail" href="javascript:;" action="/InformationLevel/Create?IDTable=@Model.InputInfoCondition.IDTable" tabindex="0" data-target="#divDetail" title="Thêm mới" @(Utils.IsNotEmpty(Model.InputInfoCondition.View) ? "hidden" : "")>
                                    <i class="fas fa-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card card-danger card-outline" style="border-radius:8px; margin:0">
                <div class="card-body p-0" style="height: 100%;">
                    <div class="table-responsive" id="divDetail" style="height: 100%;">
                        @await Html.PartialAsync("Detail", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        jQuery(document).on("submit", ".quickSearch2", function () {
            const form = $(this);
            let url = form.attr("action");
            let method = form.attr("method");
            let target = form.attr("data-target");
            let data = CommonJs.GetSerialize2(form);

            jQuery.ajax({
                type: method,
                async: true,
                url: url,
                data: data,
                beforeSend: function () {
                    $(target).html('');
                    CommonJs.LazyLoadAjaxPro();
                },
                success: function (rs) {
                    try {
                        if (form.attr("data-state") != "0") {
                            window.history.pushState(null, "", CommonJs.FormBuilderQString(form));
                        }
                    } catch (e) {
                        console.log(e);
                    }
                    CommonJs.ToggleMultiTicks(jQuery(target));
                    $(target).html(rs);
                    CommonJs.Select2Init();
                    CommonJs.UpdateTreeGrid();
                    CommonJs.InitSelect2SearchCs();
                }
            });
            return false;
        })
        jQuery(document).on("click", ".control_expand", function () {
            var $thisCheckbox = $(this).parent('.d-flex');
            var $thisParentClass = $(this).parents('tr').attr('class');
            var tr = $thisCheckbox.find('.cus-control-label').closest('tr');
            var idExpand = tr.find(".custom-control-input").attr('data-id');
            var level = tr.find(".custom-control-input").attr('data-level');
            var idtable = tr.find(".custom-control-input").attr('data-idtable');
            var typeView = tr.find(".custom-control-input").attr('data-view');
            $('#IDParent').val(idExpand);
            $('#Level').val(level);
            var IdNoteExpandStatus = tr.find(".expand_s").val();
            if (IdNoteExpandStatus == 0) return;
            if (IdNoteExpandStatus == 1) {
                tr.find(".expand_s").val(0);
            }

            $('#IdNoteExpandStatus').val(IdNoteExpandStatus);
            var form = $("#frmInformationLevel");
            var data = CommonJs.GetSerialize2(form);
            let url = "/InformationLevel/GetDataExpand?IDTable=" + idtable + "&View=" + typeView;
            let method = form.attr("method");
            jQuery.ajax({
                type: method,
                async: false,
                url: url,
                data: data,
                beforeSend: function () {
                    CommonJs.LazyLoadAjaxPro();
                },
                success: function (rs) {
                    try {
                        if (form.attr("data-state") != "0") {
                            window.history.pushState(null, "", "");
                        }
                    } catch (e) {
                        console.log(e);
                    }
                    if (IdNoteExpandStatus == 1) {
                        tr.after(rs);
                    }
                    else {

                        var tbl = document.createElement('table');
                        var tbody = tbl.appendChild(document.createElement('tbody'));
                        tbody.innerHTML = rs;

                        var idRemoveList = '';
                        for (let row of tbl.rows) {

                            var idExpand = row.cells[0].getAttribute("data-id2");
                            idRemoveList = idRemoveList + idExpand + ',';
                        }

                        $("#tblInformationLevel tr").each(function () {
                            var id = $(this).find(".custom-control-input").attr('data-id');
                            if (idRemoveList.includes(id + ',')) {
                                $(this).remove();
                            }
                        });
                    }
                    CommonJs.Select2Init();
                    CommonJs.UpdateTreeGrid();
                    $('.isParent').addClass('isParent-' + $thisCheckbox.find('input').val()).addClass($thisParentClass).removeClass('isParent');
                }
            });
            return false;
        });
        $(document).off('click', '.bid-icon-square').on('click', '.bid-icon-square', function () {
            let divParent = $(this).parent('.d-flex');
            let value = $(divParent).find('input').val();
            const isParent = $('.isParent-' + value);
            $(this).toggleClass('plus');
            if ($(this).hasClass('plus')) {
                isParent.show();
            } else {
                isParent.hide();
            }
        });

        
        jQuery(document).on("change", ".onChangeFieldIsIdentity", function (e) {
            e.preventDefault();
            var obj = jQuery(this);
            var form = obj.closest("form");
            var target = form.find(obj.data("target"));
            CommonJs.DestroyValidator(form);
            if (obj.is(":checked")) {
                target.prop('readonly', true);
                target.attr('data-bv-notempty', false);
            } else {
                target.prop('readonly', false);
                target.attr('data-bv-notempty', true);
            }
            CommonJs.BootstrapValidator(form);
        });
    </script>
}
