﻿@using DAS.Utility;
@using DAS.Application.Models.ViewModels.DasKTNN
@model VMLeftTree

@{
    
    var pageIndex = Model.InputInfoCondition.PageIndex <= 0 ? 1 : Model.InputInfoCondition.PageIndex;
}

<table id="tblInformationLevel" class="table table-borderless">
    <tbody>
        @{
            if (Utils.IsNotEmpty(Model.TableLeftTrees))
            {
                foreach (var item in Model.TableLeftTrees)
                {
                    var detailLink = "/InformationLevel/GetInfoDetail?IDTable=" + item.IDTable + "&IDParent=" + item.ID;
                    <tr>
                        <td style="padding-bottom: 4px;">
                            <div class="d-flex">
                                <div class="ml-2">
                                    <a class="text-primary cus-control-label quickDetail" title="Xem chi tiết" href="javascript:;" data-target="#divDetail" action="@detailLink" data-toggle="tooltip">
                                        <i class="far fas fa-sitemap nav-icon"></i>&nbsp;&nbsp;@item.TieuDe
                                    </a>
                                    <input hidden class="custom-control-input" id="@item.ID" data-idtable="@item.IDTable" data-id="@item.ID" value="@item.ID" data-view="@item.View" data-level="0" data-check="@item.IsChild">
                                </div>
                                <i class="bid-icons bid-icon-square ml-1 control_expand @(item.IsChild.Equals(0) ? "plus" : "")"></i>
                            </div>
                            <input type="hidden" value="@item.IsChild" class="expand_s" />
                            <input type="hidden" value="@pageIndex" id="pageIndex" />
                        </td>
                    </tr>
                }
                @if (Model.IsLoadView)
                {
                    <tr>
                        <td style="padding-bottom: 4px;display:flex; justify-content:center; cursor: pointer;">
                            <p id="btnSeeMore" type="button" data-pagetarget="#pageIndex" data-target="#tblInformationLevel" data-url="/InformationLevel/GetDataSeeMore?IDTable=@Model.InputInfoCondition.IDTable" class="text-primary text-center">Xem thêm</p>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>