﻿@model DAS.Application.Models.ViewModels.VMUpdateOrganConfig
@using DAS.Utility;
@using DAS.Utility.Helper;
@{
    ViewData["PageHeaderContent"] = "OrganConfig";
    Layout = "";
    var index = 0;
    var selected = "";
    var inputType = new List<string> { "IntVal", "FloatVal", "DateTimeVal", "StringVal" };
    if (Model.ID > 0)
    {
        foreach (var item in inputType)
        {
            if (Model.GetType().GetProperty(item).GetValue(Model, null) != null)
            {
                selected = item;
                break;
            }
        }
    }
}

<div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
    <div class="modal-content">
        <form role="form" asp-action="" class="validateForm bv-form" id="frmOrganConfigDetail">
            <div class="modal-header bg-success">
                <h3 class="modal-title" id="planCreateModalTitle">Xem chi tiết tham số </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" asp-for="Code"></label>
                    <div class="col-sm-8">
                        <input asp-for="Code" class="form-control" placeholder="Mã tham số" readonly data-bv-notempty-message="Mã tham số không được trống" data-bv-notempty="true" data-bv-field="Code" />
                        <span asp-validation-for="Code" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" asp-for="Name"></label>
                    <div class="col-sm-8">
                        <input asp-for="Name" class="form-control" placeholder="Tên tham số" readonly data-bv-notempty-message="Tên tham số không được trống" data-bv-notempty="true" data-bv-field="Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                @if (selected == "IntVal")
                {
                    <div class="form-group row">

                        <label class="col-sm-4 col-form-label " asp-for="IntVal"></label>

                        <div class="col-sm-8">
                            <input asp-for="IntVal" class="form-control" readonly />
                            <span asp-validation-for="IntVal" class="text-danger"></span>
                        </div>
                    </div>
                }
                else if (selected == "FloatVal")
                {
                    <div class="form-group row">

                        <label class="col-sm-4 col-form-label " asp-for="FloatVal"></label>

                        <div class="col-sm-8">
                            <input asp-for="FloatVal" class="form-control" readonly />
                            <span asp-validation-for="FloatVal" class="text-danger"></span>
                        </div>
                    </div>
                }
                else if (selected == "DateTimeVal")
                {
                    <div class="form-group row">

                        <label class="col-sm-4 col-form-label " asp-for="DateTimeVal"></label>

                        <div class="col-sm-8">
                            <div class="input-group" id="dpDateTimeVal" data-target-input="nearest">
                                <div class="input-group-prepend" data-target="#dpEndDate" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                                </div>
                                @Html.CusTextBoxDate("DateTimeVal", "DateTimeVal", Model.DateTimeVal, "Giá trị ngày tháng", "Giá trị ngày tháng", true, new { data_target = "#dpDateTimeVal", data_toggle = "datetimepicker" }, 0)
                            </div>
                            <span asp-validation-for="DateTimeVal" class="text-danger"></span>
                        </div>
                    </div>
                }
                else if (selected == "StringVal")
                {
                    <div class="form-group row">

                        <label class="col-sm-4 col-form-label " asp-for="StringVal"></label>

                        <div class="col-sm-8">
                            <input asp-for="StringVal" class="form-control" readonly />
                            <span asp-validation-for="StringVal" class="text-danger"></span>
                        </div>
                    </div>
                }
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" asp-for="Description"></label>
                    <div class="col-sm-8">
                        <textarea asp-for="Description" readonly class="form-control" rows="5">@Model.Description</textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="hidden" asp-for="ID" />
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
                    <i class="fas fa-fw fa-times"></i><span>Đóng</span>
                </button>
                <a class="btn btn-outline-info quickUpdate" href="/OrganConfig/EditPopup?id=@Model.ID" data-target="#mdEditOrganConfig"><i class="fas fa-fw fa-edit"></i><span>Chỉnh sửa</span></a>
            </div>
        </form>
    </div>
</div>


@*<script src="~/js/controller/OrganConfigController.js" asp-append-version="true"></script>
    <script type="text/javascript">
        InitOrganConfig();
    </script>*@

