﻿@using DAS.Domain.Enums;
@using DAS.Utility;
@using DAS.Utility.Helper;
@model DAS.Application.Models.ViewModels.VMCreateAgency
@{
    var agencies = (ViewBag.ListOrgan as List<SelectListItem>) ?? new List<SelectListItem>();
}

<div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered" role="document">
    <form role="form" class="modal-content onUpdateInputState" id="planCreateForm">
        <div class="modal-header d-flex align-items-center">
            <h5 class="modal-title font-weight-bold font-s-16 text-white" id="planCreateModalTitle">Thêm mới đơn vị </h5>
            <span class="w-h-32 icon-exit-white ml-auto" data-dismiss="modal" aria-hidden="true"></span>
        </div>
        <div class="modal-body">
            <input asp-for="ID" type="hidden" class="form-control" />
            <div class="form-group row form-input-admin">
                <label class="col-sm-4 col-form-label input-required" asp-for="IDOrgan"></label>
                <div class="col-sm-8">
                    @Html.CusDropdownListSelect2("IDOrgan", "IDOrgan", "--Chọn cơ quan--", agencies, new { @class = "select2 w-100 select2-cs", @data_placeholder = "--Chọn cơ quan--" }, isNotEmpty: true)
                    <span asp-validation-for="IDOrgan" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row form-input-admin">
                <label class="col-sm-4 col-form-label" asp-for="ParentName"></label>
                <div class="col-sm-8">
                    <select asp-for="ParentIdStr" class="form-control select2 select2-cs" data-placeholder="--Chọn đơn vị--">
                        @if (Model.Parents != null && Model.Parents.Count() > 0)
                        {
                            <option value="-1">--Chọn đơn vị--</option>
                            foreach (var item in Model.Parents)
                            {
                                if (item.ID == Model.ParentId)
                                {
                                    <option value="@item.ID" selected>@item.Name</option>
                                }
                                else
                                {
                                    <option value="@item.ID">@item.Name</option>
                                }
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label input-required" asp-for="Code"></label>
                <div class="col-sm-8">
                    <input asp-for="Code" class="form-control font-s-13" placeholder="Mã đơn vị" />
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label input-required" asp-for="Name"></label>
                <div class="col-sm-8">
                    <input asp-for="Name" class="form-control font-s-13" placeholder="Tên đơn vị" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" asp-for="Description"></label>
                <div class="col-sm-8">
                    <textarea asp-for="Description" class="form-control font-s-13" placeholder="Mô tả" rows="5"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button data-url="/Agency/Create" class="btn bg-color-primary d-flex align-items-center quickSubmit">
                <span class="text-white font-s-14">Lưu</span>
            </button>
            <button type="button" class="btn bg-color-gray-6 d-flex align-items-center" data-dismiss="modal">
                <span class="font-s-14 text-color-body font-weight-500">Đóng</span>
            </button>
        </div>
    </form>
</div>
<script type="text/javascript">
    jQuery(function () { AgencyConfig.OpenPopup() });
</script>
