﻿@using DAS.Domain.Enums;
@using DAS.Utility;
@model DAS.Application.Models.ViewModels.VMAgency

<div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered" role="document">
    <form role="form" class="modal-content validateForm bv-form" id="planCreateForm">
        <div class="modal-header d-flex align-items-center">
            <h5 class="modal-title font-weight-bold font-s-16 text-white" id="planCreateModalTitle">Chi tiết đơn vị </h5>
            <span class="w-h-32 icon-exit-white ml-auto" data-dismiss="modal" aria-hidden="true"></span>
        </div>
        <div class="modal-body">
            <input asp-for="ID" type="hidden" class="form-control" />
            <div class="form-group row form-input-admin">
                <label class="col-sm-4 col-form-label input-required" asp-for="OrganName"></label>
                <div class="col-sm-8">
                    <select class="form-control select2 select2-cs" data-placeholder="--Chọn cơ quan--" disabled>
                        @if (!string.IsNullOrEmpty(Model.OrganName))
                        {
                            <option>@Model.OrganName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row form-input-admin">
                <label class="col-sm-4 col-form-label" asp-for="ParentName"></label>
                <div class="col-sm-8">
                    <select asp-for="ParentIdStr" class="form-control select2 select2-cs" data-placeholder="--Chọn đơn vị--" disabled>
                        @if (Model.Parents != null && Model.Parents.Count() > 0)
                        {
                            <option value="-1">--Chọn đơn vị--</option>
                            foreach (var item in Model.Parents)
                            {
                                if (item.ID == Model.ParentId)
                                {
                                    <option value="@item.ID" selected>@item.Name</option>
                                }
                                else
                                {
                                    <option value="@item.ID">@item.Name</option>
                                }
                            }

                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label input-required" asp-for="Code"></label>
                <div class="col-sm-8">
                    <input asp-for="Code" class="form-control font-s-13" placeholder="Mã đơn vị" readonly />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label input-required" asp-for="Name"></label>
                <div class="col-sm-8">
                    <input asp-for="Name" class="form-control font-s-13" placeholder="Tên đơn vị" readonly />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" asp-for="Description"></label>
                <div class="col-sm-8">
                    <textarea asp-for="Description" readonly class="form-control font-s-13" placeholder="Mô tả" rows="5"></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="/Agency/EditPopup?id=@Model.ID" data-target="#planCreateModal" class="btn bg-color-primary d-flex align-items-center quickUpdate">
                <span class="text-white font-s-14">Chỉnh sửa</span>
            </a>
            <button type="button" class="btn bg-color-gray-6 d-flex align-items-center" data-dismiss="modal">
                <span class="font-s-14 text-color-body font-weight-500">Đóng</span>
            </button>
        </div>
    </form>
</div>

