﻿@using DAS.Utility;
@using DAS.Domain.Enums;
@using DAS.Application.Models.ViewModels;
@using DAS.Domain.Models.DAS;
@model IEnumerable<HierachyAgency>

@if (Model != null && Model.Count() > 0)
{
    <td>
        <div class="p-0">
            <table class="table table-hover">
                <tbody>
                    @foreach (var item in Model)
                    {
                        @if (item.HasChild)
                        {
                            <tr id="expandable-@item.ID" class="expandable-table" data-widget="expandable-table" aria-expanded="false">
                                <td>
                                    <i class="fas fa-caret-right fa-fw"></i>
                                    @item.Name
                                </td>
                            </tr>
                            <tr class="expandable-body"></tr>
                        }
                        else
                        {
                            <tr>
                                <td>@item.Name</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </td>
}
