﻿:root {
    --bid-dark-blue: #0B5492;
    --bid-red: #DC3545;
    --bid-secondary-lightest: #E8E8E8;
    --bid-secondary-light: #B1B1B1;
    --bid-yellow-400: #FEE280;
    --bid-yellow-100: #FFF6D9;
    --bid-dark-light: #E8F4FB;
    --bid-dark-red: #ED1B24;
    --bid-cyan-100: #DAEFF2;
    --bid-primary: #0089D1;
    --bid-gray: #CCCCCC;
    --bid-primary-lightest: #CCE7F6;
    --bid-default: #E7E9EE;
    --bid-light: #F2F6FC;
    --bid-gray-light: #999;
    --bid-gray-light-2: #ccc;
    --bid-font-default: 'Roboto', sans-serif;
    --bid-corlor-body: #444444;
    --bid-corlor-body-title-text: #3F3F3F;
    --bid-border-menu: #06B1FB;
    --bid-bg-body: #f2f6fc;
    --bid-bg-header-modal: #556670;
    font-size: 14px;
}

/*Dùng chung*/
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: var(--bid-font-default);
    font-size: 1rem;
    color: var(--bid-corlor-body);
    background-color: var(--bid-bg-body);
}

html {
    box-sizing: border-box;
}

a[href^="http"]:empty::before {
    content: attr(href);
}

a[href]:not([class]) {
    color: var(--primary);
    text-decoration: underline;
}

img {
    display: block;
    font-family: sans-serif;
    font-weight: 300;
    height: auto;
    line-height: 2;
    position: relative;
    text-align: center;
    width: 100%;
}

    img::before {
        content: "We're sorry, the image below is broken :(";
        display: block;
        margin-bottom: 10px;
    }

    img::after {
        content: "(url: " attr(src) ")";
        display: block;
        font-size: 12px;
    }

br + br {
    display: none;
}

/*Color*/

.text-dark-blue {
    color: var(--bid-dark-blue) !important;
}

.text-red {
    color: var(--bid-dark-red) !important;
}

.text-body-title {
    color: var(--bid-corlor-body-title-text);
}

.text-danger {
    color: var(--bid-red) !important;
}

.text-gray {
    color: var(--bid-gray) !important;
}

.text-primary-lightest {
    color: var(--bid-primary-lightest) !important;
}

.text-underline {
    text-decoration: underline;
}

.bg-primary-lightest {
    background-color: var(--bid-primary-lightest);
}

.bg-secondary-lightest {
    background-color: var(--bid-secondary-lightest);
}

.bg-yellow-100 {
    background-color: var(--bid-yellow-100);
}

.btn-primary {
    background-color: var(--bid-primary);
    border-color: var(--bid-primary);
    border-radius: 3.52351px;
    height: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14.094px;
    line-height: 120%;
}

    .btn-primary:hover {
        background-color: var(--bid-primary);
        border-color: var(--bid-primary);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    }
/*Position*/
.flex-1-1 {
    flex: 1 1;
}

/*Font*/
.font-s-11 {
    font-size: 11px !important;
}

.font-s-12 {
    font-size: 12px !important;
}

.font-s-13 {
    font-size: 13px !important;
    line-height: 140%;
}

.font-s-14 {
    font-size: 14px !important;
}

.font-s-16 {
    font-size: 16px !important;
}

.font-s-24 {
    font-size: 24px !important;
}

.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.r-30-per {
    right: 30%;
}

.l-unset {
    left: unset;
}

.l-30-per {
    left: 30%;
}

.minus-l-70-per {
    left: -70%;
}

.minus-l-110-per {
    left: -110%;
}

.vertical-middle {
    vertical-align: middle !important;
}

.table-no-box-shadow td {
    box-shadow: none !important;
}
/*Scroll*/
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

    ::-webkit-scrollbar:hover {
        width: 10px;
        height: 10px;
    }

*:hover::-webkit-scrollbar-corner {
    width: 10px;
    height: 10px;
}


::-webkit-scrollbar-track {
    box-shadow: inset 0 0 .5px var(--bid-gray-light) !important;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--bid-gray-light-2);
    border-radius: 10px;
}

    ::-webkit-scrollbar-thumb:hover {
        background: var(--bid-gray-light);
        transition: background-color .2s linear;
    }

/*Width Height*/
.w-28 {
    width: 2.8rem !important;
}

.w-46 {
    width: 4.6rem !important;
}

.w-55 {
    width: 5.5rem !important;
}

.w-60 {
    width: 6rem !important;
}

.w-66 {
    width: 6.6rem !important;
}

.w-70 {
    width: 7rem !important;
}

.w-76 {
    width: 7.6rem !important;
}

.w-77 {
    width: 7.7rem !important;
}

.w-80 {
    width: 8rem !important;
}

.w-94 {
    width: 9.4rem !important;
}

.w-96 {
    width: 9.6rem !important;
}

.w-110 {
    width: 110px !important;
}

.w-115 {
    width: 115px !important;
}

.w-120 {
    width: 120px !important;
}

.w-136 {
    width: 136px !important;
}

.w-140 {
    width: 14rem !important;
}

.w-145 {
    width: 145px !important;
}

.w-150 {
    width: 15rem !important;
}

.w-155 {
    width: 15.5rem !important;
}

.w-164 {
    width: 16.4rem !important;
}

.w-180 {
    width: 18rem !important;
}

.w-186 {
    width: 18.6rem !important;
}

.w-187 {
    width: 18.7rem !important;
}

.w-200 {
    width: 200px !important;
}

.w-215 {
    width: 215px;
}


.w-220 {
    width: 22rem;
}

.w-250 {
    width: 25rem;
}

.w-270 {
    width: 27rem;
}

.w-275 {
    width: 275px;
}

.w-320 {
    width: 320px !important;
}

.w-370 {
    width: 370px !important;
}

.w-400 {
    width: 40rem !important;
}

.w-410 {
    width: 41rem !important;
}

.w-450 {
    width: 45rem !important;
}

.w-480 {
    width: 480px !important;
}

.w-510 {
    width: 51rem !important;
}

.w-600 {
    width: 60rem !important;
}

.w-1366 {
    width: 136.6rem;
}

/*Min Width Height*/
.m-w-46 {
    min-width: 4.6rem !important;
}

.m-w-55 {
    min-width: 5.5rem !important;
}

.m-w-60 {
    min-width: 6rem !important;
}

.m-w-66 {
    min-width: 6.6rem !important;
}

.m-w-70 {
    min-width: 7rem !important;
}

.m-w-74 {
    min-width: 7.4rem !important;
}

.m-w-76 {
    min-width: 7.6rem !important;
}

.m-w-77 {
    min-width: 7.7rem !important;
}

.m-w-80 {
    min-width: 8rem !important;
}

.m-w-90 {
    min-width: 9rem !important;
}

.m-w-96 {
    min-width: 9.6rem !important;
}

.m-w-100 {
    min-width: 10rem !important;
}

.m-w-104 {
    min-width: 10.4rem !important;
}

.m-w-111 {
    min-width: 11.1rem !important;
}

.m-w-116 {
    min-width: 11.6rem !important;
}

.m-w-120 {
    min-width: 12rem !important;
}

.m-w-126 {
    min-width: 12.6rem !important;
}

.m-w-134 {
    min-width: 13.4rem !important;
}

.m-w-140 {
    min-width: 14rem !important;
}

.m-w-150 {
    min-width: 15rem !important;
}

.m-w-180 {
    min-width: 18rem !important;
}

.m-w-186 {
    min-width: 18.6rem !important;
}

.m-w-200 {
    min-width: 200px !important;
}

.m-w-210 {
    min-width: 21rem !important;
}

.m-w-226 {
    min-width: 22.6rem !important;
}

.m-w-246 {
    min-width: 24.6rem !important;
}

.m-w-250 {
    min-width: 250px !important;
}

.m-w-266 {
    min-width: 26.6rem !important;
}

.m-w-270 {
    min-width: 27rem !important;
}

.m-w-303 {
    min-width: 303px !important;
}

.m-w-360 {
    min-width: 36rem !important;
}

.m-w-370 {
    min-width: 370px !important;
}

.m-w-400 {
    min-width: 40rem !important;
}

.m-w-600 {
    min-width: 60rem !important;
}

.max-w-40 {
    max-width: 4rem !important;
}

.max-w-td {
    max-width: 20rem !important;
}

.max-w-content {
    width: max-content;
    width: -moz-max-content;
}

.w-40-per {
    width: 40% !important;
}

.w-70-per {
    width: 70% !important;
}

.w-74-dot-5-per {
    width: 74.5% !important;
}

.w-100-per {
    width: 100% !important;
}

.w-25-vw {
    width: 25vw;
}

.w-28-vw {
    width: 28vw;
}

.h-38 {
    height: 3.8rem;
}

.m-h-50 {
    min-height: 50px;
}

/*Rem*/
.e .w-30 {
    width: 30rem !important;
}

/*Margin*/
.m-0 {
    margin: 0 !important;
}

.mt-3 {
    margin-top: 3px !important;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-17 {
    margin-top: 17px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-22 {
    margin-top: 22px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-80 {
    margin-top: 80px;
}

.mt-99 {
    margin-top: 99px;
}

.mr-5 {
    margin-right: 5px !important;
}

.mr-8 {
    margin-right: 8px !important;
}

.mr-10 {
    margin-right: 10px !important;
}

.mr-12 {
    margin-right: 12px;
}

.mr-20 {
    margin-right: 20px !important;
}

.mr-24 {
    margin-right: 24px !important;
}

.mr-25 {
    margin-right: 25px !important;
}

.mb-2 {
    margin-bottom: 2px;
}

.mb-3 {
    margin-bottom: 3px !important;
}

.mb-5 {
    margin-bottom: 5px !important;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-22 {
    margin-bottom: 22px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-35 {
    margin-bottom: 35px;
}

.ml-5 {
    margin-left: 5px !important;
}

.ml-8 {
    margin-left: 8px !important;
}

.ml-10 {
    margin-left: 10px !important;
}

.ml-15 {
    margin-left: 15px;
}

.ml-20 {
    margin-left: 20px;
}

.ml-28 {
    margin-left: 28px !important;
}

.minus-mt-1 {
    margin-top: -1rem;
}

/*Padding*/
.p-0 {
    padding: 0;
}

.p-8 {
    padding: 8px;
}

.p-20 {
    padding: 20px !important;
}

.p-25 {
    padding: 25px !important;
}

.pt-3 {
    padding-top: 3px !important;
}

.pt-4 {
    padding-top: 4px !important;
}

.pt-5 {
    padding-top: 5px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-30 {
    padding-top: 30px;
}

.pr-5 {
    padding-right: 5px !important;
}

.pr-10 {
    padding-right: 10px !important;
}

.pr-12 {
    padding-right: 12px;
}

.pr-40 {
    padding-right: 40px;
}

.pr-45 {
    padding-right: 45px !important;
}


.pl-5 {
    padding-left: 5px !important;
}

.pl-10 {
    padding-left: 10px !important;
}

.pl-12 {
    padding-left: 12px;
}

.pl-24 {
    padding-left: 24px;
}

.pl-37 {
    padding-left: 37px !important;
}

.pl-34 {
    padding-left: 34px !important;
}

.pb-30 {
    padding-bottom: 30px;
}

/*Top Right Left Bottom*/
.t-10 {
    top: 10px;
}

.t-15 {
    top: 15px;
}

.t-260 {
    top: 260px;
}

.t-275 {
    top: 275px;
}

.r-40 {
    right: 40px;
}

.minus-l-160 {
    left: -160px;
}

/*Fix Login*/
.login-info .login-logo,
.login-info .register-logo,
.register-info .login-logo,
.register-info .register-logo {
    margin-top: 12%;
    width: 75.8px;
}

.login-logo img {
    width: 75.8px;
    height: 75.8px;
    object-fit: cover;
}

.login-info, .register-info {
    justify-content: center;
    padding-left: 0;
    margin-top: -85px;
    align-items: center;
}


    .login-info .login-title,
    .login-info .register-title,
    .register-info .login-title,
    .register-info .register-title {
        font-size: 20.2141px;
        text-align: center;
        line-height: 140%;
        font-weight: 700;
        color: var(--bid-corlor-body) !important;
        margin-top: -60%;
    }

        .login-info .login-title small,
        .login-info .register-title small,
        .register-info .login-title small,
        .register-info .register-title small {
            font-size: 20.2141px;
            line-height: 140%;
        }

.login-background img.is-new,
.register-background img.is-new {
    height: 491px;
    margin-top: 50%;
    object-fit: contain;
}

.login-background.linear-gradient-primary {
    background: linear-gradient(330.16deg, #1D4C90 5.63%, #1D4C90 42.36%, #06B1FB 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.is-footer {
    font-size: 12px;
    line-height: 140%;
    color: #737373;
    margin-left: 42px;
    margin-right: 60px;
    margin-top: 1rem;
}

    .is-footer p {
        margin-bottom: 8px;
    }

    .is-footer .is-footer-left {
        text-align: left;
    }

    .is-footer .is-footer-right {
        text-align: right;
    }

.is-bg-top {
    height: 122px;
}

    .is-bg-top img:first-child {
        height: 106px;
    }

.is-bg-bottom {
    height: 149px;
}

    .is-bg-bottom p {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 140%;
        color: rgba(255, 255, 255, 0.6);
        position: absolute;
        right: 51px;
        bottom: 38px;
        margin: 0;
    }

    .is-bg-bottom img:first-child {
        height: 116px;
        bottom: 0;
    }

.is-bg-top,
.is-bg-bottom {
    position: relative;
}

    .is-bg-top img,
    .is-bg-bottom img {
        object-fit: fill;
        position: absolute;
    }

.login-box-msg,
.register-box-msg {
    padding: 0 0 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: var(--bid-primary-lightest);
}

.login-box {
    width: 308px;
}

.star:after {
    content: "*";
    color: var(--bid-red);
    font-family: var(--bid-font-default);
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 140%;
    margin-left: .5rem;
}

.col-form-label {
    padding-bottom: 6px;
    padding-top: 6px;
}

.custom-control-label::before,
.custom-control-label::after {
    width: 1.2rem;
    height: 1.2rem;
    background-color: #066ba1;
    border: 1px solid var(--white);
    border-radius: 3px !important;
}

.form-control {
    height: 40px;
    padding: 4px 12px;
    border-radius: 4px;
    font-size: 14px;
}

.login-card-body .input-group .form-control,
.register-card-body .input-group .form-control {
    border-right: 0;
}

    .login-card-body .input-group .form-control ~ .input-group-prepend .input-group-text,
    .register-card-body .input-group .form-control ~ .input-group-prepend .input-group-text {
        font-size: 14px;
        padding-top: 5px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        padding: 3px 0;
        padding-right: 10px;
    }

/*Icons*/
.bid-icons {
    width: 32px;
    height: 32px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: top;
    object-fit: contain;
}

.bid-icon-person {
    background-image: url('../img/login/person.svg');
    background-size: 32px;
}

.bid-icon-password {
    background-image: url('../img/login/password.svg');
    background-size: 32px;
}

.is-line {
    border-left: 1px solid var(--bid-secondary-lightest);
    height: 27px;
}

.is-mobile {
    display: none;
}

@media only screen and (width:1600px) and (max-height: 901px) {
    .login-info .login-logo,
    .login-info .register-logo,
    .register-info .login-logo,
    .register-info .register-logo {
        margin-top: 6%;
    }

    .login-background img.is-new,
    .register-background img.is-new {
        margin-top: 30%;
    }
}

@media (max-width: 1367px) {
    .login-info .login-logo,
    .login-info .register-logo,
    .register-info .login-logo,
    .register-info .register-logo {
        margin-top: 6%;
    }

    .login-background img.is-new,
    .register-background img.is-new {
        margin-top: 30%;
    }

    .login-info .login-title,
    .login-info .register-title,
    .register-info .login-title,
    .register-info .register-title {
        margin-top: -45%;
    }
}

@media (max-width: 736px) {
    .is-mobile {
        display: block;
    }

    .row {
        height: 100%;
    }

    .login-page .row > .col-4 {
        display: none;
    }

    .login-page .row > .col-8 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .login-box {
        background: var(--white);
        box-shadow: 2px 2px 2px rgb(0 0 0 / 15%), 8px 8px 16px rgb(0 0 0 / 15%);
        border-radius: 12px;
        z-index: 2;
    }

    .login-box-msg, .register-box-msg {
        color: #1D4C90;
    }

    .login-card-body, .register-card-body {
        color: var(--bid-corlor-body);
    }

        .login-card-body .input-group .input-group-prepend .input-group-text,
        .register-card-body .input-group .input-group-prepend .input-group-text {
            border-right: 1px solid #aaaaaa;
        }

    .text-primary-lightest {
        color: #1D4C90 !important;
    }

    .text-gray {
        color: var(--bid-corlor-body) !important;
    }

    .btn-primary {
        background-color: #1D4C90;
        border-color: #1D4C90;
    }

    .mt-99 {
        margin-top: 25px;
    }

    .row.mt-99 {
        margin-bottom: 25px;
    }

    .is-mobile .is-header div.img-logo {
        width: 72.32px;
        height: 72.32px;
        background: url('../img/login/logo-mobile.png');
        filter: drop-shadow(0 0 5.52755px rgba(255, 255, 255, 0.8));
        background-size: cover;
        margin: auto;
    }

    .is-mobile .is-header {
        position: absolute;
        top: 25px;
        z-index: 1;
    }

        .is-mobile .is-header p {
            margin-bottom: 0;
            margin-top: 8px;
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 14.6317px;
            line-height: 120%;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            color: var(--white);
        }

            .is-mobile .is-header p:last-child {
                margin-top: 0;
                font-weight: bold;
                font-size: 20.9024px;
            }
}
