﻿:root {
    --color-3F3F: #3F3F3F;
    --color-4545: #454545;
    --color-fff: #FFFFFF;
    --color-border: #ADB5BD;
    --color-border-light: #06B1FB;
    --bg-color-lightblue: #F2F6FC;
    --bg-color-darklight: #E8F4FB;
    --color-primary-dark: #005B8B;
    --color-primary: #1D4C90;
    --color-secondary-lightest: #E8E8E8;
    --bg-color-input-check: #CCE7F6;
    --color-primary-lightest: #CCE7F6;
    --color-yellow-bid: #fee280;
    --bg-color-yellow: #F8B425;
    --bg-color-cyanlight: #0094DC;
    --bg-color-green: #28A745;
    --bg-color-body: #E7E9EE;
    --color-gray-6: #F2F2F2;
    --color-dark-body: #556670;
    --color-gray-ccc: #CCCCCC;
    --color-blue-dark: #44B0BF;
    --color-yellow-dark: #DDA924;
    --color-green-29B3: #29B354;
    --color-gray-600: #666666;
    --color-bule-dark-2: #4173BC;
    --color-yellow-100: #FFF6D9;
    --color-gray-strong: #5E5E5E;
    --color-gray-f5f5: #F5F5F5;
    --color-black-222: #222222;
    --color-primary-soft: #5383C3;
    --color-black-333: #333333;
    --color-teal-bid: #17a2b8;
    --color-yellow-bid-v: #ffc107;
    --color-blue-bid-v: #007bff;
    --color-red-bid-v: #ab0000;
    --color-red-bid-hover: #8b0202;
    --color-gray-bid-v: #999999;
    --color-gray-bid-hover: #666666;
    --color-gray-ddd: #DDDDDD;
    --color-gray-eee: #EEEEEE;
    --color-gray-bd: #BDBDBD;
    --color-bg-status: #A9BBC3;
    --color-primary-stt: #2CA9E0;
}

@font-face {
    font-family: Great Vibes;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../libBid/dist/font/Great_Vibes/GreatVibes-Regular.ttf');
}
.main-header{
    border-bottom: 1px solid var(--bid-primary);
}
/*font-weight*/
.font-weight-500 {
    font-weight: 500;
}

.font-weight-400 {
    font-weight: 400;
}
/*font-weight*/

.text-slice-line {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
/* color text */
.text-color-primary-dark {
    color: var(--color-primary-dark);
}

.text-color-primary-dark-imp {
    color: var(--color-primary-dark) !important;
}

.text-color-body {
    color: var(--color-dark-body);
}

.text-color-4545 {
    color: var(--color-4545);
}

.text-color-4545-imp {
    color: var(--color-4545) !important;
}

.text-color-white {
    color: var(--color-fff);
}

.text-color-gray-strong {
    color: var(--color-gray-strong);
}

.text-color-3f3f {
    color: var(--color-3F3F);
}

.text-color-444 {
    color: var(--bid-corlor-body);
}

.text-color-222 {
    color: var(--color-black-222);
}
/* color text */

/*font-size*/
.font-s-13 {
    font-size: 13px !important;
}

.font-s-10 {
    font-size: 10px;
}
/*font-size*/


/*background-color*/

.bg-secondary-lightest {
    background-color: var(--color-secondary-lightest);
}

.bg-color-primary {
    background-color: var(--color-primary);
}

.bg-color-body {
    background-color: var(--bg-color-body);
}

.bg-color-gray-6 {
    background-color: var(--color-gray-6);
}

.bg-color-danger {
    background-color: var(--bid-red);
}

.bg-color-white {
    background-color: var(--color-fff);
}

.bg-transparent {
    background-color: transparent;
}
/*background-color*/


/*Select cs*/
.select2.select2-container.select2-container--default .select2-selection[aria-expanded="true"] {
    background-color: #f8f8f8;
    box-shadow: inset 0 0 2px 0 var(--color-gray-bid-v);
}

.select2-container--default.select2-container--focus .select2-selection--multiple, .select2-container--default.select2-container--focus .select2-selection--single {
    border-color: #ced4da;
}

.select2-container--default .select2-dropdown {
    border-color: #ced4da;
}

.select2-cs ~ .select2.select2-container.select2-container--default .select2-selection.select2-selection--multiple > .select2-selection__rendered {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.select2-cs ~ .select2.select2-container.select2-container--default .select2-selection.select2-selection--multiple .select2-search.select2-search--inline {
    margin-left: 0;
}

.select2-cs ~ .select2.select2-container.select2-container--default .select2-selection.select2-selection--multiple > .select2-selection__rendered .select2-search__field {
    margin-top: 0;
    font-size: 14px;
    line-height: 1.4;
    color: var(--color-4545);
}

.select2-cs ~ .select2.select2-container.select2-container--default .select2-selection.select2-selection--multiple,
.select2-cs ~ .select2.select2-container.select2-container--default .select2-selection.select2-selection--single,
.select2-cs-single ~ .select2.select2-container.select2-container--default .select2-selection.select2-selection--single {
    padding: 5.5px 13px 5.5px 10px;
    display: flex;
    align-items: center;
    height: 40px;
}

.select2-container--default .select2-results__option {
    font-size: 14px;
    line-height: 1.4;
    position: relative;
}

.select2-container--default .select2-results__options[aria-multiselectable='true'] > .select2-results__option:before {
    vertical-align: middle;
    display: inline-block;
    content: '';
    position: relative;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border-radius: 2px;
    background: linear-gradient( 180deg, rgba(0, 0, 0, 0.1) 0, rgba(0, 0, 0, 0) 100%), var(--color-fff);
    border: 1px solid var(--color-border);
}

.select2-container--default .select2-results__option:hover::before {
    background: none;
    background-color: white;
}

.select2-container--default .select2-results__options[aria-multiselectable='true'] > .select2-results__option[aria-selected=true]::before {
    border: none;
    background-color: var(--color-border-light);
    background-image: url('/img/icon/check.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.select2-cs ~ .select2.select2-container.select2-container--default .select2-selection--multiple .select2-selection__choice {
    margin-top: 2px;
}

.select2-container--default .select2-results__option[aria-selected=true],
.select2-container--default .select2-results__option.select2-results__option--highlighted[aria-selected]:hover {
    background-color: var(--color-gray-bid-v);
    color: var(--color-fff);
}

.select2-container--default .select2-results__option--highlighted[aria-selected]::before {
    border-color: var(--color-border-light);
}

.select2-cs ~ .select2-container .select2-selection--multiple::before {
    border: none;
    width: 10px;
    height: 7px;
    background-image: url(/img/icon/icon-down.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.select2-cs ~ .select2-container.select2-container--below.select2-container--open .select2-selection--multiple::before {
    transform: rotate(180deg);
    transform-origin: center;
}
/*Style tìm kiếm chung*/
.statistical-bid {
    padding-bottom: 30px;
}

.statistical-bid__title {
    margin-bottom: 22px;
}

.form-list-bid {
    margin-bottom: 20px;
}

    .form-list-bid > .form-item .form-search > input.form-control {
        min-width: 280px;
    }

    .form-list-bid > .form-item button.btn[type='submit'] {
        min-width: 80px;
        padding: 0;
    }

    .form-list-bid > .form-item button.btn[type='reset'] {
        min-width: 32px;
        padding: 0;
    }

    .form-list-bid > .form-item > .form-item__search > input[type='text'].form-control {
        flex: 0;
        min-width: 280px;
    }

.w-550 {
    width: 550px !important;
}
.w-560{
    width: 560px !important;
}
.w-600 {
    width: 600px !important;
}

.w-650-px {
    width: 650px !important;
}

.w-1164-px {
    width: 1164px !important;
}

.m-w-1164-px {
    max-width: 1164px !important;
}
.w-76-px {
    width: 76px !important;
}

.w-130-px {
    width: 130px !important;
}

.w-161 {
    width: 161px !important;
}

.w-168-px {
    width: 168px !important;
}

.w-180-px {
    width: 180px !important;
}

.w-191 {
    width: 191px;
}

.mh-none {
    max-height: none !important;
}

.max-w-266 {
    max-width: 266px;
}

.m-w-320-px {
    min-width: 320px;
}

.m-w-524-px {
    min-width: 524px;
}

.m-w-552-px {
    min-width: 552px !important;
}

.m-w-1164 {
    min-width: 1164px;
}

.w-24 {
    width: 24px;
}
.w-96-px{
    width: 96px !important;
}
.w-151 {
    width: 151px;
}

.w-120-px {
    width: 120px !important;
}
.w-125-px{
    width: 125px !important;
}
.w-200-px {
    width: 200px !important;
}

.w-220-px {
    width: 220px !important;
}

.w-250-px {
    width: 250px !important;
}

.w-290-px {
    width: 290px !important;
}
/*min-width td table*/
.m-w-62 {
    min-width: 62px;
}

.m-w-76 {
    min-width: 76px;
}

.m-w-76-px {
    min-width: 76px;
}

.m-w-82 {
    min-width: 82px;
}

.m-w-88 {
    min-width: 88px;
}

.m-w-90-px {
    min-width: 90px !important;
}

.m-w-96-px {
    min-width: 96px;
}

.m-w-106 {
    min-width: 106px;
}

.m-w-109 {
    min-width: 109px;
}

.m-w-113 {
    min-width: 113px;
}

.m-w-118-px {
    min-width: 118px;
}

.m-w-120-px {
    min-width: 120px;
}

.m-w-126-px {
    min-width: 126px;
}

.m-w-136-px {
    min-width: 136px;
}

.m-w-137 {
    min-width: 137px;
}

.m-w-140-px {
    min-width: 140px;
}

.m-w-150-px {
    min-width: 150px;
}

.m-w-153 {
    min-width: 153px;
}

.m-w-156 {
    min-width: 156px;
}

.m-w-156-px {
    min-width: 156px !important;
}

.m-w-163 {
    min-width: 163px;
}

.m-w-168-px {
    min-width: 168px;
}

.m-w-176-px {
    min-width: 176px !important;
}

.m-w-171 {
    min-width: 171px;
}

.m-w-181 {
    min-width: 181px;
}

.m-w-186-px {
    min-width: 186px;
}

.m-w-200-px {
    min-width: 200px !important;
}

.m-w-221 {
    min-width: 221px;
}

.m-w-209 {
    min-width: 209px;
}

.m-w-226-px {
    min-width: 226px !important;
}

.m-w-240 {
    min-width: 240px;
}

.m-w-242 {
    min-width: 242px;
}

.m-w-259 {
    min-width: 259px;
}

.m-w-280-px {
    min-width: 280px;
}

.m-w-297 {
    min-width: 297px;
}

.m-w-300-px {
    min-width: 300px !important;
}

.m-w-336 {
    min-width: 336px;
}

.m-w-414-px {
    min-width: 414px !important;
}

.m-w-470-px {
    min-width: 470px;
}

.w-33-per {
    max-width: 33.3333% !important;
    width: 100%;
}
/*min-width td table*/
.pt-20 {
    padding-top: 20px;
}

.p-l-r-20 {
    padding-right: 20px;
    padding-left: 20px;
}

.p-b-t-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pr-20 {
    padding-right: 20px;
}

.pl-20 {
    padding-left: 20px;
}

.p-l-r-12 {
    padding-left: 12px !important;
    padding-right: 12px !important;
}

.p-b-t-16 {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}

.l-4-per {
    left: 4%
}

.form-list-bid__avanced > button:first-child {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-left: none;
}

.form-list-bid__avanced input.form-control {
    font-size: 13px;
}

    .form-list-bid__avanced input.form-control + .input-group-append > .input-group-text {
        background-color: #fff;
    }

    .form-list-bid__avanced input.form-control:focus + .input-group-append > .input-group-text {
        border-color: #52c3ff;
    }

.bid-list-table .table th {
    vertical-align: middle;
}

.bid-list-table .table th,
.bid-list-table .table td {
    padding-left: 12px;
    padding-right: 12px;
}

.bid-list-table .table thead > tr th:first-child,
.bid-list-table .table tbody > tr td:first-child {
    padding-left: 12px !important;
}

.form-list-bid .input-group-append > .input-group-text {
    border-left: none;
}

.form-list-bid .dropdown-menu .input-group:not(.has-validation) > .form-control:not(:last-child) {
    border-right: none;
}

.form-list-bid .form-group > label {
    font-size: 13px;
    line-height: 150%;
    margin-bottom: 5px;
}

.form-list-bid .form-group > .form-control {
    height: 40px;
    padding: 6px 10px 7px 10px;
}

.form-list-bid select.form-control-sm ~ .select2-container--default .select2-selection--single,
.quickSearch select.form-control-sm ~ .select2-container--default .select2-selection--single,
.baoCao-title select.form-control-sm ~ .select2-container--default .select2-selection--single {
    height: 40px;
}

.form-list-bid .input-group > .custom-select:not(:first-child), .form-list-bid .input-group > .form-control:not(:first-child) {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}

.form-input-admin select.form-control-sm ~ .select2-container--default .select2-selection--single {
    height: 32px;
}

label:not(.form-check-label):not(.custom-file-label):not(.custom-control-label) {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.4;
    color: var(--color-3F3F);
}

.select2-container--default .select2-results__option {
    font-size: 14px;
    line-height: 1.4;
    position: relative;
}


    .select2-container--default .select2-results__option:hover::before {
        background: none;
        background-color: white;
    }

    .select2-container--default .select2-results__option[aria-selected=true]::before {
        border: none;
        background-color: var(--color-border-light);
        background-image: url('/img/icon/check.svg');
        background-repeat: no-repeat;
        background-position: center;
    }

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: var(--color-primary-soft);
    border-color: var(--color-primary-soft);
}
/*.select2-container--default .select2-results__option[aria-selected=true] {
        background-color: var(--bg-color-darklight);
        color: var(--color-4545);
    }*/
.select2-container--default .select2-results__option--highlighted[aria-selected]::before {
    border-color: var(--color-border-light);
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0px;
}

    .select2-container--default .select2-selection--single .select2-selection__arrow b {
        border: none;
        width: 10px;
        height: 7px;
        background-image: url(/img/icon/icon-down.svg);
        background-size: contain;
        background-repeat: no-repeat;
        position: static;
        left: auto;
        top: auto;
    }

.select2-container.select2-container--below.select2-container--open .select2-selection--single .select2-selection__arrow b {
    transform: rotate(180deg);
    transform-origin: center;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 14px;
}


select.form-control-sm ~ .select2-container--default .select2-selection--single .select2-selection__rendered,
select.form-control ~ .select2-container--default .select2-selection--single .select2-selection__rendered {
    margin-top: 0;
}

select.form-control-sm ~ .select2-container--default .select2-selection--single .select2-selection__arrow,
select.form-control ~ .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 6px;
}
.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option--highlighted[aria-selected]:hover {
    background-color: var(--color-gray-bid-v);
    color: var(--color-fff);
}

.select2-cs-single ~ .select2-container.select2-container--default:nth-of-type(2) .select2-results__option:before {
    display: none;
}

.form-control::placeholder {
    font-size: 14px;
}

.input-group-sm > .form-control:not(textarea) {
    height: 40px;
}

.form-control {
    border-radius: 3px;
    color: var(--color-gray-bid-hover) !important;
    height: 40px;
    font-size: 14px !important;
}

    .form-control:focus {
        color: var(--color-gray-bid-hover) !important;
        font-size: 14px !important;
    }

.date_input > input.form-control:not(:first-child) {
    border-radius: 3px 0 0 3px !important;
    border-right: none;
}

.form-control:focus ~ .input-group-prepend[data-toggle="datetimepicker"] > .input-group-text {
    border-color: #52c3ff;
}

.date_input > .input-group-prepend > .input-group-text {
    border-radius: 0 3px 3px 0;
    border-left: none;
    background-color: transparent;
}

.date_input > .input-group-prepend .icon-calendar {
    width: 18px;
    height: 16px;
    background-image: url('../img/icon/calendar.svg');
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 0;
}

.dropdown-menu-pos-center {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    margin-top: 10px;
    border-radius: 4px;
}

.dropdown-menu.dropdown-menu-pos-center {
    max-height: fit-content !important;
}

    .dropdown-menu.dropdown-menu-pos-center::after {
        left: 50%;
        left: 50%;
        transform: translateX(-50%);
        border-width: 20px;
        top: -30px;
        z-index: -1;
    }

    .dropdown-menu.dropdown-menu-pos-center::before {
        border: none;
    }

.p-16 {
    padding: 16px;
}


/*style card tong quan start*/
.card-general__box {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    padding: 14px;
    background-color: var(--color-fff);
    border-radius: 8px;
    cursor: pointer;
}

.card-general__title {
    color: var(--color-primary);
}

.card-general__info {
    margin-top: 10px;
}

.card-general__number {
    margin-bottom: 0;
    margin-left: 10px;
    font-size: 24px;
    font-weight: 700;
    color: var(--color-primary-dark);
}

.card-general__box:hover {
    background: linear-gradient(230.13deg, #0089D1 9.74%, #005B8B 86.33%), #FFFFFF;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25), inset 0 -3px 0 rgba(0, 0, 0, 0.1);
}

    .card-general__box:hover > .card-general__title,
    .card-general__box:hover .card-general__number {
        color: var(--color-fff);
    }

.card-general__total {
    margin-top: 10px;
}

.card-general__total-price {
    position: relative;
    padding-top: 15px;
}

    .card-general__total-price::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        top: 0;
        left: 0;
        border-radius: 50px;
        background-color: var(--color-primary-lightest);
    }

.card-general__unit {
    padding-left: 2px;
    padding-right: 4px;
}

.card-general__box:hover .card-general__price,
.card-general__box:hover .card-general__unit {
    color: var(--color-yellow-bid);
}

/*style card tong quan end*/

/*style tim kiem start*/
.mt-page__result {
    margin-top: 45px;
    margin-bottom: 15px;
}

.page__result-search .form-list-bid {
    margin-bottom: 0;
}

    .page__result-search .form-list-bid > .form-item > .form-item__search > input[type='text'].form-control {
        min-width: auto;
        flex: 1 1 auto;
    }

.form-item__link-more {
    margin: 0 24px;
}

    .form-item__link-more > a.link-more {
        display: block;
        white-space: nowrap;
    }

.link-more i {
    color: var(--color-primary);
}
/*style tim kiem end*/

table#dataTable-detailDSNgan tbody tr td:nth-of-type(2),
table#dataTable-detailDSNgan tbody tr td:nth-of-type(4) {
    color: var(--color-primary);
}

/*form-check input type checkbox page detail start*/

/*.form-check-cs.form-check {
    padding-left: 3px;
    padding-right: 5px;
}*/

.form-check-cs .form-check-input[type="checkbox"] {
    display: block;
    width: 16px;
    height: 16px;
    position: relative;
}

    .form-check-cs .form-check-input[type="checkbox"]::before {
        content: '';
        position: relative;
        display: block;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%), #FFFFFF;
        border: 1px solid #ADB5BD;
        border-radius: 2px;
        width: 100%;
        height: 100%;
    }

    .form-check-cs .form-check-input[type="checkbox"]::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 9px;
        height: 7px;
        background-image: url('/img/icon/checked-input.svg');
        background-repeat: no-repeat;
        visibility: hidden;
        opacity: 0;
    }

    .form-check-cs .form-check-input[type="checkbox"]:checked::before {
        background: var(--color-border-light);
        border-style: none;
    }

.form-check--bg .form-check-input[type="checkbox"]:checked::after {
    visibility: visible;
    opacity: 1;
}

.form-check-cs .form-check-input[type="checkbox"]:checked::after {
    visibility: visible;
    opacity: 1;
}

.form-check--bg {
    background-color: var(--bg-color-input-check);
}

.form-check-cs label {
    color: var(--color-4545);
}

.tag-status {
    display: block;
    max-width: 130px;
    text-align: center;
    color: white !important;
    border-radius: 5px;
    padding: 1px 3px !important;
}

.tag-status--done {
    background-color: var(--bg-color-green);
}

.tag-status--upload {
    background-color: var(--bg-color-cyanlight);
}

.tag-status--close-open {
    background-color: var( --bg-color-yellow);
}
/*form-check input type checkbox page detail end*/

/*=============icons================*/
.icon-plus {
    background-image: url('/img/icon/icon-plus.svg');
    background-repeat: no-repeat;
}

.icon-dots {
    background-image: url('/img/icon/icon-dots.svg');
    background-repeat: no-repeat;
}

.icon-eye {
    background-image: url('/img/icon/icon-eye.svg');
    background-repeat: no-repeat;
}

.icon-trash {
    background-image: url('/img/icon/icon-trash.svg');
    background-repeat: no-repeat;
}

.icon-trash-white {
    background-image: url('/img/icon/icon-trash-white.svg');
    background-repeat: no-repeat;
}

.icon-trash-large {
    background-image: url('/img/icon/trash-large.svg');
    background-repeat: no-repeat;
}

.icon-exit {
    background-image: url('/img/icon/exit.svg');
    background-repeat: no-repeat;
}

.icon-exit-white {
    background-image: url('/img/icon/exit-white.svg');
    background-repeat: no-repeat;
    cursor: pointer;
}

.icon-exit-blue {
    background-image: url('/img/icon/exit-blue.svg');
    background-repeat: no-repeat;
    cursor: pointer;
}

.icon-search {
    background-image: url('/img/icon/search.svg');
    background-repeat: no-repeat;
    cursor: pointer;
}

.icon-building {
    background-image: url('/img/icon/building.svg');
    background-repeat: no-repeat;
    cursor: pointer;
}

.icon-chevron-right {
    background-image: url('/img/icon/chevronRight.svg');
    background-repeat: no-repeat;
    cursor: pointer;
}

.icon-chevron-double-right {
    background-image: url('/img/icon/chevronDoubleRight.svg');
    background-repeat: no-repeat;
    cursor: pointer;
}

.icon-error-bid {
    background-image: url('/img/icon/icon-error.svg');
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.icon-save-bid {
    background-image: url('/img/icon/icon-save.svg');
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.icon-chevron-down {
    background-image: url('/img/icon/icon-down.svg');
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.icon-chevron-right-blue {
    background-image: url('/img/icon/chevronRightBlue.svg');
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.icon-report {
    background-image: url('/img/icon/icon-report.svg');
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
.icon-next {
    background-image: url('/img/icon/icon-next.svg');
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    background-size: contain;
    background-position: center;
}
.icon-prev {
    background-image: url('/img/icon/icon-prev.svg');
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    background-size: contain;
    background-position: center;
}
/*=============icons================*/

/*==============width height icon=========================*/
.w-10-h-5 {
    width: 10px;
    height: 5px;
    display: inline-block;
}

.w-h-24 {
    width: 24px;
    height: 24px;
    display: inline-block
}

.w-h-40 {
    width: 40px;
    height: 40px;
}

.w-h-16 {
    width: 16px;
    height: 16px;
    display: inline-block;
}

.w-h-12 {
    width: 12px;
    height: 12px;
    display: inline-block;
}

.w-h-9 {
    width: 9px;
    height: 9px;
    display: inline-block;
}

.w-h-32 {
    width: 32px;
    height: 32px;
    display: inline-block
}

.w-h-18 {
    width: 18px;
    height: 18px;
    display: inline-block
}
/*==============width height icon=========================*/

/*padding margin*/
.pr-6 {
    padding-right: 6px !important;
}

.pt-6 {
    padding-top: 6px !important;
}

.pb-6 {
    padding-bottom: 6px !important;
}

.pl-24px {
    padding-left: 24px !important;
}

.pr-24px {
    padding-right: 24px !important;
}

.mt-8 {
    margin-top: 8px !important;
}

.mb-8 {
    margin-bottom: 8px !important;
}

.mr-4 {
    margin-right: 4px;
}

.ml-4 {
    margin-left: 4px;
}

.mr-6 {
    margin-right: 6px;
}

.mr-8 {
    margin-right: 8px !important;
}

.mr-14-px {
    margin-right: 14px;
}

.pr-12 {
    padding-right: 12px !important;
}

.mt-30 {
    margin-top: 30px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-5-px {
    margin-bottom: 5px;
}

.ml-5-px {
    margin-left: 5px;
}

.mr-70 {
    margin-right: 70px;
}

.mt-12 {
    margin-top: 12px !important;
}

.mb-47 {
    margin-bottom: 47px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mt-24 {
    margin-top: 24px !important;
}

.mb-24 {
    margin-bottom: 24px !important;
}
/*padding margin*/

/*custom dropdown menu bootstrap*/
.dropdown-menu-dots::before,
.dropdown-menu-dots::after {
    display: none;
}

.dots-item {
    cursor: pointer;
}

    .dots-item::after {
        display: none;
    }

.dropdown-menu-dots.show {
    right: 0;
    top: 0;
    transform: none !important;
    left: auto !important;
    margin-top: 0;
}

.dots-group.show {
    position: static !important;
}

.table-has-dots tbody tr td:last-child {
    position: relative;
}

.dropdown-menu-dots-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.dropdown-menu-dots-item {
    padding: 5px 14px;
}

    .dropdown-menu-dots-item:hover {
        background-color: var( --color-primary-lightest);
        cursor: pointer;
    }
/*custom dropdown menu bootstrap*/

/*custom modal danh muc */
.modal-dm .modal-header {
    background-color: var(--bg-color-lightblue);
    padding-top: 13px;
    padding-bottom: 11px;
}

.modal-dm .modal-header,
.modal-dm .modal-footer,
.modal-dm .modal-body {
    border: none;
    padding-left: 30px;
    padding-right: 30px;
}

.modal-dm .modal-content {
    border: none;
    box-shadow: none;
    border-radius: 0;
}

/*custom modal danh muc*/

/*modal danh muc chi tiet*/
.modal-searchInfoCDT {
}

    .modal-searchInfoCDT .modal-content {
        border: none;
    }

    .modal-searchInfoCDT .modal-header {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%), #556670;
        border-radius: 4px 4px 0px 0px;
    }

.modal-body__searchDMCDT {
    position: relative;
}

    .modal-body__searchDMCDT > span {
        position: absolute;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
    }

    .modal-body__searchDMCDT > input {
        width: 100%;
        border: 1px solid var(--color-gray-ccc);
        border-radius: 3px;
        padding: 6px 24px 6px 8px;
    }

        .modal-body__searchDMCDT > input:focus {
            outline: none;
        }

.modal-body__inputDMCDT {
    padding: 6px;
    border: 1px solid var(--color-gray-ccc);
    border-radius: 3px;
    margin-top: 10px;
}

    .modal-body__inputDMCDT .form-check {
        padding: 6px;
        cursor: pointer;
    }

    .modal-body__inputDMCDT .form-check-input {
        cursor: pointer;
    }

    .modal-body__inputDMCDT .form-check-cs:hover {
        background-color: #cce7f6;
    }

    .modal-body__inputDMCDT ul {
        list-style: none;
        padding-left: 0;
    }

        .modal-body__inputDMCDT ul > li > ul ul {
            padding-left: 30px;
        }

/*modal danh muc chi tiet*/

/*button*/
.btn-add {
    color: var(--color-fff);
    background-color: var(--bg-color-green);
}

    .btn-add:hover {
        color: white;
    }

.btn-confirm {
    color: white;
}

    .btn-confirm:hover {
        color: white;
    }

.btn-exit, .btn-confirm {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 10px;
    padding: 6px 13px;
}


.cta-cdt {
    margin-left: 10px;
    padding: 8px 16px;
    border-radius: 3px;
    font-size: 12px;
    line-height: 1.5;
    outline: none;
    border: none;
    color: #fff;
    margin-top: 24px;
}

.cta-cdt--suggest {
    background-color: var(--color-teal-bid);
}

.cta-cdt--search-info {
    background-color: var(--color-yellow-bid-v);
}

.cta-cdt--save-info {
    background-color: var(--color-blue-bid-v);
}
/*button*/

.info-cdt {
    background: var(--color-fff);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
    padding: 16px 12px 35px 12px;
}

.info-cdt__label {
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 12px !important;
    line-height: 1.5 !important;
    color: #222222;
    max-width: 145px;
    width: 100%;
    margin-bottom: 0;
}

.info-cdt__item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.info-cdt > .info-cdt__item:last-child {
    margin-bottom: 0;
}

.info-cdt__control {
    flex: 1 1 auto;
    background: var(--color-fff);
    border: 1px solid var(--color-gray-ccc);
    border-radius: 4px;
    padding: 6px 10px;
}

    /*input[type=number].info-cdt__control::-webkit-inner-spin-button,
input[type=number].info-cdt__control::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number].input-none-spin::-webkit-inner-spin-button,
input[type=number].input-none-spin::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}*/

    .info-cdt__control:focus {
        outline: none;
    }

/*modal thông tin tra cứu*/
.btn-info-search {
    height: 32px;
    padding: 6px 12px;
}

.input-group-prepend[data-toggle='datetimepicker'] > .input-group-text {
    background-color: white;
    border-color: var(--color-gray-ccc);
}

.input-group:not(.has-validation) > .form-control.border-radius-4 {
    border-radius: 4px !important;
}

.input-group:not(.has-validation) > .form-control.border-radius-3 {
    border-radius: 3px !important;
}

.company-bid-list {
    list-style: none;
    background-color: white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
    padding: 0;
}

.company-bid-item span.icon-building {
    width: 14px;
    height: 18px;
}

.company-icon-exit {
    border-radius: 50%;
    background-color: var(--color-primary-lightest);
    cursor: pointer;
}

    .company-icon-exit .icon-exit {
        width: 10px;
        height: 10px;
    }

.company-bid-item {
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

td .pb-table {
    padding-top: 7px;
    padding-bottom: 7px;
}

    td .pb-table:first-child {
        padding-top: 0;
    }

.modal-body__company-list, .modal-body__company-check {
    flex: 0 0 calc((100% - 103px) / 2);
    max-width: calc((100% - 103px) / 2);
    border: 1px solid #cccccc;
    border-radius: 4px;
}

.modal-body__company .modal-body__control {
    flex: 0 0 103px;
    max-width: 103px;
    padding: 0 15px;
}

.modal-body__company .modal-body__control-item {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%), #FFFFFF;
    /* Secondary/Lightest */

    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding-top: 12px;
    padding-bottom: 12px;
    cursor: pointer;
}

.modal-body__company .modal-body__control-name {
    line-height: 1;
}

.modal-body__company-check-name {
    flex: 1 1 auto;
    background-color: var(--bg-color-darklight);
    padding: 6px;
}

.modal-body__company-icon-exit {
    width: 28px;
    background-color: var(--bg-color-darklight);
    cursor: pointer;
}

/*modal thông tin tra cứu*/

/*chart thong ke*/
.chart-statistic-compare {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}
/*chart thong ke*/
.container.has-menu-left {
    max-width: calc(100% - 250px) !important;
}

.menu-right {
    flex-basis: 250px;
    margin-right: 0;
}

.content-wrapper > .content.d-flex {
    padding: 0;
}


.has-menu-left {
    padding-left: 30px;
}

.custom-control-label {
    white-space: nowrap;
}

    .custom-control-label::before {
        background-color: var(--color-fff);
        border: 1px solid var(--color-border);
        box-sizing: border-box;
    }

.custom-control-input:checked ~ .custom-control-label::before {
    background-color: var(--color-border-light);
    border-color: transparent;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::after,
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    background-image: url('/img/icon/checked-input.svg');
    border-color: transparent;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: 50% center;
}

.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: none;
}

/*custom table */
table.dataTable:not(.table-cus-da),
table.data-table:not(.table-cus-da) {
    border-spacing: 0 !important;
    border-collapse: collapse;
    margin-top: 0 !important;
}

    table.dataTable:not(.table-cus-da) > tbody > tr,
    table.data-table:not(.table-cus-da) > tbody > tr {
        box-shadow: none;
    }

        table.dataTable:not(.table-cus-da) > tbody > tr:nth-of-type(2n) > td,
        table.data-table:not(.table-cus-da) > tbody > tr:nth-of-type(2n) > td {
            border-top: 1px solid var(--color-gray-eee);
            border-bottom: 1px solid var(--color-gray-eee);
            background-color: #f8f8f8;
        }
            table.dataTable:not(.table-cus-da) > tbody > tr:nth-of-type(2n) > td:first-child,
            table.data-table:not(.table-cus-da) > tbody > tr:nth-of-type(2n) > td:first-child {
                border-left: 1px solid var(--color-gray-eee);
            }

            table.dataTable:not(.table-cus-da) > tbody > tr:nth-of-type(2n) > td:last-child,
            table.data-table:not(.table-cus-da) > tbody > tr:nth-of-type(2n) > td:last-child {
                border-right: 1px solid var(--color-gray-eee);
            }

    table.table-bid-custom:not(.table-cus-da) > thead > tr > th,
    table.dataTable:not(.table-cus-da) > thead > tr > th,
    table.data-table:not(.table-cus-da) > thead > tr > th {
        font-size: 14px !important;
        font-weight: bold;
        color: var(--color-fff);
        line-height: 1.4;
        padding: 12px !important;
    }

        table.dataTable:not(.table-cus-da) > thead > tr > th:first-child,
        table.data-table:not(.table-cus-da) > thead > tr > th:first-child {
            border-top-left-radius: 3px;
        }

        table.dataTable:not(.table-cus-da) > thead > tr > th:last-child,
        table.data-table:not(.table-cus-da) > thead > tr > th:last-child {
            border-top-right-radius: 3px;
        }

    table.dataTable:not(.table-cus-da) > tbody > tr:last-child > td:first-child,
    table.data-table:not(.table-cus-da) > tbody > tr:last-child > td:first-child {
        border-bottom-left-radius: 3px;
    }

    table.dataTable:not(.table-cus-da) > tbody > tr:last-child > td:last-child,
    table.data-table:not(.table-cus-da) > tbody > tr:last-child > td:last-child {
        border-bottom-right-radius: 3px;
    }

    table.table-bid-custom:not(.table-cus-da) > tbody > tr > td,
    table.dataTable:not(.table-cus-da) > tbody > tr > td,
    table.data-table:not(.table-cus-da) > tbody > tr > td {
        font-size: 14px !important;
        color: var(--color-black-333);
        padding: 12px !important;
        line-height: 1.8;
    }

        table.table-bid-custom:not(.table-cus-da) > tbody > tr > td a,
        table.dataTable:not(.table-cus-da) > tbody > tr > td a,
        table.data-table:not(.table-cus-da) > tbody > tr > td a {
            color: var(--color-primary-soft) !important;
            text-decoration: none !important;
            font-size: 14px !important;
            line-height: 1.8;
        }

            table.dataTable:not(.table-cus-da) > tbody > tr > td a:not([href]):not([class]),
            table.data-table:not(.table-cus-da) > tbody > tr > td a:not([href]):not([class]) {
                color: var(--color-black-333) !important;
            }

            table.table-bid-custom:not(.table-cus-da) > tbody > tr > td a:hover,
            table.dataTable:not(.table-cus-da) > tbody > tr > td a:hover,
            table.data-table:not(.table-cus-da) > tbody > tr > td a:hover {
                color: var(--bid-primary) !important;
            }
.table-cus-da td a {
    color: var(--color-primary-soft) !important;
}
    .table-cus-da td a:hover {
        color: var(--bid-primary) !important;
    }
    .table-hover tbody tr:hover {
        background-color: #eeeeee;
    }
.box-wrap-cs div.table-responsive {
    border: none;
}
.box-wrap-cs .modal div.table-responsive {
    border: 1px solid var(--color-gray-eee);
}
/*custom table */
/*arrow bottom dropdown*/
form.quickSearch button.btn.btn-sm.dropdown-toggle {
    display: flex;
    align-items: center;
}

    form.quickSearch button.btn.btn-sm.dropdown-toggle::after {
        border: none;
        width: 16px;
        height: 16px;
        background-image: url('/img/icon/icon-down.svg');
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center;
        vertical-align: baseline;
        margin-left: 10px;
    }

/*arrow bottom dropdown*/

ul.ul-list-info--cs li {
    height: auto;
}

    ul.ul-list-info--cs li label {
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
    }

.h-32 {
    height: 32px;
}

.color-info {
    color: var(--color-blue-dark);
    border-color: var(--color-blue-dark);
}

.color-success {
    color: var(--color-green-29B3);
    border-color: var(--color-green-29B3);
}

.color-warning {
    color: var(--color-yellow-dark);
    border-color: var(--color-yellow-dark);
}

.color-danger {
    color: var(--bid-red);
    border-color: var(--bid-red);
}

.color-gray-600 {
    color: var(--color-gray-600);
    border-color: var(--color-gray-600);
}

.chuanHoa-status {
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    max-width: max-content;
    padding-left: 6px;
    padding-right: 6px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    display: inline-block;
    height: 18px;
}

.chuanHoa_chucnang > a {
    display: inline-block;
    color: var(--color-fff) !important;
    font-size: 14px;
    line-height: 1;
    padding: 5px 12px;
    border-radius: 3px;
    text-decoration: none;
}

.chucNang-chitiet {
    background-color: var(--color-primary);
}

.chucNang-chuanhoa {
    background-color: var(--color-bule-dark-2);
}

.chucNang-upload {
    background-color: var(--color-green-29B3);
}

.chucNang-xoa {
    background-color: var(--bid-secondary-light);
}

.tr-heading {
    background-color: var(--color-yellow-100);
}

tr.tr-heading > td {
    padding: 4px 12px !important;
}

.table-hover tbody tr.tr-heading:hover {
    background-color: var(--color-yellow-100);
}

.td-status {
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    max-width: max-content;
    padding-left: 6px;
    padding-right: 6px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    display: inline-block;
}

.btn-chuanHoa {
    padding: 6px 16px;
    border: none;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

.btn-chuanHoa__text {
    font-size: 13px;
    line-height: 1.5;
}

.modalPSL .modal-content {
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
}

.dropdown-chuanhoa__status {
    background-color: var(--color-fff);
    border: 1px solid var(--color-gray-ccc);
    border-radius: 4px;
    padding: 6px 10px;
}

    .dropdown-chuanhoa__status::after {
        display: none;
    }

.dropdown-chuanhoa .dropdown-menu {
    min-width: 184px !important;
    top: 100% !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    margin-top: 10px;
}

    .dropdown-chuanhoa .dropdown-menu::before {
        display: none;
    }

    .dropdown-chuanhoa .dropdown-menu::after {
        left: 50%;
        transform: translateX(-50%);
        border-width: 20px;
        top: -30px;
        z-index: -1;
    }

.dropdown-chuanhoa .dropdown-item {
    cursor: pointer;
    padding-top: 6px;
    padding-bottom: 6px;
}

.dropdown-chuanhoa .dropdown-list {
    border: none;
    border-radius: 4px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
}

.dropdown-chuanhoa .dropdown-item.active {
    color: unset;
    background-color: var(--color-primary-lightest);
}

.dropdown-chuanhoa .dropdown-item:active {
    color: unset;
    background-color: transparent;
}

.hide-text {
    display: none;
}

.dropdown-chuanhoa__text {
    display: flex;
    padding-right: 5px;
    overflow: hidden;
}

span.item-choosen {
    padding: 3px;
    margin-right: 3px;
    background-color: var(--color-primary-lightest);
}

.border-radius-3 {
    border-radius: 3px !important;
}

.btn-chosen-tb {
    display: inline-block;
    height: 32px;
    box-sizing: border-box;
    font-size: 14px !important;
    line-height: 32px;
    padding: 0 7px;
    border: none;
}

#ketquachondonvikiemtoan {
    width: 600px;
}

.modal-DSNT .modal-dialog {
    max-width: initial;
}

.kq-search__element {
    margin-bottom: 24px;
    /*border: 1px solid var(--color-gray-ccc);
    border-top: none;*/
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.05);
}

    .kq-search__element:last-of-type {
        margin-bottom: 0;
    }

.kq-search__element-title {
    padding: 8px 16px;
    background-color: var(--color-gray-f5f5);
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.05);
}

    .kq-search__element-title .btn-kq-search {
        margin-left: 10px;
        padding: 4px 8px;
        font-size: 12px !important;
        font-weight: 500;
        line-height: 1.4;
        height: auto !important;
    }

.kq-search__list {
    padding-left: 0;
    margin-bottom: 0;
}

.kq-search__item {
    list-style: none;
    padding: 16px 32px;
    background-color: var(--color-fff);
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.05);
}

    .kq-search__item:hover {
        background-color: var(--bg-color-darklight);
    }

.kq-search_item-title {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
}

.kq-search-item-text {
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 1.4;
}

    .kq-search-item-text:last-of-type {
        margin-bottom: 0;
    }

    .kq-search-item-text > span {
        margin-left: 10px;
    }

        .kq-search-item-text > span:first-of-type {
            margin-left: 0;
        }

.kq-search__item-link {
    display: block;
    width: 28px;
    height: 28px;
    border: 1px solid var(--color-primary-lightest);
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--color-fff);
}

.kq-search__item:hover .kq-search__item-link {
    border: none;
}

.kq-search__paging .card-footer {
    margin-top: 0;
}

.pie-chart-box {
    position: relative;
    background-color: var(--color-fff);
    padding-top: 20px;
    padding-bottom: 24px;
}

.pie-chart__item {
    flex: 0 0 50%;
    max-width: 50%;
}

.chart-shadow {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}

.div-pseudo {
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--color-fff);
    z-index: 10;
}

.welcome-page {
    margin-bottom: 29px;
}

.welcome-page__wrapper {
    background-image: url('../img/icon/trong-dong.svg'), linear-gradient(#CCE7F6, #CCE7F6);
    background-repeat: no-repeat, no-repeat;
    background-position: center 60px,top center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    padding-top: 52px;
    padding-bottom: 32px;
    height: calc(100vh - 148px);
    min-height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.welcome-page__header {
    max-width: 616px;
    margin: 0 auto;
    text-align: center;
}
.welcome-page__logo{
    margin-top: 13px;
    margin-bottom: 13px;
}
.welcome-page__logo > img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}

.welcome-subheading {
    font-weight: 400;
    font-size: 36px;
    line-height: 1.2;
    font-family: Great Vibes;
    color: var(--color-primary);
}

.welcome-heading {
    font-weight: 900;
    font-size: 28px;
    line-height: 1.4;
    margin-bottom: 13px;
    color: var(--color-primary);
}

.welcome-description {
    line-height: 1.5;
    font-size: 16px;
    color: var(--color-primary);
    margin-bottom: 24px;
}

.welcome-page__tpan-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.welcom-page__tpan-item {
    flex: 0 0 264px;
    max-width: 264px;
    display: block;
    padding-left: 12px;
    padding-right: 12px;
}
.welcom-page__tpan-link{
    display: block;
}
.welcome-page__tpan-img {
    width: 100%;
}

    .welcome-page__tpan-img > img {
        display: block;
        width: 100%;
        min-height: auto;
        max-width: auto;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

.welcom-page__tpan-name {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.4;
    text-align: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: var(--color-fff);
    padding: 10px 23px;
}

.border-right-none {
    border-right: none;
}

.boxSizing {
    box-sizing: border-box;
}

.table .thead-light th {
    background-color: var(--color-primary-soft);
    color: var(--color-fff);
}

.text-danger {
    color: #dc3545 !important;
}

.btn-outline-danger {
    color: var(--color-red-bid-v);
    border-color: var(--color-red-bid-v);
}

    .btn-outline-danger:hover {
        color: var(--color-fff);
        background-color: var(--color-red-bid-hover);
        border-color: var(--color-red-bid-hover);
    }

.btn-outline-secondary {
    color: var(--color-gray-bid-v);
    border-color: var(--color-gray-bid-v);
}

    .btn-outline-secondary:hover {
        background-color: var(--color-gray-bid-hover);
        border-color: var(--color-gray-bid-hover);
    }

.border-l-n {
    border-left: none !important;
}

.border-r-n {
    border-right: none !important;
}

form button[type = "submit"] + a.btn.btn-sm {
    line-height: unset;
}

.navbar-primary.navbar-dark .form-control-navbar::placeholder {
    line-height: 40px;
    font-size: 14px;
}

.dataTables_wrapper .os-content {
    padding-top: 0 !important;
}


table.table-bid-custom:not(.table-cus-da) > tbody > tr > td a.btn-chosen-tb,
table.dataTable:not(.table-cus-da) > tbody > tr > td a.btn-chosen-tb,
table.data-table:not(.table-cus-da) > tbody > tr > td a.btn-chosen-tb {
    color: var(--white) !important;
    background-color: var(--bid-primary) !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

    table.table-bid-custom:not(.table-cus-da) > tbody > tr > td a.btn-chosen-tb:hover,
    table.dataTable:not(.table-cus-da) > tbody > tr > td a.btn-chosen-tb:hover,
    table.data-table:not(.table-cus-da) > tbody > tr > td a.btn-chosen-tb:hover {
        background-color: var(--bid-primary-hover) !important;
    }

table.dataTable:not(.table-cus-da) > tbody > tr:nth-of-type(2n):hover > td,
table.data-table:not(.table-cus-da) > tbody > tr:nth-of-type(2n):hover > td {
    background-color: transparent;
}
.form-group__date,
.flex-250 {
    flex: 0 0 250px;
    max-width: 250px;
}
.date_input > input{
    padding-right: 0;
}
.form-group__date .date_input .input-group-prepend .input-group-text {
    padding-left: 0;
}
.is-header-table-search span{
    display: block;
}

.select2-cs-singlev2 ~ .select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height:1;
}
select.select2-cs-singlev2 ~ .select2-container--default .select2-selection--single .select2-selection__arrow{
    top: 6px;
    height: 26px;
}

body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-header.fullNavbar,
body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .fullNavbar ~ .content-wrapper {
    margin-left: 0;
}

.fullNavbar.main-header .nav-link[data-widget=pushmenu] {
    display: none !important;
}
.fullNavbar .navbar-nav.is-navbar-search{
    right: auto;
    left: 50%;
    transform: translateX(-50%);
}
.fullNavbar ~ .main-sidebar{
    display: none;
}

#totalUnreadNotification.navbar-badge {
    top: 4px;
    right: -10px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-size: 10px;
}
#totalUnreadNotification.navbar-badge[data-total="0"]{
    display: none;
}
.nav-item--notifi{
    position: relative;
}
    .nav-item--notifi > .dropdown-menu{
        right: -10px !important;
    }
        .nav-item--notifi > .dropdown-menu .notification_list .dropdown-item {
            border-bottom: 1px solid #e9ecef;
        }

            .nav-item--notifi > .dropdown-menu .notification_list .dropdown-item:last-child {
                border-bottom: none;
            }
.h-40{
    height: 40px !important;
}
.info-cdt__label.font-s-14{
    font-size: 14px !important;
}
.select2-cs-h40 + span.select2 .select2-selection {
    height: 40px;
}
.col-60px{
    flex: 0 0 60px;
    max-width: 60px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.flex-1-cs{
    flex: 1;
}
.mw-100px{
    max-width: 100px !important;
}

.flex-90px{
    flex: 0 0 90px;
    max-width: 90px;
}
.table-modal-tttc {
    flex: 0 0 calc((100% - 90px) / 2) !important;
    max-width: calc((100% - 90px) / 2) !important;
}

/*menu new*/
main-sidebar .sidebar{
    padding-top: 24px;
}
#nav-left-menu-bid > .nav-sidebar > .nav-item > .nav-link {
    background-color: var(--bid-secondary-lightest);
    border-radius: 4px;
    padding: 10px 12px;
}

.nav-link >.is-icons-fix:before{
    content: '';
}
.nav-link > .is-icons-fix {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: top;
    object-fit: contain;
}
    .nav-link > .is-icons-fix.fa-list {
        min-height: 1.75rem;
        min-width: 1.75rem;
        background-image: url('../img/icon/icon-menu-danhmucht.svg');
        background-size: 14px;
    }
    .nav-link > .is-icons-fix.fa-cog {
        min-height: 1.75rem;
        min-width: 1.75rem;
        background-image: url('../img/icon/icon-menu-quantriht.svg');
        background-size: 14px;
    }
    .nav-link > .is-icons-fix.fa-user-cog {
        min-height: 1.75rem;
        min-width: 1.75rem;
        background-image: url('../img/icon/icon-menu-quantriht.svg');
        background-size: 14px;
    }

    .nav-icon.bg-primary.is-icons-fix{
        background-color: transparent !important;
    }
#nav-left-menu-bid{
    padding-top: 12px;
}
#nav-left-menu-bid > .nav-sidebar > .nav-item {
    width: 250px;
    padding: 4px 7px;
}
.sidebar-collapse.sidebar-mini .main-sidebar:hover .nav-flat .nav-link,
.sidebar-mini .main-sidebar .nav-flat .nav-link {
    width: auto !important;
}
.nav-sidebar .nav-item > .nav-link .fa-angle-down{
    width: 16px;
    height: 16px;
    background-image: url('../img/icon/icon-down.svg');
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}
    .nav-sidebar .nav-item > .nav-link .fa-angle-down{
        top: 50%;
        transform: translateY(-50%);
        margin-top: 0 !important;
    }
    .nav-sidebar .nav-item > .nav-link .fa-angle-down::before {
        content: '';
    }
.nav-sidebar .menu-is-opening > .nav-link i.fa-angle-down, .nav-sidebar .menu-open > .nav-link i.fa-angle-down {
    transform: translateY(-50%) rotate(180deg);
    transform-origin: center;
}
.sidebar-collapse.sidebar-mini .main-sidebar.sidebar-focused .nav-flat .nav-link{
    width: auto;
}
.sidebar-mini.sidebar-collapse .main-sidebar.sidebar-focused .nav-sidebar .nav-link p{
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}
.sidebar-mini.sidebar-collapse .main-sidebar.sidebar-focused .brand-link{
    width: 250px;
}

#nav-left-menu-bid > .nav-sidebar.nav:not(.nav-treeview) > .nav-item > .nav-link:hover {
    background-color: var(--bid-dark-light);
}
/*#nav-left-menu-bid > .nav-sidebar.nav:not(.nav-treeview) > .nav-item.menu-is-opening.menu-open > .nav-link {
    background-color: var(--color-primary);
}

#nav-left-menu-bid > .nav-sidebar.nav > .nav-item.menu-is-opening.menu-open > .nav-link > p{
    color: var(--color-fff);
}*/

[class*=sidebar-light-] .nav-sidebar > .nav-item > .nav-treeview{
    background-color: var(--color-fff);
    border-radius: 4px;
    overflow:hidden;
}
.nav-sidebar > .nav-item > .nav-treeview{
    margin-top: 4px;
}

/*card footer paging*/
.page-item.disabled >.page-link .icon-prev{
    background-image: url('../img/icon/icon-prev-disabled.svg');
}
.page-item.disabled > .page-link .icon-next {
    background-image: url('../img/icon/icon-next-disabled.svg');
}
.box-wrap-cs {
    padding: 16px;
    background-color: var(--color-fff);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}
.box-wrap-cs .card{
    margin-bottom: 0;
}
.box-wrap-cs .modal .card{
    margin-bottom: 24px;
}

/*box top*/
.boxtop-cs {
    background-image: linear-gradient(#1d4c90 55%, transparent 0%);
    padding-top: 24px !important;
}

.boxtop-cs__row{
    display: flex;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
}
.boxtop-cs__title{
    text-align: center;
    color: var(--color-fff) !important;
    
    margin-bottom: 16px;
}
.boxtop-cs__col {
    padding-top: 13px;
}
.boxtop-cs__col:not(.col-2) {
    flex: 0 0 211px;
    max-width: 211px;
    padding-left: 12px;
    padding-right: 12px;
}
.boxtop-cs__col.col-2 {
    padding-left: 7px;
    padding-right: 7px;
}
.boxtop-cs__col > .card{
    padding: 14px 11px !important;
    position: relative;
}
    .boxtop-cs__col::after {
        content: '';
        position: absolute;
        height: 8px;
        width: 140px;
        top: 5px;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--color-fff);
        opacity: 0.5;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
        border-radius: 3px;
    }
    .boxtop-cs__col::before {
        content: '';
        position: absolute;
        height: 5px;
        width: 120px;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--color-fff);
        opacity: 0.3;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
        border-radius: 3px;
    }
.boxtop-cs__col > .card > p:first-of-type{
    text-align: center !important;
}
.boxtop-cs__col > .card .is-coin{
    justify-content: center;
    text-align: center;
}
    .boxtop-cs__col > .card-general__box {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
        .boxtop-cs__col> .card-general__box > .card-general__title {
            flex: 1;
        }

.user-panel__name{
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: middle;
}
.is-height-0{
    height: 0 !important;
}
.form-group--ip{
    display: none !important;
}
.navbar-ts-box-ip {
    display: none;
}
.card-footer--cs{
    background-color: transparent !important;
}
.form-group--tree ul{
    list-style: none;
}
input[data-toggle='datetimepicker']:read-only + .input-group-prepend[data-toggle='datetimepicker'] > .input-group-text {
    background-color: #e9ecef;
}
.min-w-auto{
    min-width: auto !important;
}
td.w-25.is-desktop {
    display: table-cell;
}
.is-link-building .d-flex > .bid-icons.icon-building{
    flex:0 0 20px;
}
.is-link-building .d-flex > .company-icon-exit.w-h-18 {
    flex: 0 0 18px;
}
.button-adv-cs {
    padding-left: 32px !important;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.04) 0%, rgba(0, 0, 0, 0) 100%), var(--color-gray-eee) !important;
    color: var(--color-gray-bid-hover);
    font-size: 16px;
    line-height: 1.4;
    font-weight: normal;
}
.button-adv-cs[aria-expanded="true"]::before {
    content: '';
    border-style: solid;
    border-color: transparent;
    border-bottom-color: var(--color-gray-eee);
    display: inline-block;
    position: absolute;
    left: 50%;
    bottom: -20px;
    transform: translateX(-50%);
    border-width: 10px;
}
.button-adv-cs::after {
    content: '';
    border: none;
    width: 16px;
    height: 16px;
    background-image: url('/img/icon/icon-down.svg');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
}
    .button-adv-cs[aria-expanded="true"]::after {
        background-image: url('/img/icon/icon-up-new.svg');
    }
    .button-adv-cs + .dropdown-menu::after {
        display: none;
    }
.btn-reset-search-new {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    color: var(--color-4545);
    font-size: 16px;
    line-height: 1.4;
    border: 1px solid var(--color-gray-ccc);
    border-radius: 4px;
    background-color: var(--color-fff);
}
.search-box__expand {
    padding: 16px;
    margin-top: 16px;
    background-color: var(--color-gray-eee);
}
    .search-box__expand .input-group--money > input {
        border-right: none;
    }

        .search-box__expand .input-group--money > input:focus + .input-group-append > .input-group-text {
            border-color: #52c3ff;
        }
.table-bid-custom__tfoot {
    background-color: var(--bg-color-darklight);
    padding-top: 4px;
    padding-bottom: 4px;
}
.td-foot{
    color: var(--color-3F3F);
    font-size: 13px;
    line-height: 1.5;
    font-weight: bold;
    text-align: right;
}
.td-foot > span:first-child{
    margin-right: 32px;
}
.btn-chart__box{
    margin-top: 10px;
    position: relative;
    z-index: 10;
}
.btn-collapse-chart {
    background-color: var(--bid-dark-light);
    font-size: 14px !important;
    padding: 9px 12px;
    border: none !important;
    color: var(--bid-primary);
    font-weight: 500;
    height: 40px;
    border-radius: 4px;
    text-align: center;
    
}
    .btn-collapse-chart:hover {
        color: var(--color-primary-soft) !important;
    }
    .hide-chart__txt {
        display: flex;
        align-items: center;
        justify-content: center;
    }
.show-chart__txt{
    display: none;
}
.hideChart + .btn-chart__box .hide-chart__txt {
    display: none;
}
.hideChart + .btn-chart__box  .show-chart__txt {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bid-menu-minus{
    background-image: url('../img/icon/menu-minus.svg');
    background-size: 12px;
    background-position: left center;
}
.linkTSLDA{
    cursor: pointer;
}
.title_date_bid {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.4;
    color: var(--color-3F3F);
    margin-bottom: 10px;
}
.form-list-bid__title{
    margin-bottom: 12px;
}

.icon-biddt-trangthai1 {
    background-image: url('/img/icon/icon-biddt-trangthai1.svg');
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    background-size: cover;
    background-position: center;
}

.icon-biddt-trangthai2 {
    background-image: url('/img/icon/icon-biddt-trangthai2.svg');
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    background-size: cover;
    background-position: center;
}

.icon-biddt-trangthai3 {
    background-image: url('/img/icon/icon-biddt-trangthai3.svg');
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    background-size: cover;
    background-position: center;
}

.icon-biddt-trangthai4 {
    background-image: url('/img/icon/icon-biddt-trangthai4.svg');
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    background-size: cover;
    background-position: center;
}
.view-state__box{
    margin-bottom: 20px;
}
.view-state__list {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
.view-state__item{
    flex: 0 0 25%;
    max-width: 25%;
    position: relative;
    padding-top: 20px;
    padding-left: 3px;
    padding-right: 3px;
}
    .view-state__item.current::before{
        content: 'Đang xem';
        font-size: 12px;
        color:var(--color-3F3F);
        line-height: 14px;
        position: absolute;
        top: 0;
        width: 100%;
        text-align: center;
        display: block;
    }
    .view-state__nd {
        text-align: center;
    }
.view-state__icon-box {
    display: flex;
    justify-content: center;
    position: relative;
}
    .view-state__icon-box::before {
        content: '';
        position: absolute;
        width: calc(100% + 6px);
        height: 4px;
        background-color: #BECDD6;
        top: 50%;
        transform: translateY(-50%);
        left: -3px;
        z-index: 1;
    }
    
.view-state__list .view-state__item:first-of-type .view-state__icon-box::before {
    width: calc(50% + 3px);
    right: -3px;
    left: auto;
}
.view-state__list .view-state__item:last-of-type .view-state__icon-box::before {
    width: calc(50% + 3px);
}
.view-state__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: var(--color-bg-status);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
    z-index: 2;
}
.view-state__txt {
    display: block;
    font-size: 14px;
    color: var(--color-3F3F);
    line-height: 16px;
    margin-top: 8px;
}

.view-state__link {
    display: block;
    cursor: default;
}
.view-state__item.active .view-state__link{
    cursor: pointer;
}
.view-state__item.active .view-state__icon {
    background-color: var(--color-primary-stt);
}
.view-state__item.active .view-state__txt{
    color: var(--color-primary-stt);
}
.view-state__item.current .view-state__icon {
    background-color: #E33D3D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
}

.view-state__item.active .view-state__link:hover .view-state__icon {
    background-color: #E33D3D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
}
.view-state__item.active .view-state__link:hover .view-state__txt {
    color: var(--color-3F3F);
}
.view-state__item:not(.active) .view-state__icon > span {
    cursor: default;
}

.thead-pseudo {
    position: relative;
    padding: 4px 114px 4px 9px;
    background-color: var(--color-gray-ccc);
    color: var(--color-3F3F);
    font-size: 14px;
    font-weight: 600;
}
    .thead-pseudo > .thead-pseudo__dv-child {
        position: absolute;
        right: 9px;
        top: 4px;
    }

.table-bid-ketquachon > tbody .custom-control.custom-checkbox {
    flex: 0 0 114px;
    max-width: 114px;
    text-align: center;
    padding-left: 30px;
}