﻿/*Media*/
@media (max-width: 736px) {
    .is-mobile {
        display: block;
    }

    .is-desktop {
        display: none;
    }

    td.w-25.is-desktop {
        display: none;
    }

    table.table-index.dataTable:not(.table-cus-da, .no-index) > tbody > tr:nth-child(1) > td:first-child::before,
    table.table-index.data-table:not(.table-cus-da, .no-index) > tbody > tr:nth-child(1) > td:first-child::before,
    table.table-index.dataTable:not(.table-cus-da, .no-index) > tbody > tr:nth-child(2) > td:first-child::before,
    table.table-index.data-table:not(.table-cus-da, .no-index) > tbody > tr:nth-child(2) > td:first-child::before,
    table.table-index.dataTable:not(.table-cus-da, .no-index) > tbody > tr:nth-child(3) > td:first-child::before,
    table.table-index.data-table:not(.table-cus-da, .no-index) > tbody > tr:nth-child(3) > td:first-child::before,
    table.table-index.dataTable:not(.table-cus-da, .no-index) > tbody > tr:nth-child(4) > td:first-child::before,
    table.table-index.data-table:not(.table-cus-da, .no-index) > tbody > tr:nth-child(4) > td:first-child::before,
    table.table-index.dataTable:not(.table-cus-da, .no-index) > tbody > tr:nth-child(5) > td:first-child::before,
    table.table-index.data-table:not(.table-cus-da, .no-index) > tbody > tr:nth-child(5) > td:first-child::before {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 24px;
        width: 24px;
        height: 24px;
        border-radius: 4px;
        font-weight: normal;
        font-size: 14px;
        line-height: 140%;
        position: absolute;
        z-index: 1;
        content: attr(data-index);
    }

    table.table-index.dataTable:not(.table-cus-da, .no-index) > tbody > tr:nth-child(1) > td:first-child::before,
    table.table-index.data-table:not(.table-cus-da, .no-index) > tbody > tr:nth-child(1) > td:first-child::before {
        color: var(--white);
        background: #6888B5;
    }

    table.table-index.dataTable:not(.table-cus-da, .no-index) > tbody > tr:nth-child(2) > td:first-child::before,
    table.table-index.data-table:not(.table-cus-da, .no-index) > tbody > tr:nth-child(2) > td:first-child::before {
        color: var(--white);
        background: #8EA6C8;
    }

    table.table-index.dataTable:not(.table-cus-da, .no-index) > tbody > tr:nth-child(3) > td:first-child::before,
    table.table-index.data-table:not(.table-cus-da, .no-index) > tbody > tr:nth-child(3) > td:first-child::before {
        color: var(--white);
        background: #B4C3DA;
    }

    table.table-index.dataTable:not(.table-cus-da, .no-index) > tbody > tr:nth-child(4) > td:first-child::before,
    table.table-index.data-table:not(.table-cus-da, .no-index) > tbody > tr:nth-child(4) > td:first-child::before {
        background: #D2DBE9;
    }

    table.table-index.dataTable:not(.table-cus-da, .no-index) > tbody > tr:nth-child(5) > td:first-child::before,
    table.table-index.data-table:not(.table-cus-da, .no-index) > tbody > tr:nth-child(5) > td:first-child::before {
        background: #ECF4FF;
    }

    /*Fix layput chung*/
    body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .content-wrapper,
    body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-footer,
    body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-header {
        margin-left: 0;
    }

    body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-header {
        border: none;
    }

    .layout-navbar-fixed.text-sm .wrapper .breadcrumb-mobile + .main-sidebar + .content-wrapper {
        margin-top: calc(3.5rem + 81px);
    }

    .content-wrapper > .content,
    .content-wrapper > .content {
        padding: 0 24px !important;
    }

        .content-wrapper > .content.p-0 {
            padding-top: 24px !important;
        }

            .content-wrapper > .content.p-0 > .container-fluid.bg-white.mt-50.p-25 {
                margin-top: 0;
            }

                .content-wrapper > .content.p-0 > .container-fluid.bg-white.mt-50.p-25 > .d-flex {
                    flex-wrap: wrap;
                }

                .content-wrapper > .content.p-0 > .container-fluid.bg-white.mt-50.p-25 > .row.mt-20 {
                    flex-direction: column;
                }

                    .content-wrapper > .content.p-0 > .container-fluid.bg-white.mt-50.p-25 > .row.mt-20 .col-4,
                    .content-wrapper > .content.p-0 > .container-fluid.bg-white.mt-50.p-25 > .row.mt-20 .col {
                        flex: 0 0 100%;
                        max-width: 100%;
                        border-right: 0 !important;
                    }

                        .content-wrapper > .content.p-0 > .container-fluid.bg-white.mt-50.p-25 > .row.mt-20 .col-4:first-child,
                        .content-wrapper > .content.p-0 > .container-fluid.bg-white.mt-50.p-25 > .row.mt-20 .col:first-child {
                            margin-bottom: 15px;
                        }

                        .content-wrapper > .content.p-0 > .container-fluid.bg-white.mt-50.p-25 > .row.mt-20 .col-4.border-right,
                        .content-wrapper > .content.p-0 > .container-fluid.bg-white.mt-50.p-25 > .row.mt-20 .col.border-right {
                            border-right: 0 !important;
                        }

    .main-sidebar, .main-sidebar::before,
    .layout-navbar-fixed .wrapper .brand-link,
    .sidebar-mini .main-sidebar .nav-flat .nav-link,
    .sidebar-mini-md .main-sidebar .nav-flat .nav-link,
    .sidebar-mini-xs .main-sidebar .nav-flat .nav-link,
    .layout-navbar-fixed .wrapper .main-sidebar:hover .brand-link {
        width: 300px;
    }

    .sidebar-collapse .main-sidebar,
    .sidebar-collapse .main-sidebar::before {
        margin-left: -300px;
    }

    .navbar-info-user {
        background: var(--bid-secondary-lightest);
        margin-top: 4px;
        border-radius: 4px;
        padding: 20px;
        margin-bottom: 0.54rem;
    }

        .navbar-info-user:last-child {
            margin-bottom: 0;
        }

    .navbar-primary {
        background-size: cover;
    }


    [class*=sidebar-light] .user-panel {
        border-bottom: 0 solid #dee2e6;
    }

    .user-panel .image {
        width: 32px;
        padding-left: 0;
        margin-right: 6px !important;
    }

    .user-panel__name {
        color: var(--bid-primary) !important;
        font-weight: 500;
        font-size: 16px !important;
    }

    .user-panel:not(.user-panel:last-child) .nav-link {
        margin-bottom: 2px;
    }

    #totalUnreadNotification.navbar-badge {
        top: 0;
        right: 0;
        left: 84px;
    }

    .is-navbar-search {
        left: calc(50% - 25px);
        position: absolute;
    }

    .is-glass {
        left: calc(50% - 104px);
        background: radial-gradient(50% 50% at 50% 50%, #2CA9E0 0, rgba(44, 169, 224, 0) 100%);
        background-size: 194px 208px;
        background-position: center;
        position: absolute;
        width: 194px;
        height: 70px;
    }

    .navbar-search {
        position: absolute;
        width: 100%;
        right: 0;
        top: 69px;
        height: 0;
        background: #3F3F3F;
        justify-content: center;
        display: flex;
        align-items: center;
        transition: height .3s ease-in-out;
    }

        .navbar-search .form-inline {
            display: none;
        }

        .navbar-search.active {
            height: 60px;
            transition: height .3s ease-in-out;
        }

            .navbar-search.active .form-inline {
                display: block;
            }

    .sidebar-mini .main-sidebar .nav-link,
    .sidebar-mini-md .main-sidebar .nav-link,
    .sidebar-mini-xs .main-sidebar .nav-link {
        width: 100%;
    }

    .layout-navbar-fixed.layout-fixed.text-sm .wrapper .sidebar {
        margin-top: 0;
        height: 100%;
        padding: 24px;
    }

    #nav-left-menu-bid {
        padding-top: 24px;
        padding-bottom: 24px;
    }

        #nav-left-menu-bid > .nav-sidebar > .nav-item {
            width: 100%;
        }

    .container.pt-30 {
        padding-top: 24px;
    }

    .breadcrumb-mobile {
        display: flex;
        height: 60px;
        width: 100%;
        position: fixed;
        z-index: 10;
        background: linear-gradient( 180deg, #1D4C90 35.75%, #005B8B 100%), #0089D1;
        color: var(--white);
        justify-content: center;
        align-items: center;
        top: 70px;
    }

        .breadcrumb-mobile > div {
            max-width: 80%;
        }

            .breadcrumb-mobile > div > div:last-child .nav-link {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: block !important;
            }

        .breadcrumb-mobile .nav-link {
            padding: 2px 0;
        }

    .text-gray-4, .text-gray-4:hover {
        color: #BDBDBD;
    }

    /*Fix welcome*/
    .welcome-page__wrapper {
        padding-top: 24px;
        height: auto;
        padding-bottom: 24px;
        background: var(--bid-primary-lightest);
        padding-left: 24px;
        padding-right: 24px;
    }

    .welcome-page__tpan-list {
        flex-direction: column;
    }

    .welcom-page__tpan-item {
        flex: 0 0 228px;
        width: 315px;
        max-width: 100%;
    }

        .welcom-page__tpan-item:last-child {
            flex: 0 0 auto;
            width: 315px;
            max-width: 100%;
        }

    /*Danh sách*/
    .input-group .w-150 {
        width: 110px !important;
    }

    .input-group-text {
        padding-left: 0;
        padding-right: 5px;
    }

    .quick2Search button[type="submit"].btn-primary,
    form[action="/GeneralSearch/Index"] #Keyword + .form-list-bid__avanced button[type="submit"],
    form[action="/GeneralSearch/SearchCondition"] #Keyword + .form-list-bid__avanced button[type="submit"],
    .quickSearch button[type="submit"].btn-primary,
    .form-list-bid__search button[type="submit"].btn-primary {
        text-indent: -9999px;
        max-width: 41px !important;
        min-width: 40px !important;
        background-image: url('../img/icon/mobile/search-mobile.svg');
        background-position: center;
        background-repeat: no-repeat;
        vertical-align: top;
        object-fit: contain;
    }

    form.quickSearch button[type="button"].dropdown-toggle {
        text-indent: -9999px;
        max-width: 41px;
        min-width: 40px;
        background-image: url('../img/icon/mobile/search-av.svg');
        background-position: center;
        background-repeat: no-repeat;
        vertical-align: top;
        object-fit: contain;
    }

        form.quickSearch button[type="button"].dropdown-toggle::after {
            display: none;
        }

    #frmDonviDuocKiemToan .quick2Update,
    .quickSubmit[title="Đồng bộ"],
    #frmDonViDuocKiemToan .ml-auto.pr-7 > .quickComfirm,
    #frmCanhBaoDonViKiemToan button[type="button"],
    #frmQuanHeNhaThau .quick3Update {
        order: 5;
        margin-left: 0 !important;
        margin-top: 10px;
        width: 100%;
        background: var(--bid-dark-light);
        color: var(--bid-primary);
        border: 1px solid var(--bid-primary-soft);
        justify-content: center;
        align-items: center;
        display: flex;
    }

    #frmQuanHeNhaThau .quick3Update {
        margin-bottom: 10px;
    }

    .kttt-dh ul:not(.pagination) li, .kttt-dh .col-md-4:nth-child(4n) {
        padding-right: 0;
    }

    #DanhSachNhaDauTuThamGiaGoiThau .thead-light th:nth-child(3),
    #dataTable-dhvpk .thead-light th:nth-child(2),
    #divPositions .thead-light th:nth-child(4),
    #divConfigMessage .thead-light th:nth-child(3),
    #DanhSachNhaDauTuThamGiaGoiThau .thead-light th:nth-child(5) {
        min-width: 100px !important;
    }


    #divDSDonViDuocKiemToanGoiThau .thead-light th:nth-child(8),
    #divDSDonViDuocKiemToanNhaThau .thead-light th:nth-child(2),
    #DanhSachNhaDauTuThamGiaGoiThau .thead-light th:nth-child(4),
    #divGroupPermissions .thead-light th:nth-child(3),
    #frmAgency + .card #dataTables_wrapper > .row > .col-3 .thead-light th:nth-child(1),
    #divDSDonViDuocKiemToanNhaDauTu .thead-light th:nth-child(2) {
        min-width: 120px !important;
    }

    #divDSDonViDuocKiemToanDuAnCongBo .thead-light th:nth-child(6),
    #divGoiThauThamGia .thead-light th:nth-child(3) {
        min-width: 130px !important;
    }

    #divTableThongKeDuAn .thead-light th:nth-child(3),
    #ContentAreaTable .thead-light th:nth-child(3),
    #divTableThongKeGoiThau .thead-light th:nth-child(3) {
        min-width: 150px;
    }

    #divDSDonViDuocKiemToanGoiThau .thead-light th:nth-child(9) {
        min-width: 190px !important;
    }

    #divDSDonViDuocKiemToanNhaThau .thead-light th:nth-child(4),
    #divPositions .thead-light th:nth-child(5),
    #divConfigMessage .thead-light th:nth-child(4),
    #divGroupPermissions .thead-light th:nth-child(4),
    #ContentAreaTable .thead-light th:nth-child(4),
    #divDSDonViDuocKiemToanNhaDauTu .thead-light th:nth-child(4) {
        min-width: 200px !important;
    }

    #divTableThongKeDuAn .thead-light th:nth-child(4),
    #divTableThongKeGoiThau .thead-light th:nth-child(4),
    #divDSDonViDuocKiemToanNhaThau .thead-light th:nth-child(6),
    #divDSDonViDuocKiemToanNhaDauTu .thead-light th:nth-child(6) {
        min-width: 230px;
    }

    #divDSDonViDuocKiemToanNhaThau .thead-light th:nth-child(3),
    #dataTable-dhvpk .thead-light th:nth-child(4),
    #divDSDonViDuocKiemToanNhaThau .thead-light th:nth-child(5),
    #divDSDonViDuocKiemToanNhaDauTu .thead-light th:nth-child(3),
    #divDSDonViDuocKiemToanNhaDauTu .thead-light th:nth-child(5) {
        min-width: 250px;
    }

    #divTableThongKeDuAn tbody td:nth-child(3),
    #divTableThongKeDuAn tbody td:nth-child(4),
    #divTableThongKeGoiThau tbody td:nth-child(3),
    #divTableThongKeGoiThau tbody td:nth-child(4) {
        text-align: right;
    }

    .is-header-table-search {
        margin-bottom: 10px;
    }

    .ml-28 {
        margin-left: 10px !important;
    }

    .m-w-1164, .w-650-px {
        min-width: 90%;
    }

    .m-w-1164, .w-650-px {
        width: auto !important;
    }

    .dropdown-left .dropdown-menu {
        top: 37px;
        right: calc(100% - 130px);
        margin-right: 0;
    }

        .dropdown-left .dropdown-menu::before {
            top: -17px;
            right: 100px;
            transform: rotate( 360deg);
        }

        .dropdown-left .dropdown-menu::after {
            top: -14px;
            right: 101px;
            transform: rotate( 360deg);
        }

    .input-group-sm > .custom-select,
    .input-group-sm > .form-control,
    .input-group-sm > .input-group-append > .btn,
    .input-group-sm > .input-group-append > .input-group-text,
    .input-group-sm > .input-group-prepend > .btn,
    .input-group-sm > .input-group-prepend > .input-group-text,
    .btn-group-sm > .btn,
    .btn-sm, .form-control,
    .select2-cs ~ .select2.select2-container.select2-container--default .select2-selection.select2-selection--multiple,
    .form-list-bid .form-group > .form-control,
    .input-group-sm > .form-control:not(textarea),
    .modal-content button[type="submit"],
    .form-list-bid select.form-control-sm ~ .select2-container--default .select2-selection--single,
    .quickSearch select.form-control-sm ~ .select2-container--default .select2-selection--single,
    .baoCao-title select.form-control-sm ~ .select2-container--default .select2-selection--single {
        height: 32px;
        max-height: 32px;
    }

    select.form-control-sm ~ .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: 2px;
    }

    select.form-control-sm ~ .select2-container--default .select2-selection--single .select2-selection__rendered {
        margin-top: -4px;
    }

    .table-responsive {
        overflow-x: auto !important;
    }

    .modal-body .custom-control-label {
        width: max-content;
        max-width: 300px;
    }

    #ketquachondonvikiemtoan td .d-flex > .d-flex {
        align-items: flex-end;
    }

    .card-footer {
        padding: 10px 15px 5px 15px;
    }

        .card-footer .col-auto:first-child {
            padding-left: 0;
        }

        .card-footer .col-auto .form-group > span:not(.mx-1) {
            display: none;
        }

    #frmQuanHeNhaThau .w-136 {
        flex-basis: 49%;
        margin-bottom: 10px;
    }

        #frmQuanHeNhaThau .w-136 + .w-136 {
            margin-right: 0 !important;
        }

    #frmQuanHeNhaThau #TenNhaThau {
        flex-basis: 50%;
    }

    .modal-dialog-scrollable .modal-body {
        max-height: 90vh;
        width: 100%;
    }

    #frmDonviDuocKiemToan .w-215 {
        flex-basis: 100%;
        margin-bottom: 10px;
    }

        #frmDonviDuocKiemToan .w-215 .col-6 + .col-6 {
            padding: 0 !important;
        }

        #frmDonviDuocKiemToan .w-215 + input.ml-5 {
            margin-left: 0 !important;
        }

    .modal-body .d-flex.flex-1-1 + .d-flex.mt-12 {
        flex-direction: column;
    }

        .modal-body .d-flex.flex-1-1 + .d-flex.mt-12 .mb-47 {
            margin-bottom: 0;
            margin-top: 15px;
        }

        .modal-body .d-flex.flex-1-1 + .d-flex.mt-12 .flex-90px {
            margin: auto;
            flex: 0 0 auto;
        }

            .modal-body .d-flex.flex-1-1 + .d-flex.mt-12 .flex-90px > .mb-50 {
                margin-bottom: 0;
            }

    #divDonviDuocKiemToan, .table-modal-tttc {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

    .row > .col-md-12 > .row.align-items-center.w-100 {
        width: unset !important;
    }

    #frmQuanHeNhaThauGoiThau > .d-flex:first-child.w-100-per,
    form > .d-flex + .d-flex.align-items-center,
    form > div:not(.modal-header).d-flex.align-items-center,
    form > .row.mb-15 > div.d-flex.align-items-center {
        display: block !important;
    }

    .form-item__icon {
        justify-content: end;
    }

    #frmDonviDuocKiemToanNhaDauTu.mt-30 {
        margin-top: 0;
    }

    .is-title-moi-thau {
        max-width: 100%;
        margin-bottom: 10px;
    }

    #frmSearchChitiet .m-w-303 .w-215 {
        width: calc(100% - 90px);
    }

        #frmSearchChitiet .m-w-303 .w-215 .col-6 {
            padding-left: 0;
        }

    .box-wrap-cs .col-xl-6 .input-group {
        justify-content: end;
    }

        .box-wrap-cs .col-xl-6 .input-group .d-flex-auto {
            width: 100%;
            flex-wrap: wrap;
        }

            .box-wrap-cs .col-xl-6 .input-group .d-flex-auto input[name="Keyword"].form-control {
                flex: 0 0 100%;
                width: 100%;
                margin-bottom: 10px;
            }

            .box-wrap-cs .col-xl-6 .input-group .d-flex-auto .w-150,
            .box-wrap-cs .col-xl-6 .input-group .d-flex-auto .w-200 {
                flex: 0 0 49%;
                width: 49% !important;
                margin-bottom: 10px
            }

    .is-header-table-search span {
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .container.pt-30.has-menu-left {
        min-width: 100% !important;
        margin-right: 0;
        padding: 0;
        padding-top: 24px;
    }

    .table-cus-da tbody tr {
        display: flex;
        flex-direction: column;
    }

        .table-cus-da tbody tr table.border-0 tbody tr {
            flex-direction: row;
        }

            .table-cus-da tbody tr table.border-0 tbody tr .bg-secondary-lightest {
                background: #FFF6D9;
                color: #666666;
            }

    .table-cus-da td.m-w-200,
    .table-cus-da td.max-w-td,
    .table-cus-da td.m-w-200 {
        width: auto !important;
        min-width: auto !important;
        max-width: 100% !important;
    }

    .table-cus-da td.bg-primary-lightest {
        background: #F2F2F2;
    }

    .table-cus-da .table-no-box-shadow tbody tr {
        display: contents;
    }

    .table-cus-da tbody tr td.bg-yellow-100 .text-primary {
        color: #2CA9E0 !important;
    }

    .btn-menu-left {
        background: var(--bid-primary-soft);
        color: var(--bid-dark-light);
        border: 1px solid var(--bid-dark-light);
        border-right: 0;
        height: 32px;
        width: 20px;
        position: fixed;
        right: 0;
        top: 50%;
        border-bottom-left-radius: 50%;
        border-top-left-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .btn-menu-left.active {
            right: 260px;
            background: var(--bid-dark-light);
            color: var(--bid-primary);
            border: 1px solid var(--bid-primary-soft);
            border-right: 0;
        }

            .btn-menu-left.active .fa-chevron-left:before {
                content: "\f054";
            }

    .menu-right {
        min-width: 0;
        max-width: 0;
        width: 0;
        padding: 0;
        top: 130px;
    }

        .menu-right.active {
            min-width: 260px;
            max-width: 260px;
            width: 260px;
            padding: 25px 15px 5px 15px;
            height: calc(100vh - 130px);
        }

        .menu-right .input-group-text {
            padding-left: 5px;
        }

    .overflow-hidden {
        overflow: hidden;
    }

    .info-cdt__item.col-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    #frmUser .minus-l-70-per {
        left: calc(100% - 210px);
    }

    .minus-l-70-per.w-370 {
        left: -34.5vw;
    }

    .container > .chart-block.chart-progress .card .row {
        flex-direction: column;
    }

        .container > .chart-block.chart-progress .card .row .col-6,
        .container > .chart-block.chart-progress .card .row .col-60px,
        .container > .chart-block.chart-progress .card .row .col {
            flex: 0 0 100%;
            max-width: 100%;
        }

            .container > .chart-block.chart-progress .card .row .col-6:first-child,
            .container > .chart-block.chart-progress .card .row .col.border-right:first-child {
                margin-bottom: 25px;
            }

            .container > .chart-block.chart-progress .card .row .col-6.border-right,
            .container > .chart-block.chart-progress .card .row .col.border-right {
                border: 0 !important;
            }

            .container > .chart-block.chart-progress .card .row .col-6 .pr-45,
            .container > .chart-block.chart-progress .card .row .col-6 .pl-37,
            .container > .chart-block.chart-progress .card .row .col .pr-45,
            .container > .chart-block.chart-progress .card .row .col .pl-37 {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }

    #TongQuanThongTin {
        flex-direction: column;
    }

        #TongQuanThongTin .col-4,
        #TongQuanThongTin .col-8 {
            flex: 0 0 100%;
            max-width: 100%;
        }

            #TongQuanThongTin .col-8 .container-fluid.row {
                flex-direction: column;
            }

            #TongQuanThongTin .col-8 .container-fluid .col-6 {
                flex: 0 0 100%;
                max-width: 100%;
                margin-bottom: 15px;
            }

    #Keyword {
        min-width: 100px;
    }

    #frmNhaThau .w-140 {
        width: 130px !important;
    }

    #frmViolenceSignal .quickExport,
    #frmViolenceSignal .quickSprint,
    #frmNhaThau .quickExport,
    #frmNhaThau .quickSprint {
        margin-top: 10px;
    }

    .dropdown-menu.dropdown-menu-pos-center {
        max-width: 95%;
    }

        .dropdown-menu.dropdown-menu-pos-center > .row {
            flex-direction: column;
        }

            .dropdown-menu.dropdown-menu-pos-center > .row > .col-6 {
                flex: 0 0 100%;
                max-width: 100%;
            }

    #frmDuAnCongBo .form-item__search,
    #frmProjectSearch .form-item__search {
        margin-bottom: 40px;
    }

        #frmProjectSearch .form-item__search .quickSubmit[title="Đồng bộ"],
        #frmToChucViPhamSearch .form-item__search .quickSubmit[title="Đồng bộ"],
        .quickSubmit[title="Đồng bộ"][data-url="/DuAnCongBo/DongBoDataDuAnCongBo"],
        .quickSubmit[title="Đồng bộ"][data-url="/KetQuaSTNT/SyncDataKqstNhaThau"] {
            position: absolute;
            right: 0;
        }

    .quickSubmit[title="Đồng bộ"][data-url="/KetQuaSTNT/SyncDataKqstNhaThau"] {
        width: calc(100% - 1rem);
        right: 0.5rem;
        top: 25px;
    }

    #divKQSTNT {
        margin-top: 45px;
    }

    .boxtop-cs {
        background-image: linear-gradient(#1d4c90 100%, transparent 0);
        padding-bottom: 24px;
    }

        .boxtop-cs .boxtop-cs__row {
            flex-direction: column;
        }

            .boxtop-cs .boxtop-cs__row .boxtop-cs__col {
                flex: 0 0 60%;
                max-width: 60%;
                margin: auto;
            }

                .boxtop-cs .boxtop-cs__row .boxtop-cs__col .card {
                    margin-bottom: 0;
                }

    .boxtop-cs__col:not(.boxtop-cs__col:first-child) {
        margin-top: 16px;
    }

    #divDanhSachHangHoa {
        margin-top: 15px;
    }

    input.useMoney + .input-group-append .input-group-text {
        padding-left: 5px;
        padding-right: 5px;
    }

    form[action="/DanhSachNgan/ContractorPaging"] #divKQSTNT {
        margin-top: 0;
    }

    .boxtop-cs__title {
        padding-left: 24px;
        padding-right: 24px;
    }

    /*Chi tết kết quả sở tuyển*/
    .is-fix-mobile {
        position: absolute;
        right: 0;
        width: 100%;
        top: 25px;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }

        .is-fix-mobile .quickSubmit {
            position: absolute;
            top: 25px;
            left: 0;
            width: calc(100% - 1rem);
            margin-left: .5rem !important;
        }

    #frmInvester {
        margin-top: 75px;
    }

    form[action="/GeneralSearch/Index"] #Keyword,
    form[action="/GeneralSearch/SearchCondition"] #Keyword {
        flex: 0 0 100%;
        width: 100% !important;
        margin-right: 0 !important;
        margin-bottom: 10px;
    }

        form[action="/GeneralSearch/Index"] #Keyword + .form-list-bid__avanced,
        form[action="/GeneralSearch/SearchCondition"] #Keyword + .form-list-bid__avanced {
            display: flex;
            flex-wrap: wrap;
            align-items: stretch;
            width: 100%;
        }

            form[action="/GeneralSearch/Index"] #Keyword + .form-list-bid__avanced .w-130-px,
            form[action="/GeneralSearch/SearchCondition"] #Keyword + .form-list-bid__avanced .w-130-px {
                flex: 0 0 50%;
                width: 50% !important;
                margin-right: 0 !important;
                margin-bottom: 10px !important;
            }

                form[action="/GeneralSearch/Index"] #Keyword + .form-list-bid__avanced .w-130-px:first-child,
                form[action="/GeneralSearch/SearchCondition"] #Keyword + .form-list-bid__avanced .w-130-px:first-child {
                    flex: 0 0 calc(50% - 5px);
                    width: calc(50% - 5px) !important;
                    margin-right: 5px !important;
                }

            form[action="/GeneralSearch/Index"] #Keyword + .form-list-bid__avanced .w-200-px,
            form[action="/GeneralSearch/SearchCondition"] #Keyword + .form-list-bid__avanced .w-250-px {
                flex: 0 0 calc(100% - 90px);
                width: calc(100% - 90px) !important;
            }



    form[action="/GeneralSearch/Index"] .btn-sm,
    form[action="/GeneralSearch/SearchCondition"] .btn-sm {
        min-width: auto;
    }

    .kq-search__element .kq-search__element-title {
        flex-wrap: wrap;
    }

    .kq-search__element .kq-search__element-heading {
        flex: 0 0 100%;
        margin-right: 0 !important;
        margin-bottom: 5px !important;
    }

    .kq-search__element .btn-kq-search {
        margin-left: 0;
    }

    #frmCanhBaoGoiThau .input-group .flex-1-1 {
        width: 100%;
        flex: 0 0 100%;
        margin-bottom: 10px;
    }

    #frmCanhBaoGoiThau .input-group .w-200 {
        flex: 0 0 34%;
        width: 34% !important;
        margin-left: 0 !important;
    }

    #frmCanhBaoGoiThau .dropdown-menu .col-sm-6 {
        width: 50%;
    }

    .is-fix-mobile-2 #divKQSTNT {
        margin-top: 0;
    }

    .is-fix-mobile-2.box-wrap-cs > .row > .col-12.d-flex.justify-content-between.align-items-center {
        flex-wrap: wrap;
    }

        .is-fix-mobile-2.box-wrap-cs > .row > .col-12.d-flex.justify-content-between.align-items-center .is-header-table-search,
        .is-fix-mobile-2.box-wrap-cs > .row > .col-12.d-flex.justify-content-between.align-items-center #frmNhaThauThamDu {
            flex: 0 0 100%;
        }

    #frmCanhBaoDonViKiemToan .flex-1-1 {
        flex: 0 0 calc(100% - 90px);
        order: 3;
        margin-right: 0 !important;
    }

    #frmCanhBaoDonViKiemToan .w-125-px {
        flex: 0 0 calc(50% - 5px);
        order: 1;
        margin-bottom: 10px;
    }

        #frmCanhBaoDonViKiemToan .w-125-px + .w-125-px {
            flex: 0 0 50%;
            order: 2;
            margin-right: 0 !important;
        }

    #frmCanhBaoDonViKiemToan button[type="submit"] {
        order: 4;
    }

    #frmCanhBaoDonViKiemToan button[type="reset"] {
        order: 5;
    }

    #frmCanhBaoDonViKiemToan button[type="button"] {
        order: 7;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    #frmCanhBaoDonViKiemToan .d-flex.justify-content-end.col-ip-12 {
        order: 7;
        flex: 0 0 100%;
    }

    .container-fluid.pt-20.pl-12.p-25.plr0-ip.pb-0-ip,
    .container-fluid.p-25.plr0-ip.pb-0-ip {
        padding: 0 !important;
        padding-top: 24px !important;
    }

    #frmToChucViPhamSearch .form-item__search .a[href="/to-chuc-ca-nhan-vi-pham"] {
        margin-left: 2px !important;
    }

    #frmToChucViPhamSearch .dropdown-menu.dropdown-menu-pos-center {
        left: calc(50% + 52px);
    }

    #divTableToChuc {
        margin-top: 37px;
    }

    #frmDonViDuocKiemToan .ml-auto.pr-7 {
        width: 100%;
        padding: 0 0.5rem;
    }

    #frmChuDauTu .row .col-md-6.col-ip-9 {
        width: calc(100% - 54px);
        padding-right: 0;
    }

    #frmChuDauTu .row .ml-auto.page-btn.pr-7 {
        padding-right: .5rem !important;
        margin-left: 5px !important;
    }

    .btn.h-40,
    #frmChuDauTu .h-40 {
        height: 32px !important;
    }

    .btn > span.icon-plus + span,
    #frmChuDauTu span.font-s-14 {
        display: none;
    }

    #frmChuDauTuCreate .info-cdt__cta {
        flex-direction: column;
    }

        #frmChuDauTuCreate .info-cdt__cta .cta-cdt {
            margin-left: 0;
            margin-top: 10px;
            text-align: center;
        }

    .modal-dialog textarea.form-control {
        min-height: 60px;
    }

    #frmUserLog .form-list-bid__avanced {
        flex-wrap: wrap;
    }

        #frmUserLog .form-list-bid__avanced .form-group.mb-0.mr-5 {
            order: 3;
            flex: 0 0 calc(100% - 150px);
            margin-right: 0 !important;
        }

            #frmUserLog .form-list-bid__avanced .form-group.mb-0.mr-5.w-125-px {
                flex: 0 0 calc(50% - 5px);
                order: 1;
                margin-bottom: 10px !important;
                margin-right: 5px !important;
            }

                #frmUserLog .form-list-bid__avanced .form-group.mb-0.mr-5.w-125-px + .w-125-px {
                    flex: 0 0 50%;
                    order: 2;
                    margin-right: 0 !important;
                }

        #frmUserLog .form-list-bid__avanced #search-addon {
            order: 4;
        }

        #frmUserLog .form-list-bid__avanced button[type="reset"] {
            order: 5;
        }

        #frmUserLog .form-list-bid__avanced .table-control {
            order: 6;
        }
    .button-adv-cs {
        text-indent: -9999px;
        max-width: 41px;
        min-width: 40px;
        background-image: url('../img/icon/mobile/search-av.svg') !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        vertical-align: top;
        object-fit: contain;
        padding-left: 7px !important;
    }

        .button-adv-cs::after, .button-adv-cs[aria-expanded="true"]::before {
            display: none;
        }
    form button[type = "submit"] + a.btn.btn-sm.lh-1{
        line-height: 1;
    }
    form button[type = "submit"] + a.btn.btn-reset-search-new{
        line-height: 1;
    }

    .search-box__expand > .row > .col-6{
        flex: 0 0 100%;
        max-width: 100%;
    }
}
