﻿@using DAS.Application.Models.ViewModels;
@model VMIndexCatalogingProfile
@{
    ViewData["PageHeaderContent"] = "Profile";
    var paging = Model.VMCatalogingProfiles ?? new PaginatedList<VMCatalogingProfile>();
    int stt = paging.PageSize * (paging.PageIndex - 1);
    var pageSizes = new[] { 10, 20, 30, 50, 100 };
}

<div class="table-responsive">
    <table id="data_table" class="table table-bordered table-striped table-hover data_table w-100 mb-0" role="grid">
        <thead>
            <tr> 
                <th class="text-center col-min">STT</th>
                <th class="col-min">Mã hồ sơ</th>
                <th>Tiêu đề hồ sơ</th>
                <th class=" col-min">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="group-checkable custom-control-input" id="checkall@(Model.Condition.IsStoraged)" value="">
                        <label class="custom-control-label" for="checkall@(Model.Condition.IsStoraged)"></label>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in paging)
            {
                stt++;
                <tr data-id="@item.ID">
                    <td class="text-center">
                        <span class="spIndex">@stt</span>
                        <input hidden name="IDProfile@(Model.Condition.IsStoraged)" class="idItem" data-org-name="IDProfile" value="@item.ID">
                    </td>
                    <td>
                        @item.FileCode
                    </td>
                    <td> @item.Title</td>
                    <td class="">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="checkboxes custom-control-input" id="cbProfile@($"{Model.Condition.IsStoraged}-{item.ID}")" data-id="@item.ID" value="@item.ID">
                            <label class="custom-control-label" for="cbProfile@($"{Model.Condition.IsStoraged}-{item.ID}")"></label>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

