﻿@using DAS.Application.Enums;
@using DAS.Utility.Helper;
@using DAS.Application.Models.ViewModels;
@model VMIndexCatalogingProfile
@{
    ViewData["Title"] = "Xếp hộp cặp hồ sơ";
    var breadcrum = new Dictionary<string, string>();
    breadcrum.Add("/ProfileStoring", "Xếp hộp cặp hồ sơ");
    ViewData["Breadcrumb"] = breadcrum;
    ViewData["PageHeaderContent"] = "DocumentCataloging";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Xếp hộp cặp hồ sơ</h3>
    </div>
    <div class="card-body">
        <div id="divProfileStoring" class="dataTables_wrapper">
            <div class="row flex-nowrap">
                <div class="col dataTables_wrapper">
                    <div class="card card-outline card-success mb-0">
                        <div class="card-header">
                            <form asp-action="IndexSearch" id="frmProfile1" role="form" method="post" data-state="0" class="quickSearchProfileStoring" data-target="#divProfiles1" data-target2="#divProfiles2">
                                <h4 class="card-title">Danh sách hồ sơ chưa xếp hộp cặp:</h4>
                                <div class="clearfix"></div>
                                <div class="input-group flex-nowrap mt-2">
                                    <input type="text" value="@Model.Condition.Keyword" name="Keyword" class="form-control" placeholder="Nhập mã hồ sơ hoặc tiêu đề hồ sơ">
                                    <div class="input-group-append">
                                        <input type="hidden" value="0" name="IsStoraged" />
                                        <button type="submit" class="btn btn-outline-secondary btn-hover-secondary"><i class="fa fa-fw fa-search"></i>Tìm kiếm</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-body" id="divProfiles1" data-id="0">
                            @await Html.PartialAsync("Index_Profiles", new VMIndexCatalogingProfile { Condition = Model.Condition, VMCatalogingProfiles = Model.VMCatalogingProfiles })
                        </div>
                    </div>
                </div>
                <div id="dt_buttons" class="d-flex flex-column align-items-center justify-content-center">
                    <button class="btn btn-outline-success onMoveTr mb-2" data-tb-from="#divProfiles1" data-tb-to="#divProfiles2">
                        <i class="fas fa-angle-double-right"></i>
                    </button>
                    <button class="btn btn-outline-danger onMoveTr moveLeft" data-tb-from="#divProfiles2" data-tb-to="#divProfiles1">
                        <i class="fas fa-angle-double-left"></i>
                    </button>
                </div>
                <div class="col dataTables_wrapper">
                    <div class="card card-outline card-success mb-0">
                        <div class="card-header">
                            <form asp-action="IndexSearch" id="frmProfile2" role="form" method="post" data-state="0" class="quickSearchProfileStoring onUpdateInputState" data-target="#divProfiles2" data-target2="#divProfiles1">
                                <h4 class="card-title">Vị trí lưu: <small class="storage text-truncate text-danger">Chưa chọn vị trí lưu</small></h4>
                                <div class="dropdown float-right mt-n1">
                                    <button class="btn btn-outline-success btn-hover-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Chọn vị trí
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right py-0" aria-labelledby="dropdownMenuButton">
                                        <div class="form-group mb-0">
                                            <label for="kho" class="col-12 col-form-label text-left input-required">Kho: </label>
                                            <div class="col-12">
                                                @Html.CusDropdownListSelect2("slStorage", "IDStorage", "--Chọn kho--", null, new
                                           {
                                               @class = "form-control select2 onOpenCate onAutoUpdateChildData",
                                               @data_code_type = EnumCategoryType.Code.DM_Kho.ToString().ToUpper(),
                                               @data_selected_id = Model.Condition.IDStorage,
                                               @data_default_text = "Chọn kho",
                                               @data_default_value = "",
                                               @data_source_url = "/Autocomplete/GetOptions",
                                               @data_placeholder = "--Chọn kho--"
                                           }, "Kho", false, false, false, "")
                                                <span class="text-danger field-validation-valid" data-valmsg-for="IDStorage" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                        <div class="form-group mb-0">
                                            <label for="giake" class="col-12 col-form-label text-left input-required">Giá/kệ: </label>
                                            <div class="col-12">
                                                @Html.CusDropdownListSelect2("slShelve", "IDShelve", "--Chọn giá/kệ--", null, new
                                           {
                                               @class = "form-control select2 onOpenCate onAutoUpdateChildData",
                                               @data_code_type = EnumCategoryType.Code.DM_Gia.ToString().ToUpper(),
                                               @data_selected_id = Model.Condition.IDShelve,
                                               @data_default_text = "Chọn giá/kệ",
                                               @data_default_value = "",
                                               @data_source_url = "/Autocomplete/GetOptions",
                                               @data_placeholder = "--Chọn giá/kệ--",
                                               @data_minimumResultsForSearch = "Infinity"
                                           }, "Giá/kệ", false, false, false, "")
                                                <span class="text-danger field-validation-valid" data-valmsg-for="IDShelve" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                        <div class="form-group mb-2">
                                            <label for="hopcap" class="col-12 col-form-label text-left input-required">Hộp/cặp: </label>
                                            <div class="col-12">
                                                @Html.CusDropdownListSelect2("slBox", "IDBox", "--Chọn hộp/cặp--", null, new
                                           {
                                               @class = "form-control select2 onOpenCate onAutoUpdateChildData onAutoSearch",
                                               @data_code_type = EnumCategoryType.Code.DM_HopSo.ToString().ToUpper(),
                                               @data_selected_id = Model.Condition.IDBox,
                                               @data_default_text = "Chọn hộp/cặp",
                                               @data_default_value = "",
                                               @data_source_url = "/Autocomplete/GetOptions",
                                               @data_placeholder = "--Chọn hộp/cặp--"
                                           }, "Hộp/cặp", false, false, false, "")
                                                <span class="text-danger field-validation-valid" data-valmsg-for="IDBox" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <a class="btn btn-success mb-2 quickUpdateProfileStoring" href="/ProfileStoring/Create?CodeType=@EnumCategoryType.Code.DM_HopSo.ToString()" data-target="#mdUpdateCategory" aria-controls="data_table"><i class="fas fa-fw fa-plus"></i><span>Tạo hộp/cặp</span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="input-group flex-nowrap mt-1">
                                    <input type="text" value="@Model.Condition.Keyword" name="Keyword" class="form-control" placeholder="Nhập mã hồ sơ hoặc tiêu đề hồ sơ">
                                    <div class="input-group-append">
                                        <input type="hidden" value="1" name="IsStoraged" />
                                        <button type="submit" class="btn btn-outline-secondary btn-hover-secondary"><i class="fa fa-fw fa-search"></i>Tìm kiếm</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-body" id="divProfiles2" data-id="1">
                            @{Model.Condition.IsStoraged = 1;}
                            @await Html.PartialAsync("Index_Profiles", new VMIndexCatalogingProfile { Condition = Model.Condition, VMCatalogingProfiles = new PaginatedList<VMCatalogingProfile>() })
                        </div>
                    </div>
                </div>
                <!-- /.col -->
            </div>
        </div>
        <!-- /.row -->
    </div>
    <div class="card-footer">
        @*Nếu có 2 button thì justify-content-between*@
        <div class="d-flex justify-content-end">
            @*<button type="button" class="btn btn-secondary"><i class="fas fa-fw fa-angle-left"></i><span>Thoát</span></button>*@
            <button data-url="/ProfileStoring/SaveData" disabled="" class="btn btn-primary onSaveProfileStoring" data-form="#divProfileStoring"> <i class="fas fa-fw fa-save"></i><span>Lưu</span></button>
        </div>
    </div>
</div>

@section scripts {
    <div class="modal fade" id="mdUpdateCategory" aria-labelledby="planEditModalTitle" aria-hidden="true"></div>
    <script src="~/js/controller/AutocompleteController.js" asp-append-version="true"></script>
    <script src="~/js/controller/ProfileStoringController.js" asp-append-version="true"></script>
    <script type="text/javascript">
        InitAutocomplete();
        InitProfileStoring();
        $('.dropdown-menu .form-group').on('click', function (e) {
            e.stopPropagation();
        })
    </script>
    <style>
        tr.temp td {
            background-color: #d6f1dd;
        }
        /* Only this view */
        .dropdown-menu {
            width: 320px;
        }
        /* Only this view */
        .select2-search.select2-search--dropdown {
            display: none;
        }
    </style>
}