﻿@using DAS.Application.Models.ViewModels;
@model DAS.Application.Models.ViewModels.PaginatedList<VMTeam>

<div class="table-responsive">
    <table class="table table-borderless table-space table-hover dataTable table-bid-custom dtr-inline" role="grid">
        <thead class="thead-light">
            <tr class="elevation-1">
                <th class="text-center col-min py-2 font-s-14 font-weight-500 text-body-title p-l-r-12">STT</th>
                <th class="text-center col-min">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="group-checkable custom-control-input" id="checkall" value="">
                        <label class="custom-control-label custom-label-square" for="checkall"></label>
                    </div>
                </th>
                <th class="py-2 font-s-14 font-weight-500 text-body-title p-l-r-12">Tên nhóm người dùng</th>
                <th class="py-2 font-s-14 font-weight-500 text-body-title p-l-r-12">Mô tả</th>
                <th class="col-min py-2 font-s-14 font-weight-500 text-body-title p-l-r-12">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @{
                int stt = Model.PageSize * (Model.PageIndex - 1);
            }
            @foreach (var item in Model)
            {
                stt++;
                <tr>
                    <td class="font-s-13 text-color-4545 p-b-t-16">@stt</td>
                    <td class="p-b-t-16">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="checkboxes custom-control-input" id="role-@item.ID" data-id="@item.ID" value="@item.ID" data-item-name="@item.Name">
                            <label class="custom-control-label custom-label-square" for="role-@item.ID"></label>
                        </div>
                    </td>
                    <td class="font-s-13 text-color-4545 p-b-t-16">@Html.DisplayFor(modelItem => item.Name)</td>
                    <td class="font-s-13 text-color-4545 p-b-t-16">@Html.DisplayFor(modelItem => item.Description)</td>
                    <td class="p-b-t-16">
                        <div class="d-flex is-btn-action">
                            <a title="Xem chi tiết" class="quickUpdate"
                           href="/Team/DetailPopup?id=@item.ID" data-target="#planCreateModal" data-toggle="tooltip">
                                <i class="fas fa-eye"></i>
                            </a>
                            <a title="Sửa" class="quickUpdate"
                           href="/Team/EditPopup?id=@item.ID" data-target="#planCreateModal" data-toggle="tooltip">
                                <i class="fas fa-fw fa-edit"></i>
                            </a>
                            <a title="Xóa" class="quickDelete" data-toggle="tooltip"
                           href="/Team/Delete?id=@item.ID" data-comfirm-message="Bạn có muốn xóa nhóm người dùng: @item.Name">
                                <i class="fas fa-fw fa-trash-alt"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@await Html.PartialAsync("_PagingFooter", Model, new ViewDataDictionary(this.ViewData) { { "TargetForm", "frmTeam" } })