﻿@using DAS.Application.Models.ViewModels.DasKTNN
@using DAS.Utility
@model VMSharedAppStatisticIndex
@{
    int stt = Model.SharedAppStatistics.PageSize * (Model.SharedAppStatistics.PageIndex - 1);
}

<div class="card card-outline card-success" style="margin-bottom: 15px">
    <div class="card-header">
        <h3 class="card-title" style="font-weight: bold">Biểu đồ thống kê tần xuất ứng dụng chia sẻ</h3>
    </div>
    <div class="card-body">
        <div id="archive_chart_container" class="chart_container" style="padding: 0 1rem 1rem 0; ">
            <canvas id="archive_chart" height="80"></canvas>
        </div>
    </div>
    <input type="hidden" id="tableStatisticData" value="@(Utils.Serialize(Model.ChartData))" />
</div>

<div class="card" hidden id="cardImgChart">
    <div class="card-header">
        <h3 class="card-title" style="font-weight: bold">Thống kê tần xuất ứng dụng chia sẻ</h3>
        <img id="imgChart" src="" alt="Biểu đồ" />
    </div>
</div>

<div class="card card-outline card-success mt-5">
    <div class="card-header">
        <h3 class="card-title" style="font-weight: bold">Bảng thống kê tần xuất ứng dụng chia sẻ</h3>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-borderless table-space table-hover dataTable dtr-inline useTreegrid table-bid-custom" role="grid" data-tree="3">
                <thead class="thead-light">
                    <tr class="elevation-1">
                        <th class="pb-2 col-min">STT</th>
                        <th class="pb-2 m-w-200-px">Tên api</th>
                        <th class="pb-2 m-w-200-px">Nội dung</th>
                        <th class="pb-2 m-w-200-px">Ứng dụng</th>
                        <th class="pb-2 m-w-200-px">Số lần</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model.SharedAppStatistics)
                    {
                        stt++;
                        var app = Model.SharedApps.FirstOrNewObj(n => n.ID == item.IDSharedApp);
                        <tr>
                            <td class="text-center">@stt</td>
                            <td>
                                @item.APIName
                            </td>
                            <td>
                                @item.NoiDung
                            </td>
                            <td>
                                @app.Name
                            </td>
                            <td>
                                @item.Count
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>

    <div class="m-2">
        @await Html.PartialAsync("_PagingFooter", Model.SharedAppStatistics, new ViewDataDictionary(this.ViewData) { { "TargetForm", "frmStats" } })
    </div>
</div>