﻿@using DAS.Application.Models.ViewModels.DasKTNN
@using DAS.Domain.Models.DASKTNN
@using DAS.Utility
@using DAS.Utility.Helper;

@model VMSharedAppStatisticIndex
@{
    ViewData["Title"] = "Báo cáo tần xuất ứng dụng chia sẻ";
    var startDate = Model.Condition.StartDate;
    var endDate = Model.Condition.EndDate;

    var lstSharedApps = Model.SharedApps.Select(n => new SelectListItem
            {
                Text = n.Name,
                Value = n.ID.ToString(),
                Selected = n.ID == Model.Condition.IDSharedApp
            }).ToList();
}

<div class="container pt-30">
    <div class="box-wrap-cs mb-15 dataTables_wrapper">
        <form asp-action="SharedAppSearch" id="frmStats" role="form" method="post" class="quickSearch" data-target="#divTableInfos" data-callback="InitTableInfoStatistic();">
            <div class="row row-ip">
                <div class="col-md-3 align-items-center d-flex col-ip-12">
                    <p class="is-header-table-search"><span>@ViewData["Title"]</span></p>
                </div>
                <div class="col-md-9 col-ip-12">
                    <div class="input-group input-group-sm mb-3">
                        <div class="form-group mb-0 mr-5 w-200">
                            @Html.CusDropdownListSelect2("", "IDSharedApp", "--Chọn ứng dụng--", lstSharedApps, new { @class = "select2 w-200", @data_placeholder = "--Chọn ứng dụng--" }, isReadonly: false)
                        </div>
                        <div style="margin-right:5px">
                            <div class="input-group date_input" id="dpStartDate" data-target-input="nearest">
                                @Html.CusTextBoxDate("", "StartDate", Utils.DateToString(startDate), "Từ ngày", "Từ ngày", false, new { data_target = "#dpStartDate" , data_toggle = "datetimepicker" }, 0)
                                <div class="input-group-prepend" data-target="#dpStartDate" data-toggle="datetimepicker">
                                    <div class="input-group-text">
                                        <span class="icon-calendar"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="margin-right:5px">
                            <div class="input-group date_input" id="dpEndDate" data-target-input="nearest">
                                @Html.CusTextBoxDate("", "EndDate", Utils.DateToString(endDate), "Đến ngày", "Đến ngày", false, new { data_target = "#dpEndDate" , data_toggle = "datetimepicker" }, 0)
                                <div class="input-group-prepend" data-target="#dpEndDate" data-toggle="datetimepicker">
                                    <div class="input-group-text">
                                        <span class="icon-calendar"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="search" name="Keyword" value="@ViewBag.Keyword" class="form-control" placeholder="Từ khóa tìm kiếm">
                        <button type="submit" class="btn btn-sm btn-primary ml-5">Tìm kiếm</button>
                       
                        <a class="ml-28 quickSprint" data-target="#divTableInfos" title="In màn hình" data-callback="InitTableInfoStatistic();">
                            <i class="bid-icons bid-icon-print"></i>
                        </a>
                        <a class="btn-icon-search quickExport ml-5 text-success" tabindex="0" href="#" action="/Statistic/SharedAppExport" data-target="#frmStats" aria-controls="data_table" title="Xuất file">
                            <i class="bid-icons bid-icon-csv"></i>
                        </a>
                    </div>
                </div>
            </div>
        </form>

        <div class="card-body p-0">

            <div class="card card-danger card-outline card-outline-tabs rounded-0 border-0 elevation-0 bg-transparent mt-15">
                <div id="divTableInfos" class="mt-2">
                    @await Html.PartialAsync("SharedApp/Index_Table", Model)
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {

    <div class="modal fade" id="mdIUTableInfo" aria-labelledby="planEditModalTitle" aria-hidden="true"></div>

   <script src="~/js/controller/TableInfoController.js" asp-append-version="true"></script>
    <script type="text/javascript">
        InitTableInfoStatistic();
    </script>
}