﻿@using DAS.Utility;
@using DAS.Utility.Helper;
@using DAS.Application.Enums;
@using DAS.Application.Models.ViewModels;
@model VMLogInfoStatistic
@{
    int stt = 0;
    if (Model != null)
    { stt = Model.VMUserLogInfos.PageSize * (Model.VMUserLogInfos.PageIndex - 1); }
}
<div class="card card-outline card-success" style="margin-bottom: 15px">
    <div class="card-header">
        <h3 class="card-title" style="font-weight: bold">Báo cáo thống kê về lịch sử truy cập hệ thống</h3>
    </div>
    <div class="card-body">
        <div id="archive_chart_container" class="chart_container" style="padding: 0 1rem 1rem 0; ">
            <canvas id="archive_chart" height="100"></canvas>
        </div>
    </div>
    <input type="hidden" id="tableStatisticData" value="@(Utils.IsNotEmpty(Model.ChartData)? Utils.Serialize(Model.ChartData) :"")" />
</div>
<div class="card" hidden id="cardImgChart">
    <div class="card-header">
        <h3 class="card-title" style="font-weight: bold">Báo cáo thống kê về lịch sử truy cập hệ thống</h3>
        <img id="imgChart" src="" alt="Biểu đồ" />
    </div>
</div>
<div class="card card-outline card-success mt-5">
    <div class="card-header">
        <h3 class="card-title" style="font-weight: bold">Báo cáo thống kê về lịch sử truy cập hệ thống</h3>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="data_table" class="table table-borderless table-space table-hover dataTable no-footer dtr-inline" role="grid">
                <thead class="thead-light">
                    <tr class="elevation-1">
                        <th class="text-center col-min font-s-14 font-weight-500 text-body-title p-l-r-12">STT</th>
                        <th class="m-w-300-px font-s-14 font-weight-500 text-body-title p-l-r-12 text-center">Thao tác</th>
                        <th class="m-w-200-px text-center font-s-14 font-weight-500 text-body-title p-l-r-12 text-center">Thời điểm</th>
                        <th class="m-w-50-px font-s-14 font-weight-500 text-body-title p-l-r-12 text-center">ID tài khoản</th>
                        <th class="m-w-150-px font-s-14 font-weight-500 text-body-title p-l-r-12 text-center">Tài khoản</th>
                        <th class="m-w-150-px font-s-14 font-weight-500 text-body-title p-l-r-12">Địa chỉ IP</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.VMUserLogInfos.Count > 0)
                    {
                        @foreach (var item in Model.VMUserLogInfos)
                        {
                            stt++;
                            <tr>
                                <td class="text-center font-s-13 text-color-4545 p-b-t-16">@stt</td>
                                <td class="font-s-13 text-color-4545 p-b-t-16">@Html.DisplayFor(modelItem => item.Action)</td>
                                <td class="font-s-13 text-color-4545 p-b-t-16 text-center">@Html.DisplayFor(modelItem => item.CreatedDate)</td>
                                <td class="font-s-13 text-color-4545 p-b-t-16 text-center">@Html.DisplayFor(modelItem => item.UserId)</td>
                                <td class="font-s-13 text-color-4545 p-b-t-16 text-center">@Html.DisplayFor(modelItem => item.Username)</td>
                                <td class="font-s-13 text-color-4545 p-b-t-16">@Html.DisplayFor(modelItem => item.IPAddress)</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        @await Html.PartialAsync("_PagingFooter", Model.VMUserLogInfos, new ViewDataDictionary(this.ViewData) { { "TargetForm", "frmUserLog" } })
    </div>
</div>
