﻿@using DAS.Utility;
@using DAS.Utility.Helper;
@using DAS.Application.Enums;
@using DAS.Application.Models.ViewModels;
@model VMLogInfoStatistic
@{
    ViewData["Title"] = "Báo cáo thống kê về lịch sử truy cập hệ thống";
    ViewData["PageHeaderContent"] = "UserLog";
    ViewBag.BreadcrumbMenu = "Quản trị hệ thống";
    ViewBag.Breadcrumb = new List<string> { "Báo cáo thống kê về lịch sử truy cập hệ thống" };
    List<SelectListItem> lstAction = new List<SelectListItem>{
        new SelectListItem{Text = "Đăng nhập",Value = "Đăng nhập"},
        new SelectListItem{Text = "Đăng xuất",Value = "Đăng xuất"},
        new SelectListItem{Text = "Tất cả",Value = "Tất cả"},
    };
}
<div class="container pt-30">
    <div class="box-wrap-cs">
        <div class="row row-ip">

            <div class="col-md-3 col-xl-6 align-items-center d-flex col-ip-sm-12 mb-ip-sm-10">
                <p class="is-header-table-search"><span>Nhật ký người dùng</span></p>
            </div>
            <div class="col-md-9 col-xl-6 col-ip-sm-12">
                <form asp-action="SearchByConditionPagging" id="frmUserLog" role="form" method="post" class="quickSearch" data-target="#divUserLogs" data-callback="InitSystemLogConfigStatistic();">
                    <div class="input-group input-group-sm justify-content-end justify-content-ip-sm-start">
                        <input id="Keyword" type="text" class="form-control d-none" name="Keyword" value="@ViewBag.Keyword"
                               placeholder="Nhập tên tài khoản" title="Nhập tên tài khoản"
                               aria-label="Nhập tên tài khoản" aria-describedby="search-addon">
                        <div class="form-list-bid__avanced d-flex position-relative">
                            <div class="form-group mb-0 mr-5 w-125-px">
                                @Html.CusDropdownListSelect2("ActionCRUD", "ActionCRUD", "", lstAction, new { @class = "select2-cs-single select2 w-100 h-100", @data_placeholder = "Thao tác", @data_width = "100%" }, isMultiple: false, defaultVal: "0")
                            </div>

                            <div class="form-group mb-0 mr-5 w-125-px">
                                <div class="input-group date_input" id="search_from-date" data-target-input="nearest">
                                    @Html.CusTextBoxDate("FromDate", "FromDate", "", "", "Từ ngày", false, new { data_target = "#search_from-date", data_toggle = "datetimepicker", }, 0)
                                    <div class="input-group-prepend" data-target="#search_from-date" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group mb-0 mr-5 w-125-px">
                                <div class="input-group date_input" id="search_to-date" data-target-input="nearest">
                                    @Html.CusTextBoxDate("ToDate", "ToDate", "", "", "Đến ngày", false, new { data_target = "#search_to-date", data_toggle = "datetimepicker", }, 0)
                                    <div class="input-group-prepend" data-target="#search_to-date" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div id="search-addon" class="input-group-append mr-5 ml-5">
                                <button type="submit" class="btn btn-sm btn-primary">
                                    Tìm kiếm
                                </button>
                                <a class="ml-28 quickSprint" data-target="#divUserLogs" title="In màn hình" data-callback="InitSystemLogConfigStatistic();">
                                    <i class="bid-icons bid-icon-print"></i>
                                </a>
                            </div>
                            <div class="table-control d-flex align-items-center ml-ip-sm-auto">
                                <div class="form-item__icon d-flex ml-auto ml-28">
                                    <a class="ml-0 quickExport" action="/UserLog/Export" data-target="#divSystemLogs" aria-controls="data_table" title="Xuất Excel">
                                        <i class="bid-icons bid-icon-csv"></i>
                                    </a>
                                    <a class="ml-5 quickExport" action="/UserLog/ExportCsv" data-target="#divSystemLogs" aria-controls="data_table" title="Xuất Csv">
                                        <i class="bid-icons bid-icon-pdf"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>

        </div>
        <div class="card card-danger card-outline card-outline-tabs rounded-0 border-0 elevation-0 bg-transparent mt-10">
            <div class="card-body p-0">
                <div id="dataTables_wrapper" class="dataTables_wrapper">
                    <div id="divUserLogs">
                        @await Html.PartialAsync("Index_Logs", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section scripts {
    <div class="modal fade" id="CreateNewRecordModal" aria-labelledby="comfirmModel" aria-hidden="true"></div>
    <script type="text/javascript" src="~/lib/adminLte/plugins/chart.js/Chart.bundle.min.js"></script>
    <script src="~/js/controller/UserLogController.js" asp-append-version="true"></script>
    <script type="text/javascript">
        InitSystemLogConfigStatistic();
    </script>
}