﻿@{
    ViewData["Title"] = "Danh sách thời hạn bảo quản";
    ViewData["PageHeaderContent"] = "ExpiryDate";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using DAS.Application.Models.ViewModels;
@model DAS.Application.Models.ViewModels.PaginatedList<VMExpiryDate>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Danh sách thời hạn bảo quản </h3>
            </div>
            <div>
                <div class="card-body">
                    <form asp-action="SearchByConditionPagging" id="frmExpiryDate" role="form" method="post"
                          class="quickSearch" data-target="#divExpiryDates">
                        <div class="row">
                            <div class="col-4">
                                <input type="text" value="@ViewBag.Keyword" name="Keyword" class="form-control" placeholder="Nhập tên/mã thời hạn bảo quản">
                            </div>
                            <div class="col-2">
                                <button type="submit" class="btn btn-default"><i class="fa fa-fw fa-search"></i><span>Tìm kiếm</span></button>
                            </div>
                        </div>
                    </form>
                    <div id="data_table_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                        <div class="table-control">
                            <div class="row">
                                <div class="col-md-3 col-sm-12 text-left mb-2 mb-md-0"></div>
                                <div class="col-md-9 col-sm-12 text-md-right">
                                    <span class="actMultiTicks hidden">
                                        <a class="btn btn-danger quickDeletes" data-url="/ExpiryDate/Deletes" data-comfirm-message="Bạn có muốn xóa {n} thời hạn bảo quản"
                                           tabindex="0">
                                            <span><i class="fas fa-trash-alt mr-2"></i>Xoá</span>
                                        </a>
                                    </span>

                                    <a class="btn btn-success quickUpdate" tabindex="0" href="/ExpiryDate/Create"
                                       data-target="#mdEditExpiryDate" aria-controls="data_table">
                                        <i class="fas fa-fw fa-plus"></i><span>Thêm mới</span>
                                    </a>
                                    <a class="btn btn-primary quickExport" tabindex="0" href="#" action="/ExpiryDate/Export" data-target="#frmExpiryDate" aria-controls="data_table">
                                        <i class="fas fa-fw fa-file-export"></i><span>Xuất file</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div id="divExpiryDates">
                            @await Html.PartialAsync("Index_ExpiryDate", Model)
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="mdEditExpiryDate" aria-labelledby="planEditModalTitle" aria-hidden="true"></div>
<script src="~/js/controller/ExpiryDateController.js" asp-append-version="true"></script>