﻿@model DAS.Application.Models.ViewModels.VMExpiryDate
@{
    ViewData["PageHeaderContent"] = "ExpiryDate";
    Layout = "";
}

<div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
    <div class="modal-content">
        <form role="form" asp-action="" class="validateForm bv-form" id="frmExpiryDateDetail">
            <div class="modal-header bg-success">
                <h3 class="modal-title" id="planCreateModalTitle">Xem chi tiết thời hạn bảo quản </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" asp-for="Name"></label>
                    <div class="col-sm-8">
                        <input asp-for="Code" class="form-control" placeholder="Mã thời hạn bảo quản" readonly data-bv-notempty-message="Mã thời hạn bảo quản không được trống" data-bv-notempty="true" data-bv-field="Name" />
                        <span asp-validation-for="Code" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" asp-for="Value"></label>
                    <div class="col-sm-8">
                        <input asp-for="Value" readonly class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" asp-for="Name"></label>
                    <div class="col-sm-8">
                        <input asp-for="Name" class="form-control" placeholder="Tên thời hạn bảo quản" readonly data-bv-notempty-message="Tên thời hạn bảo quản không được trống" data-bv-notempty="true" data-bv-field="Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" asp-for="Description"></label>
                    <div class="col-sm-8">
                        <textarea asp-for="Description" readonly class="form-control" rows="5">@Model.Description</textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
                    <i class="fas fa-fw fa-times"></i><span>Đóng</span>
                </button>
                <a class="btn btn-outline-info quickUpdate" href="/ExpiryDate/Edit?id=@Model.ID" data-target="#mdEditExpiryDate"> <i class="fas fa-fw fa-edit"></i><span>Chỉnh sửa</span></a>
                <input type="hidden" asp-for="ID" />
            </div>
        </form>
    </div>
</div>


    @*<script src="~/js/controller/ExpiryDateController.js" asp-append-version="true"></script>
    <script type="text/javascript">
    InitExpiryDate();
    </script>*@

