﻿@using DAS.Utility.Helper;
@using DAS.Application.Models.ViewModels.DasKTNN

@model VMSyncData

@{ 
    var url = "/InputInfoTemp/Reject";
}

<div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered" role="document">
    <div class="modal-content">
        <form role="form" class="onUpdateInputState bv-form validateForm" id="frmMDIUSchema">
            <div class="modal-header d-flex align-items-center">
                <h5 class="modal-title font-weight-bold font-s-16 text-white" id="planCreateModalTitle">Từ chối dữ liệu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="w-h-32 icon-exit-white ml-auto" aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label required">Lý do từ chối</label>
                    <div class="col-sm-10">
                        @Html.CusTextArea("", "Reason", Model.Reason, null, "Nội dung từ chối", true, null, 3, 5)
                    </div>
                </div>
                <div id="divColumnTableMapper">
                </div>
            </div>
            <div class="modal-footer">
                <input type="hidden" name="IDRecord" value="@Model.IDRecord" />
                <input type="hidden" name="IDTable" value="@Model.IDTable" />
                <button data-url="@url" class="btn bg-color-primary d-flex align-items-center quickSubmit">
                    <span class="text-white font-s-14">Lưu</span>
                </button>
                <button type="button" class="btn bg-color-gray-6 d-flex align-items-center" data-dismiss="modal">
                    <span class="font-s-14 text-color-body font-weight-500">Đóng</span>
                </button>
            </div>
        </form>
    </div>
</div>