﻿@using DAS.Utility;
@using DAS.Utility.Helper;
@using Microsoft.AspNetCore.Mvc.Rendering;
@using DAS.Application.Models.ViewModels.DasKTNN
@using static DAS.Application.Enums.DasKTNN.EnumTableInfo;
@{
    var title = "Bảng dữ liệu";
    ViewData["Title"] = title;
    Layout = "";
}
@model VMSyncData
@{

}

<div class="table-responsive">
    <table id="tbConfigCategoryType" class="table table-borderless table-space table-hover dataTable dtr-inline useTreegrid table-bid-custom" role="grid">
        <thead class="thead-light">
            <tr class="elevation-1">
                <th class="pb-2 col-min">
                    <input name="IDRecords" id="IDRecords" hidden value="@string.Join(",", Model.IDRecords)" />
                    STT
                </th>
                <th class="pb-2 m-w-200-px">Tên trường</th>
                <th class="pb-2 m-w-200-px">Cột dữ liệu nhập</th>
            </tr>
        </thead>
        <tbody id="bodyConfigCategoryType">
            @if (Model.ColumnMappers.IsNotEmpty())
            {
                var index = 0;
                foreach (var item in Model.ColumnMappers)
                {
                    var columnTableTarget = item.ColumnTableTarget;

                    var columnTableSource = Model.ColumnTableSources.IsNotEmpty()
                    ? Model.ColumnTableSources.Select(n => new SelectListItem { Value = n.ID.ToString(), Text = n.Name, Selected = columnTableTarget.DbName == n.DbName })
                    : new List<SelectListItem>();
                    <tr>
                        <td>
                            @(index +1)
                        </td>
                        <td>
                            @columnTableTarget.Name
                            <input type="hidden" name="ColumnID" value="@columnTableTarget.ID" />
                        </td>
                        <td>
                            @Html.CusDropdownListSelect2(null, $"IDColumn_" + columnTableTarget.ID, "--Chọn cột dữ liệu nhập--", columnTableSource, new
                               {
                                   @class = "form-control",
                                   @data_container = "body",
                                   @data_width = "150px",
                               }, "Cột dữ liệu nhập", isNotEmpty: columnTableTarget.IsRequired, value: item.IDColumn.ToString())
                        </td>
                    </tr>
                    index++;
                }
            }
        </tbody>
    </table>
</div>

