﻿@using Microsoft.AspNetCore.Mvc.Rendering;
@using DAS.Application.Models.ViewModels;
@using DAS.Utility;
@using DAS.Utility.Helper;
@using DAS.Application.Models.ViewModels.DasKTNN
@using DAS.Application.Enums.DasKTNN;
@using DAS.Domain.Models.DASKTNN
@using DAS.Application.Constants
@using static DAS.Application.Enums.DasKTNN.EnumTableInfo
@model VMInputInfo
@{
    var tableInfo = Model.tableInfo ?? new DAS.Domain.Models.DASKTNN.TableInfo();
    var title = "Bảng nhập liệu : " + tableInfo.Name;
    ViewData["Title"] = title;
    ViewBag.Breadcrumb = new List<string> { Model.schemaInfo.Name, title };
    ViewData["PageHeaderContent"] = "InputInfo";
    Layout = "~/Views/Shared/_LayoutCus.cshtml";
    var columntables = Model.columnTableAlls.Where(n => n.IsSearchable).ToList();
    var isCheckApproveTable = Model.tableInfo.IsRequireApprove;
    var isCheckSyncData = Model.tableInfo.IsTempTable;
}
<div class="container pt-30">
    <div class="box-wrap-cs mb-15 dataTables_wrapper">
        <form asp-action="SearchByCondition" id="frmInputInfo" role="form" method="post" class="quickSearch" data-target="#divRecordTableTemp">
            <div class="row row-ip">
                <div class="col-md-5 align-items-center d-flex col-ip-12">
                    <p class="is-header-table-search"><span>@ViewData["Title"]</span></p>
                </div>
                <div class="col-md-7 col-ip-12 ">
                    <div class="pull-right input-group-sm mb-3">
                        <input type="hidden" name="IDTable" value="@tableInfo.ID">
                        <button class="btn btn-sm ml-5" type="button" id="dataFilter_Dropdown" title="Tìm kiếm nâng cao" style="background-color: #eef2f5; border-radius: 6px;">
                            <i class="fa fa-filter" style="color: #5e6278"></i>
                        </button>
                        <button type="submit" class="btn btn-sm btn-primary ml-5" style="border-radius: 6px;">Tìm kiếm</button>
                        @*<a class="btn btn-sm btn-outline-warning quickUpdate ml-20 text-dark-blue" data-target="#mdSyncData" style="border-radius: 6px; display: flex; align-items: center;" href="/InputInfoTemp/SyncView?IDTable=@tableInfo.ID" title="Đồng bộ">
                            <span class="svg-icon svg-icon-2">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M14.5 20.7259C14.6 21.2259 14.2 21.826 13.7 21.926C13.2 22.026 12.6 22.0259 12.1 22.0259C9.5 22.0259 6.9 21.0259 5 19.1259C1.4 15.5259 1.09998 9.72592 4.29998 5.82592L5.70001 7.22595C3.30001 10.3259 3.59999 14.8259 6.39999 17.7259C8.19999 19.5259 10.8 20.426 13.4 19.926C13.9 19.826 14.4 20.2259 14.5 20.7259ZM18.4 16.8259L19.8 18.2259C22.9 14.3259 22.7 8.52593 19 4.92593C16.7 2.62593 13.5 1.62594 10.3 2.12594C9.79998 2.22594 9.4 2.72595 9.5 3.22595C9.6 3.72595 10.1 4.12594 10.6 4.02594C13.1 3.62594 15.7 4.42595 17.6 6.22595C20.5 9.22595 20.7 13.7259 18.4 16.8259Z" fill="currentColor"></path>
                                    <path opacity="0.3" d="M2 3.62592H7C7.6 3.62592 8 4.02592 8 4.62592V9.62589L2 3.62592ZM16 14.4259V19.4259C16 20.0259 16.4 20.4259 17 20.4259H22L16 14.4259Z" fill="currentColor"></path>
                                </svg>
                                Đồng bộ
                            </span>
                        </a>*@
                    </div>
                </div>
                <div class="dropdown-menu dataFilter_Dropdown_target">
                    <div class="dropdown-menu-content">
                        <a href="#" title="Đóng" class="dataFilter_Dropdown_close"><i class="fa fa-times-circle"></i></a>
                        <div class="col-xs-12">
                            <div class="row">
                                @foreach (var item in columntables)
                                {
                                    @switch (item.DataType)
                                    {
                                        case (int)EnumTableInfo.ColumnDataType.DateTime:
                                            <div class="col-md-3 DropdownFilter_item">
                                                <div class="input-group date_input" id="dpCreatedAt_@item.ID" data-target-input="nearest">
                                                    <div class="input-group-prepend" data-target="#dpCreatedAt_@item.ID" data-toggle="datetimepicker">
                                                        <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                                                    </div>
                                                    @Html.CusTextBoxDate("", item.DbName, null, item.Name, item.Name, item.IsRequired, new { data_target = "#dpCreatedAt_" + item.ID, data_toggle = "datetimepicker" }, 0)
                                                </div>
                                            </div>
                                            break;
                                        case (int)EnumTableInfo.ColumnDataType.Decimal:
                                            <div class="col-md-3 DropdownFilter_item">
                                                @Html.CusTextBoxMoney("", item.DbName, null, item.Name, item.Name, false, new { })
                                            </div>
                                            break;

                                        case (int)EnumTableInfo.ColumnDataType.Integer:
                                            <div class="col-md-3 DropdownFilter_item">
                                                @Html.CustTexBoxNumber("", item.DbName, null, item.Name, item.Name, false, new { })
                                            </div>
                                            break;

                                        case (int)EnumTableInfo.ColumnDataType.Parent:
                                        case (int)EnumTableInfo.ColumnDataType.TableRef:
                                            <div class="col-md-3 DropdownFilter_item">
                                                @Html.CusDropdownListSelect2Ajax("", item.DbName, item.Name, new
                                                {
                                                @data_id_table = item.IDTableRef,
                                                @data_id_column = item.ID,
                                                }, url: "/InputInfo/GetTableRecords")
                                            </div>
                                            break;

                                        case (int)EnumTableInfo.ColumnDataType.String:
                                            <div class="col-md-3 DropdownFilter_item">
                                                @Html.CustTexBox(item.DbName, item.DbName, null, item.Name, item.Name, false, new { }, false, item.MinLen ?? 0, item.MaxLen ?? 0)
                                            </div>
                                            break;
                                        case (int)EnumTableInfo.ColumnDataType.TableUser:
                                            <div class="col-md-3 DropdownFilter_item">
                                                @Html.CusDropdownListSelect2Ajax("", item.DbName, item.Name, null, url: "/InputInfo/GetUsers")
                                            </div>
                                            break;
                                        default:
                                            break;
                                    }
                                }
                                @if (isCheckApproveTable)
                                {
                                    <div class="col-md-3 DropdownFilter_item">
                                        <select class="form-control input-sm" id="Status" name="Status">
                                            <option value="-1">Trạng thái</option>
                                            @foreach (var item in Utils.GetDescribes<Status>())
                                            {
                                                var x = item.Key.ToString() == Model.inputInfoCondition.Status.ToString() ? "selected" : "";
                                                <option value="@item.Key.ToString()" class="@x">@item.Value.ToString()</option>
                                            }
                                        </select>
                                    </div>
                                }
                                @if (isCheckSyncData)
                                {
                                    <div class="col-md-3 DropdownFilter_item">
                                        <select class="form-control input-sm" id="Sync" name="Sync">
                                            <option value="-1">Trạng thái đồng bộ</option>
                                            @foreach (var item in Utils.GetDescribes<Sync>())
                                            {
                                                var x = item.Key.ToString() == Model.inputInfoCondition.Sync.ToString() ? "selected" : "";
                                                <option value="@item.Key.ToString()" class="@x">@item.Value.ToString()</option>
                                            }
                                        </select>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>
        <div class="card card-danger card-outline card-outline-tabs rounded-0 border-0 elevation-0 bg-transparent mt-15">
            <div class="card-body p-0">
                <div id="divRecordTableTemp">
                    @await Html.PartialAsync("Index_InputInfos", Model)
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <div class="modal fade" id="mdSyncData" aria-labelledby="planEditModalTitle" aria-hidden="true"></div>
    <script src="~/js/controller/InputInfoController.js" asp-append-version="true"></script>
    <script type="text/javascript">
        InitInputInfo();
    </script>
}

