﻿@using DAS.Application.Models.ViewModels.DasKTNN;
@using DAS.Application.Enums.DasKTNN;
@using DAS.Utility;
@using static DAS.Application.Enums.DasKTNN.EnumTableInfo
@model VMInputInfo
@{
    var pageSizes = new[] { 10, 20, 30, 50, 100 };
    int stt = Model.datapage.PageSize * (Model.datapage.PageIndex - 1);
    var checkTableApproveTable = Model.tableInfo.IsRequireApprove;
    var idTable = Model.inputInfoCondition.IDTable;
    var data = Model.datas.Rows;
    var count = Model.datas.Rows.Count;
}

<div class="table-responsive">
    <table class="table table-borderless table-space table-hover dataTable dtr-inline useTreegrid table-bid-custom" role="grid" data-tree="3">
        <thead class="thead-light">
            <tr class="elevation-1">
                <th class="text-center col-min">STT</th>
                <th class="text-center col-min">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="group-checkable custom-control-input" id="checkall" value="">
                        <label class="custom-control-label" for="checkall"></label>
                    </div>
                </th>
                @{
                    foreach (var item in Model.columnTables)
                    {
                        <th class="pb-2 m-w-200-px text-center">@item.Name</th>
                    }
                }
                <th class="pb-2 col-min text-center" data-column-id="commands" data-formatter="commands" data-sortable="false">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @for (Int32 i = 0; i < count; i++)
            {
                stt++;
                var valueDaDongBo = data[i]["DADONGBO"].ToString();
                var x = @data[i]["parentidtree_view"].ToString();
                var valApprove = checkTableApproveTable ? data[i]["DADUYET"].ToString() : "";
                x = string.IsNullOrEmpty(x) ? "0" : x;
                <tr>
                    <td class="text-center">@stt</td>
                    <td class="text-center">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="checkboxes custom-control-input" id="role-@data[i]["ID"].ToString()" data-id="@data[i]["ID"].ToString()" value="@data[i]["ID"].ToString()">
                            <label class="custom-control-label" for="role-@data[i]["ID"].ToString()"></label>
                        </div>
                    </td>
                    @{
                        int val = 1;
                        foreach (var item in Model.columnTables)
                        {
                            var valueconver = data[i][item.DbName + "_ValueShow"].ToString();
                            var detailLink = "#";
                            if (val == 1)
                            {
                                if (item.DbName == "Ten")
                                {
                                    <td>
                                        <a title="Xem chi tiết" class="" href="@detailLink"
                           data-toggle="tooltip" data-original-title="Xem chi tiết">
                                            @valueconver
                                        </a>
                                    </td>
                                }
                                else if (item.DbName.ToUpper().Contains("DADONGBO"))
                                {
                                    var clss = !string.IsNullOrEmpty(valueDaDongBo) && valueDaDongBo == "1" ? "orange" : valueDaDongBo == "2" ? "red" : "#eef2f5";
                                    var text = !string.IsNullOrEmpty(valueDaDongBo) && valueDaDongBo == "1" ? "đã đồng bộ" : valueDaDongBo == "2" ? "Từ chối" : "chưa đồng bộ";
                                    <td>
                                        <span class="@clss">@text</span>
                                    </td>
                                }
                                else
                                {
                                    <td>@valueconver</td>
                                }
                            }
                            else
                            {
                                if (item.DbName == "Ten")
                                {
                                    <td>
                                        <a title="Xem chi tiết" class="" href="@detailLink"
                           data-toggle="tooltip" data-original-title="Xem chi tiết">
                                            @valueconver
                                        </a>
                                    </td>
                                }
                                else if (item.DbName.ToUpper().Contains("DADONGBO"))
                                {
                                    var clss = !string.IsNullOrEmpty(valueDaDongBo) && valueDaDongBo == "1" ? "orange" : valueDaDongBo == "2" ? "red" : "#eef2f5";
                                    var text = !string.IsNullOrEmpty(valueDaDongBo) && valueDaDongBo == "1" ? "đã đồng bộ" : valueDaDongBo == "2" ? "Từ chối" : "chưa đồng bộ";
                                    <td class="text-center">
                                        <span style="background-color: @clss; border-radius: 13px; padding: 4px; font-size: 13px;">@text</span>
                                    </td>
                                }
                                else
                                {
                                    <td>@valueconver</td>
                                }
                            }

                            val++;
                        }
                    }
                    <td class="text-center" >
                        <a title="Sửa" class="quickUpdate" href="/InputInfo/Update?IDTable=@idTable&ID=@data[i]["ID"].ToString()"
                       data-target="#mdSyncData" data-toggle="tooltip" data-original-title="Sửa">
                            <i class="fas fa-fw fa-edit"></i>
                        </a>
                        <a title="Xoá" data-comfirm-message="Xoá bảng dữ liệu:Bạn có chắc chắn muốn xoá bảng dữ liệu này?" class="quickDelete" href="/InputInfo/Delete?IDTable=@idTable&id=@data[i]["ID"].ToString()" data-id="@data[i]["ID"].ToString()"
                       data-toggle="tooltip" data-original-title="Xóa">
                            <i class="fas fa-fw fa-trash-alt"></i>
                        </a>
                        <a title="Đồng bộ" @(string.IsNullOrEmpty(valueDaDongBo) || valueDaDongBo == "0" ? "" : "hidden") data-target="#mdSyncData" class="quickUpdate" href="/InputInfoTemp/ViewCheckColumn?IDTable=@idTable&IDRecord=@data[i]["ID"].ToString()" data-id="@data[i]["ID"].ToString()"
                       data-toggle="tooltip" data-original-title="Đồng bộ">
                            <i class="fas fa-fw fa-sync"></i>
                        </a>
                        <a title="Từ chối" @(string.IsNullOrEmpty(valueDaDongBo) || valueDaDongBo == "0" ? "" : "hidden") data-target="#mdSyncData" class="quickUpdate" href="/InputInfoTemp/ConfirmReject?IDTable=@idTable&IDRecord=@data[i]["ID"].ToString()" data-id="@data[i]["ID"].ToString()"
                       data-toggle="tooltip" data-original-title="Từ chối">
                            <i class="fas fa-fw fa-ban"></i>
                        </a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>
@await Html.PartialAsync("_PagingFooter", Model.datapage, new ViewDataDictionary(this.ViewData) { { "TargetForm", "frmInputInfo" } })
