﻿@using DAS.Application.Models.ViewModels.DasKTNN

@model VMSyncData
@{
    var title = "Động bộ dữ liệu";
    Layout = "";
    var url = "/InputInfoTemp/SyncRecord";
    var countColumnNotMap = Model.ColumnNotMap.Count();
    var countColumnTableTarget = Model.ColumnTableTargets.Count();
    var str = string.Join(", ", Model.ColumnNotMap);
}
<div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered" role="document">
    <div class="modal-content">
        <form role="form" class="onUpdateInputState bv-form validateForm" id="frmMDIUSchema">
            <div class="modal-header d-flex align-items-center">
                <h5 class="modal-title font-weight-bold font-s-16 text-white" id="planCreateModalTitle">@title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="w-h-32 icon-exit-white ml-auto" aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body text-center">
                <div class="row" style="align-items: center; justify-content: center">
                    <label class="col-form-label">
                        <span>Số lượng cột dữ liệu không map với bảng đích: @countColumnNotMap/@countColumnTableTarget</span>
                    </label>
                    <input type="hidden" name="IDRecord" value="@Model.IDRecord" />
                    <input type="hidden" name="IDTable" value="@Model.IDTable" />
                </div>
                <div class="row" style="align-items: center; justify-content: center">
                    @str
                </div>
            </div>
            <div class="modal-footer">
                <button data-url="@url" class="btn bg-color-primary d-flex align-items-center quickSubmit">
                    <span class="text-white font-s-14">Đồng ý</span>
                </button>
                <button type="button" class="btn bg-color-gray-6 d-flex align-items-center" data-dismiss="modal">
                    <span class="font-s-14 text-color-body font-weight-500">Đóng</span>
                </button>
            </div>
        </form>
    </div>
</div>