﻿@using DAS.Utility.Helper;
@using Microsoft.AspNetCore.Mvc.Rendering;
@using DAS.Application.Models.ViewModels.DasKTNN

@model VMSyncData
@{
    var title = "Động bộ dữ liệu";
    Layout = "";
    var url = "/InputInfoTemp/Synchronization";
    var lstTable = Model.Tables.Select(n => new SelectListItem
    {
        Text = n.Name,
        Value = n.ID.ToString(),
        Selected = Model.IDTable.HasValue && n.ID == Model.IDTable
    }).ToList();
}
<div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered" role="document">
    <div class="modal-content">
        <form role="form" asp-action="" class="onUpdateInputState bv-form validateForm" id="frmMDIUSchema">
            <div class="modal-header d-flex align-items-center">
                <h5 class="modal-title font-weight-bold font-s-16 text-white" id="planCreateModalTitle">@title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="w-h-32 icon-exit-white ml-auto" aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label required" asp-for="IDTable"></label>
                    <div class="col-sm-8">
                        @Html.CusDropdownListSelect2("IDTable", "IDTable", "--Chọn bảng đích--", lstTable,
                            new
                            {
                                @class = "select2 w-100 onGetColumnMapper",
                                @data_placeholder = "--Chọn bảng đích--",
                                @data_target = "#divColumnTableMapper",
                                @data_table = "#divRecordTableTemp",
                                @data_url = "/InputInfoTemp/GetColumnMapper"
                            })
                        <span asp-validation-for="IDTable" class="text-danger"></span>
                    </div>
                </div>
                <div id="divColumnTableMapper">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn bg-color-gray-6 d-flex align-items-center" data-dismiss="modal">
                    <span class="font-s-14 text-color-body font-weight-500">Đóng</span>
                </button>
                <input type="hidden" value="@Model.IDTableCurrent" name="IDTableCurrent" />
                <button data-url="@url" class="btn bg-color-primary d-flex align-items-center quickSubmit">
                    <span class="text-white font-s-14">Lưu</span>
                </button>
            </div>
        </form>
    </div>
</div>