﻿@using DAS.Utility.Helper;
@using DAS.Application.Models.ViewModels;
@using DAS.Utility;
@using DAS.Application.Enums;
@model DAS.Application.Models.ViewModels.VMIndexPlanProfile;
@{
    ViewData["PageHeaderContent"] = "Danh sách hồ sơ cần biên mục";
    int stt = Model == null ? 0 : Model.VMPlanProfiles.PageSize * (Model.VMPlanProfiles.PageIndex - 1);
    var pageSizes = new[] { 10, 20, 30, 50, 100 };
}
<div class="table-responsive">
    <table id="data_table" class="table table-bordered table-striped data_table" role="grid">
        <thead>
            <tr>
                <th class="text-center col-min">STT</th>
                <th class="text-center col-min">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="group-checkable custom-control-input" id="checkall" value="">
                        <label class="custom-control-label" for="checkall"></label>
                    </div>
                </th>
                <th class="col-min">Mã hồ sơ</th>
                <th>Mã phông/công trình/sưu tập lưu trữ</th>
                <th>Tiêu đề hồ sơ</th>
                <th>Thời hạn bảo quản</th>
                <th>Đơn vị</th>
                <th>Trạng thái</th>
                <th class="col-min" data-column-id="commands" data-formatter="commands" data-sortable="false">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.VMPlanProfiles != null && Model.VMPlanProfiles.Count > 0)
            {
                foreach (var item in Model.VMPlanProfiles)
                {
                    stt++;
                    <tr>
                        <td>@stt</td>
                        <td class="text-center">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="checkboxes custom-control-input" id="cbPlanProfile-@item.ID" data-id="@item.ID" value="@item.ID" data-item-name="Hồ sơ tuyệt mật độc nhất vô nhị san bằng tất cả">
                                <label class="custom-control-label" for="cbPlanProfile-@item.ID"></label>
                            </div>
                        </td>
                        <td>@item.FileCode</td>
                        <td>@Model.DictProfileTemplate.GetValueOrDefault(item.IDProfileTemplate)</td>
                        <td>@item.Title</td>
                        <td>@Model.DictExpiryDate.GetValueOrDefault(item.IDExpiryDate)</td>
                        <td>@Model.DictAgency.GetValueOrDefault(item.IDAgency)</td>
                        <td>
                            @switch (item.Status)
                            {
                                case (int)EnumCataloging.Status.WaitApprove:
                                    <span class="badge badge-btn badge-warning">Chờ duyệt</span>
                                    break;
                                case (int)EnumCataloging.Status.StorageReject:
                                    <span class="badge badge-btn badge-danger">Từ chối</span>
                                    break;
                            }
                        </td>
                        <td>
                            <a title="Xem chi tiết" class="btn btn-sm btn-outline-secondary btn-hover-success quickUpdate" data-href="/Plan/DetailPlanProfile?id=@item.ID"
                               data-target="#planCreateModal" data-toggle="tooltip" data-original-title="Xem chi tiết">
                                <i class="fas fa-fw fa-info"></i>
                            </a>
                            @if (item.Status == (int)DAS.Application.Enums.EnumCataloging.Status.WaitApprove)
                            {
                                <a title="Duyệt" class="btn btn-sm btn-outline-secondary btn-hover-primary quickComfirm" data-url="/CatalogingProfile/ApprovedCatalogingProfile?id=@item.ID" data-comfirm-message="Bạn có chắc chắn muốn duyệt hồ sơ: @item.Title?"
                                   data-toggle="tooltip" data-original-title="Duyệt">
                                    <i class="fas fa-fw fa-check"></i>
                                </a>
                            }
                            <a title="Từ chối" class="btn btn-sm btn-outline-secondary btn-hover-danger quickComfirm" data-url="/CatalogingProfile/RejectedCatalogingProfile?id=@item.ID" data-comfirm-message="Từ chối hồ sơ: Bạn có muốn từ chối hồ sơ @item.Title?"
                               data-has-reason="true" data-toggle="tooltip" data-original-title="Từ chối">
                                <i class="fas fa-fw fa-times"></i>
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>


<div class="card-footer">
    <div class="row">
        <div class=" col-md-4">
            @if (Model == null || Model.VMPlanProfiles.TotalFilter == 0)
            {
                <span>@DAS.Application.Constants.MessageConst.MSG_NOT_FOUND</span>
            }
            else
            {
                <span>Có tổng cộng <span class="text-red">@Model.VMPlanProfiles.TotalFilter</span> bản ghi</span>
            }
        </div>
        <div class=" col-md-8">
            @if (Model != null && Model.VMPlanProfiles.TotalFilter > Model.VMPlanProfiles.PageSize)
            {
                <nav class="d-flex justify-content-end" aria-label="Pagination">
                    <div class="form-group d-flex align-items-center mr-4">
                        <span>Hiển thị:&nbsp;&nbsp;</span>
                        <select id="drdPageSize" class="select2 onChangePageSize" data-form="#frmPlanProfile">
                            @foreach (var pageSize in pageSizes)
                            {
                                if (pageSize == Model.VMPlanProfiles.PageSize)
                                {
                                    <option value="@pageSize" selected>@pageSize</option>
                                }
                                else
                                {
                                    <option value="@pageSize">@pageSize</option>
                                }
                            }
                        </select>
                        <span>&nbsp;&nbsp;bản ghi/trang.</span>
                    </div>
                    <ul class="pagination pagination-md justify-content-end mb-0">
                        <li class="page-item @(!Model.VMPlanProfiles.HasPreviousPage ? "disabled" : "")">
                            <a href="#" class="page-link onSetPageIndex"
                               data-page="@(!Model.VMPlanProfiles.HasPreviousPage ? "" : (Model.VMPlanProfiles.PageIndex - 1).ToString())"
                               data-page-size="@Model.VMPlanProfiles.PageSize" aria-label="Previous"
                               data-form="#frmPlanProfile">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        @{
                            int distance = 1;
                            int min = Model.VMPlanProfiles.PageIndex - distance;
                            int max = Model.VMPlanProfiles.PageIndex + distance;
                            if (min == 0)
                            {
                                min = 1;
                                if (max < Model.VMPlanProfiles.TotalPages) { max++; }

                            }
                            if (max > Model.VMPlanProfiles.TotalPages)
                            {
                                max = Model.VMPlanProfiles.TotalPages;
                                if (min > 1) { min--; }

                            }
                        }
                        @for (int i = min; i <= max; i++)
                        {
                            <li class="page-item @(Model.VMPlanProfiles.PageIndex == i ? "active" : "")">
                                <a href="#" class="page-link onSetPageIndex" data-page="@i" data-page-size="@Model.VMPlanProfiles.PageSize"
                                   data-form="#frmPlanProfile">
                                    @i
                                    @if (Model.VMPlanProfiles.PageIndex == i)
                                    {
                                        <span class="sr-only">(current)</span>
                                    }
                                </a>
                            </li>
                        }
                        <li class="page-item @(!Model.VMPlanProfiles.HasNextPage ? "disabled" : "")">
                            <a href="#" class="page-link onSetPageIndex"
                               data-page="@(!Model.VMPlanProfiles.HasNextPage ? "" : (Model.VMPlanProfiles.PageIndex + 1).ToString())"
                               data-page-size="@Model.VMPlanProfiles.PageSize" data-form="#frmPlanProfile"
                               aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            }
        </div>
    </div>
</div>