﻿@using DAS.Utility.Helper;
@using DAS.Application.Models.ViewModels;
@model DAS.Application.Models.ViewModels.VMIndexPlanProfile;
@{
    ViewData["Title"] = "Danh sách hồ sơ đã biên mục";
    var breadcrum = new Dictionary<string, string>();
    breadcrum.Add("/CataloginProfile/IndexListApproved", "Danh sách hồ sơ đã biên mục");
    ViewData["Breadcrumb"] = breadcrum;
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    List<SelectListItem> plans = (ViewBag.ListPlan as List<SelectListItem>) ?? new List<SelectListItem>();
}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Danh sách hồ sơ đã biên mục</h3>
            </div>
            <div class="card-body">
                <form asp-action="SearchListApprovedByCondition" id="frmPlanProfile" role="form" method="post" class="quickSearch" data-target="#divPlanProfiles">
                    <div class="row">
                        <div class="col-4">
                            <input type="text" class="form-control" placeholder="Nhập tên kế hoạch" name="Keyword" value="@ViewBag.Keyword" />
                        </div>
                        <div class="row col-4">
                            <label class="col-sm-4 col-form-label">Kế hoạch: </label>
                            <div class="col-md-8">
                                @Html.CusDropdownListSelect2("IDPlan", "IDPlan", "--Chọn kế hoạch--", plans, new
                                {
                                    @class = "select2 w-100",
                                    @data_placeholder = "Trạng thái"
                                }, defaultVal: "-1")
                            </div>
                        </div>
                        <div class="col-4">
                            <button type="submit" class="btn btn-default"><i class="fa fa-fw fa-search"></i><span>Tìm kiếm</span></button>
                        </div>
                    </div>
                </form>
                <div id="data_table_wrapper" class="dataTables_wrapper">
                    <div class="table-control" id="divPlanProfiles">
                        @await Html.PartialAsync("_IndexListApprovedArchiveManagement", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade popup-modal" id="planCreateModal" tabindex="-1" role="dialog" aria-labelledby="planCreateModalTitle" aria-hidden="true"></div>


