﻿@using DAS.Application.Constants;
@using Microsoft.AspNetCore.Mvc.Rendering;
@using DAS.Application.Models.ViewModels;
@using DAS.Utility;
@using DAS.Utility.Helper;
@using DAS.Application.Models.ViewModels.DasKTNN
@using DAS.Application.Enums.DasKTNN;
@using static DAS.Application.Enums.DasKTNN.EnumTableInfo;

@model VMInputInfo
@{
    ViewData["Title"] = Model.tableInfo.Name;
    var title = Model.tableInfo.Name;
    ViewData["PageHeaderContent"] = title;
    Layout = "";
    var isUpdate = Model.Action == 2 ? true : false;
    var strTableLinkDataTypes = ((int)ColumnDataType.TableLink).ToString();
    var lstSchema = Model.DictTable.Select(n => new SelectListItem
            {
                Text = n.Value,
                Value = n.Key.ToString(),
            }).ToList();

    var isTableLink = Model.columnTables.Any(n => n.DataType == (int)ColumnDataType.TableLink);
    string dfValue = null;
}

@{
    foreach (var item in Model.columnTables)
    {
        var colWidth = item.IsIdentity ? 7 : 9;
        if (item.IsSystem == false && item.IsDefault == false && item.IsIdentity)
        {
            continue;
        }


        <div class="form-group row" @(item.DataType == (int)ColumnDataType.TableLink ? "hidden" : "") style="align-items: center">
            <label class="col-sm-3 col-form-label @(item.IsRequired?"required":"")">@item.Name</label>
            @if (item.IsIdentity)
            {
                <div class="col-sm-2">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="checkboxes custom-control-input onChangeFieldIsIdentity"
                       data-target="#@(item.DbName)"
                       name="IsIdentity@(item.ID)"
                       id="cbIsIdentity@(item.ID)" data-id="1" value="1">
                        <label class="custom-control-label" for="cbIsIdentity@(item.ID)">Tự động sinh mã</label>
                    </div>
                </div>
            }
            <div class="col-sm-@colWidth">
                @{
                    switch (item.DataType)
                    {
                        case (int)ColumnDataType.DateTime:
                            <div class="input-group date_input" id="dpCreatedAt_@item.ID" data-target-input="nearest">
                                @Html.CusTextBoxDate("", item.DbName, Utils.DateToString(DateTime.Now), item.Name, item.Name, item.IsRequired, new { data_target = "#dpCreatedAt_" + item.ID, data_toggle = "datetimepicker" }, 0)
                                <div class="input-group-prepend" data-target="#dpCreatedAt_@item.ID" data-toggle="datetimepicker">
                                    <div class="input-group-text">
                                        <span class="icon-calendar"></span>
                                    </div>
                                </div>
                            </div>
                            break;

                        case (int)ColumnDataType.Decimal:
                            @Html.CusTextBoxMoney("", item.DbName, null, item.Name, item.Name, item.IsRequired, new { })
                            break;

                        case (int)ColumnDataType.Integer:
                            @if (item.DbName == DefaultField.KieuPhatSinh.ToString())
                            {
                                dfValue = Model.DfCreateType.ToString();
                            }
                            @Html.CustTexBoxNumber("", item.DbName, dfValue, item.Name, item.Name, item.IsRequired, new { })
                            break;

                        case (int)ColumnDataType.Boolean:
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="checkboxes custom-control-input" id="role-@item.ID" name="@item.DbName" value="1">
                                <label class="custom-control-label" for="role-@item.ID"></label>
                            </div>
                            break;

                        case (int)ColumnDataType.Parent:
                        case (int)ColumnDataType.TableRef:
                            @Html.CusDropdownListSelect2Ajax("", item.DbName, $"--{item.Name}--", new
        {
        @data_id_table = item.IDTableRef,
        @data_id_column = item.ID,
        }, url: "/InputInfo/GetTableRecords")
                            break;

                        case (int)ColumnDataType.TableLink:
                            break;

                        default:
                            @Html.CustTexBox(item.DbName, item.DbName, null, item.Name, item.Name, item.IsRequired, new { }, false, item.MinLen ?? 0, item.MaxLen ?? 0)
                            break;
                    }
                }
            </div>
        </div>
    }
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Trạng thái</label>
        <div class="col-sm-9 mt-2">
            <div class="custom-control custom-radio form-check-inline" title="Trạng thái">
                <input class="custom-control-input" type="radio" value="1" id="Status1" name="@(SystemField.TrangThai.ToString())" checked>
                <label class="custom-control-label" for="Status1">Xuất bản</label>
            </div>
            <div class="custom-control custom-radio form-check-inline" title="Trạng thái">
                <input class="custom-control-input" type="radio" value="0" id="Status0" name="@(SystemField.TrangThai.ToString())">
                <label class="custom-control-label" for="Status0">Dừng xuất bản</label>
            </div>
        </div>
    </div>

    @if (isTableLink)
    {
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">
                Liên kết bảng
                <a class="btn btn-xs btn-outline-primary onAppendTemplate inline" tabindex="0" href="#" data-target="#bodyTableLink" data-template="#tempTableLink" title="Thêm liên kết bảng">
                    <span><i class="fas fa-plus"></i></span>
                </a>
            </label>
        </div>
        <div class="form-group row">
            <div class="col-sm-12">
                <div class="table-responsive" style="overflow:auto">
                    <table id="tbConfigCategoryType" class="table table-borderless table-space table-hover dataTable dtr-inline useTreegrid table-bid-custom" role="grid">
                        <thead class="thead-light">
                            <tr class="elevation-1">
                                <th>Tên bảng liên kết</th>
                                <th>Dữ liệu liên kết</th>
                                <th class="col-min text-center" data-column-id="commands" data-formatter="commands" data-sortable="false">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody id="bodyTableLink">
                            @await Html.PartialAsync("_TablesLink", new VMTableLink()
                    {
                    IDTable = Model.tableInfo.ID,
                    IDSchema = Model.tableInfo.IDSchema,
                    DlSchemaRef = Model.DlSchemaRef,
                    Tables = Model.Tables
                    })
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }




}