﻿@using DAS.Application.Constants;
@using Microsoft.AspNetCore.Mvc.Rendering;
@using DAS.Application.Models.ViewModels;
@using DAS.Utility;
@using DAS.Utility.Helper;
@using DAS.Application.Models.ViewModels.DasKTNN
@using DAS.Application.Enums.DasKTNN;
@using static DAS.Application.Enums.DasKTNN.EnumTableInfo;

@model VMInputInfo
@{
    ViewData["Title"] = Model.tableInfo.Name;
    var title = Model.tableInfo.Name;
    ViewData["PageHeaderContent"] = title;
    Layout = "";
    var url = Model.Action == 2 ? "/InputInfo/Change" : "/InputInfo/Save";
    var isUpdate = Model.Action == 2 ? true : false;
    var strTableLinkDataTypes = ((int)ColumnDataType.TableLink).ToString();
    var lstSchema = Model.DictTable.Select(n => new SelectListItem
    {
        Text = n.Value,
        Value = n.Key.ToString(),
    }).ToList();

    var isTableLink = Model.columnTables.Any(n => n.DataType == (int)ColumnDataType.TableLink);

    Model.DfCreateType = CreateTypeConst.MacDinh;
}
<div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered" role="document">
    <div class="modal-content">
        <form role="form" asp-action="" class="onUpdateInputState bv-form validateForm" id="frmMDIUSchema">
            <div class="modal-header d-flex align-items-center">
                <h5 class="modal-title font-weight-bold font-s-16 text-white" id="planCreateModalTitle">@title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="w-h-32 icon-exit-white ml-auto" aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                @await Html.PartialAsync("_Create_Body")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn bg-color-gray-6 d-flex align-items-center" data-dismiss="modal">
                    <span class="font-s-14 text-color-body font-weight-500">Đóng</span>
                </button>
                <input type="hidden" value="@Model.tableInfo.ID" name="IDTable" />
                <input type="hidden" value="@Model.tableInfo.IDSchema" name="IDSchema" />
                <button data-url="@url" class="btn bg-color-primary d-flex align-items-center quickSubmit">
                    <span class="text-white font-s-14">Lưu</span>
                </button>
            </div>
        </form>
    </div>
</div>

<script type="text/template" id="tempTableLink">
    @await Html.PartialAsync("_TablesLink", new VMTableLink()
    {
        IDTable = Model.tableInfo.ID,
        IDSchema = Model.tableInfo.IDSchema,
        DlSchemaRef = Model.DlSchemaRef,
        Tables = Model.Tables
    })
</script>