﻿@using Microsoft.AspNetCore.Mvc.Rendering;
@using DAS.Application.Models.ViewModels;
@using DAS.Utility;
@using DAS.Utility.Helper;
@using DAS.Application.Models.ViewModels.DasKTNN
@using DAS.Application.Enums.DasKTNN;
@using DAS.Domain.Enums;
@using static DAS.Application.Enums.DasKTNN.EnumTableInfo;

@model VMInputInfo
@{
    ViewData["Title"] = Model.tableInfo.Name;
    var title = Model.tableInfo.Name;
    ViewData["PageHeaderContent"] = title;
    Layout = "";
    var url = Model.Action == 2 ? "/InputInfo/Change" : "/InputInfo/Save";
    var lstSchema = Model.DictTable.Select(n => new SelectListItem
    {
        Text = n.Value,
        Value = n.Key.ToString(),
        Selected = n.Key == (int)Model.dataFirst.Rows[0]["ID"]
    }).ToList();
    var status = Utils.GetInt(Model.dataFirst.Rows[0][SystemField.TrangThai.ToString()].ToString());

    var isTableLink = Model.columnTables.Any(n => n.DataType == (int)ColumnDataType.TableLink);
}
<div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered" role="document">
    <div class="modal-content">
        <form role="form" asp-action="" class="onUpdateInputState bv-form" id="frmMDIUSchema">
            <div class="modal-header d-flex align-items-center">
                <h5 class="modal-title font-weight-bold font-s-16 text-white" id="planCreateModalTitle">Thông tin chi tiết @title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="w-h-32 icon-exit-white ml-auto" aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                @{
                    foreach (var item in Model.columnTables)
                    {
                        <div class="form-group row" @(item.DataType == (int)ColumnDataType.TableLink ? "hidden" : "") style="align-items: center">
                            <label class="col-sm-3 col-form-label @(item.IsRequired?"input-required":"")">@item.Name</label>
                            <div class="col-sm-9">
                                @{
                                    var val = Model.dataFirst.Rows[0][item.DbName];
                                    switch (item.DataType)
                                    {
                                        case (int)ColumnDataType.DateTime:
                                            <div class="input-group date_input" id="dpCreatedAt_@item.ID" data-target-input="nearest">
                                                @Html.CusTextBoxDate("", item.DbName, Utils.DateToString(Utils.ConvertToDateTime(Model.dataFirst.Rows[0][item.DbName])), item.Name, item.Name, item.IsRequired, new { data_target = "#dpCreatedAt_" + item.ID, data_toggle = "datetimepicker" }, 0, isReadOnly: true)
                                                @*<div class="input-group-prepend" data-target="#dpCreatedAt_@item.ID" data-toggle="datetimepicker">
                                                    <div class="input-group-text">
                                                        <span class="icon-calendar"></span>
                                                    </div>
                                                </div>*@
                                            </div>
                                            break;

                                        case (int)ColumnDataType.Decimal:
                                            @Html.CusTextBoxMoney("", item.DbName, Model.dataFirst.Rows[0][item.DbName], item.Name, item.Name, item.IsRequired, new
                                            {
                                            }, isReadonly: true)
                                            break;
                                        case (int)ColumnDataType.Integer:
                                            @Html.CustTexBoxNumber("", item.DbName, Model.dataFirst.Rows[0][item.DbName].ToString(), item.Name, item.Name, item.IsRequired, new
                                            {
                                            }, isReadOnly: true)
                                            break;
                                        case (int)ColumnDataType.Boolean:
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="checkboxes custom-control-input" disabled id="role-@item.ID" @((Int16)Model.dataFirst.Rows[0][item.DbName] == 1 ? "checked" : "") name="@item.DbName" value="1">
                                                <label class="custom-control-label" for="role-@item.ID"></label>
                                            </div>
                                            break;
                                        case (int)ColumnDataType.Parent:
                                        case (int)ColumnDataType.TableRef:
                                            var select2Val = Model.dataFirst.Rows[0][item.DbName].ToString();
                                            @Html.CusDropdownListSelect2Ajax("", item.DbName, $"--{item.Name}--", new
                                            {
                                                @data_id_table = item.IDTableRef,
                                                @data_id_column = item.ID,
                                            }, url: "/InputInfo/GetTableRecords", value: select2Val, isReadonly: true)
                                            break;
                                        case (int)ColumnDataType.TableLink:
                                            break;

                                        default:
                                            <input name="@item.DbName" disabled class="form-control" @(item.IsRequired ? "required" : "") placeholder="@item.Name" value="@Model.dataFirst.Rows[0][item.DbName].ToString()" />
                                            break;
                                    }
                                }
                            </div>
                        </div>
                    }
                    @if (isTableLink)
                    {
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">
                                Liên kết bảng
                            </label>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <div class="table-responsive" style="overflow:auto">
                                    <table id="tbConfigCategoryType" class="table table-borderless table-space table-hover dataTable dtr-inline useTreegrid table-bid-custom" role="grid">
                                        <thead class="thead-light">
                                            <tr class="elevation-1">
                                                <th>Tên bảng liên kết</th>
                                                <th>Dữ liệu liên kết</th>
                                                <th class="col-min text-center" data-column-id="commands" data-formatter="commands" data-sortable="false">Thao tác</th>
                                            </tr>
                                        </thead>
                                        <tbody id="bodyTableLink">
                                            @if (Model.tableLinks.IsNotEmpty())
                                            {
                                                foreach (var item in Model.tableLinks)
                                                {
                                                    item.DlSchemaRef = Model.DlSchemaRef;
                                                    item.Tables = Model.Tables;
                                                    @await Html.PartialAsync("_TablesLink", item)
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    }

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Trạng thái</label>
                        <div class="col-sm-9 mt-2">
                            <div class="custom-control custom-radio form-check-inline" title="Trạng thái">
                                <input class="custom-control-input" type="radio" value="1" disabled id="Status1" name="@(SystemField.TrangThai.ToString())" @(status == (int)EnumCommon.Status.Active ? "checked" : "")>
                                <label class="custom-control-label" for="Status1">Xuất bản</label>
                            </div>
                            <div class="custom-control custom-radio form-check-inline" title="Trạng thái">
                                <input class="custom-control-input" type="radio" value="0" disabled id="Status0" name="@(SystemField.TrangThai.ToString())" @(status == (int)EnumCommon.Status.InActive ? "checked" : "")>
                                <label class="custom-control-label" for="Status0">Dừng xuất bản</label>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn bg-color-gray-6 d-flex align-items-center" data-dismiss="modal">
                    <span class="font-s-14 text-color-body font-weight-500">Đóng</span>
                </button>
                <input type="hidden" value="@Model.tableInfo.ID" name="IDTable" />
                <input type="hidden" value="@Model.dataFirst.Rows[0]["ID"]" name="ID" />
            </div>
        </form>
    </div>
</div>