﻿@using DAS.Application.Constants;
@using DAS.Utility.Helper
@using DAS.Utility
@using DAS.Application.Enums
@using DAS.Application.Models.ViewModels.DasKTNN;
@using DAS.Application.Enums.DasKTNN;
@using Microsoft.AspNetCore.Mvc.Rendering;
@using static DAS.Application.Enums.DasKTNN.EnumTableInfo;

@model VMDetachRecordRow
@{
    var columns = Model.ColumnTables;
    var sIndex = Model.Index.HasValue ? Model.Index.ToString() : "n";
    var isTableLink = columns.Any(n => n.DataType == (int)ColumnDataType.TableLink);
    string dfValue = null;
}

<tr class="item">
    @if (columns.IsNotEmpty())
    {
        foreach (var item in columns)
        {
            var inputName = $"Records[{sIndex}].{item.DbName}";
            <td>

                @switch (item.DataType)
                {
                    case (int)ColumnDataType.DateTime:
                        <div class="input-group date_input" id="dpDateInput_@(item.ID)" data-target-input="nearest">
                            <div class="input-group-prepend" data-target="#dpDateInput_@item.ID" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                            </div>
                            @Html.CusTextBoxDate("", inputName, Utils.DateToString(DateTime.Now), item.Name, item.Name, item.IsRequired, new { data_target = "#dpDateInput_" + item.ID, data_toggle = "datetimepicker" }, 0)
                        </div>
                        break;

                    case (int)ColumnDataType.Decimal:
                        @Html.CusTextBoxMoney("", inputName, null, item.Name, item.Name, item.IsRequired, new {  })
                        break;

                    case (int)ColumnDataType.Integer:
                        @if (item.DbName == DefaultField.KieuPhatSinh.ToString())
                        {
                            dfValue = CreateTypeConst.ChiaTach.ToString();
                        }

                        @Html.CustTexBoxNumber("", inputName, dfValue, item.Name, item.Name, item.IsRequired, new {  })
                        break;

                    case (int)ColumnDataType.Boolean:
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="checkboxes custom-control-input" id="role-@item.ID" name="@inputName" value="1">
                            <label class="custom-control-label" for="role-@item.ID"></label>
                        </div>
                        break;

                    case (int)ColumnDataType.Parent:
                    case (int)ColumnDataType.TableRef:
                        @Html.CusDropdownListSelect2Ajax("", inputName, $"--{item.Name}--", new {
        @data_id_table= item.IDTableRef,
        @data_id_column= item.ID,
        }, url: "/InputInfo/GetTableRecords")
                        break;

                    case (int)ColumnDataType.TableLink:
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <table class="table table-sm mb-0" role="grid">
                                    <thead class="thead-light">
                                        <tr class="elevation-1">
                                            <th>Tên bảng liên kết</th>
                                            <th>Dữ liệu liên kết</th>
                                            <th class="col-min text-center" data-column-id="commands" data-formatter="commands" data-sortable="false">
                                                <a class="onAppendTemplate" tabindex="0" href="#" data-template="#tempTableLink" data-target="@($"tbody[data-name=\"bodyTableLink{sIndex}\"]")" title="Thêm liên kết bảng">
                                                    <span><i class="fas fa-plus text-white"></i></span>
                                                </a>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody data-name="bodyTableLink@(sIndex)">
                                        @await Html.PartialAsync("_TablesLink", new VMTableLink()
                        {
                        PreFix= $"Records[{sIndex}].",
                        IDTable = Model.TableInfo.ID,
                        IDSchema = Model.TableInfo.IDSchema,
                        DlSchemaRef = Model.DlSchemaRef,
                        Tables = Model.Tables
                        })
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        break;

                    default:
                        @Html.CustTexBox(inputName, inputName, null, item.Name, item.Name, item.IsRequired, new { }, false, item.MinLen ?? 0, item.MaxLen ?? 0)
                        break;
                }
            </td>
        }
    }

    <td class="text-center">
        <input type="hidden" name="RecordLine" value="0">
        <div class="">
            <a title="Xoá" class="text-danger onDeleteItem" data-reindex="1" data-id="">
                <i class="fas fa-fw fa-trash-alt"></i>
            </a>
        </div>
    </td>
</tr>
