﻿@using DAS.Domain.Enums;
@using DAS.Utility;
@using DAS.Utility.Helper;
@using DAS.Application.Models.ViewModels.DasKTNN
@model VMInputInfo
@{
}

<div class="modal-dialog modal-xl modal-dialog-scrollable modal-draggable" role="document">
    <form id="formImport" class="modal-content" role="form">
        <div class="modal-header bg-success">
            <h3 class="modal-title" id="planDetailModalTitle">Import danh sách @Model.tableInfo.Name</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group row">
                        <input type="file"  style="display: none" name="File" id="File" accept=".xlsx">
                        <a href="javascript:void(0);" class="fileinput-button col-sm-4 col-form-label">
                            <i class="fas fa-fw fa-upload"></i>
                            <span>Chọn file import</span>
                        </a>
                        <div class="col-sm-8">
                            <input type="text" id="TextFileName" class="form-control" style="background-color: white;" readonly>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a class="btn btn-primary getTemplate" action="/InputInfo/DownloadTempalte?IDTable=@Model.tableInfo.ID" aria-controls="data_table">
                <i class="fas fa-fw fa-file-download"></i><span>Tải Template mẫu</span>
            </a>
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
                <i class="fas fa-fw fa-times"></i><span>Đóng</span>
            </button>
            <button data-url="/InputInfo/ImportExcel?IDTable=@Model.tableInfo.ID" class="btn btn-outline-primary quickSubmitImport"><i class="fas fa-fw fa-file-import"></i><span>Import</span></button>
        </div>
    </form>
</div>