﻿@using DAS.Application.Constants;
@using Microsoft.AspNetCore.Mvc.Rendering;
@using DAS.Application.Models.ViewModels;
@using DAS.Utility;
@using DAS.Utility.Helper;
@using DAS.Application.Models.ViewModels.DasKTNN
@using DAS.Application.Enums.DasKTNN;
@using DAS.Domain.Models.DASKTNN;
@using static DAS.Application.Enums.DasKTNN.EnumTableInfo;


@model VMInputInfo
@{
    var tableInfo = Model.tableInfo ?? new TableInfo();
    var title = "Hợp nhất dữ liệu " ;
    ViewData["Title"] = title;
    ViewData["PageHeaderContent"] = title;
    Layout = "";
    var url = "/InputInfo/SaveMerge";
    var lstSchema = Model.DictTable.Select(n => new SelectListItem
            {
                Text = n.Value,
                Value = n.Key.ToString(),
                Selected = n.Key == (int)Model.dataFirst.Rows[0]["ID"]
            }).ToList();
    var isTableLink = Model.columnTables.Any(n => n.DataType == (int)ColumnDataType.TableLink);

    Model.DfCreateType = CreateTypeConst.SapNhap;
}
<div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered" role="document">
    <div class="modal-content">
        <form role="form" asp-action="" class="onUpdateInputState bv-form" id="frmMDIUSchema">
            <div class="modal-header d-flex align-items-center">
                <h5 class="modal-title font-weight-bold font-s-16 text-white" id="planCreateModalTitle">@title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="w-h-32 icon-exit-white ml-auto" aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">
                        Ngày hiệu lực
                    </label>
                    <div class="col-sm-9">
                        <div class="input-group date_input" id="dpNgayHieuLuc" data-target-input="nearest">
                            <div class="input-group-prepend" data-target="#dpNgayHieuLuc" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                            </div>
                            @Html.CusTextBoxDate("", "NgayHieuLuc" , DateTime.Now.ToString("dd-MM-yyyy"), "Ngày hiệu lực", "Ngày hiệu lực", true, new { data_target = "#dpNgayHieuLuc", data_toggle = "datetimepicker" }, 0)
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">
                        Danh mục hợp nhất
                    </label>
                    <div class="col-sm-9">
                        @Html.CusDropdownListSelect2Ajax("", "IDHopNhat", null, new {
                        @data_id_table= tableInfo.ID,
                        }, url: "/InputInfo/GetTableRecords", isMultiple:true, placeholder:"Danh mục hợp nhất")
                    </div>
                </div>
                <hr />
                <h4>Thông tin danh mục hợp nhất</h4>
                @await Html.PartialAsync("_Create_Body")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn bg-color-gray-6 d-flex align-items-center" data-dismiss="modal">
                    <span class="font-s-14 text-color-body font-weight-500">Đóng</span>
                </button>
                <input type="hidden" value="@tableInfo.ID" name="IDTable" />
                <input type="hidden" value="@tableInfo.IDSchema" name="IDSchema" />
                <button data-url="@url" class="btn bg-color-primary d-flex align-items-center quickSubmit">
                    <span class="text-white font-s-14">Hợp nhất</span>
                </button>
            </div>
        </form>
    </div>
</div>
