﻿@using DAS.Application.Models.ViewModels.DasKTNN
@model VMImportData
@{
    Layout = "";
    var urlGetHeader = "/ImportData/GetHeader?IsQuickImport=1";
    var urlSave = "/ImportData/Import";
    var urlDownload = "/ImportData/DownloadTemplate?IDTable=" + Model.IDTable;
}

<div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered import-dialog" role="document">
    <div class="modal-content">
        <form role="form" asp-action="" class="onUpdateInputState bv-form" id="frmImport">
            <div class="modal-header d-flex align-items-center">
                <h5 class="modal-title font-weight-bold font-s-16 text-white" id="planCreateModalTitle">Import dữ liệu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="w-h-32 icon-exit-white ml-auto" aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group row ">
                    <label class="col-sm-4 col-form-label required" asp-for="FileImport"></label>
                    <div class="col-sm-8">
                        <input type="file" name="FileImport" id="txtImportFile" class="onFileImportChange" accept=".xlsx" />
                    </div>
                </div>


                <input type="hidden" value="@Model.IDTable" name="IDTable" />
                <input type="hidden" value="@Model.HeaderRow" name="HeaderRow" />
                <input type="hidden" value="@Model.DataRow" name="DataRow" />
                <input type="hidden" value="@Model.MaxRow" name="MaxRow" />
                <input type="hidden" value="@Model.Sheet" name="Sheet" />


                <input type="hidden" value="1" name="IsQuickImport" />

                <div id="divHeaderImport">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn bg-color-gray-6 d-flex align-items-center" data-dismiss="modal">
                    <span class=" text-color-body font-weight-500">Đóng</span>
                </button>


                @*Dùng kiểm tra file mẫu*@
                <a class="btn btn-info onGetHeader hidden" href="@urlGetHeader" data-target="#divHeaderImport">
                    <i class="fas fa-fw fa-sync-alt"></i><span>Kiểm tra file import</span>
                </a>

                <a class="btn btn-info d-flex align-items-center" href="@urlDownload">
                    <i class="fas fa-fw fa-download"></i><span>Tải file mẫu</span>
                </a>

                <a class="btn btn-primary d-flex align-items-center onImportData successOnReload" href="@urlSave">
                    <i class="fas fa-fw fa-save"></i><span>Import</span>
                </a>
            </div>

        </form>
    </div>
</div>