﻿@using DAS.Application.Constants;
@using Microsoft.AspNetCore.Mvc.Rendering;
@using DAS.Application.Models.ViewModels;
@using DAS.Utility;
@using DAS.Utility.Helper;
@using DAS.Application.Models.ViewModels.DasKTNN
@using DAS.Application.Enums.DasKTNN;
@using DAS.Domain.Models.DASKTNN;
@using static DAS.Application.Enums.DasKTNN.EnumTableInfo;

@model VMInputInfo
@{
    var tableInfo = Model.tableInfo ?? new TableInfo();
    var title = "Đổi tên danh mục";
    ViewData["Title"] = title;
    ViewData["PageHeaderContent"] = title;
    Layout = "";
    var url = "/InputInfo/SaveDetach";
    var lstSchema = Model.DictTable.Select(n => new SelectListItem
            {
                Text = n.Value,
                Value = n.Key.ToString(),
                Selected = n.Key == (int)Model.dataFirst.Rows[0]["ID"]
            }).ToList();

    var columns = Model.columnTables;
    var isTableLink = columns.Any(n => n.DataType == (int)ColumnDataType.TableLink);
    var dataRecord = Model.dataFirst != null && Model.dataFirst.Rows.Count > 0
    ? Model.dataFirst.Rows[0] : null;
    var idRecord = dataRecord == null ? 0 : dataRecord[SystemField.ID.ToString()];

    var name = dataRecord == null ? "" : Model.columnTables.Any(n => n.DbName == CategoryDefaultField.TenDanhMuc.ToString())
    ? dataRecord[CategoryDefaultField.TenDanhMuc.ToString()]
    : dataRecord[DefaultField.Ten.ToString()];

    Model.DfCreateType = CreateTypeConst.ChiaTach;
}

<div class="modal-dialog modal-lg modal-1000px  modal-dialog-scrollable modal-dialog-centered" role="document">
    <div class="modal-content">
        <form role="form" asp-action="" class="onUpdateInputState bv-form" id="frmMDIUSchema">
            <div class="modal-header d-flex align-items-center">
                <h5 class="modal-title font-weight-bold font-s-16 text-white" id="planCreateModalTitle">@title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="w-h-32 icon-exit-white ml-auto" aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body h-70vh">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Tên danh mục gốc</label>
                    <div class="col-sm-8">
                        @Html.CustTexBox("", "",name?.ToString(), "Tên", "Tên", isReadOnly:true)
                    </div>
                </div>
                @*        <div class="form-group row">
                <label class="col-sm-3 col-form-label">
                Ngày hết hiệu lực
                </label>
                <div class="col-sm-8">
                <div class="input-group date_input" id="dpNgayHieuLuc" data-target-input="nearest">
                <div class="input-group-prepend" data-target="#dpNgayHieuLuc" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                </div>
                @Html.CusTextBoxDate("", "NgayHieuLuc", DateTime.Now .ToString("dd-MM-yyyy"), "Ngày hết hiệu lực", "Ngày hết hiệu lực", true, new { data_target = "#dpNgayHieuLuc", data_toggle = "datetimepicker" }, 0)
                </div>
                </div>
                </div>*@
                <h4>Thông tin danh mục</h4>
                @await Html.PartialAsync("_Create_Body")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn bg-color-gray-6 d-flex align-items-center" data-dismiss="modal">
                    <span class="font-s-14 text-color-body font-weight-500">Đóng</span>
                </button>
                <input type="hidden" value="@tableInfo.ID" name="IDTable" />
                <input type="hidden" value="@tableInfo.IDSchema" name="IDSchema" />
                <input type="hidden" value="1" name="IsSingle" />
                <input type="hidden" value="@Model.dataFirst.Rows[0]["ID"]" name="ID" />
                <button data-url="@url" class="btn bg-color-primary d-flex align-items-center quickSubmit">
                    <span class="text-white font-s-14">Phân tách</span>
                </button>
            </div>
        </form>
    </div>
</div>
