﻿@using Microsoft.AspNetCore.Mvc.Rendering;
@using DAS.Application.Models.ViewModels;
@using DAS.Utility;
@using DAS.Utility.Helper;
@using DAS.Application.Models.ViewModels.DasKTNN
@using DAS.Application.Enums.DasKTNN;
@using DAS.Domain.Models.DASKTNN
@using DAS.Application.Constants
@using static DAS.Application.Enums.DasKTNN.EnumTableInfo
@model VMInputInfo
@{
    var tableInfo = Model.tableInfo ?? new DAS.Domain.Models.DASKTNN.TableInfo();
    var title = "Bảng nhập liệu : " + tableInfo.Name;
    ViewData["Title"] = title;
    ViewBag.Breadcrumb = new List<string> { Model.schemaInfo.Name, title };
    ViewData["PageHeaderContent"] = "InputInfo";
    Layout = "~/Views/Shared/_LayoutCus.cshtml";
    var columntables = Model.columnTableAlls.Where(n => n.IsSearchable).ToList();
    var isCheckApproveTable = Model.tableInfo.IsRequireApprove;
    var linkViewTree = $"/InformationLevel?IDTable={tableInfo.ID}";
    var isDanhMucDungChung = ViewBag.IsDanhMucDungChung;
}
<div class="container pt-30">
    <div class="box-wrap-cs mb-15 dataTables_wrapper">
        <form asp-action="SearchByCondition" id="frmInputInfo" role="form" method="post" class="quickSearch" data-target="#divSchemaInfos">
            <div class="row row-ip">
                <div class="col-md-5 align-items-center d-flex col-ip-12">
                    <p class="is-header-table-search"><span>@ViewData["Title"]</span></p>
                </div>
                <div class="col-md-7 col-ip-12 ">
                    <div class="pull-right input-group-sm mb-3">
                        @*<input type="search" name="Keyword" value="@ViewBag.Keyword" class="form-control" placeholder="Nhập từ tìm kiếm">*@
                        <input type="hidden" name="IDTable" value="@tableInfo.ID">
                        <button class="btn btn-sm ml-5" type="button" id="dataFilter_Dropdown" title="Tìm kiếm nâng cao" style="background-color: #eef2f5; border-radius: 6px;">
                            <i class="fa fa-filter" style="color: #5e6278"></i>
                        </button>
                        <button id="btntimkiem" type="submit" class="btn btn-sm btn-primary ml-5" style="border-radius: 6px;">Tìm kiếm</button>

                        <a class="btn-icon-search ml-28 text-primary" @(isDanhMucDungChung == "true" ? "" : "hidden") href="@linkViewTree" title="Hiển thị dạng tree" >
                            <i class="fas fa-table"></i>
                        </a>
                        @if (Model.IsTach)
                        {
                            <a class="btn-icon-search quickUpdate ml-5 text-primary" tabindex="0" href="/InputInfo/Merge?IDTable=@tableInfo.ID" data-target="#mdIUInputInfo" aria-controls="data_table" title="Hợp nhất">
                                <i class="far fa-window-restore"></i>
                            </a>
                        }

                        <a class="btn-icon-search quickDeletes ml-5 text-danger" data-url="/InputInfo/Deletes?IDTable=@tableInfo.ID" tabindex="0" data-comfirm-message="Xoá nhiều bản ghi:Bạn có muốn xoá {n} bản ghi đã chọn?" title="Xóa">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                        <a class="ml-5" data-toggle="dropdown">
                            <i class="bid-icons bid-icon-import"></i>
                        </a>
                        <ul class="dropdown-menu cusst" role="menu">
                            <li>
                                <a class="quickExport ml-5" href="#" action="/ImportData/DownloadTemplate" data-target="#frmInputInfo">
                                    <i class="fas fa-fw fa-cloud-download-alt"></i> Tải file mẫu
                                </a>
                            </li>
                            <li>
                                <a class="onSelectImportFile ml-5" tabindex="0" href="#" data-rel="#txtImportFile" data-modal="#mdIUInputImport" aria-controls="data_table">
                                    <i class="fas fa-fw fa-file-import"></i> Import
                                </a>
                            </li>
                        </ul>
                        <a class="btn-icon-search quickUpdate ml-5 text-success" tabindex="0" href="/InputInfo/Create?IDTable=@tableInfo.ID" data-target="#mdIUInputInfo" aria-controls="data_table" title="Thêm mới">
                            <i class="fas fa-plus"></i>
                        </a>
                        <a class="btn-icon-search quickExport ml-5 text-success" data-export-by-page="true" tabindex="0" href="#" action="/InputInfo/ExportData" data-target="#frmInputInfo" aria-controls="data_table" title="Xuất file">
                            <i class="bid-icons bid-icon-csv"></i>
                        </a>
                        <a class="btn-icon-search ml-5 quickSprint text-orange" data-target="#divSchemaInfos" title="Xuất file pdf">
                            <i class="bid-icons bid-icon-pdf"></i>
                        </a>
                    </div>
                </div>
                <div class="dropdown-menu dataFilter_Dropdown_target">
                    <div class="dropdown-menu-content">
                        <a href="#" title="Đóng" class="dataFilter_Dropdown_close"><i class="fa fa-times-circle"></i></a>
                        <div class="col-xs-12">
                            <div class="row">
                                @foreach (var item in columntables)
                                {
                                    @switch (item.DataType)
                                    {
                                        case (int)EnumTableInfo.ColumnDataType.DateTime:
                                            <div class="col-md-3 DropdownFilter_item">
                                                <div class="input-group date_input" id="dpCreatedAt_@item.ID" data-target-input="nearest">
                                                    <div class="input-group-prepend" data-target="#dpCreatedAt_@item.ID" data-toggle="datetimepicker">
                                                        <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                                                    </div>
                                                    @Html.CusTextBoxDate("", item.DbName, null, item.Name, item.Name, item.IsRequired, new { data_target = "#dpCreatedAt_" + item.ID, data_toggle = "datetimepicker" }, 0)
                                                </div>
                                            </div>
                                            break;
                                        case (int)EnumTableInfo.ColumnDataType.Decimal:
                                            <div class="col-md-3 DropdownFilter_item">
                                                @Html.CusTextBoxMoney("", item.DbName, null, item.Name, item.Name, false, new { })
                                            </div>
                                            break;

                                        case (int)EnumTableInfo.ColumnDataType.Integer:
                                            <div class="col-md-3 DropdownFilter_item">
                                                @Html.CustTexBoxNumber("", item.DbName, null, item.Name, item.Name, false, new { })
                                            </div>
                                            break;

                                        case (int)EnumTableInfo.ColumnDataType.Parent:
                                        case (int)EnumTableInfo.ColumnDataType.TableRef:
                                            <div class="col-md-3 DropdownFilter_item">
                                                @Html.CusDropdownListSelect2Ajax("", item.DbName, item.Name, new
                                    {
                                    @data_id_table = item.IDTableRef,
                                    @data_id_column = item.ID,
                                    }, url: "/InputInfo/GetTableRecords")
                                            </div>
                                            break;

                                        case (int)EnumTableInfo.ColumnDataType.String:
                                            <div class="col-md-3 DropdownFilter_item">
                                                @Html.CustTexBox(item.DbName, item.DbName, null, item.Name, item.Name, false,
                                                    new
                                                         {
                                                        @class = "useAutoComplete",
                                    @data_source = item.Suggestion.IsNotEmpty()
                                    ? item.Suggestion.Replace("\n", ",") : null
                                                    }, false, item.MinLen ?? 0, item.MaxLen ?? 0)
                                            </div>
                                            break;
                                        case (int)EnumTableInfo.ColumnDataType.TableUser:
                                            <div class="col-md-3 DropdownFilter_item">
                                                @Html.CusDropdownListSelect2Ajax("", item.DbName, item.Name, null, url: "/InputInfo/GetUsers")
                                            </div>
                                            break;
                                        default:
                                            break;
                                    }
                                }
                                @if (isCheckApproveTable)
                                {
                                    <div class="col-md-3 DropdownFilter_item">
                                        <select class="form-control input-sm" id="Status" name="Status">
                                            <option value="-1">Trạng thái</option>
                                            @foreach (var item in Utils.GetDescribes<Status>())
                                            {
                                                var x = item.Key.ToString() == Model.inputInfoCondition.Status.ToString() ? "selected" : "";
                                                <option value="@item.Key.ToString()" class="@x">@item.Value.ToString()</option>
                                            }
                                        </select>
                                    </div>
                                }
                                <input type="hidden" id="idOrderBy" name="OrderBy" />
                                <input type="hidden" id="idOrderType" name="OrderType" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>
        <div class="card card-danger card-outline card-outline-tabs rounded-0 border-0 elevation-0 bg-transparent mt-15">
            <div class="card-body p-0">
                <div id="divSchemaInfos">
                    @await Html.PartialAsync("Index_InputInfos", Model)
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {


<div class="modal fade closeOnResetForm" id="mdIUInputImport" aria-labelledby="planEditModalTitle" style="display: none;" aria-hidden="true">
    @await Html.PartialAsync("_PreImport", new VMImportData
    {
    IDTable = tableInfo.ID,
    HeaderRow = KTNNConst.ImportHeaderIndex,
    DataRow = KTNNConst.ImportDataIndex,
    })
</div>

<div class="modal fade" id="mdIUInputInfo" aria-labelledby="planEditModalTitle" style="display: none;" aria-hidden="true">
</div>


<script src="~/js/controller/ImportDataController.js" asp-append-version="true"></script>
<script src="~/js/controller/InputInfoController.js" asp-append-version="true"></script>
<script type="text/javascript">
    InitImportData();
    InitInputInfo();
</script>
}

