﻿@using DAS.Application.Models.ViewModels.DasKTNN;
@using DAS.Application.Enums.DasKTNN;
@using DAS.Utility;
@model VMInputInfo

@{
    var pageSizes = new[] { 10, 20, 30, 50, 100 };
    int stt = Model.datapage.PageSize * (Model.datapage.PageIndex - 1);
    var count = Model.datas.Rows.Count;
    var tableInfo = Model.tableInfo;
    var checkTableApproveTable = tableInfo.IsRequireApprove;
}


<div class="table-responsive">
    <table class="table table-borderless table-space table-hover dataTable dtr-inline useTreegrid table-bid-custom" role="grid" data-tree="3">
        <thead class="thead-light">
            <tr class="elevation-1">
                <th class="text-center col-min">STT</th>
                <th class="text-center col-min">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="group-checkable custom-control-input" id="checkall" value="">
                        <label class="custom-control-label" for="checkall"></label>
                    </div>
                </th>
                @{
                    foreach (var item in Model.columnTables)
                    {
                        var ordertype = "";
                        if(Model.inputInfoCondition.OrderBy== item.DbName)
                        {
                            ordertype= "sorting_"+Model.inputInfoCondition.OrderType.ToLower();
                        }
                        <th class="pb-2 m-w-200-px text-center sorting @ordertype" data-order-by="@item.DbName" data-type="0" >@item.Name</th>
                    }
                }
                <th class="pb-2 col-min text-center" data-column-id="commands" data-formatter="commands" data-sortable="false">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @for (Int32 i = 0; i < count; i++)
            {
                stt++;
                var x = @Model.datas.Rows[i]["parentidtree_view"].ToString();
                var valApprove = checkTableApproveTable ? Model.datas.Rows[i]["DADUYET"].ToString() : "";
                x = string.IsNullOrEmpty(x) ? "0" : x;
                <tr>
                    <td class="text-center">@stt</td>
                    <td class="text-center">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="checkboxes custom-control-input" id="role-@Model.datas.Rows[i]["ID"].ToString()" data-id="@Model.datas.Rows[i]["ID"].ToString()" value="@Model.datas.Rows[i]["ID"].ToString()">
                            <label class="custom-control-label" for="role-@Model.datas.Rows[i]["ID"].ToString()"></label>
                        </div>
                    </td>
                    @{
                        int val = 1;
                        foreach (var item in Model.columnTables)
                        {
                            var valueconver = Model.datas.Rows[i][item.DbName + "_ValueShow"].ToString();
                            //var detailLink = "/InformationLevel?IDTable=" + tableInfo.ID;
                            var detailLink = $"/InputInfo/ViewDetail?IDTable={tableInfo.ID}&ID=" + Model.datas.Rows[i]["ID"].ToString();
                            if (val == 1)
                            {
                                if (item.DbName.ToUpper() == "TENDANHMUC"|| item.DbName.ToUpper() == "TEN")
                                {
                                    <td>
                                        <a title="Xem chi tiết" class="quickUpdate" href="@detailLink" data-target="#mdIUInputInfo" data-toggle="tooltip" data-original-title="Xem chi tiết">
                                            @valueconver
                                        </a>
                                    </td>
                                }
                                else
                                {
                                    <td>@valueconver</td>
                                }
                            }
                            else
                            {
                                if (item.DbName.ToUpper() == "TENDANHMUC" || item.DbName.ToUpper() == "TEN")
                                {
                                    <td>
                                        <a title="Xem chi tiết" class="quickUpdate" href="@detailLink" data-target="#mdIUInputInfo" data-toggle="tooltip" data-original-title="Xem chi tiết">
                                            @valueconver
                                        </a>
                                    </td>
                                }
                                else
                                {
                                    <td>@valueconver</td>
                                }
                            }
                            val++;
                        }
                    }
                    <td class="text-center" style="display:flex">
                        <a title="Sửa" class="quickUpdate" href="/InputInfo/Update?IDTable=@tableInfo.ID&ID=@Model.datas.Rows[i]["ID"].ToString()" data-target="#mdIUInputInfo" data-toggle="tooltip" data-original-title="Sửa">
                            <i class="fas fa-fw fa-edit"></i>
                        </a>
                        <a title="Xoá" data-comfirm-message="Xoá bảng dữ liệu:Bạn có chắc chắn muốn xoá bảng dữ liệu này?" class="quickDelete" href="/InputInfo/Delete?IDTable=@tableInfo.ID&id=@Model.datas.Rows[i]["ID"].ToString()" data-id="@Model.datas.Rows[i]["ID"].ToString()"
                           data-toggle="tooltip" data-original-title="Xóa">
                            <i class="fas fa-fw fa-trash-alt"></i>
                        </a>
                        @if (checkTableApproveTable && valApprove != "1")
                        {
                            <a title="Duyệt dữ liệu" data-comfirm-message="Bạn có chắc duyệt dữ liệu này ?" class="quickConfirmRestore" href="/InputInfo/ApproveData?IDTable=@tableInfo.ID&ID=@Model.datas.Rows[i]["ID"].ToString()"
                               data-toggle="tooltip" @(!checkTableApproveTable ? "hidden" : "")>
                                <i class="fas fa-fw fa-check-circle"></i>
                            </a>
                        }
                        @if (Model.IsTach)
                        {
                            <a title="Phân tách dữ liệu" class="quickUpdate" href="/InputInfo/Detach?IDTable=@tableInfo.ID&ID=@Model.datas.Rows[i]["ID"].ToString()"
                               data-target="#mdIUInputInfo" data-toggle="tooltip" data-original-title="Phân tách dữ liệu">
                                <i class="fas fa-fw fa-external-link-alt"></i>
                            </a>
                        }
                        @*                        <a title="Đổi tên danh mục" class="quickUpdate" href="/InputInfo/SingleDetach?IDTable=@tableInfo.ID&ID=@Model.datas.Rows[i]["ID"].ToString()"
                            data-target="#mdIUInputInfo" data-toggle="tooltip" data-original-title="Đổi tên danh mục">
                                 <i class="fas fa-fw fa-pencil-alt"></i>
                             </a>*@
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>
@await Html.PartialAsync("_PagingFooter", Model.datapage, new ViewDataDictionary(this.ViewData) { { "TargetForm", "frmInputInfo" } })
