﻿@using DAS.Application.Models.ViewModels;
@model VMDashBoardExpiryDate

<div class="card card-outline card-success">
    <div class="card-header">
        <h3 class="card-title">Thống kê theo thời hạn bảo quản</h3>
    </div>
    <div class="card-body">
        <div id="archive_chart_container" class="chart_container" style="padding: 0 1rem 1rem 0 ">
            <canvas id="archive_chart"></canvas>
        </div>
    </div>
    <div class="card-footer"></div>
</div>
<input type="hidden" id="hddexpiriedates" value="@Model.ExpiryDateDictStr" />
