﻿@using DAS.Application.Models.ViewModels;
@using DAS.Utility.Helper;
@{
    //var breadcrum = new Dictionary<string, string>();
    //breadcrum.Add("/Home", "Dashboard");
    //ViewData["Breadcrumb"] = breadcrum;
    ViewData["Title"] = "Dashboard";
    ViewData["PageHeaderContent"] = "AdminPage";
    Layout = "/Views/Shared/_LayoutCus.cshtml";
    ViewBag.BreadcrumbMenu = "Dashboard";
    ViewBag.Breadcrumb = new List<string> {  };
  
}

<!-- Top menus -->
<div class="dashboard">
    <div id="shortcut" class="shortcut mb-1">
        <div class="row flex-nowrap position-relative">
        </div>
    </div>
    <!-- /.row -->
   
</div>
<!-- Guideline -->
<div class="card card-success card-tabs">
    <div class="card-header p-0 pt-1 hidden">
        <ul class="nav nav-tabs" id="guideline-tab" role="tablist">
            <li class="pt-1 px-3">
                <h1 class="card-title">Guideline</h1>
            </li>
            <li class="nav-item">
                <a class="nav-link active" id="guideline-buttons-tab" data-toggle="pill" href="#guideline-buttons" role="tab" aria-controls="guideline-buttons" aria-selected="true">Buttons</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="guideline-label-tab" data-toggle="pill" href="#guideline-label" role="tab" aria-controls="guideline-label" aria-selected="false">Label</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="guideline-messages-tab" data-toggle="pill" href="#guideline-messages" role="tab" aria-controls="guideline-messages" aria-selected="false">Messages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="guideline-settings-tab" data-toggle="pill" href="#guideline-settings" role="tab" aria-controls="guideline-settings" aria-selected="false">Settings</a>
            </li>
        </ul>
    </div>
    <div class="card-body hidden">
        <div class="tab-content" id="guideline-tab_content">
            <div class="tab-pane fade active show" id="guideline-buttons" role="tabpanel" aria-labelledby="guideline-buttons-tab">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped data_table" role="grid">
                        <thead>
                            <tr>
                                <th>Vị trí</th>
                                <th><code>Primary</code></th>
                                <th><code>Secondary</code></th>
                                <th><code>Success</code></th>
                                <th><code>Info</code></th>
                                <th><code>Danger</code></th>
                                <th><code>Warning</code></th>
                                <th><code>Default</code></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Table</th>
                                <td class="text-truncate">
                                    <button type="button" class="btn btn-primary">
                                        <i class="fas fa-fw fa-file-export"></i><span>Xuất file</span>
                                    </button>
                                    <button type="button" class="btn btn-primary">
                                        <i class="fas fa-fw fa-check"></i><span>Duyệt</span>
                                    </button>
                                </td>
                                <td class="text-truncate">
                                    <button type="button" class="btn btn-secondary">
                                        <i class="fas fa-fw fa-angle-left"></i><span>Quay lại</span>
                                    </button>
                                </td>
                                <td class="text-truncate">
                                    <button type="button" class="btn btn-success">
                                        <i class="fas fa-fw fa-plus"></i><span>Thêm mới</span>
                                    </button>
                                </td>
                                <td class="text-truncate">
                                    <button type="button" class="btn btn-info">
                                        <i class="fas fa-fw fa-edit"></i><span>Chỉnh sửa</span>
                                    </button>
                                </td>
                                <td class="text-truncate">
                                    <button type="button" class="btn btn-danger">
                                        <i class="fas fa-fw fa-trash-alt"></i><span>Xoá</span>
                                    </button>
                                    <button type="button" class="btn btn-danger">
                                        <i class="fas fa-fw fa-times"></i><span>Từ chối</span>
                                    </button>
                                </td>
                                <td class="text-truncate">
                                    <button type="button" class="btn btn-warning">
                                        <i class="fas fa-fw fa-paper-plane"></i><span>Gửi duyệt</span>
                                    </button>
                                </td>
                                <td class="text-truncate"><button type="button" class="btn btn-default">Unused</button></td>
                            </tr>
                            <tr>
                                <th>Modal</th>
                                <td class="text-truncate">
                                    <button type="button" class="btn btn-outline-primary">
                                        <i class="fas fa-fw fa-save"></i><span>Lưu</span>
                                    </button>
                                </td>
                                <td class="text-truncate">
                                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
                                        <i class="fas fa-fw fa-times"></i><span>Đóng</span>
                                    </button>
                                </td>
                                <td class="text-truncate">
                                    <button type="button" class="btn btn-outline-success">
                                        <i class="fas fa-fw fa-plus"></i><span>Thêm dòng</span>
                                    </button>
                                </td>
                                <td class="text-truncate">
                                    <button type="button" class="btn btn-outline-info">
                                        <i class="fas fa-fw fa-edit"></i><span>Chỉnh sửa</span>
                                    </button>
                                </td>
                                <td class="text-truncate">
                                    <button type="button" class="btn btn-outline-danger">
                                        <i class="fas fa-fw fa-trash-alt"></i><span>Xóa</span>
                                    </button>
                                </td>
                                <td class="text-truncate"><button type="button" class="btn btn-outline-warning">Unused</button></td>
                                <td class="text-truncate"><button type="button" class="btn btn-outline-default">Unused</button></td>
                            </tr>
                            <tr>
                                <th>Form</th>
                                <td class="text-truncate">
                                    <button type="button" class="btn btn-primary">
                                        <i class="fas fa-fw fa-save"></i><span>Lưu</span>
                                    </button>
                                </td>
                                <td class="text-truncate">
                                    <button type="button" class="btn btn-secondary">
                                        <i class="fas fa-fw fa-angle-left"></i><span>Thoát</span>
                                    </button>
                                </td>
                                <td class="text-truncate">
                                    <button type="button" class="btn btn-success">
                                        <i class="fas fa-fw fa-check"></i><span>Hoàn thành</span>
                                    </button>
                                </td>
                                <td class="text-truncate">
                                    <button type="button" class="btn btn-info">
                                        <i class="fas fa-fw fa-save"></i><span>Lưu tạm</span>
                                    </button>
                                </td>
                                <td class="text-truncate"><button type="button" class="btn btn-danger">Unused</button></td>
                                <td class="text-truncate"><button type="button" class="btn btn-warning">Unused</button></td>
                                <td class="text-truncate">
                                    <button type="button" class="btn btn-default">
                                        <i class="fas fa-fw fa-search"></i><span>Tìm kiếm</span>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <th>Table Commands</th>
                                <td class="text-truncate">
                                    <a href="#" class="btn btn-sm btn-outline-secondary btn-hover-primary" title="Duyệt" data-toggle="tooltip">
                                        <i class="fas fa-fw fa-check"></i>
                                    </a>
                                    <a href="#" class="btn btn-sm btn-outline-secondary btn-hover-primary" title="Tải xuống" data-toggle="tooltip">
                                        <i class="fas fa-fw fa-download"></i>
                                    </a>
                                    <a href="#" class="btn btn-sm btn-outline-secondary btn-hover-primary" title="Đi tới danh mục" data-toggle="tooltip">
                                        <i class="fas fa-fw fa-external-link-alt"></i>
                                    </a>
                                </td>
                                <td class="text-truncate">
                                    <a href="#" class="btn btn-sm btn-outline-secondary btn-hover-secondary" title="Mở" data-toggle="tooltip">
                                        <i class="fas fa-fw fa-lock-open"></i>
                                    </a>
                                </td>
                                <td class="text-truncate">
                                    <a href="#" class="btn btn-sm btn-outline-secondary btn-hover-success" title="Xem chi tiết" data-toggle="tooltip" data-original-title="Xem chi tiết">
                                        <i class="fas fa-fw fa-info"></i>
                                    </a>
                                </td>
                                <td class="text-truncate">
                                    <a href="#" class="btn btn-sm btn-outline-secondary btn-hover-info" title="Chỉnh sửa" data-toggle="tooltip">
                                        <i class="fas fa-fw fa-edit"></i>
                                    </a>
                                </td>
                                <td class="text-truncate">
                                    <a href="#" class="btn btn-sm btn-outline-secondary btn-hover-danger" title="Xóa" data-toggle="tooltip">
                                        <i class="fas fa-fw fa-trash-alt"></i>
                                    </a>
                                    <a href="#" class="btn btn-sm btn-outline-secondary btn-hover-danger" title="Từ chối" data-toggle="tooltip">
                                        <i class="fas fa-fw fa-times"></i>
                                    </a>
                                </td>
                                <td class="text-truncate">
                                    <a href="#" class="btn btn-sm btn-outline-secondary btn-hover-warning" title="Gửi duyệt" data-toggle="tooltip">
                                        <i class="fas fa-fw fa-paper-plane"></i>
                                    </a>
                                </td>
                                <td class="text-truncate">
                                    <a href="#" class="btn btn-sm btn-outline-secondary btn-hover-default" title="Đóng" data-toggle="tooltip">
                                        <i class="fas fa-fw fa-lock"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="guideline-label" role="tabpanel" aria-labelledby="guideline-label-tab">
                Mauris tincidunt mi at erat gravida, eget tristique urna bibendum. Mauris pharetra purus ut ligula tempor, et vulputate metus facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas sollicitudin, nisi a luctus interdum, nisl ligula placerat mi, quis posuere purus ligula eu lectus. Donec nunc tellus, elementum sit amet ultricies at, posuere nec nunc. Nunc euismod pellentesque diam.
            </div>
            <div class="tab-pane fade" id="guideline-messages" role="tabpanel" aria-labelledby="guideline-messages-tab">
                Morbi turpis dolor, vulputate vitae felis non, tincidunt congue mauris. Phasellus volutpat augue id mi placerat mollis. Vivamus faucibus eu massa eget condimentum. Fusce nec hendrerit sem, ac tristique nulla. Integer vestibulum orci odio. Cras nec augue ipsum. Suspendisse ut velit condimentum, mattis urna a, malesuada nunc. Curabitur eleifend facilisis velit finibus tristique. Nam vulputate, eros non luctus efficitur, ipsum odio volutpat massa, sit amet sollicitudin est libero sed ipsum. Nulla lacinia, ex vitae gravida fermentum, lectus ipsum gravida arcu, id fermentum metus arcu vel metus. Curabitur eget sem eu risus tincidunt eleifend ac ornare magna.
            </div>
            <div class="tab-pane fade" id="guideline-settings" role="tabpanel" aria-labelledby="guideline-settings-tab">
                Pellentesque vestibulum commodo nibh nec blandit. Maecenas neque magna, iaculis tempus turpis ac, ornare sodales tellus. Mauris eget blandit dolor. Quisque tincidunt venenatis vulputate. Morbi euismod molestie tristique. Vestibulum consectetur dolor a vestibulum pharetra. Donec interdum placerat urna nec pharetra. Etiam eget dapibus orci, eget aliquet urna. Nunc at consequat diam. Nunc et felis ut nisl commodo dignissim. In hac habitasse platea dictumst. Praesent imperdiet accumsan ex sit amet facilisis.
            </div>
        </div>
    </div>
</div>

<!-- /.content-wrapper -->
@section scripts {
    <script src="~/js/controller/AdminController.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/lib/adminLte/plugins/chart.js/Chart.bundle.min.js"></script>
    <script src="~/js/controller/HomeController.js"></script>
    <script type="text/javascript">
        jQuery(function () {
            HomeConfig.Init();
        });
    </script>
}