﻿@using DAS.Application.Models.ViewModels.DasKTNN
@using DAS.Utility
@model VMSharedAppStatisticIndex
@{
    int stt = Model.SharedAppPagings.PageSize * (Model.SharedAppPagings.PageIndex - 1);
    var chartData = new
    {
        labels = Model.SharedAppPagings.Select(n => n.Name).ToArray(),
        data = Model.SharedAppPagings.Select(n => Model.SharedAppStatistics.Where(x => x.IDSharedApp == n.ID).Sum(x => x.Count)).ToArray(),
    };
}
<div class="card card-outline card-success" style="margin-bottom: 15px">
    <div class="card-header">
        <h3 class="card-title" style="font-weight: bold">Biểu đồ báo cáo thống kê ứng dụng</h3>
    </div>
    <div class="card-body">
        <div id="archive_chart_container" class="chart_container" style="padding: 0 1rem 1rem 0; ">
            <canvas id="archive_chart" height="80"></canvas>
        </div>
    </div>
    <input type="hidden" id="tableStatisticData" value="@(Utils.Serialize(chartData))" />
</div>

<div class="card" hidden id="cardImgChart">
    <div class="card-header">
        <h3 class="card-title" style="font-weight: bold">Báo cáo thống kê ứng dụng</h3>
        <img id="imgChart" src="" alt="Biểu đồ" />
    </div>
</div>

<div class="card card-outline card-success mt-5">
    <div class="card-header">
        <h3 class="card-title" style="font-weight: bold">Bảng báo cáo thống kê ứng dụng</h3>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-borderless table-space table-hover dataTable dtr-inline useTreegrid table-bid-custom" role="grid" data-tree="3">
                <thead class="thead-light">
                    <tr class="elevation-1">
                        <th class="pb-2 col-min">STT</th>
                        <th class="pb-2 m-w-200-px">Mã ứng dụng</th>
                        <th class="pb-2 m-w-200-px">Ứng dụng</th>
                        <th class="pb-2 m-w-200-px">Số nguồn dữ liệu được chia sẻ</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var app in Model.SharedAppPagings)
                    {
                        stt++;
                    <tr>
                        <td class="text-center">@stt</td>
                        <td>
                            @app.Code
                        </td>
                        <td>
                            @app.Name
                        </td>
                        <td>
                            @Model.SharedAppStatistics.Where(n => n.IDSharedApp == app.ID).Sum(n => n.Count)
                        </td>
                    </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>

    <div class="m-2">
        @await Html.PartialAsync("_PagingFooter", Model.SharedAppPagings, new ViewDataDictionary(this.ViewData) { { "TargetForm", "frmStats" } })
    </div>
</div>