﻿@using DAS.Infrastructure.ContextAccessors;
@using DAS.Application.Interfaces;
@using DAS.Application.Models.ViewModels;
@inject IAccountService _accountService
@inject IHomeServices _homeService
@inject IUserPrincipalService _userPrincipalService
@{
    var user = await _accountService.GetCurrentUser(_userPrincipalService.UserId);
    var srcAvatar = user != null && !string.IsNullOrWhiteSpace(user.SrcAvatar) ? user.SrcAvatar : "/libBid/dist/img/avatar.png";
    string currentUserName = _userPrincipalService.UserName;
    NotificationCondition condition = new NotificationCondition
    {
        UserId = _userPrincipalService.UserId,
        PageIndex = 1,
        PageSize = 30
    };

    var breadcrumb = ViewBag.Breadcrumb != null ? ((List<string>)ViewBag.Breadcrumb) : new List<string>();
    bool isHome = ViewBag.BreadcrumbMenu == "Trang chủ";
    PaginatedList<VMNotification> listNoti = await _homeService.GetListNotificationPaging(condition);
    int totalUnreadNotification = await _homeService.TotalUnreadNotification();
}

<style>
    #pushMenu{
        background-color: #3f8ec3;
        border-radius: 6px;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<nav class="main-header navbar navbar-expand dropdown-legacy navbar-dark navbar-primary @(isHome ? "border-0" : "") @(ViewBag.Menu != null ? "fullNavbar" : "")">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item d-flex justify-content-center align-items-center">
            <a class="nav-link jsPushMenu" data-widget="pushmenu" id="pushMenu" href="#" role="button"><i class="fas fa-bars font-s-16"></i></a>
            <!-- Brand Logo -->
            <a href="@Url.RouteUrl("Welcome")" class="brand-link d-none">
                <img src="~/libBid/dist/img/logo.png" alt="Hê thống quản lý CSDL dùng chung" class="brand-image img-circle my-0 ml-2" />
                <div class="text-uppercase text-bold">
                    <p class="mb-0 small text-white font-s-13 font-weight-500 mb-3">Hệ thống quản lý CSDL</p>
                    <p class="mb-0 text-white font-s-16">Dùng chung</p>
                </div>
            </a>
        </li>
        <li class="nav-item nav-item--title">
            @if (breadcrumb.Any())
            {
                <div class="h5 text-uppercase m-0 d-flex">
                    <a href="@Url.RouteUrl("Welcome")" class="nav-link px-2 font-s-14 d-flex align-items-center">@(ViewBag.BreadcrumbMenu ?? "Danh mục")</a>
                    @foreach (var item in breadcrumb.Where(x => !x.Equals(breadcrumb.LastOrDefault())))
                    {
                        <span class="nav-link font-s-14 d-flex align-items-center"> / </span>
                        <a href="@(ViewBag.BreadcrumbHref  != null ? ViewBag.BreadcrumbHref : "javascript:;")" class="nav-link px-2 font-s-14 d-flex align-items-center">@item</a>
                    }

                </div>
                <div class="h5 text-uppercase m-0 d-flex">
                    <a href="javascript:;" class="nav-link px-2 font-s-16 d-flex align-items-center active pt-0 pb-0">
                        <div class="text-ellipsis">
                            @breadcrumb.LastOrDefault()
                        </div>
                    </a>
                </div>
            }
            else
            {
                <h1 class="h5 m-0 d-flex justify-content-center align-items-center h-100">
                    <a href="@Url.RouteUrl("Welcome")" class="nav-link px-2 font-s-16 d-flex align-items-center text-uppercase font-weight-bold">@(ViewBag.BreadcrumbMenu == "Welcome" ? "Trang chủ" : ViewBag.BreadcrumbMenu) </a>
                </h1>
            }

        </li>
    </ul>
    <ul class="navbar-nav is-navbar-search hidden">
        <!-- Navbar Search -->
        <li class="nav-item">
            <div class="navbar-search">
                <form class="form-inline ml-0" action="#" role="form" method="post">
                    <div class="is-glass"></div>
                    <div class="input-group input-group-sm">
                        <input class="form-control form-control-navbar rounded-pill border-0 pl-24px" type="search" placeholder="Từ khoá tìm kiếm..." aria-label="Từ khoá tìm kiếm..." name="Keyword" id="Keyword" />
                        <div class="input-group-append">
                            <button type="submit" class="text-color-white pr-24px pl-10 pt-2 pb-6 btn btn-navbar rounded-pill border-0 p-0"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </li>
    </ul>
    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
        @*Notification*@
        <li class="nav-item nav-item--notifi" id="notification">
            <a class="nav-link d-flex align-items-center p-0 ml-14 " data-toggle="dropdown" href="#">
                <i class="far fa-bell"></i>
                <span class="badge badge-warning navbar-badge" id="totalUnreadNotification" data-total="0" style="display:flex">@totalUnreadNotification</span>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right" id="headerNotification">
                @if (listNoti != null && listNoti.Count > 0)
                {
                    @foreach (var item in listNoti)
                    {
                        <a class="dropdown-item @(item.IsRead == true ? "" : "notRead")" style="cursor: pointer; @(item.IsRead == true ? "" : "background-color: #D6F6F9;")" data-id="@item.ID" href="@item.Url">
                            <div class="media">
                                <div class="media-body">
                                    <p class="text-sm" style="@(item.IsRead == true ? "" : "color: red;")">@item.Content</p>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-divider"></div>
                    }
                    <a href="/Home/ListNotification" class="dropdown-item dropdown-footer">Xem tất cả thông báo</a>
                }
                else
                {
                    <a class="dropdown-item dropdown-footer">Hiện không có thông báo nào</a>
                }

            </div>

        </li>
        @*Help*@
        <li class="nav-item hidden">
            <div class="d-flex justify-content-center align-items-center ml-14 h-100">
                <a href="#" class="font-s-14 text-white d-flex justify-content-center align-items-center">
                    <i class="bid-icons bid-help mr-5"></i> Trợ giúp
                </a>
            </div>
        </li>
        @*Telephone*@
        <li class="nav-item">
            <div class="d-flex justify-content-center align-items-center ml-14 h-100">
                <span class="font-s-14 text-white d-flex justify-content-center align-items-center">
                    <i class="bid-icons bid-telephone mr-5"></i> 1900 86666 12
                </span>
            </div>
        </li>
        <!-- Notifications Dropdown Menu -->
        <li class="nav-item user-panel dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#">
                <img src="@srcAvatar" class="image img-circle mr-1" alt="@currentUserName" />
                <span class="text-white font-s-14 user-panel__name" title="@currentUserName">@currentUserName</span>
                <i class="fas fa-angle-down"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <a href="@Url.Action("ViewProfile", "Account")" class="dropdown-item">
                    <svg width="24" height="24" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8 14C11.3137 14 14 11.3137 14 8C14 4.68629 11.3137 2 8 2C4.68629 2 2 4.68629 2 8C2 11.3137 4.68629 14 8 14Z" stroke="#696969" stroke-miterlimit="10" />
                        <path d="M8 10C9.38071 10 10.5 8.88071 10.5 7.5C10.5 6.11929 9.38071 5 8 5C6.61929 5 5.5 6.11929 5.5 7.5C5.5 8.88071 6.61929 10 8 10Z" stroke="#696969" stroke-miterlimit="10" />
                        <path d="M3.98682 12.4609C4.36345 11.7204 4.93764 11.0986 5.64583 10.6642C6.35403 10.2299 7.1686 10 7.99937 10C8.83014 10 9.64471 10.2299 10.3529 10.6642C11.0611 11.0985 11.6353 11.7204 12.0119 12.4609" stroke="#696969" stroke-linecap="round"
                              stroke-linejoin="round" />
                    </svg>
                    <span class="ml-2">Thông tin tài khoản</span>
                </a>
                <a href="javascript:void(0)" class="dropdown-item change-password hidden" data-target="#change-password-modal">
                    <svg width="24" height="24" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.45577 2.89466L9.00022 1.61133C8.00022 1.61133 8.00022 1.61133 7.00577 1.61133L6.54466 2.89466C6.14466 3.00022 5.77244 3.16133 5.41688 3.36133L4.19466 2.77244C3.48355 3.48355 3.48355 3.48355 2.77244 4.19466L3.35577 5.42244C3.16133 5.77244 3.00022 6.14466 2.89466 6.54466L1.61133 7.00022C1.61133 8.00022 1.61133 8.00022 1.61133 8.99466L2.89466 9.45022C3.00022 9.85022 3.16133 10.228 3.35577 10.578L2.77244 11.8058C3.48355 12.5169 3.48355 12.5169 4.18911 13.2224L5.41688 12.6391C5.76688 12.8336 6.14466 12.9947 6.54466 13.1002L7.00022 14.3836C8.00022 14.3836 8.00022 14.3836 8.99466 14.3836L9.45022 13.1002C9.85022 12.9947 10.228 12.8336 10.578 12.6391L11.8058 13.2224C12.5169 12.5113 12.5169 12.5113 13.2224 11.8058L12.6391 10.578C12.8336 10.228 12.9947 9.85022 13.1002 9.45022L14.3836 8.99466C14.3836 7.99466 14.3836 7.99466 14.3836 7.00022L13.1002 6.54466C12.9947 6.14466 12.8336 5.76688 12.6391 5.41688L13.2224 4.18911C12.5113 3.478 12.5113 3.478 11.8058 2.77244L10.578 3.35577C10.228 3.16133 9.85577 3.00022 9.45577 2.89466Z"
                              stroke="#696969" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M8 10.5C9.38071 10.5 10.5 9.38071 10.5 8C10.5 6.61929 9.38071 5.5 8 5.5C6.61929 5.5 5.5 6.61929 5.5 8C5.5 9.38071 6.61929 10.5 8 10.5Z" stroke="#696969" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <span class="ml-2 hidden">Thiết lập tài khoản</span>
                </a>
                <a href="javascript:void(0)" class="dropdown-item logout">
                    <svg width="24" height="24" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.877 5.375L13.502 8L10.877 10.625" stroke="#696969" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M6.5 8L13.5 8" stroke="#696969" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M7.5 14L3 14C2.86739 14 2.74021 13.9473 2.64645 13.8536C2.55268 13.7598 2.5 13.6326 2.5 13.5L2.5 2.5C2.5 2.36739 2.55268 2.24021 2.64645 2.14645C2.74021 2.05268 2.86739 2 3 2L7.5 2" stroke="#696969" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <span class="ml-2">Thoát</span>
                </a>
            </div>
        </li>
        <!-- Toggle Fullscreen (disabled) -->
        <li class="nav-item d-none">
            <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                <i class="fas fa-expand-arrows-alt"></i>
            </a>
        </li>
        <!-- Toggle Control Sidebar (disabled) -->
        <li class="nav-item d-none">
            <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                <i class="fas fa-th-large"></i>
            </a>
        </li>
    </ul>
</nav>
<div class="navbar-ts-box-ip">
    <div class="navbar-ts-box__wrapper">
        <div class="navbar-title__ip">
            @if (breadcrumb.Any())
            {
                <div class="m-0 d-flex navbar-title__ip-link">
                    <a href="@Url.RouteUrl("Welcome")" class="nav-link px-2 font-s-14 d-flex align-items-center">@(ViewBag.BreadcrumbMenu ?? "Danh mục")</a>
                    @foreach (var item in breadcrumb.Where(x => !x.Equals(breadcrumb.LastOrDefault())))
                    {
                        <span class="nav-link font-s-14 d-flex align-items-center p-0"> / </span>
                        <a href="@(ViewBag.BreadcrumbHref  != null ? ViewBag.BreadcrumbHref : "javascript:;")" class="nav-link px-2 font-s-14 d-flex align-items-center">@item</a>
                    }

                </div>
                <div class="text-uppercase m-0 d-flex navbar-title__ip-title">
                    <a href="javascript:;" class="nav-link px-2 font-s-16 d-flex align-items-center active pt-0 pb-0 text-color-white">@breadcrumb.LastOrDefault()</a>
                </div>
            }
            else
            {
                <h1 class="m-0 d-flex justify-content-center align-items-center h-100">
                    <a href="@Url.RouteUrl("Welcome")" class="nav-link px-2 font-s-16 d-flex align-items-center text-uppercase font-weight-bold pt-0 pb-0">@(ViewBag.BreadcrumbMenu == "Welcome" ? "Trang chủ" : ViewBag.BreadcrumbMenu) </a>
                </h1>
            }
        </div>
        <div class="navbar-search__ip">
            <div class="navbar-search">
                <form class="form-inline ml-0" action="/GeneralSearch/Index" role="form" method="post">
                    <div class="input-group input-group-sm input-search-ip">
                        <input class="form-control form-control-navbar rounded-pill border-0 pl-24px" type="search" placeholder="Từ khoá tìm kiếm..." aria-label="Từ khoá tìm kiếm..." name="Keyword" id="Keyword" autocomplete="off" />
                        <div class="input-group-append">
                            <button type="submit" class="text-color-white pr-24px pl-10 pt-2 pb-6 btn btn-navbar rounded-pill border-0 p-0"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@if (isHome)
{
    <div class="is-info-home">
    </div>
}
