﻿@{
    var messageErr = (string)TempData["ErrMessage"] ?? "";
}
@if (!string.IsNullOrWhiteSpace(messageErr))
{
    <div class="toastsContainer toasts-bottom-right fixed">
        <div class="toast bg-danger fade show" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="mr-auto">Thông báo</strong>
                <button data-dismiss="toast" type="button" class="ml-2 mb-1 close onCloseMsg" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div><div class="toast-body">
                @messageErr
            </div>
        </div>
    </div>
}