﻿@using DAS.Utility;
@using DAS.Utility.Helper;
@using DAS.Application.Enums;
@using DAS.Application.Models.ViewModels;
@model VMLogInfoStatistic
@{
    int stt = 0;
    if (Model != null)
        stt = Model.Tables.PageSize * (Model.Tables.PageIndex - 1);

    var pageSizes = new[] { 10, 20, 30, 50, 100 };
}
<div class="card card-outline card-success" style="margin-bottom: 15px">
    <div class="card-header">
        <h3 class="card-title" style="font-weight: bold">Báo cáo thống kê về lỗi hệ thống</h3>
    </div>
    <div class="card-body">
        <div id="archive_chart_container" class="chart_container" style="padding: 0 1rem 1rem 0; ">
            <canvas id="archive_chart" height="100"></canvas>
        </div>
    </div>
    <input type="hidden" id="tableStatisticData" value="@(Utils.Serialize(Model.ChartData))" />
</div>
<div class="card" hidden id="cardImgChart">
    <div class="card-header">
        <h3 class="card-title" style="font-weight: bold">Báo cáo thống kê về lỗi hệ thống</h3>
        <img id="imgChart" src="" alt="Biểu đồ" />
    </div>
</div>
<div class="table-responsive">
    <table class="table table-borderless table-space table-hover dataTable table-bid-custom dtr-inline">
        <thead class="thead-light">
            <tr class="elevation-1">
                <th class="text-center col-min py-2 font-s-14 font-weight-500 text-body-title p-l-r-12">STT</th>
                <th class="m-w-150-px font-s-14 font-weight-500 text-body-title p-l-r-12 text-center">Thao tác</th>
                <th class="m-w-200-px font-s-14 font-weight-500 text-body-title p-l-r-12 text-center"> Thời điểm</th>
                <th class="m-w-120-px font-s-14 font-weight-500 text-body-title p-l-r-12 text-center">ID tài khoản</th>
                <th class="m-w-150-px font-s-14 font-weight-500 text-body-title p-l-r-12 text-center">Tài khoản</th>
                <th>Mô tả</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Tables.Count() > 0)
            {
                @foreach (var item in Model.Tables)
                {
                    stt++;
                    <tr>
                        <td class="text-center">@stt</td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Action)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.CreatedDate)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.UserId)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Username)
                        </td>
                        <td class="jsonContain" data-target="#ViewJsonModal" data-renderer="#json-renderer" style="cursor:pointer">
                            @Html.DisplayFor(modelItem => item.OldValue)
                        </td>

                    </tr>
                }
            }

        </tbody>
    </table>
</div>
@await Html.PartialAsync("_PagingFooter", Model.Tables, new ViewDataDictionary(this.ViewData) { { "TargetForm", "frmSystemLog" } })
