﻿@using Microsoft.AspNetCore.Mvc.Rendering;
@using DAS.Application.Models.ViewModels;
@using DAS.Utility;
@using DAS.Utility.Helper;
@using DAS.Application.Enums.DasKTNN;
@model VMLogInfo
@{
    ViewData["Title"] = "Thông tin nhật ký hệ thống";
    var title = "Thông tin nhật ký hệ thống"; ;
    ViewData["PageHeaderContent"] = title;
    Layout = "";
   
}
<div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered" role="document">
    <div class="modal-content">
        <form role="form" asp-action="" class="onUpdateInputState bv-form validateForm" id="frmMDIUSchema">
            <div class="modal-header d-flex align-items-center">
                <h5 class="modal-title font-weight-bold font-s-16 text-white" id="planCreateModalTitle">@title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="w-h-32 icon-exit-white ml-auto" aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label input-required">ID bản ghi </label>
                    <div class="col-sm-8">
                        @Html.CustTexBox("Code", "Code", Model.TagName.ToString(), "", "", true, null, true)
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label input-required">Bảng </label>
                    <div class="col-sm-8">
                        @Html.CustTexBox("Name", "Name", Model.Entity, "", "", true, null, true)
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label input-required">Thời điểm </label>
                    <div class="col-sm-8">
                        @Html.CustTexBox("Username", "Username", Utils.DateToString(Model.CreatedDate, "dd/MM/yyyy HH:mm"), "", "", true, null, true)
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label input-required">Thao tác </label>
                    <div class="col-sm-8">
                        @Html.CustTexBox("Username", "Username", Model.Action, "", "", true, null, true)
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label input-required">ID tài khoản </label>
                    <div class="col-sm-8">
                        @Html.CustTexBox("Username", "Username", Model.UserId.ToString(), "", "", true, null, true)
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label input-required">Tài khoản </label>
                    <div class="col-sm-8">
                        @Html.CustTexBox("Username", "Username", Model.Username, "Username", "Username", true, null, true)
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label input-required">Giá trị cũ <span class="text-red"></span></label>
                    <div class="col-sm-8">
                        @Html.CusTextArea("Description", "Description", Model.OldValue, "", "", true, null, 5, 20, true)
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label input-required">Giá trị mới <span class="text-red"></span></label>
                    <div class="col-sm-8">
                        @Html.CusTextArea("Description", "Description", Model.NewValue, "", "", true, null, 5, 20, true)
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label input-required">Thay đổi <span class="text-red"></span></label>
                    <div class="col-sm-8">
                        @Html.CusTextArea("Description", "Description", Model.ChangedValue, "", "", true, null, 5, 20, true)
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn bg-color-gray-6 d-flex align-items-center" data-dismiss="modal">
                    <span class="font-s-14 text-color-body font-weight-500">Đóng</span>
                </button>
            </div>
        </form>
    </div>
</div>
