﻿@using Microsoft.AspNetCore.Mvc.Rendering;
@using DAS.Application.Models.ViewModels;
@using DAS.Utility;
@using DAS.Utility.Helper;
@using DAS.Application.Enums.DasKTNN;
@model VMSchemaInfo
@{
    ViewData["Title"] = "Thông tin schema";
    var title = (Model.ID > 0 ? "Cập nhật" : "Thêm mới") + " schema";
    ViewData["PageHeaderContent"] = title;
    Layout = "";
    var url = Model.ID > 0 ? "/SchemaInfo/Change" : "/SchemaInfo/Save";

    var schemaTypes = Utils.EnumToDic<EnumSchemaInfo.SchemaType>();
}
<div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered" role="document">
    <div class="modal-content">
        <form role="form" asp-action="" class="onUpdateInputState bv-form" id="frmMDIUSchema">
            <div class="modal-header d-flex align-items-center">
                <h5 class="modal-title font-weight-bold font-s-16 text-white" id="planCreateModalTitle">@title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="w-h-32 icon-exit-white ml-auto" aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label input-required" asp-for="Code">Tên schema trong CSDL <span class="text-red">*</span></label>
                    <div class="col-sm-8">
                        @Html.CustTexBox("Code","Code", Model.Code,"", "Tên schema trong CSDL", true, null, Model.ID > 0 ? true : false)
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label input-required" asp-for="Name">Tên schema (hiển thị) <span class="text-red">*</span></label>
                    <div class="col-sm-8">
                        @Html.CustTexBox("Name","Name", Model.Name,"", "Tên schema (hiển thị)", true)
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label input-required" asp-for="Password">Mật khẩu <span class="text-red">*</span></label>
                    <div class="col-sm-8">
                        @Html.CustTexBox("Password","Password", Model.Password,"", "Mật khẩu", true)
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" asp-for="Description">Mô tả</label>
                    <div class="col-sm-8">
                        @Html.CusTextArea("Description","Description", Model.Description,"", "Mô tả", false, null, 5, 5)
                    </div>
                </div>
                <div class="form-group row">
                <label class="col-sm-4 col-form-label">Loại schema</label>
                <div class="col-sm-8 mt-2">
                    @foreach (var item in schemaTypes)
                    {
                        <div class="custom-control custom-radio  ">
                            <input class="custom-control-input" @(item.Key == Model.Type ? "checked" : string.Empty) type="radio" value="@item.Key" id="type@(item.Key)" name="Type">
                            <label class="custom-control-label" for="type@(item.Key)">@item.Value</label>
                        </div>
                    }
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>
            </div>
            </div>
            <div class="modal-footer">
                <input type="hidden" asp-for="ID" />
                <button data-url="@url" class="btn bg-color-primary d-flex align-items-center quickSubmit">
                    <span class="text-white font-s-14">Lưu</span>
                </button>
                <button type="button" class="btn bg-color-gray-6 d-flex align-items-center" data-dismiss="modal">
                    <span class="font-s-14 text-color-body font-weight-500">Đóng</span>
                </button>
            </div>
        </form>
    </div>
</div>
