﻿@using DAS.Utility.Helper
@model DAS.Application.Models.ViewModels.DasKTNN.VMMainCollectionReport;
@{
    ViewBag.BreadcrumbMenu = "Báo cáo tần suất thu thập dữ lệu";
    ViewBag.Breadcrumb = new List<string> { "Báo cáo", "Báo cáo tần suất thu thập dữ liệu" };

    var months = Model.Months.OrderBy(x => x).Select(x => new SelectListItem
    {
        Value = x.ToString(),
        Text = "Tháng " + x.ToString(),
        Selected = Model.Condition.Month == x
    });
    var years = Model.Years.OrderBy(x => x).Select(x => new SelectListItem
    {
        Value = x.ToString(),
        Text = "Năm " + x.ToString(),
        Selected = Model.Condition.Year == x
    });
    ViewData["Title"] = "Báo cáo thống kê tần suất thu thập dữ liệu theo tháng của các nguồn dữ liệu";
}

<div class="container mb-15 pt-30">
    <div class="box-wrap-cs">
        <form asp-action="SearchByCondition" id="frmRecord" role="form" method="post" class="quickSearch" data-callback="InitCollectionReport();" data-target="#divRecord">
            <div class="row row-ip">
                <div class="col-md-3 align-items-center d-flex col-ip-12">
                    <p class="is-header-table-search"><span>@ViewData["Title"]</span></p>
                </div>
                <div class="col-md-9 col-ip-12">
                    <div class="input-group input-group-sm mb-3">
                        @Html.CustTexBox("Keyword", "Keyword", null, "", "Từ khóa tìm kiếm")
                        <div class="form-group ml-2 mb-0 p-0 form-group--notip">
                            <div class="form-group__date">
                                <div class="d-flex">
                                    <div class="col-6 pr-5 pl-0">
                                        <div class="select2-container w-100">
                                            @Html.CusDropdownListSelect2("Month", "Month", "", months, new { @class = "select2-cs-single select2 w-100", @data_placeholder = "Tháng" }, isMultiple: false)
                                        </div>
                                    </div>
                                    <div class="col-6 pl-0 pr-5">
                                        <div class="select2-container w-100">
                                            @Html.CusDropdownListSelect2("Year", "Year", "", years, new { @class = "select2-cs-single select2 w-100", @data_placeholder = "Năm" }, isMultiple: false)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-sm btn-primary ml-5">Tìm kiếm</button>
                        <a class="ml-28 quickSprint" data-target="#divRecord" title="In màn hình" data-callback="InitCollectionReport()">
                            <i class="bid-icons bid-icon-print"></i>
                        </a>
                        <a class="quickExport ml-5 ml-10-ip" href="#" action="/CollectionReport/ExportToExcel" data-target="#frmRecord" aria-controls="data_table" title="Xuất excel">
                            <i class="bid-icons bid-icon-csv"></i>
                        </a>
                    </div>
                </div>
            </div>
        </form>

        <div class="card card-danger card-outline card-outline-tabs rounded-0 border-0 elevation-0 bid-list-table bg-transparent mt-15">
            <div class="card-body p-0">
                <div id="dataTables_wrapper" class="dataTables_wrapper">
                    <div id="divRecord">
                        @await Html.PartialAsync("Index_Record", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/ControllerKTNN/CollectionReportController.js"></script>
    <script>
        InitCollectionReport();
    </script>
}
