﻿@using DAS.Application.Models.ViewModels.DasKTNN;
@model VMMainCollectionReport

<h5 class="text-center text-uppercase">Thống kê tần suất dữ liệu theo tháng của các nguồn dữ liệu</h5>
<div id="column-chart-collection" class="mt-3" style="width: 100%"></div>
@Html.HiddenFor(x => x.DataChart)
