﻿@using DAS.Application.Models.ViewModels.DasKTNN;
@using DAS.Utility;
@model VMMainCollectionReport
@{
    int stt = 0;
    if (Model.Tables != null)
        stt = Model.Tables.PageSize * (Model.Tables.PageIndex - 1);

    var pageSizes = new[] { 10, 20, 30, 50, 100 };
}
<div class="card card-outline card-success" style="margin-bottom: 15px">
    <div class="card-header">
        <h3 class="card-title" style="font-weight: bold">Thống kê tần suất dữ liệu theo tháng của các nguồn dữ liệu</h3>
    </div>
    <div class="card-body">
        <div id="archive_chart_container" class="chart_container" style="padding: 0 1rem 1rem 0; ">
            <canvas id="archive_chart" height="100"></canvas>
        </div>
    </div>
    <input type="hidden" id="tableStatisticData" value="@(Utils.Serialize(Model.ChartData))" />
</div>
<div class="card" id="cardImgChart" style="display:none">
    <div class="card-header">
        <h3 class="card-title" style="font-weight: bold">Thống kê tần suất dữ liệu theo tháng của các nguồn dữ liệu</h3>
    </div>
    <div class="card-body">
        <img id="imgChart" src="" alt="Biểu đồ" />
    </div>
</div>

<div class="card card-outline card-success mt-5">
    <div class="card-header">
        <h3 class="card-title" style="font-weight: bold">Bảng thống kê số lượng bản ghi theo bảng dữ liệu</h3>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="data_table" class="data-table table table-borderless table-space table-hover dataTable no-footer dtr-inline table-bid-custom">
                <thead class="thead-light text-bold">
                    <tr class="elevation-1">
                        <th class="py-2 col-min font-s-14 font-weight-500 text-body-title p-l-r-12">STT</th>
                        <th class="py-2 font-s-14 font-weight-500 text-body-title p-l-r-12 m-w-320-px">Tên nguồn</th>
                        <th class="py-2 font-s-14 font-weight-500 text-body-title p-l-r-12 m-w-320-px">Tháng</th>
                        <th class="py-2 font-s-14 font-weight-500 text-body-title p-l-r-12 m-w-118-px">Năm</th>
                        <th class="py-2 font-s-14 font-weight-500 text-body-title p-l-r-12 m-w-100">Số lượng bản ghi</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Tables)
                    {
                        stt++;
                        <tr>
                            <td class="font-s-13 text-color-4545 p-b-t-16 text-center">@stt</td>
                            <td class="font-s-13 text-color-4545 p-b-t-16">
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td class="font-s-13 text-color-4545 p-b-t-16">
                                @Html.DisplayFor(modelItem => item.Month)
                            </td>
                            <td class="font-s-13 text-color-4545 p-b-t-16">
                                @Html.DisplayFor(modelItem => item.Year)
                            </td>
                            <td class="font-s-13 text-color-4545 p-b-t-16">
                                @Html.DisplayFor(modelItem => item.RecordCount)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="m-2">
        @await Html.PartialAsync("_PagingFooter", Model.Tables, new ViewDataDictionary(this.ViewData) { { "TargetForm", "frmRecord" } })
    </div>
</div>

