﻿
@{
    ViewData["PageHeaderContent"] = "SystemConfig";
    Layout = "";
    int stt = Model.PageSize * (Model.PageIndex - 1);
    var pageSizes = new[] { 10, 20, 30, 50, 100 };
}
@using DAS.Application.Models.ViewModels;
@using DAS.Utility.Helper;
@using DAS.Utility;
@model DAS.Application.Models.ViewModels.PaginatedList<VMSystemConfig>


<div class="table-responsive">
    <table id="data_table" class="table table-bordered table-striped data_table" role="grid">
        <thead>
            <tr>
                <th class="text-center col-min">STT</th>
                @*<th class="text-center col-min">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="group-checkable custom-control-input" id="checkall" value="">
                            <label class="custom-control-label" for="checkall"></label>
                        </div>
                    </th>*@
                <th>Mã tham số</th>
                <th>Tên tham số</th>
                <th>Giá trị</th>
                <th>Mô tả</th>
                <th class="col-min" data-column-id="commands" data-formatter="commands" data-sortable="false">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                stt++;
                <tr>
                    <td class="text-center">@stt</td>
                    @*<td class="text-center">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="checkboxes custom-control-input" id="role-@item.ID" data-id="@item.ID" value="@item.ID">
                                <label class="custom-control-label" for="role-@item.ID"></label>
                            </div>
                        </td>*@
                    <td>@Html.DisplayFor(modelItem => item.Code)</td>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    @if (item.IntVal.HasValue)
                    {
                        <td>@Html.DisplayFor(modelItem => item.IntVal)</td>
                    }
                    else if (item.DateTimeVal.HasValue)
                    {
                        <td>@Utils.DateToString(item.DateTimeVal)</td>
                    }
                    else if (item.FloatVal.HasValue)
                    {
                        <td>@Html.DisplayFor(modelItem => item.FloatVal)</td>
                    }
                    else
                    {
                        <td>@Html.DisplayFor(modelItem => item.StringVal)</td>
                    }

                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                    <td>
                        <a title="Xem chi tiết" class="btn btn-sm btn-outline-secondary btn-hover-success quickUpdate" href="/SystemConfig/DetailPopup?id=@item.ID"
                           data-target="#mdEditSystemConfig" data-toggle="tooltip" data-original-title="Xem chi tiết">
                            <i class="fas fa-fw fa-info"></i>
                        </a>
                        <a title="Sửa" class="btn btn-sm btn-outline-secondary btn-hover-info quickUpdate" href="/SystemConfig/EditPopup?id=@item.ID"
                           data-target="#mdEditSystemConfig" data-toggle="tooltip" data-original-title="Sửa">
                            <i class="fas fa-fw fa-edit"></i>
                        </a>
                        @*<a title="Xóa" class="btn btn-sm btn-outline-secondary btn-hover-danger quickDelete" href="/SystemConfig/Delete?id=@item.ID" data-id="@item.ID" data-comfirm-message="Bạn có muốn xóa ngôn ngữ" data-toggle="tooltip">
                                <i class="fas fa-trash-alt"></i>
                            </a>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="card-footer">
    <div class="row">
        <div class="col-sm-12 col-md-4">
            @if (Model.TotalFilter == 0)
            {
                <span>@DAS.Application.Constants.MessageConst.MSG_NOT_FOUND</span>
            }
            else
            {
                <span>Có tổng cộng <span class="text-red">@Model.TotalFilter</span> bản ghi</span>
            }
        </div>
        <div class="col-sm-12 col-md-8">
            @if (Model.TotalFilter > Model.PageSize)
            {
                <nav class="d-flex justify-content-end" aria-label="Pagination">
                    <div class="form-group row align-items-center mr-4">
                        <span>Hiển thị:&nbsp;&nbsp;</span>
                        <select id="drdPageSize" class="select2 onChangePageSize" data-form="#frmSystemConfig">

                            @foreach (var pageSize in pageSizes)
                            {
                                if (pageSize == Model.PageSize)
                                {
                                    <option value="@pageSize" selected>@pageSize</option>
                                }
                                else
                                {
                                    <option value="@pageSize">@pageSize</option>
                                }
                            }
                        </select>
                        <span>&nbsp;&nbsp;bản ghi/trang.</span>
                    </div>
                    <ul class="pagination pagination-md justify-content-end mb-0">
                        <li class="page-item @(!Model.HasPreviousPage ? "disabled" : "")">
                            <a href="#" class="page-link onSetPageIndex"
                               data-page="@(!Model.HasPreviousPage ? "" : (Model.PageIndex - 1).ToString())"
                               data-page-size="@Model.PageSize" aria-label="Previous"
                               data-form="#frmSystemConfig">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        @{
                            int distance = 1;
                            int min = Model.PageIndex - distance;
                            int max = Model.PageIndex + distance;
                            if (min == 0)
                            {
                                min = 1;
                                if (max < Model.TotalPages) { max++; }

                            }
                            if (max > Model.TotalPages)
                            {
                                max = Model.TotalPages;
                                if (min > 1) { min--; }

                            }
                        }
                        @for (int i = min; i <= max; i++)
                        {
                            <li class="page-item @(Model.PageIndex == i ? "active" : "")">
                                <a href="#" class="page-link onSetPageIndex" data-page="@i" data-page-size="@Model.PageSize"
                                   data-form="#frmSystemConfig">
                                    @i
                                    @if (Model.PageIndex == i)
                                    {
                                        <span class="sr-only">(current)</span>
                                    }
                                </a>
                            </li>
                        }

                        <li class="page-item @(!Model.HasNextPage ? "disabled" : "")">
                            <a href="#" class="page-link onSetPageIndex"
                               data-page="@(!Model.HasNextPage ? "" : (Model.PageIndex + 1).ToString())"
                               data-page-size="@Model.PageSize" data-form="#frmSystemConfig"
                               aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            }
        </div>
    </div>
</div>





