﻿@{
    ViewData["Title"] = "Danh sách tham số";
    ViewData["PageHeaderContent"] = "SystemConfig";
    var breadcrum = new Dictionary<string, string>();
    breadcrum.Add("/SystemConfig", "Cấu hình tham số");
    ViewData["Breadcrumb"] = breadcrum;
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using DAS.Application.Models.ViewModels;
@model DAS.Application.Models.ViewModels.PaginatedList<VMSystemConfig>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header p">
                <h3 class="card-title">Danh sách tham số </h3>
            </div>
            <div>
                <div class="card-body">
                    <form asp-action="SearchByConditionPagging" id="frmSystemConfig" role="form" method="post"
                          class="quickSearch" data-target="#divSystemConfigs">
                        <div class="row">
                            <div class="col-4">
                                <input type="text" value="@ViewBag.Keyword" name="Keyword" class="form-control" placeholder="Nhập tên tham số">
                            </div>
                            <div class="col-2">
                                <button type="submit" class="btn btn-default"><i class="fa fa-fw fa-search"></i><span>Tìm kiếm</span></button>
                            </div>
                        </div>
                    </form>
                    <div id="data_table_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                        <div class="table-control">
                            <div class="row">
                                <div class="col-md-3 col-sm-12 text-left mb-2 mb-md-0"></div>
                                <div class="col-md-9 col-sm-12 text-md-right">
                                    @*<span class="actMultiTicks hidden">
                                        <a class="btn btn-danger quickDeletes" data-url="/SystemConfig/DeleteMulti" data-comfirm-message="Bạn có muốn xóa {n} tham số"
                                           tabindex="0">
                                            <span><i class="fas fa-trash-alt mr-2"></i>Xoá</span>
                                        </a>
                                    </span>*@

                                    <a class="btn btn-success quickUpdate" tabindex="0" href="/SystemConfig/CreatePopup"
                                       data-target="#mdEditSystemConfig" aria-controls="data_table">
                                        <i class="fas fa-fw fa-plus"></i><span>Thêm mới</span>
                                    </a>   
                                </div>
                            </div>
                        </div>
                        <div id="divSystemConfigs">
                            @await Html.PartialAsync("Index_SystemConfigs", Model)
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="mdEditSystemConfig" aria-labelledby="planEditModalTitle" aria-hidden="true"></div>